<template>
    <v-card data-app class="p-3">
        <v-data-table
            :headers="headers"
            :items="branches"
            class="elevation-1"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            :loading="loading"
            hide-default-footer
            @page-count="pageCount = $event"
            no-data-text="No hay ningún registro"
            no-results-text="No se encontraron coincidencias"
            loading-text="Cargando... Porfavor espere"
        >
            <template v-slot:top>
                <datatable-header
                    title="Sucursales"
                    :disable-creation="true"
                    @searching="search = $event"
                >
                </datatable-header>
            </template>
            <template v-slot:[`item.status`]="{ item }">
                <chip-status :item="item"></chip-status>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-tooltip top attach>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon
                            small
                            class="mr-2"
                            color="primary"
                            v-bind="attrs"
                            v-on="on"
                            >
                            mdi-eye
                        </v-icon>
                    </template>
                    <span>Mostrar</span>
                </v-tooltip>
            </template>
        </v-data-table>
        <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total=branches.length
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import ChipStatus from "../../../../../components/chipStatus";
import store from "../../../../../store";

export default {
    components: {
        ChipStatus,
    },
    props: {
        dataEnterprising: {
            type: Object,
            default() {
                return {}
            }
        },
    },
    mounted() {
        this.getBranches();
        this.permissionsUser = store.state.permissions;
    },
    data() {
        return {
            search: "",
            dialog: false,
            dialogDelete: false,
            dialogShow: false,
            permissionsUser: [],
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            branches: [],
            headers: [
                {
                    text: "Nombre",
                    value: "name",
                },
                {
                    text: "Tipo",
                    value: "type",
                },
                {
                    text: "Direccion",
                    value: "address",
                },
                {
                    text: "Estatus",
                    value: "status",
                },
                {
                    text: "Acciones",
                    value: "actions",
                },
            ],
        };
    },
    methods: {
        /**
         * Get branches from api.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-06
         * @param
         * @return void
         */
        getBranches() {
            this.loading = true;
            axios
                .get("/api/enterprisings/branches/" + this.dataEnterprising.id) 
                .then((result) => {
                    this.branches = result.data.branches;
                    console.log(this.branches);
                })
                .catch(function (error) {
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                    console.log({ error });
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /**
         * Change the current wrapper for show the form edit.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-06
         * @param
         * @return void
         */
        editBranches(item){

        },
    },
};
</script>