<template>
    <div>
        <CreateGlobalCost title="Edición de Costo Global" :editCost="true"></CreateGlobalCost>
    </div>
</template>
<script>
import CreateGlobalCost from "./create";
export default {
    components:{
        CreateGlobalCost
    },
    mounted(){
      this.currentGlobalCost = this.$route.params.item;
    },
    data() {
        return {
            title: 'Editar Costo Global',
            currentGlobalCost:{}
        }
    },
}
</script>