<template>
  <v-card data-app class="p-3">
    <Show
      :dialog="dialogShow"
      v-on:dialogStatus="getDialogShowStatus"
      :currentGlobalCost="globalCostToShow"
      ref="sendGlobalCost"
    ></Show>
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>
    <v-data-table
      :headers="headers"
      :items="globalCosts"
      class="elevation-1"
      :search="search"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      :loading="loading"
      hide-default-footer
      @page-count="pageCount = $event"
      no-data-text="No hay ningún registro"
      no-results-text="No se encontraron coincidencias"
      loading-text="Cargando... Porfavor espere"
    >
      <template v-slot:top>
        <datatable-header
          title="Costos Globales"
          :disable-creation="false"
          :hideCenterButton="false"
          @searching="search = $event"
          @open="openCreateGlobalCost"
          @openUtility="openUtility"
        >
        </datatable-header>
      </template>

      <template v-slot:[`item.Estatus`]="{ item }">
        <chip-status :item="item"></chip-status>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <action-buttons
          :item="item"
          @edit="openEditGlobalCost(item)"
          @view="goToShowGlobalCost"
          @delete="openDeleteDialog"
        ></action-buttons>
      </template>
    </v-data-table>
    <pagination
      :last="pageCount"
      :current="page"
      :itemsPerPage="itemsPerPage"
      :total="this.globalCosts.length"
      v-on:input="page = $event"
    ></pagination>
  </v-card>
</template>
<script>
import ChipStatus from "../../../components/chipStatus";
import Show from "./show";

export default {
  mounted() {
    this.getGlobalCosts();
  },
  components: {
    ChipStatus,
    Show
  },
  data() {
    return {
      search: "",
      dialog: false,
      productId: null,
      dialogDelete: false,
      dialogShow: false,
      globalCostToDelete: null,
      page: 1,
      pageCount: 0,
      totalItems: 0,
      itemsPerPage: 10,
      loading: false,
      globalCostToShow:{},
      headers: [
        {
          text: "Nombre",
          value: "Descripcion",
        },
        {
          text: "Tipo",
          value: "Tipo",
        },
        {
          text: "Porcentaje",
          value: "Porcentaje",
        },
        {
          text: "Monto",
          value: "Monto",
        },
        {
          text: "Estatus",
          value: "Estatus",
        },
        {
          text: "Acciones",
          value: "actions",
        },
      ],
      globalCosts: [],
      bases: [],
    };
  },
  methods: {
    /**
     * Get global costs from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    getGlobalCosts() {
      this.loading = true;
      axios
        .get("/api/global-costs-configurators")
        .then((result) => {
          this.globalCosts = result.data.globalCosts;
          this.bases = result.data.bases;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Redirect to create global cost component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    openCreateGlobalCost() {
      this.$router.push({
        name: "global-costs-configurators-create",
        params: { bases: this.bases },
      });
    },
    /**
     * Redirect to create global cost component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    openEditGlobalCost(item) {
      this.$router.push({
        name: "global-costs-configurators-edit",
        params: { bases: this.bases, item: item },
      });
    },
    /**
     * Redirect to global utility component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    openUtility() {
      this.$router.push({
        name: "global-costs-configurators-utility",
      });
    },
    /**
     * Open delete dialog.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param Object item
     * @return void
     */
    openDeleteDialog(item) {
      this.dialogDelete = true;
      this.globalCostToDelete = item.Id_ConceptoCosto;
    },
    /**
     * Open Show component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param Object item
     * @return void
     */
    goToShowGlobalCost(item) {
      this.$refs.sendGlobalCost.reciveGlobalCost(item, this.bases);
      this.dialogShow = true;
    },
    /**
     * Get dialog status from Show component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param boolean value
     * @return void
     */
    getDialogShowStatus(value) {
      this.dialogShow = value;
    },
    /**
     * Closes the delete dialog and calls to getGlobalCosts.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param
     * @return void
     */
    closeDelete() {
      this.dialogDelete = false;
      this.globalCostToDelete = null;
      this.getGlobalCosts();
    },
    /**
     * Changes status of a item.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param object item
     * @return void
     */
    deleteItem() {
      axios
        .delete("/api/global-costs-configurators/" + this.globalCostToDelete)
        .then((result) => {
          this.closeDelete();
          swal2.fire(
            "Estatus cambiado",
            "Se cambió el estatus correctamente",
            "success"
          );
        });
    },
  },
};
</script>

<style>
.data-table-style {
  margin: 10px;
}
</style>