<template>
    <div data-app>
         <v-card>
            <v-card-title>
                <span class="headline">Historial de crédito {{item.Razon_soc}}</span>
            </v-card-title>
            <v-card-text>
                <v-alert
                    v-if="submitHasError"
                    dismissible
                    elevation="5"
                    text
                    type="error">
                    {{ errorMessage }}
                </v-alert>
                <v-card-text
                  class="d-flex flex-row-reverse pr-0"
                  flat
                  tile>
                  <v-btn
                      color="primary-blue"
                      text
                      @click="$emit('close-credit-history')"
                      >
                      Salir
                  </v-btn>
                  <v-btn
                      color="primary-blue"
                      text
                      class="mr-2"
                      :href="exportUrl">
                      Exportar
                  </v-btn>
                </v-card-text>
                <v-form ref="form" lazy-validation class="pt-3">
                    <v-row>
                        <v-col cols="12" sm="3"
                        class="py-0">
                            <n-label text="Monto de crédito actual" style="min-width: 99px"></n-label>
                            <v-text-field
                            placeholder="Monto de crédito actual"
                            disabled
                            readonly
                            outlined
                            dense
                            :value="new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' })
                            .format(item.Credito_actual)"
                            required> </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="3"
                        class="py-0">
                            <n-label text="Monto de crédito utilizado" style="min-width: 99px"></n-label>
                            <v-text-field
                            placeholder="Monto de crédito utilizado"
                            disabled
                            readonly
                            outlined
                            dense
                            :value="new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' })
                            .format(item.Credito_utilizado)"
                            required> </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="3"
                        class="py-0">
                            <n-label text="Monto de crédito disponible" style="min-width: 99px"></n-label>
                            <v-text-field
                            placeholder="Monto de crédito disponible"
                            disabled
                            readonly
                            outlined
                            dense
                            :value="new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' })
                            .format(item.Credito_disponible)"
                            required> </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="3"
                        class="py-0">
                            <n-label text="Monto de ponderación actual" style="min-width: 99px"></n-label>
                            <v-text-field
                            placeholder="Monto de ponderación actual"
                            disabled
                            readonly
                            outlined
                            dense
                            :value="new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' })
                            .format(item.Monto_ponderado_maximo)"
                            required> </v-text-field>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <layout-wrapper transition="scroll-y-transition">
                <v-card class="p-3">
                    <v-data-table
                        :headers="headers"
                        :items="rows"
                        item-key="id"
                        class="elevation-1"
                        :page.sync="page"
                        :items-per-page="itemsPerPage"
                        hide-default-footer
                        @page-count="pageCount = $event"
                        no-data-text="No hay ningún registro"
                        no-results-text="No se encontraron coincidencias"
                        :loading="loadingTable"
                        loading-text="Cargando... Porfavor espere">
                        <template v-slot:[`item.Monto`]="{ item }">
                            {{item.Monto ? new Intl.NumberFormat('es-MX', { style: 'currency', currency: 'MXN' })
                            .format(item.Monto) : ''}}
                        </template>
                        <template v-slot:[`item.Tipo_solicitud`]="{ item }">
                            {{tiposSolicitud[item.Tipo_solicitud]}}
                        </template>
                        <template v-slot:[`item.Fecha_transaccion`]="{ item }">
                            {{getHumanDate(item.Fecha_transaccion)}}
                        </template>
                    </v-data-table>
                    <pagination
                        :last="pageCount"
                        :current="page"
                        :itemsPerPage="itemsPerPage"
                        :total="this.rows.length"
                        v-on:input="page = $event"
                    ></pagination>
                </v-card>
            </layout-wrapper>
         </v-card>
    </div>
</template>

<script>
import LayoutWrapper from "../../../Layout/Components/LayoutWrapper.vue";

export default {
    props: ['item'],
    components: {
        "layout-wrapper": LayoutWrapper,
    },
    data: () => ({
        submitHasError: false,
        errorMessage: '',
        headers: [
          {
            text: 'Monto',
            value: 'Monto'
          },
          {
            text: 'Tipo de Transacción',
            value: 'Tipo_solicitud'
          },
          {
            text: 'Fecha de Transacción',
            value: 'Fecha_transaccion'
          }
        ],
        rows: [],
        page: 1,
        itemsPerPage: 10,
        pageCount: 0,
        loadingTable: false,
        tiposSolicitud: {
          1: 'Incremento de crédito', 
          2: 'Disminución de crédito', 
          3: 'Incremento de ponderación', 
          4: 'Disminución de ponderación'
        }
    }),
    mounted() {
        this.getDataTableData()
    },
    computed: {
      /**
       * Export url
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 27/05/2021
       * @params
       * @return void
       *
       */
      exportUrl() {
        return `/api/credit-requests/enterprisings/${this.item.Id_Cliente}/export`
      }
    },
    methods: {
        /**
         * gets date in format d/m/Y
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 27/05/2021
         * @params string date
         * @return string
         *
         */
        getHumanDate(date) {
          if(!date) return ''
          let arrDate = date.split('-')
          return `${arrDate[2]}/${arrDate[1]}/${arrDate[0]}`
        },
        /**
         * Gets data table entries
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return void
         *
         */
        getDataTableData() {
            this.loadingTable = true
            axios.get(`/api/credit-requests/enterprisings/${this.item.Id_Cliente}`)
            .then((res) => {
                this.rows = res.data.list
            }).catch(this.handleError)
            .finally(this.stopLoadingDataTableEffect);
        },
        /**
         * Exports data table entries into an excel file
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return void
         *
         */
        exportDataTable() {
            axios.post("/api/credit-requests/enterprisings/export", this.rows)
            .then((res) => {
            }).catch(this.handleError)
            .finally(this.stopLoadingDataTableEffect);
        },
        /**
         * Stops loading effect on data table
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 21/05/2021
         * @params
         * @return void
         *
         */
        stopLoadingDataTableEffect() {
            this.loadingTable = !this.loadingTable
        },
        /**
         * handles request errors
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params Object error
         * @return void
         *
         */
        handleError(error) {
            this.submitStatus = 'ERROR'
            console.error(error.response)
            if(error.response.status === 422) {
                this.errorMessage = 'Los campos marcados con asterisco son requeridos.';
                return;
            }
            this.errorMessage = 'Algo salió mal, vuelva a intentarlo más tarde.';
        }
    }
}
</script>

<style scoped>
    input[type=number] {
        font-size: 0.875rem;
    }
</style>
