<template>
    <div>
        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-icon
                    small
                    class="mr-2"
                    color="primary"
                    @click="$emit('credit-history', item)"
                    v-bind="attrs"
                    v-on="on"
                    >
                    mdi-eye
                </v-icon>
            </template>
            <span>Mostrar</span>
        </v-tooltip>
    </div>
</template>

<script>


export default {
    props: {
        item: Object,
    },
}
</script>
