<template>
    <div class="mb-3">
        <v-toolbar flat>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-spacer style="text-align: -webkit-center;">
                <div v-if="!hideCenterButton" style="width:100px;">
                <v-btn
                    block
                    color="primary"
                    text
                    @click="$emit('openUtility', true)"
                    >
                    Utilidad Global
                </v-btn>
            </div>
            </v-spacer>
            
            <div>
                <v-text-field
                    v-if="!hideSearchBar"
                    v-model="search"
                    outlined
                    dense
                    append-icon="mdi-magnify"
                    placeholder="Buscar"
                    hide-details
                    ></v-text-field>
            </div>
            
        </v-toolbar>
        <p v-if="subtitle" style="margin-left: 17px;"><small>{{subtitle}}</small></p>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
            required: false
        },
        disableCreation: {
            type: Boolean,
            required: false,
            default: true
        },
        hideCreationButton: {
            type: Boolean,
            default: false,
            required: false
        },
        hideSearchBar: {
            type: Boolean,
            default: false,
            required: false
        },
        hideCenterButton: {
            type: Boolean,
            default: true,
            required: false
        },
    },
    data() {
        return {
            search: ''
        }
    },
    watch: {
        /**
         * Watch if search value has changed and emit an event to the parent component.
         * @auth Octavio Cornejo
         * @date 2021-03-08
         * @param String newVal
         * @return void
         */
      	search: function(newVal) {
            this.$emit('searching', newVal);
        }
    }
}
</script>
