<template>
  <div data-app>
    <layout-wrapper v-if="showWrapperTable" transition="scroll-y-transition">
      <wrapper-tables
        :displayShowProducts="displayShowProducts"
        @close-wrapper-tables="closeWrapperTables"
      ></wrapper-tables>
    </layout-wrapper>

    <layout-wrapper v-else transition="scroll-y-transition">
      <v-card class="p-3">
        <v-dialog v-model="dialog" persistent max-width="600px">
          <v-card class="p-3">
            <v-row>
              <h6 class="p-3">
                Para comenzar el packing lee/captura el código de la primera
                caja
              </h6>
              <v-spacer></v-spacer>
              <v-btn icon color="black" @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-col cols="6" md="8">
                <v-text-field
                  outlined
                  required
                  dense
                  append-icon="mdi-barcode"
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="2" offset-md="1">
                <v-btn block color="primary" text @click="openBoxesDialog">
                  Capturar
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-dialog>
        <v-dialog v-model="boxesDialog" persistent max-width="600px">
          <v-card class="p-3">
            <v-row>
              <h6 class="p-3">
                Para el pedido #x necesitarás tomar las siguientes cajas de
                picking
              </h6>
              <v-spacer></v-spacer>
              <v-btn icon color="black" @click="boxesDialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-row>
            <v-row v-for="item in items" :key="item.id" class="mb-0">
              <v-col cols="6" md="4" class="pt-0 pb-0">
                <h6>123456789{{ item.id }}</h6>
              </v-col>
              <v-col cols="6" md="8" class="pt-0 pb-0">
                <v-text-field
                  outlined
                  required
                  dense
                  append-icon="mdi-barcode"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" md="12" class="pt-0">
                <v-btn block color="primary" text @click="openWrapperTables">
                  Todo listo
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-dialog>
        <v-data-table
          :headers="headers"
          :items="packings"
          class="elevation-1"
          :search="search"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          :loading="loading"
          hide-default-footer
          @page-count="pageCount = $event"
          no-data-text="No hay ningún registro"
          no-results-text="No se encontraron coincidencias"
          loading-text="Cargando... Porfavor espere"
        >
          <template v-slot:top>
            <datatable-header
              title="Packing"
              :disable-creation="false"
              :hideItemsToShow="false"
              @searching="search = $event"
              @open="dialog = true"
              @itemsToShow="itemsPerPage = $event"
            >
            </datatable-header>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon medium color="primary" @click="openBoxAssembly(item)">
              mdi-dropbox
            </v-icon>
          </template>
        </v-data-table>
        <pagination
          :last="pageCount"
          :current="page"
          :itemsPerPage="itemsPerPage"
          :total="this.packings.length"
          v-on:input="page = $event"
        ></pagination>
      </v-card>
    </layout-wrapper>
  </div>
</template>
<script>
import WrapperTables from "./components/WrapperTables.vue";
import LayoutWrapper from "../../../Layout/Components/LayoutWrapper.vue";

export default {
  mounted() {
    this.getDataTableData()
  },
  components: {
    "layout-wrapper": LayoutWrapper,
    "wrapper-tables": WrapperTables,
  },
  data() {
    return {
      search: "",
      dialog: false,
      boxesDialog: false,
      dialogDelete: false,
      displayShowProducts: null,
      page: 1,
      pageCount: 0,
      totalItems: 0,
      itemsPerPage: 10,
      loading: false,
      editionBlocked: false,
      showForm: false,
      showWrapperTable: false,
      editedIndex: -1,
      packings: [],
      enterprisings: [],
      items: [{ id: 1 }, { id: 2 }, { id: 3 }],
      headers: [
        {
                text: 'Pedido',
                value: 'orderId',
                align: 'start',
            },
            {
                text: 'Fecha y hora',
                value: 'orderDateTime'
            },
            {
                text: 'Emprendedor',
                value: 'enterprising'
            },
            {
                text: 'Estatus de packing',
                value: 'internalStatus'
            },
            {
                text: 'Acciones',
                value: 'actions',
                sortable: false
            },
      ],
    };
  },
  methods: {
    /**
     * Open boxes dialog
     * @author José Vega <jose.vega@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     */
    openBoxesDialog() {
      this.dialog = false;
      this.boxesDialog = true;
    },
    /**
     * Open WrappersTables component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     */
    openWrapperTables() {
      this.boxesDialog = false;
      this.showWrapperTable = true;
      this.displayShowProducts = true;
    },
    /**
     * Close WrappersTables component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     */
    closeWrapperTables() {
      this.showWrapperTable = false;
    },
    /**
     * Open BoxAssembly component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     */
    openBoxAssembly() {
      this.showWrapperTable = true;
      this.displayShowProducts = false;
    },
    /**
     * Gets data table entries
     * @author José Vega <jose.vega@nuvem.mx>
     * created 24/06/2021
     * @params
     * @return void
     */
    getDataTableData() {
        this.loading = true
        axios.get('/api/packing')
        .then((res) => {
            this.getEnterprisings(res.data)
        }).catch(this.handleError);
    },
    /**
     * Get enterprisings from api.
     * @author José Vega <jose.vega@nuvem.mx>
     * created 25/05/2021
     * @param
     * @return void
     */
    getEnterprisings(packings) {
        axios.get("/api/enterprisings")
            .then((result) => {
                this.enterprisings = result.data.enterprisings;
                packings.forEach(packing => {
                  this.enterprisings.forEach(enterprising => {
                    if(enterprising.Id_Cliente === packing.enterprising) packing.enterprising = enterprising.Nombre_Com
                  });
                });
                this.packings = packings;
            })
            .catch(function (error) {
            }).finally(this.stopLoadingDataTableEffect);
    },
    /**
     * Stops loading effect on data table
     * @author José Vega <jose.vega@nuvem.mx>
     * created 24/05/2021
     * @params
     * @return void
     */
    stopLoadingDataTableEffect() {
        this.loading = !this.loading
    },
    /**
     * Shows request errors information to user
     * @author José Vega <jose.vega@nuvem.mx>
     * created 24/06/2021
     * @params Object error
     * @return void
     */
    handleError(error) {
        console.error(error)
        swal2.fire(
            '',
            'Algo salió mal, vuelva a intentarlo más tarde.',
            'error'
        );
    }
  },
  computed: {},
};
</script>

<style>
.data-table-style {
  margin: 10px;
}
</style>