<template>
  <v-card class="p-3">
    <v-card-title><b>Alta de Cajas de picking</b></v-card-title>
    <v-card-text>
      <v-card-actions class="d-block">
        <Inputs ref="submit"></Inputs>
        <form-action-buttons
          @close="cancel"
          @save="submit"
        ></form-action-buttons>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
  name: "GeneralForm",
  components: {
      Inputs
  },
  data() {
    return {
      submitStatus: "",
      currentShipmentCost: {
        Id:null,
        Descripcion: "",
      },
    };
  },
  methods: {
    /**
     * Redirect to index container
     * @auth Kareem Lorenzana
     * @date 2021-05-28
     * @param
     * @return void
     */
    submit() {
      this.$refs.submit.submit();
    },
    /**
     * Redirect to index containers
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @param
     * @return void
     */
    cancel() {
      this.$router.push({ name: "containers" });
    },
  },
};
</script>