<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">Información de la Caja de picking</span>
        </v-card-title>
        <v-card-text>
          <Inputs :containerToShow="container" :inputsStatus="true"></Inputs>
        </v-card-text>
        <v-container class="d-flex flex-column mb-6">
          <v-card-actions class="mt-5 d-block">
            <form-action-buttons
              @close="cancel"
              :hideSaveBtn="true"
              @save="false"
            ></form-action-buttons>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
  name: "Show",
  props: ["dialog"],
  components: {
    Inputs,
  },
  data: () => ({
    container: {},
  }),
  methods: {
    /**
     * Redirect to index containers
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @param
     * @return void
     */
    cancel() {
      this.$emit("dialogStatus", false);
    },
    /**
     * Receives a container from index component.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @param Object container
     * @return void
     */
    reciveContainer(container) {
      this.container = container;
    },
  },
};
</script>