<template>
  <div :class="sidebarbg" class="app-sidebar sidebar-shadow"
    @mouseover="toggleSidebarHover('add','closed-sidebar-open')" @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')">
    <div class="app-header__logo">
      <div class="logo-src" />
      <div class="header__pane ml-auto">
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
          v-bind:class="{ 'is-active' : isOpen }" @click="toggleBodyClass('closed-sidebar')">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-sidebar-content">
      <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
        <sidebar-menu showOneChild :menu="menuFiltered" ref="menu"/>
      </VuePerfectScrollbar>
    </div>
  </div>
</template>

<script>
import { SidebarMenu } from "./Header/SidebarMenu/index.js";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import { mapState, mapMutations } from 'vuex';

export default {
  components: {
    SidebarMenu,
    VuePerfectScrollbar
  },
  data() {
    return {
      isOpen: false,
      sidebarActive: false,
      collapsed: true,
      windowWidth: 0,
      menuFiltered: [],
    };
  },
  props: {
    sidebarbg: String,
  },

  computed: {
    ...mapState(['menu'])
  },

  methods: {
    toggleBodyClass(className) {
      const el = document.body;
      this.isOpen = !this.isOpen;

      if (this.isOpen) {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }
    },
    toggleSidebarHover(add, className) {
      const el = document.body;
      this.sidebarActive = !this.sidebarActive;

      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth > "992") {
        if (add === "add") {
          el.classList.add(className);
        } else {
          el.classList.remove(className);
        }
      }
    },
    getWindowWidth() {
      const el = document.body;

      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth < "1350") {
        el.classList.add("closed-sidebar", "closed-sidebar-md");
      } else {
        el.classList.remove("closed-sidebar", "closed-sidebar-md");
      }
    },
    /**
     * Filter menu options.
     * @auth Octavio Cornejo
     * @date 2021-03-10
     * @param String val
     * @return void
     */
    filterMenu(val) {
        //Itareates the menu options
        this.menuFiltered.map((e, i) => {

            //validates if the value matches with an option.
            e.hidden = !(e.title.toLowerCase().includes(val));

            //validates if item has child property.
            if (_.has(e, 'child')) {
                e.child.map(e2 => {
                    //Validates if the children options match with the value.
                    if (e.hidden) e2.hidden = !(e2.title.toLowerCase().includes(val));
                    else e2.hidden = false;
                });
                e.hidden = !e.child.some(i => i.hidden == false);
            }
        });
        if (document.querySelectorAll('.vsm-dropdown .vsm-link').length == 0)
                document.querySelector('.vsm-dropdown').style.display = 'none';
    }
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);

      //Init
      this.getWindowWidth();

      this.$root.$on('searchingMenuOption', (val) => {
        this.filterMenu(val);
      });
    });
  },

  created() {
    this.menuFiltered = this.menu;
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
  }
};
</script>
