<template>
  <div data-app>
    <v-card class="card-style">
      <v-card-text class="card-text-style">
        <v-tabs v-model="tab" background-color="transparent" class="tabs-style" color="basil" slider-color="#018085" slider-size=3 grow>
          <v-tab v-for="item in titles" :key="item" style="border-bottom: solid 1px;" @click="verifyChanges">
            {{ item }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item class="mt-2">
            <v-card flat>
              <FormPlatform ref="callVerifyPlatform" v-on:changed="changeDetected"></FormPlatform>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-3">
            <v-card flat>
              <FormBilling ref="callVerifyBilling" v-on:changed="changeDetected"></FormBilling>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <FormGeneral ref="callVerifyGeneral" v-on:changed="changeDetected"></FormGeneral>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <FormAds ref="callVerifyAds" v-on:changed="changeDetected"></FormAds>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import FormPlatform from "./partials/FormPlatform";
import FormBilling from "./partials/FormBilling";
import FormGeneral from "./partials/FormGeneral";
import FormAds from "./partials/FormAds";

export default {
  components: {
    FormPlatform,
    FormBilling,
    FormGeneral,
    FormAds,
  },
  data() {
    return {
      e1: 1,
      steps: 4,
      titles: ["Plataformas", "Facturación", "General", "ADS"],
      tab: null,
      tabSelected: "",
      change: false,
      };
  },
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },
  methods: {
    /**
     * Allows change tab.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param n Number
     * @return void
     */
    nextStep(n) {
      if (n === this.steps) {
        this.e1 = 1;
      } else {
        this.e1 = n + 1;
      }
    },
    /**
     * Detect if there are new changes in any tab in value[0] and detect in which tab the change was made value[1].
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param value array
     * @return void
     */
    changeDetected(value){
      this.change = value[0];
      this.tabSelected = value[1];
    },
    /**
     * If there are changes detected in any tab, ask if you want to keep the changes or not.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param value array
     * @return void
     */
    verifyChanges(){
      let previusTab = this.tabSelected;
      if(this.change){
        swal2.fire({
              title: 'Se detectaron cambios',
              text: "Deseas guardar los cambios?",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si'
            }).then((result) => {
              if(result.isConfirmed) {
                this.change = false;
                switch (previusTab) {
                  case 'platform':
                    this.$refs.callVerifyPlatform.verify(true);
                    break;
                  case 'billing':
                    this.$refs.callVerifyBilling.verify(true);
                    break;
                  case 'general':
                    this.$refs.callVerifyGeneral.verify(true);
                    break; 
                  case 'ads':
                    this.$refs.callVerifyAds.verify(true);
                    break;    
                }
              }else{
                this.change = false;
                switch (this.tabSelected) {
                  case 'platform':
                    this.$refs.callVerifyPlatform.verify(false);
                    break;
                  case 'billing':
                    this.$refs.callVerifyBilling.verify(false);
                    break;
                  case 'general':
                    this.$refs.callVerifyGeneral.verify(false);
                    break;
                  case 'ads':
                    this.$refs.callVerifyAds.verify(false);
                    break;    
                }
              }
            })
      }
    }
  },
};
</script>
<style>
.card-text-style{
  padding: 30px 40px; 
} 
.card-style{
  border-radius: 15px !important;
}
.tabs-style{
  width: 85%;
  margin: auto;
}
</style>