<template>
    <v-card class="p-3">
        <v-card-title>
            <b>Agregar distribución</b>
        </v-card-title>
        <v-card-text>
            <v-form data-app>
                <v-row>
                    <v-col cols="12" lg="12" class="py-0">
                        <n-label text="Elige un nivel al que agregas secciones"></n-label>
                        <v-select attach
                            outlined
                            dense
                            placeholder="Seleccione"
                            v-model="levelId"
                            :items="itemsLevel"
                            item-text="Nombre"
                            item-value="Id"
                            :error-messages="levelIdErrors"
                            @input="$v.levelId.$touch()"
                            @blur="$v.levelId.$touch()"
                        ></v-select>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="9" lg="8" class="py-0">
                        <n-label text="Sección para el nivel"></n-label>
                        <v-text-field
                            outlined
                            dense
                            placeholder="Ingrese nombre o número de sección"
                            maxlength="45"
                            v-model="sectionName"
                            :error-messages="sectionNameErrors"
                            @input="$v.sectionName.$touch()"
                            @blur="$v.sectionName.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="3" lg="4" class="py-0">
                        <n-label text="Agregar sección"></n-label>
                        <v-btn
                            class="mx-2"
                            fab
                            dark
                            small
                            color="success"
                            @click="addSection()"
                        >
                            <v-icon dark>
                                mdi-plus
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
                <v-row v-if="sections.length > 0">
                    <v-col cols="9" lg="8" class="py-0">
                        <b>Secciones</b>
                    </v-col>
                    <v-col cols="3" lg="4" class="py-0">
                        <b>Eliminar</b>
                    </v-col>
                </v-row>
                <v-row :key="index" v-for="(section, index) in sections">
                    <v-col cols="9" lg="8" class="py-0">
                        {{section.Nombre}}
                    </v-col>
                    <v-col cols="3" lg="4" class="py-0">
                        <v-icon
                            color="success"
                            @click="removeSection(index)"
                        >
                            mdi-delete
                        </v-icon>
                    </v-col>
                </v-row>
                <v-card-actions class="mt-5 d-block">
                    <v-row>
                        <v-col cols="12" lg="12">
                            <v-btn
                                block
                                color="primary"
                                @click="saveSections"
                                :loading="isSubmit"
                            >
                                Terminar seleccionado del nivel
                            </v-btn>
                        </v-col>
                        <v-col cols="12" lg="12">
                            <v-btn
                                block
                                color="primary"
                                outlined
                                @click="cancel"
                            >
                                Cancelar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
export default {
    name: 'modalCreateDistribution',
    mixins: [validationMixin],
    validations: {
        levelId: { required },
        sectionName: { required },
    },
    props: {
        itemsLevel : {
            type: Array,
            default: function () {
                return []
            }
        }
    },
    data() {
        return {
            isSubmit: false,
            sectionName: null,
            sections: [],
            levelId: null,
        };
    },
    methods: {
        /**
         * Emit a event for close the modal
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-24
         * @param
         * @return void
         */
        cancel(){
            this.sectionName = null;
            this.sections = [];
            this.levelId = null;
            this.$v.levelId.$reset();
            this.$v.sectionName.$reset();
            this.$emit('closeModal', true);
        },
        /**
         * Execute a axios request for store the sections
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-24
         * @param
         * @return void
         */
        saveSections(){
            this.$v.levelId.$touch();
            if (this.$v.levelId.$invalid){
                return false;
            }
            if(this.sections.length == 0){
                swal2.fire(
                    "Secciones",
                    "Debe agregar al menos una sección",
                    "warning"
                );
                return false;
            }

            this.isSubmit = true;
            let route = `/api/locations-new/sections/${this.levelId}`;

            axios.post( route, {sections: this.sections})
            .then((result) => {
                this.isSubmit = false;
                this.sectionName = null;
                this.sections = [];
                this.levelId = null;
                this.$v.sectionName.$reset();
                this.$v.levelId.$reset();
                this.$emit('closeModal', true);
                this.$emit('sectionsSaved', true);
            })
            .catch((error) => {
                this.isSubmit = false;
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
         * Add a section to array
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-24
         * @param
         * @return void
         */
        addSection(){
            this.$v.sectionName.$touch();
            if (this.$v.sectionName.$invalid){
                return false;
            }
            this.sections.push({Nombre: this.sectionName});
            this.sectionName = null;
            this.$v.sectionName.$reset();
        },
        /**
         * Remove a section from array
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-24
         * @param int index, int idsection
         * @return void
         */
        removeSection(index){
            this.sections.splice(index, 1);
        },
    },     
    /**
    * get the message errors for fields.
    * @auth Iván Morales <ivan.morales@nuvem.mx>
    * @date 2021-06-24
    * @param
    * @return Array
    */
    computed: {
        /**
        * get the message errors for fields.
        * @auth Iván Morales <ivan.morales@nuvem.mx>
        * @date 2021-06-18
        * @param
        * @return Array
        */
        //BEGIN ERRORS FIELDS
        levelIdErrors() {
            const errors = [];
            if (!this.$v.levelId.$dirty) return errors;
            !this.$v.levelId.required && errors.push("Este campo es requerido");
            return errors;
        },
        sectionNameErrors() {
            const errors = [];
            if (!this.$v.sectionName.$dirty) return errors;
            !this.$v.sectionName.required && errors.push("Este campo es requerido");
            return errors;
        },
        //END ERRORS FIELDS
    }
}
</script>