<template>
    <div data-app>
        <layout-wrapper v-if="dialog" transition="scroll-y-transition">
            <v-card class="p-3">
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                    <v-alert
                        v-if="submitHasError"
                        dismissible
                        elevation="5"
                        text
                        type="error"
                        >
                        {{ errorMessage }}
                    </v-alert>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-row>
                            <v-col
                                cols="12"
                                class="py-0"
                                >
                                <n-label text="Nombre(s)" required :error="$v.editedItem.name.$error"></n-label>
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="editedItem.name"
                                    placeholder="Ingrese el Nombre(s)"
                                    :error-messages="nameErrors"
                                    :counter="80"
                                    required
                                    :readonly="editionBlocked"
                                    @input="$v.editedItem.name.$touch()"
                                    @blur="$v.editedItem.name.$touch()"
                                    ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                class="py-0"
                                >
                                <n-label text="Apellido Paterno" required :error="$v.editedItem.last_name.$error"></n-label>
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="editedItem.last_name"
                                    placeholder="Ingrese el Apellido Paterno"
                                    :error-messages="lastNameErrors"
                                    :counter="50"
                                    required
                                    :readonly="editionBlocked"
                                    @input="$v.editedItem.last_name.$touch()"
                                    @blur="$v.editedItem.last_name.$touch()"
                                    ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                class="py-0"
                                >
                                <n-label text="Apellido Materno" ></n-label>
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="editedItem.second_last_name"
                                    placeholder="Ingrese el Apellido Materno"
                                    :error-messages="secondLastNameErrors"
                                    :counter="50"
                                    :readonly="editionBlocked"
                                    @input="$v.editedItem.second_last_name.$touch()"
                                    @blur="$v.editedItem.second_last_name.$touch()"
                                    ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                lg="6"
                                class="py-0"
                                >
                                <n-label text="Correo electrónico" required :error="$v.editedItem.email.$error"></n-label>
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="editedItem.email"
                                    placeholder="Ingrese el Correo Electronico"
                                    :error-messages="emailErrors"
                                    required
                                    :readonly="editionBlocked"
                                    @input="$v.editedItem.email.$touch()"
                                    @blur="$v.editedItem.email.$touch()"
                                    ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                lg="6"
                                class="py-0"
                                >
                                <n-label text="Celular" ></n-label>
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="editedItem.cellphone"
                                    placeholder="Ingrese el Celular"
                                    :error-messages="cellphoneErrors"
                                    v-mask="'##########'"
                                    :readonly="editionBlocked"
                                    @input="$v.editedItem.cellphone.$touch()"
                                    @blur="$v.editedItem.cellphone.$touch()"
                                    ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                class="py-0"
                                >
                                <n-label text="Rol(es)"></n-label>
                                <v-select
                                    outlined
                                    dense
                                    v-model="editedItem.roles"
                                    placeholder="Roles"
                                    :items="roles"
                                    item-text="name"
                                    item-value="name"
                                    multiple
                                    chips
                                    :readonly="editionBlocked"
                                    deletable-chips
                                    :error-messages="rolesErrors"
                                    @change="$v.editedItem.roles.$touch()"
                                    >
                                </v-select>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <form-action-buttons
                        :hideSaveBtn="editionBlocked"
                        :isLoading="submitIsPending"
                        @close="close"
                        @save="save"
                    ></form-action-buttons>
                </v-card-actions>
            </v-card>
        </layout-wrapper>
        <layout-wrapper v-else transition="scroll-y-transition">
            <v-card class="p-3">
                <dialog-delete :status="dialogDelete" v-on:cancel="closeDelete" v-on:confirm="deleteItemConfirm"></dialog-delete>
                <v-data-table
                    :headers="headers"
                    :items="users"
                    item-key="id"
                    class="elevation-1"
                    :search="search"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    hide-default-footer
                    @page-count="pageCount = $event"
                    no-data-text="No hay ningún registro"
                    no-results-text="No se encontraron coincidencias"
                    :loading="loading"
                    loading-text="Cargando... Porfavor espere"
                    >
                    <template v-slot:top>
                        <datatable-header
                            title="Usuarios"
                            :disable-creation="!permissions.includes('Usuarios.create')"
                            @searching="search = $event"
                            @open="dialog = $event">
                            <v-select
                                class="ml-5"
                                v-model="roleFilter"
                                :items="roles"
                                placeholder="Filtrar por rol"
                                outlined
                                dense
                                hide-details
                                clearable
                                :loading="loading"
                                item-text="name"
                                item-value="name"
                                @input="getUsers()"
                                ></v-select>
                        </datatable-header>
                    </template>
                    <template v-slot:item.status="{ item }">
                        <chip-status :item="item"></chip-status>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <action-buttons
                            :item="item"
                            :editDisabled="!permissions.includes('Usuarios.edit')"
                            :showDisabled="!permissions.includes('Usuarios.view')"
                            :deleteDisabled="!permissions.includes('Usuarios.delete')"
                            @edit="editItem"
                            @view="viewItem"
                            @delete="openDeleteDialog"
                            ></action-buttons>
                    </template>
                </v-data-table>
                <pagination
                    :last="pageCount"
                    :current="page"
                    :itemsPerPage="itemsPerPage"
                    :total="this.users.length"
                    v-on:input="page = $event"
                ></pagination>
            </v-card>
        </layout-wrapper>
    </div>
</template>

<script>
import Vue from "vue";
import store from "../../store";
import PageTitle from "../../views/Layouts/Components/PageTitle.vue";
import LayoutWrapper from "../../Layout/Components/LayoutWrapper.vue";
import Pagination from "../../components/pagination2.vue";
import Label from "../../components/label.vue";
import FormActionButtons from "../../components/formActionButtons.vue";
import DatatableHeader from "../../components/datatableHeader.vue";
import ChipStatus from "../../components/chipStatus.vue";
import ActionButtons from "../../components/datatableActionButtons.vue";
import DialogDelete from "../../components/dialogDelete.vue";
import {
    validationMixin
} from "vuelidate";
import {
    required,
    maxLength,
    minLength,
    email
} from "vuelidate/lib/validators";
import VueMask from "v-mask";

/**
 * Validates if the item has a unique value.
 * @auth Octavio Cornejo
 * @date 2021-02-22
 * @param String value
 * @param Object item
 * @return boolean
 */
const isUnique = (value, item) => {
    return item.isUnique;
}

Vue.use(VueMask);

export default {
    components: {
        PageTitle,
        "layout-wrapper": LayoutWrapper,
        "pagination": Pagination,
        "n-label": Label,
        "form-action-buttons": FormActionButtons,
        "datatable-header": DatatableHeader,
        'chip-status': ChipStatus,
        'action-buttons': ActionButtons,
        'dialog-delete': DialogDelete,
    },
    mixins: [validationMixin],
    validations: {
        editedItem: {
            name: {
                required,
                maxLength: maxLength(80)
            },
            last_name: {
                required,
                maxLength: maxLength(50)
            },
            second_last_name: {
                maxLength: maxLength(50)
            },
            email: {
                required,
                email,
                isUnique
            },
            cellphone: {
                minLength: minLength(10)
            },
            roles: {
            },
        }
    },
    data: () => ({
        roleFilter: null,
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        icon: "pe-7s-users",
        search: '',
        loading: false,
        dialog: false,
        dialogDelete: false,
        valid: true,
        editedIndex: -1,
        submitStatus: null,
        errorMessage: '',
        show1: false,
        editionBlocked: false,
        editedItem: {
            name: '',
            email: '',
            last_name: '',
            second_last_name: '',
            cellphone: '',
            status: 1,
            isUnique: true,
            roles: []
        },
        defaultItem: {
            name: '',
            email: '',
            last_name: '',
            second_last_name: '',
            cellphone: '',
            status: 1,
            isUnique: true,
            roles: []
        },
        headers: [{
                text: 'Id',
                align: 'start',
                sortable: true,
                value: 'id',
            },
            {
                text: 'Nombre',
                sortable: true,
                value: 'full_name',
            },
            {
                text: 'Correo electrónico',
                value: 'email'
            },
            {
                text: 'Estatus',
                value: 'status'
            },
            {
                text: 'Acciones',
                value: 'actions',
                sortable: false
            },
        ],
        users: [],
        roles: [],
    }),

    mounted() {
        this.getUsers();
        this.getRoles();
        this.editedItem.isUnique = true;
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
        'editedItem.email'(val) {
            if (!this.editedItem.isUnique)
                this.editedItem.isUnique = true;
        },
    },

    computed: {
        /**
         * Get global permissions of current user.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return Array
         */
        permissions() {
            return store.state.permissions;
        },
        /**
         * Sets the form title.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return String
         */
        formTitle() {
            if (this.editionBlocked) return 'Detalles Colaborador';
            return this.editedIndex === -1 ? 'Alta de Colaborador ' : 'Editar Colaborador'
        },
        /**
         * Validates if the form submit is pending.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return boolean
         */
        submitIsPending() {
            return this.submitStatus == 'PENDING';
        },
        /**
         * Validates if the form submit has error.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return boolean
         */
        submitHasError() {
            return this.submitStatus == 'ERROR';
        },
        /**
         * Validates name input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        nameErrors() {
            const errors = []
            if (!this.$v.editedItem.name.$dirty) return errors
            !this.$v.editedItem.name.maxLength && errors.push('No puede ser mayor a la longitud estipulada.')
            !this.$v.editedItem.name.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Validates input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        lastNameErrors() {
            const errors = []
            if (!this.$v.editedItem.last_name.$dirty) return errors
            !this.$v.editedItem.last_name.maxLength && errors.push('No puede ser mayor a la longitud estipulada.')
            !this.$v.editedItem.last_name.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Validates input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        secondLastNameErrors() {
            const errors = []
            if (!this.$v.editedItem.second_last_name.$dirty) return errors
            !this.$v.editedItem.second_last_name.maxLength && errors.push('No puede ser mayor a la longitud estipulada.')
            return errors
        },
        /**
         * Validates email input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        emailErrors() {
            const errors = []

            if (!this.$v.editedItem.email.$dirty) return errors
            !this.$v.editedItem.email.email && errors.push('Debe ser un correo electrónico válido')
            !this.$v.editedItem.email.required && errors.push('Este campo es requerido')
            !this.$v.editedItem.email.isUnique && errors.push('Este valor ya se encuentra registrado.')
            return errors
        },
        /**
         * Validates cellphone input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        cellphoneErrors() {
            const errors = []
            if (!this.$v.editedItem.cellphone.$dirty) return errors
            !this.$v.editedItem.cellphone.minLength && errors.push('El campo debe tener por lo menos 10 dígitos')
            return errors
        },
        /**
         * Validates roles input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        rolesErrors() {
            const errors = []
            if (!this.$v.editedItem.roles.$dirty) return errors
            return errors
        },
    },

    methods: {
        /**
         * Gets all activated users.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param Object params
         * @return void
         */
        getUsers() {
            this.loading = true;
            let params = {};
            if (this.roleFilter)
                params.by_role = this.roleFilter;

            axios.get('/api/users', { params })
                .then(res => {
                    this.users = res.data.data;
                }).catch(er => {
                    console.warn(er.response);
                }).then(() => this.loading = false);
        },
        /**
         * Sets te selected item as editItem to further actions.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param object item
         * @return void
         */
        editItem(item) {
            this.editedIndex = this.users.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
            this.editionBlocked = false;
        },
        /**
         * Sets te selected item as editItem to further actions.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param object item
         * @return void
         */
        deleteItem(item) {
            this.editedIndex = this.users.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },
        /**
         * Request to delete the selected item.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        deleteItemConfirm() {
            var url = `/api/users/${this.editedItem.id}`
            axios.delete(url)
                .then(res => {
                    swal2.fire(
                        'Eliminado',
                        'Se eliminó el registro correctamente',
                        'success'
                    );
                    this.users.splice(this.editedIndex, 1)
                    this.closeDelete();
                })
                .catch(er => {
                    this.submitStatus = 'ERROR';
                    this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
                });

        },
        /**
         * Closes and restart the form.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        close() {
            this.$v.$reset();
            this.dialog = false
            this.editionBlocked = false
            this.submitStatus = null;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        /**
         * Closes and restart the delete dialog.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        closeDelete() {
            this.dialogDelete = false
            this.editionBlocked = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        /**
         * Validates the form and then saves/updates the given data.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        save() {
            this.$v.$touch()

            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR';
                this.errorMessage = 'Es necesario corregir los campos con error.';
            } else {
                this.submitStatus = 'PENDING'

                const data = {
                    email: this.email,
                    password: this.password,
                }

                if (this.editedIndex > -1) {
                    this.saveEdited();
                } else {
                    this.saveNew();
                }
            }
        },
        /**
         * Saves a new register with the given data.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        saveNew() {
            axios.post('/api/users', this.editedItem)
                .then(res => {
                    this.submitStatus = null;
                    this.editedItem.full_name = res.data.data.full_name;
                    this.editedItem.id = res.data.data.id;
                    this.users.push(this.editedItem)
                    this.close()
                    swal2.fire(
                        'Guardado',
                        'Se guardó el registro correctamente',
                        'success'
                    );
                })
                .catch(this.handleError)
                .finally(() => {
                   this.$v.$reset();
                });
        },
        /**
         * Updates a new register with the given data.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        saveEdited() {
            var url = `/api/users/${this.editedItem.id}`
            axios.put(url, this.editedItem)
                .then(res => {
                    this.submitStatus = null;
                    this.editedItem.full_name = res.data.data.full_name;
                    Object.assign(this.users[this.editedIndex], this.editedItem)
                    this.close()
                    swal2.fire(
                        'Actualizado',
                        'Se actualizó el registro correctamente',
                        'success'
                    );
                })
                .catch(this.handleError)
                .finally(() => {
                   this.$v.$reset();
                });
        },
        /**
         * Opens the formulary.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        openDialog() {
            this.dialog = true;
            this.editionBlocked = false;
        },
        /**
         * Open delete dialog.
         * @auth Octavio Cornejo
         * @date 2021-03-08
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
            this.editedIndex = this.users.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },
        /**
         * Gets the status name.
         * @auth Octavio Cornejo
         * @date 2021-02-19
         * @param Object item
         * @return String
         */
        getStatusName(item) {
            return item.status ? 'Activo' : 'Inactivo'
        },
        /**
         * Gets status color.
         * @auth Octavio Cornejo
         * @date 2021-02-19
         * @param Object item
         * @return String
         */
        getStatusColor(item) {
            return item.status ? 'success' : 'red';
        },
        /**
         * Get available roles to assign.
         * @auth Octavio Cornejo
         * @date 2021-02-25
         * @param param
         * @return void
         */
        getRoles() {
            axios.get('/api/roles?simple=true')
                .then(res => {
                    this.roles = res.data.data;
                }).catch(er => {
                    this.submitStatus = 'ERROR';
                    this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
                });
        },
        /**
         * Handle errors from failed requests.
         * @auth Octavio Cornejo
         * @date 2021-02-25
         * @param Object er
         * @return void
         */
        handleError(er) {
            const res = er.response;
            console.error(res);

            this.submitStatus = 'ERROR';
            this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
            if (res.status >= 500)
                return;

            this.errorMessage = res.data.message;
            for (const i in res.data.errors) {
                this.editedItem.isUnique = false;
            }

        },
        /**
         * Show details view.
         * @auth Octavio Cornejo
         * @date 2021-03-11
         * @param Object item
         * @return void
         */
        viewItem(item) {
            this.editedIndex = this.roles.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
            this.editionBlocked = true
        },
    }
};
</script>
