<template>
    <v-card data-app class="p-3">
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>         
    <v-data-table
        :headers="headers"
        :items="groups"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
        >
        <template v-slot:top>
            <datatable-header
                title="Configurador de Costos Especiales"
                :disable-creation="!permissions.includes('SpecialCostConfiguration.create')"
                @searching="search = $event"
                @open="openCreateSpecialCost">
            </datatable-header>
        </template>

        <template v-slot:[`item.Fecha_inicio`]="{ item }">
          <span>{{
            item.Fecha_inicio != null ? item.Fecha_inicio : '-'
          }}</span>
        </template>

        <template v-slot:[`item.Fecha_fin`]="{ item }">
          <span>{{
            item.Fecha_fin != null ? item.Fecha_fin : '-'
          }}</span>
        </template>

        <template v-slot:[`item.Estatus`]="{ item }">
            <chip-status :item="item"></chip-status>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
            <action-buttons
                :item="item"
                :editDisabled="!permissions.includes('SpecialCostConfiguration.edit')"
                :deleteDisabled="!permissions.includes('SpecialCostConfiguration.delete')"
                :showDisabled="!permissions.includes('SpecialCostConfiguration.view')"
                @edit="openEditSpecialCostConfigurator"
                @view="openShowSpecialCost"
                @delete="openDeleteDialog"
                ></action-buttons>
        </template>
      </v-data-table>
       <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="this.groups.length"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import store from "../../../store";
import ChipStatus from "../../../components/chipStatus";

export default {
    created() {
        this.getGroups();
    },
    components: {
        ChipStatus,
    },
    data() {
        return {
            search: "",
            dialog: false,
            productId: null,
            groupToDelete: null,
            dialogDelete: false,
            dialogShow: false,
            editedIndex: -1,
            editedItem: {},
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            headers: [
                {
                    text: "Nombre",
                    value: "Nombre",
                    filterable: true
                },
                {
                    text: "Prioridad",
                    value: "Prioridad",
                    filterable: true
                },
                {
                    text: "Fecha de inicio",
                    value: "Fecha_inicio",
                    filterable: false
                },
                {
                    text: "Fecha de fin",
                    value: "Fecha_fin",
                    filterable: false
                },
                {
                    text: "Productos",
                    value: "number_of_products",
                    filterable: false
                },
                {
                    text: "Estatus",
                    value: "Estatus"
                },
                {
                    text: "Acciones",
                    width: "160px",
                    value: "actions"
                },
            ],
            groups: [],
        };
    },
    methods: {
        /**
         * Get global costs from api.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        getGroups() {
            this.loading = true;
            axios.get("/api/configurations/special-costs-groups").then((result) => {
                this.groups = result.data;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Redirect to create special cost component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        openCreateSpecialCost() {
            this.$router.push({
                name: 'special-costs-configurators-create'
            });
        },
        /**
         * Open delete dialog.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-12
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
          this.dialogDelete = true;
          this.groupToDelete = item.Id;
        },
        /**
         * Closes the delete dialog.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-12
         * @param
         * @return void
         */
        closeDelete() {
          this.dialogDelete = false;
          this.groupToDelete = null;
          this.getGroups();
        },
        /**
         * Redirect to edit rule component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param Object item
         * @return void
         */
        openEditSpecialCostConfigurator(item) {
            this.$router.push({
              name: "special-costs-configurators-edit",
              params: { item: item },
            });
        },
        /**
         * Open Show component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-14
         * @param Object item
         * @return void
         */
        openShowSpecialCost(item) {
          this.$router.push({
            name: "special-costs-configurators-show",
            params: { item: item },
          });
        },
        /**
         * Get dialog status from Show component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-14
         * @param boolean value
         * @return void
         */
        getDialogShowStatus(value) {
          this.dialogShow = value;
        },
        /**
         * Change status of a item.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-12
         * @param 
         * @return void
         */
        deleteItem() {
          axios
            .delete("/api/configurations/special-costs-groups/" + this.groupToDelete)
            .then(() => {
              this.closeDelete();
              swal2.fire(
                "Estatus cambiado",
                "Se cambió el estatus correctamente",
                "success"
              );
            });
        },
    },
    computed: {
      permissions() {
          return store.state.permissions;
      },
    }
};
</script>

<style>
    .data-table-style{
        margin: 10px;
    }
</style>