<template>
  <div data-app>
    <v-card>
      <v-card-text style="padding: 0px" class="mb-2">
        <v-tabs
          fixed-tabs
          background-color="#e3e6e8"
          slider-color="#018085"
          color="#fff"
          slider-size="2"
          v-model="tab"
          class="v-tabs__bar"
        >
          <v-tab> - </v-tab>
          <v-tab> - </v-tab>
          <v-tab> - </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-card flat>
              <Registration v-on:changed="getRegistrationData" :disableInputs="true" title="Consulta de Costo Especial"></Registration>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <ConceptsIndex v-on:changed="changeTab" :groupId="groupId" :disableInputs="true"></ConceptsIndex>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <AddProducts v-on:previous="changeTab" :groupId="groupId" :editProducts="true" :disableInputs="true"></AddProducts>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import ConceptsIndex from "./concepts/index";
import Registration from "./partials/Registration";
import AddProducts from "./partials/AddProducts";

export default {
  components: {
      ConceptsIndex,
      Registration,
      AddProducts,
  },
  data() {
    return {
      e1: 1,
      steps: 5,
      tab: null,
      groupId: null,
    };
  },
  methods: {
    /**
     * Get the number of the tab where it will move and the id of the group that was created recently.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    getRegistrationData(value){
      this.tab = value[0];
      this.groupId = value[1];
    },
    /**
     * Assign previous tab.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-13
     * @param
     * @return void
     */
    changeTab(value){
      this.tab = value;
    }
  },
  watch: {
    /**
     * Change current tab.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-13
     * @param Number val
     * @return void
     */
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },
};
</script>
<style>
.v-tabs__bar {display: none !important}
</style>