
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


/**
ESTE ARCHIVO ES COMPILADO, SI QUIERES HACER CAMBIOS TIENES QUE MODIFICAR resources/scss/nuvem.scss
 */

/**
Estilos para paneles de accordion
 */
.card {
    .card-header {
        background-color: #3C8DBC !important;
        color: rgba(255, 255, 255, 0.8);
    }
    .card-header:focus {
        color: rgba(255, 255, 255, 1);
    }
    .card-header:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/**
Estilos para modal
 */
.modal {
    .modal-header {
        background-color: #3C8DBC;
        color: white;
    }
    .modal-content {
        border-radius: 5px;
    }
}

.mdl-groups .form-group {
    margin-bottom: 0px;
}
.mdl-groups small {
    position: relative;
    top: 4px;
    left: 5px;
}

.ms-container {
    width: 100% !important;
}

.form-group {
    margin-bottom: 3px !important;
}
label {
    margin-bottom: 0px !important;
    font-weight: lighter !important;
}

.nav-pills .nav-link {
    border-radius: 0px;
}
