.error--text {
    color: $red !important;
}

.bg-plum-plate {
    background-image: linear-gradient(180deg, $gray-100 0%, $gray-300 100%) !important;
}

.btn {
    &.btn-primary {
        color: $gray-100 !important;
        background: $primary !important;
    }
    &.btn-success {
        color: $gray-100 !important;
        background: $success !important;
    }
}

button.v-icon {
    &.success--text {
        color: $success !important;
    }
}

.v-btn {
    &:not(.v-btn--outlined) {
        &.primary--text {
            color: $gray-100 !important;
            background: $primary !important;
        }
        &.primary-blue--text {
            color: $gray-100 !important;
            background: $primary-blue !important;
        }
        &.primary {
            color: $gray-100 !important;
            background: $primary !important;
        }

        &.success {
            color: $gray-100 !important;
            background: $success !important;
        }
    }

    &.v-btn--outlined {
        &.primary--text {
            color: $primary !important;
            border-color: $primary !important;
            background: transparent;
        }

        &.red--text {
            color: $red !important;
            border-color: $red !important;
            background: transparent;
        }
    }
}

.v-simple-checkbox, .v-input--checkbox {
    .v-icon {
        &.success--text {
            color: $gray-100 !important;
            background: $success !important;
        }
    }
}

.v-pagination {
    justify-content: flex-end;

    .v-pagination__item {
        border-radius: 8px;

        &.primary {
            background: $gray-100 !important;
            color: $primary !important;
        }

        &:hover {
            box-shadow: 1px 10px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
            transition: box-shadow 300ms;
        }

        &.v-pagination__item--active {
            background: $primary-blue !important;
            color: $gray-100 !important;
            box-shadow: 1px 10px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
            transition: box-shadow 300ms;
        }
    }

    .v-pagination__navigation {
        &:not(.v-pagination__navigation--disabled) {
            .v-icon {
                color: $primary-blue !important;
            }
        }
    }
}

.v-icon {
    &.primary--text {
        color: $primary-blue !important;
    }
}

.v-chip {
    &.success {
        color: $gray-100 !important;
        background: $success !important;
    }

    &.red {
        color: $gray-100 !important;
        background: $red !important;
    }
}

.v-data-table {
    padding-bottom: 1rem!important;

    table {
        border-spacing: 0pt;
        border-collapse: separate;

        tr {
            &:first-child th:first-child {
                border-top-left-radius: 15px;
                border-left: thin solid $gray-300;
            }

            &:first-child th:last-child {
                border-top-right-radius: 15px;
                border-right: thin solid $gray-300;
            }

            &:last-child th:first-child {
                border-bottom-left-radius: 15px;
            }

            &:last-child th:last-child {
                border-bottom-right-radius: 15px;
            }

            th {
                border-top: thin solid $gray-300;
                border-bottom: thin solid $gray-300;
            }
        }
    }
}

.five-columns-row-col {
    @media screen and (min-width: 860px) {
        max-width: 20%;
    }
}

.v-dialog.v-dialog--active {
    margin-left: 15%;
}

.v-snack {
    .success {
        color: $gray-100 !important;
        background: $success !important;
    }

    .red {
        color: $gray-100 !important;
        background: $red !important;
    }

    .primary {
        color: $gray-100 !important;
        background: $primary !important;
    }

    &.v-snack--top {
        margin-top: 4%;
    }

    &.v-snack--centered {
        margin-left: 14%;
    }
}

.v-select {
    &.v-select--chips {
        .v-select__selections {
            .v-chip--select {
                border-radius: 5px;
                background: $success;
                color: $gray-100 !important;

                .v-icon {
                    color: $gray-100 !important;
                }
            }
        }
    }
}

.v-progress-linear {
    .v-progress-linear__background {
        &.primary {
            background: $success !important;
        }
    }

    .v-progress-linear__indeterminate {
        &.primary {
            background: $success!important;
        }
    }
}

.v-input {
    &.v-text-field--outlined {
        .v-label--active {
            background: white;
            padding-right: 6%;
            transition: 2e2ms;
        }
    }
}

.app-main__inner {
    padding: 60px 60px 0 !important;
}

* {
    font-family: "Helvetica Neue", Helvetica;
}

.v-data-table__wrapper {
    font-size: $size-text !important;
}

.v-toolbar__content {
    font-size: $size-text !important;
}

.v-card__title, .v-toolbar__title {
    font-size: $size-title !important;

    .headline {
        font-size: $size-title !important;
    }
}

.app-logo-inverse {
    height: 308px;
    width: 220px;
}

.logo-src {
    height: 34px;
    width: 154px;
}

.v-input--is-disabled:not(.date-v-text-field),
.v-input--is-readonly:not(.date-v-text-field) {
    .v-input__slot {
        background-color: lightgray !important;
    }
}
