<template>
    <div data-app>
        <show v-if="showOrder" :orderId="editedItem.orderId" @close-show="closeShow" 
        @order-sent-to-packing="orderSentToPacking"></show>
        <layout-wrapper v-else transition="scroll-y-transition">
            <v-card class="p-3">
                <v-data-table
                    :headers="headers"
                    :items="rows"
                    item-key="id"
                    class="elevation-1"
                    :search="search"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    hide-default-footer
                    @page-count="pageCount = $event"
                    no-data-text="No hay ningún registro"
                    no-results-text="No se encontraron coincidencias"
                    :loading="loading"
                    loading-text="Cargando... Porfavor espere">
                    <template v-slot:top>
                        <datatable-header
                            title="Picking"
                            @searching="search = $event">
                        </datatable-header>
                    </template>
                    <template v-slot:[`item.actions`]="{ item }">
                        <action-buttons
                            :item="item"
                            :showDisabled="!permissions.includes('Picking.view')"
                            @view="viewItem">
                        </action-buttons>
                    </template>
                </v-data-table>
                <pagination
                    :last="pageCount"
                    :current="page"
                    :itemsPerPage="itemsPerPage"
                    :total="this.rows.length"
                    v-on:input="page = $event"
                ></pagination>
            </v-card>
        </layout-wrapper>
    </div>
</template>

<script>
import store from "../../store";
import creditHistory from "./components/creditHistory";
import dataTableHeader  from "./components/datatableHeader";
import LayoutWrapper from "../../Layout/Components/LayoutWrapper.vue";
import dataTableActionButtons from './components/datatableActionButtons';
import show from './components/show.vue';

export default {
    components: {
        "layout-wrapper": LayoutWrapper,
        "credit-history": creditHistory,
        "action-buttons": dataTableActionButtons,
        "datatable-header": dataTableHeader,
        "show": show
    },
    data: () => ({
        showOrder: false,
        editedIndex: -1,
        editedItem: {
          Id: '',
          Id_Cliente: '',
          Razon_soc: '',
          Credito_actual: '',
          Credito_utilizado: '',
          Credito_disponible: '',
          Monto_ponderado_maximo: ''
        },
        emprendedorCreditoDisponible: null,
        editedIndex: -1,
        rows: [],
        showCreditHistory: false,
        search: '',
        page: 1,
        itemsPerPage: 10,
        loading: false,
        pageCount: 0,
        headers: [
            {
                text: 'Pedido',
                value: 'orderId',
                align: 'start',
            },
            {
                text: 'Fecha y hora',
                value: 'orderDateTime'
            },
            {
                text: 'Emprendedor',
                value: 'enterprising'
            },
            {
                text: 'Estatus de picking',
                value: 'internalStatus'
            },
            {
                text: 'Acciones',
                value: 'actions',
                sortable: false
            },
        ],
    }),
    mounted() {
        this.getDataTableData()
    },
    computed: {
        /**
         * global permissions
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return array
         *
         */
        permissions() {
            return store.state.permissions;
        },
    },
    methods: {
        /**
         * Removes a picking order that was sent to packing
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 23/06/2021
         * @params
         * @return void
         *
         */
        orderSentToPacking() {
          this.rows.splice(this.editedIndex, 1)
          this.closeShow()
        },
        /**
         * close show view
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 18/06/2021
         * @params
         * @return void
         *
         */
        closeShow() {
          this.showOrder = false
        },
        /**
         * Description
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 18/06/2021
         * @params Object item
         * @return void
         *
         */
        viewItem(item) {
          this.editedItem = item
          this.editedIndex = this.rows.indexOf(item)
          this.showOrder = true
        },
        /**
         * Close show modal
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 04/05/2021
         * @params
         * @return void
         *
         */
        closeCreditHistory() {
            this.showCreditHistory = false
        },
        /**
         * Gets data table entries
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return void
         *
         */
        getDataTableData() {
            this.loading = true
            axios.get('/api/picking')
            .then((res) => {
                this.rows = res.data
            }).catch(this.handleError)
            .finally(this.stopLoadingDataTableEffect);
        },
        /**
         * Stops loading effect on data table
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 21/05/2021
         * @params
         * @return void
         *
         */
        stopLoadingDataTableEffect() {
            this.loading = !this.loading
        },
        /**
         * Close create/edit form
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return void
         *
         */
        closeCreditHistory() {
            this.showCreditHistory = false;
        },
        /**
         * handles request errors
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params Object item
         * @return void
         *
         */
        openCreditHistory(item) {
            this.showCreditHistory = true
            this.editedIndex = this.rows.indexOf(item)
            Object.assign(this.editedItem, item)
        },
        /**
         * Shows request errors information to user
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params Object error
         * @return void
         *
         */
        handleError(error) {
            console.error(error)
            swal2.fire(
                '',
                'Algo salió mal, vuelva a intentarlo más tarde.',
                'error'
            );
        }
    },
}
</script>
