<template>
    <layout-wrapper v-if="principalWrapper" transition="scroll-y-transition">
        <v-dialog v-model="dialogShow" max-width="700px">
            <ModalShowContact
                v-on:closeDialog="dialogShow=false"
                :itemsPositions="positionsContacts"
                :currentDataShow="dataShow"
            ></ModalShowContact>
        </v-dialog>
        <v-card data-app class="p-3">
            <v-data-table
                :headers="headers"
                :items="contacts"
                class="elevation-1"
                :search="search"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                :loading="loading"
                hide-default-footer
                @page-count="pageCount = $event"
                no-data-text="No hay ningún registro"
                no-results-text="No se encontraron coincidencias"
                loading-text="Cargando... Porfavor espere"
            >
                <template v-slot:top>
                    <datatable-header
                        title="Contactos"
                        :disable-creation="false"
                        @searching="search = $event"
                        @open="openCreateContact()"
                    >
                    </datatable-header>
                    <v-row style="margin-left: 17px;">
                        <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
                        <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
                        <div>
                            <v-select
                                v-model="itemsPerPage"
                                :items="amounts"
                                item-text="name" 
                                item-value="id"
                                placeholder="Elige una opción"
                                outlined
                                dense
                                attach
                                auto
                            ></v-select>
                        </div>
                        </v-col>
                        <v-col cols="6" md="1" style="align-self: center; padding-left: 0px;"><p>Registros</p></v-col>
                    </v-row>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                    <v-tooltip top attach>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon
                                small
                                class="mr-2"
                                color="primary"
                                v-bind="attrs"
                                v-on="on"
                                @click="editContacts(item)"
                                >
                                mdi-pencil
                            </v-icon>
                        </template>
                        <span>Editar</span>
                    </v-tooltip>
                    <v-tooltip top attach>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon
                                small
                                class="mr-2"
                                color="primary"
                                v-bind="attrs"
                                v-on="on"
                                @click="viewContact(item)"
                                >
                                mdi-eye
                            </v-icon>
                        </template>
                        <span>Mostrar</span>
                    </v-tooltip>
                </template>
            </v-data-table>
            <pagination
                :last="pageCount"
                :current="page"
                :itemsPerPage="itemsPerPage"
                :total=contacts.length
                v-on:input="page = $event"
            ></pagination>
        </v-card>
    </layout-wrapper>
    <layout-wrapper v-else transition="scroll-y-transition">
        <FormContact
            @changeWrapper="principalWrapper = true"
            @updateRecords="getcontacts()"
            :itemsPositions="positionsContacts"
            :currentDataEdit="dataEdit"
            :isEdit="isEdit"
        >
        </FormContact>
    </layout-wrapper>
</template>
<script>
import ChipStatus from "../../../../../components/chipStatus";
import store from "../../../../../store";
import LayoutWrapper from "../../../../../Layout/Components/LayoutWrapper.vue";
import FormContact from "./formContact";
import ModalShowContact from "./modalShow"

export default {
    components: {
        "layout-wrapper": LayoutWrapper,
        ChipStatus,
        FormContact,
        ModalShowContact,
    },
    mounted() {
        this.clientId = this.$route.params.id;
        this.getcontacts();
        this.permissionsUser = store.state.permissions;
    },
    data() {
        return {
            search: "",
            dialog: false,
            dialogDelete: false,
            dialogShow: false,
            permissionsUser: [],
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            contacts: [],
            headers: [
                {
                    text: "Nombre",
                    value: "Nombre",
                },
                {
                    text: "Celular",
                    value: "TelMovil",
                },
                {
                    text: "Tipo de contacto",
                    value: "Tipo_contacto",
                },
                {
                    text: "Acciones",
                    value: "actions",
                },
            ],
            principalWrapper: true,
            amounts:[
                {id:10, name:'10'},
                {id:50, name:'50'},
                {id:100, name:'100'},
            ],
            clientId: null,
            positionsContacts: [],
            dataEdit: {},
            isEdit: false,
            dialogShow : false,
            dataShow: {},
        };
    },
    methods: {
        /**
         * Get contacts from api.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-06
         * @param
         * @return void
         */
        getcontacts() {
            this.loading = true;
            axios
                .get("/api/enterprisings/contacts/"+this.clientId) 
                .then((result) => {
                    this.contacts = result.data.contacts;
                    this.positionsContacts = result.data.positions;
                })
                .catch(function (error) {
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                    console.log({ error });
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /**
         * Change the current wrapper for show the form edit.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param Object item
         * @return void
         */
        editContacts(item){
            this.dataEdit = item;
            this.isEdit = true;
            this.principalWrapper = false;
        },
        /**
         * Change the current wrapper for show the form create.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param
         * @return void
         */
        openCreateContact(){
            this.dataEdit = {};
            this.isEdit = false;
            this.principalWrapper = false;
        },
         /**
         * Show details view.
         * @auth Iván Morales | ivan.morales@nuvem.mx
         * @date 2021-05-26
         * @param Object item
         * @return void
         */
        viewContact(item) {
            this.dialogShow = true;
            this.dataShow = Object.assign({}, item);
        },
    },
};
</script>