<template>
    <v-card class="p-3">
        <v-card-text>
            <form data-app>
                <v-row>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Nombre completo"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="50"
                            v-model="currentData.name"
                            :error-messages="nameErrors"
                            @input="$v.currentData.name.$touch()"
                            @blur="$v.currentData.name.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Tipo de contacto"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="50"
                            v-model="currentData.contactType"
                            :error-messages="contactTypeErrors"
                            @input="$v.currentData.contactType.$touch()"
                            @blur="$v.currentData.contactType.$touch()"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Teléfono"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="15"
                            v-model="currentData.phone"
                            :error-messages="phoneErrors"
                            @input="$v.currentData.phone.$touch()"
                            @blur="$v.currentData.phone.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Celular"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="15"
                            v-model="currentData.cellphone"
                            :error-messages="cellphoneErrors"
                            @input="$v.currentData.cellphone.$touch()"
                            @blur="$v.currentData.cellphone.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Fecha de nacimiento"></n-label>
                        <v-menu
                            v-model="menuDatepicker"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                outlined
                                dense
                                v-model="currentData.birthday"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                                :error-messages="birthdayErrors"
                                @input="$v.currentData.birthday.$touch()"
                                @blur="$v.currentData.birthday.$touch()"
                            ></v-text-field>
                            </template>
                            <v-date-picker
                                v-model="currentData.birthday"
                                @input="menuDatepicker = false"
                                locale="es-MX"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Función"></n-label>
                        <v-select attach
                            outlined
                            dense
                            placeholder="Seleccione"
                            v-model="currentData.position"
                            :items="itemsPositions"
                            item-text="Puesto"
                            item-value="Id_Puesto"
                            :error-messages="positionErrors"
                            @input="$v.currentData.position.$touch()"
                            @blur="$v.currentData.position.$touch()"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" lg="8" class="py-0">
                        <n-label text="Email"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="40"
                            v-model="currentData.emailContact"
                            :error-messages="emailContactErrors"
                            @input="$v.currentData.emailContact.$touch()"
                            @blur="$v.currentData.emailContact.$touch()"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Calle y número"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="80"
                            v-model="currentData.numberStreet"
                            :error-messages="numberStreetErrors"
                            @input="$v.currentData.numberStreet.$touch()"
                            @blur="$v.currentData.numberStreet.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Colonia"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="80"
                            v-model="currentData.col"
                            :error-messages="colErrors"
                            @input="$v.currentData.col.$touch()"
                            @blur="$v.currentData.col.$touch()"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="2" class="py-0">
                        <n-label text="Código postal"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="10"
                            v-model="currentData.cp"
                            :error-messages="cpErrors"
                            @input="$v.currentData.cp.$touch()"
                            @blur="$v.currentData.cp.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="5" class="py-0">
                        <n-label text="Ciudad"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="50"
                            v-model="currentData.city"
                            :error-messages="cityErrors"
                            @input="$v.currentData.city.$touch()"
                            @blur="$v.currentData.city.$touch()"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="5" class="py-0">
                        <n-label text="Estado"></n-label>
                        <v-text-field
                            outlined
                            dense
                            maxlength="50"
                            v-model="currentData.state"
                            :error-messages="stateErrors"
                            @input="$v.currentData.state.$touch()"
                            @blur="$v.currentData.state.$touch()"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="12" class="py-0">
                        <n-label text="Observaciones"></n-label>
                        <v-textarea
                            dense
                            outlined
                            maxlength="191"
                            v-model="currentData.observations"
                        ></v-textarea>
                    </v-col>
                </v-row>
                <v-card-actions class="mt-5 d-block">
                    <form-action-buttons
                        :isLoading="isSubmit"
                        @close="cancel"
                        @save="submit"
                    ></form-action-buttons>
                </v-card-actions>
            </form>
        </v-card-text>
    </v-card>
</template>
<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import VueMask from "v-mask";
Vue.use(VueMask);
export default {
    mixins: [validationMixin],
    validations: {
        currentData: {
            name: { required },
            contactType: { required },
            numberStreet: { required },
            col: { required },
            cp: { required },
            city: { required },
            state: { required },
            phone: { required },
            cellphone: { required },
            emailContact: { required, email },
            birthday: { required },
            position: { required },
        }
    },
    props: {
        currentDataEdit: {
            type: Object,
            default: function() {
                return {}
            }
        },
        itemsPositions: {
            type: Array,
            default: function() {
                return []
            }
        },
        isEdit: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
            currentData: {
                name: null,
                contactType: null,
                numberStreet: null,
                col: null,
                cp: null,
                city: null,
                state: null,
                phone: null,
                cellphone: null,
                emailContact: null,
                birthday: null,
                position: null,
                observations: null,
            },
            menuDatepicker: false,
            clientId: null,
            isSubmit: false,
        };
    },
    mounted(){
        this.clientId = this.$route.params.id;
        if(this.isEdit){
            this.setDefaultsFields(this.currentDataEdit);
        }

    },
    methods: {
        /**
         * Set the default fileds for update.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param Object data
         * @return void
         */
        setDefaultsFields(data){
            this.currentData.name = data.Nombre;
            this.currentData.phone = data.Telefono1;
            this.currentData.cellphone = data.TelMovil;
            this.currentData.emailContact = data.EMail;
            this.currentData.position = data.Id_Puesto;
            if(data.complement){
                this.currentData.contactType = data.complement.Tipo_contacto;
                this.currentData.birthday = data.complement.Fecha_nacimiento;
                this.currentData.numberStreet = data.complement.Calle_numero;
                this.currentData.col = data.complement.Colonia;
                this.currentData.cp = data.complement.Codigo_postal;
                this.currentData.city = data.complement.Ciudad;
                this.currentData.state = data.complement.Estado;
                this.currentData.observations = data.complement.Observaciones;
            }
        },
        /**
         * Emit a event for change the current wrap for show the principal view of tab.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param
         * @return void
         */
        cancel(){
            this.$emit("changeWrapper");
        },
        /**
         * Send the data to api for store.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param
         * @return void
         */
        submit(){
            this.$v.currentData.$touch();
            if (this.$v.currentData.$invalid){
                return false;
            }
            let ruta = this.isEdit ? `/api/update-contact/${this.clientId}/${this.currentDataEdit.Id_Contacto}` : '/api/store-contact/'+this.clientId;
            let data = {
                Nombre: this.currentData.name,
                Tipo_contacto: this.currentData.contactType,
                Telefono1: this.currentData.phone,
                TelMovil: this.currentData.cellphone,
                Fecha_nacimiento: this.currentData.birthday,
                Id_Puesto: this.currentData.position,
                EMail: this.currentData.emailContact,
                Calle_numero: this.currentData.numberStreet,
                Colonia: this.currentData.col,
                Codigo_postal: this.currentData.cp,
                Ciudad: this.currentData.city,
                Estado: this.currentData.state,
                Ciudad: this.currentData.city,
            };
            this.currentData.observations ? data.Observaciones = this.currentData.observations : '';
            
            this.isSubmit = true;
            axios
            .post(ruta, data)
            .then((result) => {
                this.isSubmit = false;
                swal2.fire(
                    "Exito",
                    "Se agregaron los datos correctamente",
                    "success"
                );
                this.$emit("changeWrapper");
                this.$emit("updateRecords");
            })
            .catch((error) => {
                this.isSubmit = false;
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        }
    },
    /**
    * get the message errors for fields.
    * @auth Iván Morales <ivan.morales@nuvem.mx>
    * @date 2021-05-24
    * @param
    * @return Array
    */
    computed: {
        nameErrors() {
            const errors = [];
            if (!this.$v.currentData.name.$dirty) return errors;
            !this.$v.currentData.name.required && errors.push("Este campo es requerido");
            return errors;
        },
        contactTypeErrors() {
            const errors = [];
            if (!this.$v.currentData.contactType.$dirty) return errors;
            !this.$v.currentData.contactType.required && errors.push("Este campo es requerido");
            return errors;
        },
        birthdayErrors() {
            const errors = [];
            if (!this.$v.currentData.birthday.$dirty) return errors;
            !this.$v.currentData.birthday.required && errors.push("Este campo es requerido");
            return errors;
        },
        positionErrors() {
            const errors = [];
            if (!this.$v.currentData.position.$dirty) return errors;
            !this.$v.currentData.position.required && errors.push("Este campo es requerido");
            return errors;
        },
        numberStreetErrors() {
            const errors = [];
            if (!this.$v.currentData.numberStreet.$dirty) return errors;
            !this.$v.currentData.numberStreet.required && errors.push("Este campo es requerido");
            return errors;
        },
        colErrors() {
            const errors = [];
            if (!this.$v.currentData.col.$dirty) return errors;
            !this.$v.currentData.col.required && errors.push("Este campo es requerido");
            return errors;
        },
        cpErrors() {
            const errors = [];
            if (!this.$v.currentData.cp.$dirty) return errors;
            !this.$v.currentData.cp.required && errors.push("Este campo es requerido");
            return errors;
        },
        cityErrors() {
            const errors = [];
            if (!this.$v.currentData.city.$dirty) return errors;
            !this.$v.currentData.city.required && errors.push("Este campo es requerido");
            return errors;
        },
        stateErrors() {
            const errors = [];
            if (!this.$v.currentData.state.$dirty) return errors;
            !this.$v.currentData.state.required && errors.push("Este campo es requerido");
            return errors;
        },
        phoneErrors() {
            const errors = [];
            if (!this.$v.currentData.phone.$dirty) return errors;
            !this.$v.currentData.phone.required && errors.push("Este campo es requerido");
            return errors;
        },
        cellphoneErrors() {
            const errors = [];
            if (!this.$v.currentData.cellphone.$dirty) return errors;
            !this.$v.currentData.cellphone.required && errors.push("Este campo es requerido");
            return errors;
        },
        emailContactErrors() {
            const errors = [];
            if (!this.$v.currentData.emailContact.$dirty) return errors;
            !this.$v.currentData.emailContact.required && errors.push("Este campo es requerido")
            !this.$v.currentData.emailContact.email && errors.push('Debe ser un correo electrónico válido')
            return errors;
        },
    }
}
</script>
<style>
    .v-date-picker-table .v-btn.v-btn--active{
        background: #018085;
    }

    .v-picker__title {
        color: #000;
    }
</style>