<template>
    <v-card class="p-3">
        <v-card-title>
            <span class="headline">Detalles del contacto</span>
        </v-card-title>
        <v-card-text>
            <form data-app>
                <v-row>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Nombre completo"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="50"
                            v-model="currentData.name"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Tipo de contacto"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="50"
                            v-model="currentData.contactType"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Teléfono"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="15"
                            v-model="currentData.phone"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Celular"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="15"
                            v-model="currentData.cellphone"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="4" class="py-0">
                        <n-label text="Fecha de nacimiento"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            v-model="currentData.birthday"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Función"></n-label>
                        <v-select attach
                            outlined
                            dense
                            :readonly="true"
                            placeholder="Seleccione"
                            v-model="currentData.position"
                            :items="itemsPositions"
                            item-text="Puesto"
                            item-value="Id_Puesto"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Email"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="40"
                            v-model="currentData.emailContact"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Calle y número"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="80"
                            v-model="currentData.numberStreet"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="6" class="py-0">
                        <n-label text="Colonia"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="80"
                            v-model="currentData.col"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="2" class="py-0">
                        <n-label text="Código postal"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="10"
                            v-model="currentData.cp"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="5" class="py-0">
                        <n-label text="Ciudad"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="50"
                            v-model="currentData.city"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="5" class="py-0">
                        <n-label text="Estado"></n-label>
                        <v-text-field
                            outlined
                            dense
                            :readonly="true"
                            maxlength="50"
                            v-model="currentData.state"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" lg="12" class="py-0">
                        <n-label text="Observaciones"></n-label>
                        <v-textarea
                            dense
                            :readonly="true"
                            outlined
                            maxlength="191"
                            v-model="currentData.observations"
                        ></v-textarea>
                    </v-col>
                </v-row>
                <v-card-actions class="mt-5 d-block">
                    <form-action-buttons
                        :hideSaveBtn=true
                        @close="cancel"
                    ></form-action-buttons>
                </v-card-actions>
            </form>
        </v-card-text>
    </v-card>
</template>
<script>
export default {
    props: {
        currentDataShow: {
            type: Object,
            default: function() {
                return {}
            }
        },
        itemsPositions: {
            type: Array,
            default: function() {
                return []
            }
        },
    },
    watch: {
        currentDataShow(val) {
            this.setDefaultsFields(val);
        },
    },
    data() {
        return {
            currentData: {
                name: null,
                contactType: null,
                numberStreet: null,
                col: null,
                cp: null,
                city: null,
                state: null,
                phone: null,
                cellphone: null,
                emailContact: null,
                birthday: null,
                position: null,
                observations: null,
            },
            clientId: null,
        };
    },
    mounted(){
        this.setDefaultsFields(this.currentDataShow);
    },
    methods: {
        /**
         * Set the default fileds for update.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param Object data
         * @return void
         */
        setDefaultsFields(data){
            this.currentData.name = data.Nombre;
            
            this.currentData.phone = data.Telefono1;
            this.currentData.cellphone = data.TelMovil;
            this.currentData.emailContact = data.EMail;
            this.currentData.position = data.Id_Puesto;
            if(data.complement){
                this.currentData.contactType = data.complement.Tipo_contacto;
                this.currentData.birthday = data.complement.Fecha_nacimiento;
                this.currentData.numberStreet = data.complement.Calle_numero;
                this.currentData.col = data.complement.Colonia;
                this.currentData.cp = data.complement.Codigo_postal;
                this.currentData.city = data.complement.Ciudad;
                this.currentData.state = data.complement.Estado;
                this.currentData.observations = data.complement.Observaciones;
            }
        },
        /**
         * Emit a event for close the modal.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-26
         * @param
         * @return void
         */
        cancel() {
            this.$emit("closeDialog");
        },
    },
}
</script>