<template>
    <div data-app>
        <v-dialog v-model="dialog" width="50%">
            <v-card class="p-3">
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                    <v-alert
                        v-if="submitHasError"
                        dismissible
                        elevation="5"
                        text
                        type="error"
                        >
                        {{ errorMessage }}
                    </v-alert>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-row>
                            <v-col cols="12" class="py-0">
                                <n-label text="Selecciona como se calcula el envío" required
                                :error="$v.editedItem.Id_CostoEnvioTipo.$error"></n-label>
                                <v-select
                                    placeholder="Seleccionar..."
                                    outlined
                                    dense
                                    v-model="editedItem.Id_CostoEnvioTipo"
                                    :items="Id_CostoEnvioTipos"
                                    item-text="name"
                                    item-value="value"
                                    required
                                    :readonly="editionBlocked"
                                    :error-messages="Id_CostoEnvioTipoErrors"
                                    @change="$v.editedItem.Id_CostoEnvioTipo.$touch()">
                                </v-select>
                            </v-col>
                            <v-col  cols="12" class="py-0">
                                    <n-label text="Nombre de la opción de envío" required :error="$v.editedItem.Descripcion.$error"></n-label>
                                    <v-text-field
                                        outlined
                                        dense
                                        v-model="editedItem.Descripcion"
                                        :error-messages="nameErrors"
                                        :counter="80"
                                        required
                                        :readonly="editionBlocked"
                                        @input="$v.editedItem.Descripcion.$touch()"
                                        @blur="$v.editedItem.Descripcion.$touch()"
                                        ></v-text-field>
                            </v-col>
                            <v-col cols="12" class="py-0">
                                    <n-label text="Tiempo estimado de envío" required :error="$v.editedItem.TiempoEstimadoEnvio.$error"></n-label>
                                    <v-text-field
                                        outlined
                                        dense
                                        v-model="editedItem.TiempoEstimadoEnvio"
                                        :error-messages="TiempoEstimadoEnvioErrors"
                                        :counter="10"
                                        required
                                        :readonly="editionBlocked"
                                        @input="$v.editedItem.TiempoEstimadoEnvio.$touch()"
                                        @blur="$v.editedItem.TiempoEstimadoEnvio.$touch()"
                                        ></v-text-field>
                            </v-col>
                            <v-col cols="12" class="py-0">
                                    <n-label text="Tarifa" required :error="$v.editedItem.Tarifa.$error"></n-label>
                                    <v-text-field
                                        outlined
                                        dense
                                        v-model="editedItem.Tarifa"
                                        :error-messages="TarifaErrors"
                                        v-mask="'####.##'"
                                        required
                                        :readonly="editionBlocked"
                                        @input="$v.editedItem.Tarifa.$touch()"
                                        @blur="$v.editedItem.Tarifa.$touch()">
                                    </v-text-field>
                            </v-col>
                            <v-col cols="12" class="py-0">
                                <v-checkbox
                                    v-model="editedItem.AplicaEnvioGratuito"
                                    label="Ofrece una entrega gratuita cuando un cliente compra más de una ciera cantidad"
                                    color="success"
                                    false-value="0"
                                    true-value="1"
                                    hide-details
                                    :readonly="editionBlocked"
                                ></v-checkbox>
                            </v-col>
                            <v-col cols="12" lg="6" class="py-0">
                                <v-text-field
                                    v-if="editedItem.AplicaEnvioGratuito === '1'"
                                    outlined
                                    dense
                                    v-model="editedItem.MontoMinimoEnvioGratuito"
                                    :error-messages="MontoMinimoEnvioGratuitoErrors"
                                    v-mask="'#####.##'"
                                    required
                                    :readonly="editionBlocked"
                                    @input="$v.editedItem.MontoMinimoEnvioGratuito.$touch()"
                                    @blur="$v.editedItem.MontoMinimoEnvioGratuito.$touch()">
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <form-action-buttons
                        :hideSaveBtn="editionBlocked"
                        :isLoading="submitIsPending"
                        @close="close"
                        @save="save"
                    ></form-action-buttons>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <layout-wrapper transition="scroll-y-transition">
            <v-card class="p-3">
                <dialog-delete :status="dialogDelete" v-on:cancel="closeDelete" v-on:confirm="deleteItemConfirm"></dialog-delete>
                <v-data-table
                    :headers="headers"
                    :items="shippingConfigurations"
                    item-key="id"
                    class="elevation-1"
                    :search="search"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    hide-default-footer
                    @page-count="pageCount = $event"
                    no-data-text="No hay ningún registro"
                    no-results-text="No se encontraron coincidencias"
                    :loading="loading"
                    loading-text="Cargando... Porfavor espere"
                    >
                    <template v-slot:top>
                        <datatable-header
                            title="Configurador de envíos"
                            :disable-creation="!permissions.includes('ShippingConfiguration.create')"
                            @searching="search = $event"
                            @open="dialog = $event">
                        </datatable-header>
                    </template>
                    <template v-slot:item.TiempoEstimadoEnvio="{ item }">
                        {{ item.TiempoEstimadoEnvio + ' días hábiles' }}
                    </template>
                    <template v-slot:item.Tarifa="{ item }">
                        ${{ (Math.round(item.Tarifa)).toFixed(2) }}
                    </template>
                    <template v-slot:item.status="{ item }">
                        <chip-status :item="item"></chip-status>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <action-buttons
                            :item="item"
                            :editDisabled="!permissions.includes('ShippingConfiguration.edit')"
                            :deleteDisabled="!permissions.includes('ShippingConfiguration.delete')"
                            @edit="editItem"
                            @view="viewItem"
                            @delete="openDeleteDialog"
                            ></action-buttons>
                    </template>
                </v-data-table>
                <pagination
                    :last="pageCount"
                    :current="page"
                    :itemsPerPage="itemsPerPage"
                    :total="this.shippingConfigurations.length"
                    v-on:input="page = $event"
                ></pagination>
            </v-card>
        </layout-wrapper>
    </div>
</template>

<script>
import Vue from "vue";
import store from "../../store";
import PageTitle from "../../views/Layouts/Components/PageTitle.vue";
import LayoutWrapper from "../../Layout/Components/LayoutWrapper.vue";
import Pagination from "../../components/pagination2.vue";
import Label from "../../components/label.vue";
import FormActionButtons from "../../components/formActionButtons.vue";
import DatatableHeader from "../../components/datatableHeader.vue";
import ChipStatus from "../../components/chipStatus.vue";
import ActionButtons from "../../components/datatableActionButtons.vue";
import DialogDelete from "../../components/dialogDelete.vue";

import {
    validationMixin
} from "vuelidate";
import {
    required,
    requiredIf,
    maxLength,
} from "vuelidate/lib/validators";
import VueMask from "v-mask";

Vue.use(VueMask);

export default {
    components: {
        PageTitle,
        "layout-wrapper": LayoutWrapper,
        "pagination": Pagination,
        "n-label": Label,
        "form-action-buttons": FormActionButtons,
        "datatable-header": DatatableHeader,
        'chip-status': ChipStatus,
        'action-buttons': ActionButtons,
        'dialog-delete': DialogDelete,
    },
    mixins: [validationMixin],
    validations: {
        editedItem: {
            Id_CostoEnvioTipo: {
                required
            },
            Descripcion: {
                required,
                maxLength: maxLength(80)
            },
            TiempoEstimadoEnvio: {
                required,
                maxLength: maxLength(10)
            },
            Tarifa: {
                required
            },
            MontoMinimoEnvioGratuito: {
                required: requiredIf(function () {
                    return this.editedItem.AplicaEnvioGratuito === '1'
                })
            }
        }
    },
    data: () => ({
        roleFilter: null,
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        icon: "pe-7s-users",
        search: '',
        loading: false,
        dialog: false,
        dialogDelete: false,
        valid: true,
        editedIndex: -1,
        submitStatus: null,
        errorMessage: '',
        show1: false,
        editionBlocked: false,
        Id_CostoEnvioTipos: [],
        editedItem: {
            Id_CostoEnvio: null,
            Id_CostoEnvioTipo: null,
            Descripcion: '',
            TiempoEstimadoEnvio: null,
            Tarifa: null,
            AplicaEnvioGratuito: '0',
            MontoMinimoEnvioGratuito: ''
        },
        defaultItem: {
            Id_CostoEnvio: null,
            Id_CostoEnvioTipo: null,
            Descripcion: '',
            TiempoEstimadoEnvio: '',
            Tarifa: '',
            AplicaEnvioGratuito: '0',
            MontoMinimoEnvioGratuito: ''
        },
        headers: [{
                text: 'Id',
                align: 'start',
                sortable: true,
                value: 'Id_CostoEnvio',
            },
            {
                text: 'Nombre',
                sortable: true,
                value: 'Descripcion',
            },
            {
                text: 'Tiempo estimado',
                value: 'TiempoEstimadoEnvio'
            },
            {
                text: 'Tarifa',
                value: 'Tarifa'
            },
            {
                text: 'Estatus',
                value: 'status'
            },
            {
                text: 'Acciones',
                value: 'actions',
                sortable: false
            },
        ],
        shippingConfigurations: []
    }),
    mounted() {
        this.getDataTableEntries();
    },
    computed: {
        /**
         * Gets users permissions
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return array
         *
         */
        permissions() {
            return store.state.permissions;
        },
        /**
         * Gets formTitle based on editedIndex
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return string
         *
         */
        formTitle() {
            return this.editedIndex === -1 ? 'Alta de costos de envío' : 'Editar costo de envío'
        },
        /**
         * Inserts Id_CostoEnvioTipo error to errors array
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return array
         *
         */
        Id_CostoEnvioTipoErrors() {
            const errors = []
            if (!this.$v.editedItem.Id_CostoEnvioTipo.$dirty) return errors
            !this.$v.editedItem.Id_CostoEnvioTipo.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Inserts Descripcion error to errors array
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return array
         *
         */
        nameErrors() {
            const errors = []
            if (!this.$v.editedItem.Descripcion.$dirty) return errors
            !this.$v.editedItem.Descripcion.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Inserts TiempoEstimadoEnvio error to errors array
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return array
         *
         */
        TiempoEstimadoEnvioErrors() {
            const errors = []
            if (!this.$v.editedItem.TiempoEstimadoEnvio.$dirty) return errors
            !this.$v.editedItem.TiempoEstimadoEnvio.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Inserts Tarifa error to errors array
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return array
         *
         */
        TarifaErrors() {
            const errors = []
            if (!this.$v.editedItem.Tarifa.$dirty) return errors
            !this.$v.editedItem.Tarifa.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Inserts MontoMinimoEnvioGratuito error to errors array
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return array
         *
         */
        MontoMinimoEnvioGratuitoErrors() {
            const errors = []
            if (!this.$v.editedItem.MontoMinimoEnvioGratuito.$dirty) return errors
            !this.$v.editedItem.MontoMinimoEnvioGratuito.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         *
         * Determines if submitStauts is pending
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return boolean
         *
         */
        submitIsPending() {
            return this.submitStatus == 'PENDING';
        },
        /**
         *
         * Determines if submit has error
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return boolean
         *
         */
        submitHasError() {
            return this.submitStatus == 'ERROR';
        },
    },
    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },
    methods: {
        /**
         * Gets shipping configurations list
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * @date 01/04/2021
         * @params
         * @return void
         */
        getDataTableEntries() {
            this.loading = true;
            axios.get('/api/shipping-configurations')
                .then(res => {
                    this.Id_CostoEnvioTipos = res.data.tiposCostosEnvio;
                    this.shippingConfigurations = res.data.shippingConfigurations;
                }).catch(er => {
                    console.warn(er.response);
                }).then(() => this.loading = false);
        },
        /**
         * Gets the status name.
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * @date 01/04/2021
         * @param Object item
         * @return string
         */
        getStatusName(item) {
            return item.status ? 'Activo' : 'Inactivo'
        },
        /**
         * Gets status color.
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * @date 01/04/2021
         * @param Object item
         * @return String
         */
        getStatusColor(item) {
            return item.status ? 'success' : 'red';
        },
        /**
         * Closes form dialog
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * @date 01/04/2021
         * @params
         * @return void
         *
         */
        close() {
            this.$v.$reset();
            this.dialog = false
            this.submitStatus = null;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        /**
         * Saves a new or an existent item
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        save() {
            this.$v.$touch()

            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR';
                this.errorMessage = 'Es necesario corregir los campos con error.';
            } else {
                this.submitStatus = 'PENDING'

                if (this.editedIndex > -1) {
                    this.saveEdited();
                } else {
                    this.saveNew();
                }
            }
        },
        /**
         * Saves a new item
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        saveNew() {
            axios.post('/api/shipping-configurations', this.editedItem)
                 .then(res => {
                    this.submitStatus = null;
                    this.editedItem.Id_CostoEnvio = res.data.model.Id_CostoEnvio;
                    this.editedItem.status = 1;
                    this.shippingConfigurations.push(this.editedItem)
                    this.close()
                    swal2.fire(
                        'Guardado',
                        'Se guardó el registro correctamente',
                        'success'
                    );
                }).catch(this.handleError);
        },
        /**
         * Saves an existent item
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        saveEdited() {
            axios.put(`/api/shipping-configurations/${this.editedItem.Id_CostoEnvio}`, this.editedItem)
                 .then(res => {
                    this.submitStatus = null;
                    Object.assign(this.shippingConfigurations[this.editedIndex], this.editedItem);
                    this.close()
                    swal2.fire(
                        'Actualizado',
                        'Se actualizó el registro correctamente',
                        'success'
                    );
                }).catch(this.handleError);
        },
        /**
         * opens edit modal to edit a model
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        editItem(item) {
            this.editedIndex = this.shippingConfigurations.indexOf(item);
            Object.assign(this.editedItem, this.shippingConfigurations[this.editedIndex]);
            this.dialog = true;
            this.editionBlocked = false;
        },
        /**
         * opens view modal to edit a model
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        viewItem(item) {
            this.editedIndex = this.shippingConfigurations.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
            this.editionBlocked = true
        },
        /**
         * opens delete modal
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        openDeleteDialog(item) {
            this.editedIndex = this.shippingConfigurations.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },
        /**
         * Closes delete modal
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        /**
         * confirms item delete
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        deleteItemConfirm() {
            var url = `/api/shipping-configurations/${this.editedItem.Id_CostoEnvio}`
            axios.delete(url)
                .then(res => {
                    swal2.fire(
                        'Eliminado',
                        'Se eliminó el registro correctamente',
                        'success'
                    );
                    this.shippingConfigurations.splice(this.editedIndex, 1)
                    this.closeDelete();
                })
                .catch(er => {
                    this.submitStatus = 'ERROR';
                    this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
                });

        },
        /**
         * Handles request error
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 01/04/2021
         * @params
         * @return void
         *
         */
        handleError(er) {
            const res = er.response;

            this.submitStatus = 'ERROR';
            this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
            if (res.status >= 500) return;

            this.errorMessage = res.data.message;
            for (const i in res.data.errors) {
                this.editedItem.isUnique = false;
            }
        },
    }
};
</script>

<style>
    .v-input--checkbox .v-icon.success--text {
        background-color: #f8f9fa !important;
        color: #A6C236 !important;
    }
</style>
