@import url(https://fonts.googleapis.com/css?family=Nunito);
.card .card-header{background-color:#3c8dbc!important;color:hsla(0,0%,100%,.8)}.card .card-header:focus,.card .card-header:hover{color:#fff}.modal .modal-header{background-color:#3c8dbc;color:#fff}.modal .modal-content{border-radius:5px}.mdl-groups .form-group{margin-bottom:0}.mdl-groups small{position:relative;top:4px;left:5px}.ms-container{width:100%!important}.form-group{margin-bottom:3px!important}label{margin-bottom:0!important;font-weight:lighter!important}.nav-pills .nav-link{border-radius:0}
