@font-face {
    font-family: Monserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Monserrat-Semibold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Monserrat-Thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Monserrat-Italic;
    src: url(../fonts/Montserrat-Italic.ttf);
}

body {
    font-family: Monserrat-Regular;
}

.nav {
    background-color: #1e7bbe;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

@media (min-width: 1px) and (max-width: 768px) {
    .nav {
        padding: 0 !important;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.nav div img {
    max-height: 65px;
}

.icons-container {
    margin: 10px 0;
    display: flex;
}

.no-mg {
    margin: 0 !important;
}

.no-pd {
    padding: 0 !important;
}

.search-input {
    background-clip: padding-box;
    background-color: #FFF;
    border-radius: 50px;
    padding: 15px 20px;
    line-height: 1.5;
    width: 500px;
    border: 0px;
}

@media (min-width: 1px) and (max-width: 768px) {
    .search-input {
        width: 300px;
    }
}


input:focus {
    outline: none;
}


::-webkit-input-placeholder { /* Edge */
    color: #1e7bbe;
    font-weight: 800;
    letter-spacing: 0.1em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e7bbe;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.search-input::placeholder {
    color: #1e7bbe;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.icon-menu i {
    color: #FFF;
    font-size: 1.6rem;
}

.icon-menu {
    padding: 10px;
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;

}

.icon-menu:first-of-type, .icon-menu:last-of-type {
    margin: 0 .8rem;
}

.notification-number {
    display: flex;
    font-size: .8rem;
    color: #FFF;
    font-family: Monserrat-Semibold;

}

.notification-container {
    margin-bottom: 1.8rem;
    margin-left: 1.2rem;
    border: #FFF .5px solid;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #d9000d;
    padding: .8rem;
    border-radius: 50px;
    height: 10px;
    width: 10px;
}

.active-icon {
    background-color: #66c35f;
}

.top-menu {
    width: 100%;
    display: flex;
    background-color: #155c90;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: .8rem;
    justify-content: flex-end;
}

.top-menu p {
    font-family: Monserrat-Thin;
}

.nav-menu {
    height: 65px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
    background-color: #FFF;
}

.nav-menu p:first-of-type {
    color: #d9000d;
    width: 30%;
    font-weight: 100;
    text-transform: uppercase;
}

.md-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.md-menu a {
    height: 100%;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    /*margin: 0 !important;*/
    margin-right: 2rem;
    padding: 0 !important;
    list-style-type: none;
}

.md-menu a:active {

}


/* footer */


.footer-top {
    display: flex;
    padding: 30px 60px;
    /*justify-content: space-between;*/
}

.footer-vertical-menu ul li {
    list-style-type: none;
    color: #888;
    margin-bottom: 10px;
    font-size: .8rem;
}

@media (min-width: 1px) and (max-width: 768px) {

    .list-head {
        color: #1e7bbe !important;
    }

    .footer-middle {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f7f7f7;
        justify-content: center;
        padding: 1.2rem 0;
    }

    .follow-container {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 5px;
    border: 2px #4d4d4d solid;
    padding: 5px 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .footer-middle {
        display: flex;
        padding: 5px 60px;
        align-items: center;
        background-color: #f7f7f7;
        justify-content: space-between;
    }

    .follow-container {
        margin-top: 30px;
    }
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 5px;
    border: 2px #4d4d4d solid;
    padding: 5px 10px;
    margin-right: 10px;
}


.image-list {
    display: flex;
}

.footer-contact {
    margin-top: 10px;
}


.footer-contact p {
    color: #888;
    padding: 0;
    font-size: .8rem;

}

.follow-label {
    font-family: Monserrat-Semibold;
    text-transform: uppercase;
    color: #1e7bbe;
}

.follow-container img {
    height: 25px;
}


.footer-middle img {
    max-height: 65px;
}

.image-container img {
    max-height: 20px;
}

.footer-bottom {
    color: #FFF;
    height: 30px;
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: center;
    background-color: #1e7bbe;
    height: 4rem;
}

/* Testimonials */

.testimonials {
    display: flex;
    background-color: #f7f7f7;
    padding: 50px;
    align-items: center;
}

.testimonials-container {
    display: flex;
}

.testimonial-comment {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    text-align: center;
}

.blue {
    background-color: #1e7bbe;
}

.red {
    background-color: #d9000d;
}

.green {
    background-color: #66c35f;
}

.testimonial-comment {
    margin: 0 20px;
}


.comment {
    font-family: Monserrat-Italic;
    color: #FFF;
}

.italics {
    font-family: Monserrat-Italic;
    font-size: .8rem;
}

.testimonial-comment {
    color: #FFF;
}

.testimonial-comment i {
    font-size: 3rem;
    color: #FFF;
}

.comment:before {
    content: '"';
}

.comment:after {
    content: '"';
}

.star-meter {
    display: flex;
}

.star-meter i {
    font-size: .8rem;
}

.arrow-button {
    border-radius: 50px;
    justify-content: center;
}

.arrow-button i {
    font-size: 1.2rem;
}

/*Sections*/

.section-title {
    text-align: center;
    font-family: Monserrat-Semibold;
    font-size: 1.2rem;
}

.bold {
    font-family: Monserrat-Semibold;
}

/*Blog*/
.entries {
    display: flex;
}


.entry {
    flex: 1;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -2px 8px 10px 1px rgba(0, 0, 0, 0.16);
    box-shadow: -2px 8px 10px 1px rgba(0, 0, 0, 0.16);
    padding: 0px !important;

}


.entry img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform .6s;

}

.entry div {
    padding: 0 20px;
}

.entries-container {
    padding: 50px;
}

.blog-title {
    font-size: 1.2rem;
    font-family: Monserrat-Semibold;
    text-align: left;
}

.mb-5 {
    margin-bottom: 10px;
}

.button {
    width: 60%;
    color: #FFF;
    font-size: .8rem;
    font-family: Monserrat-Semibold;
    padding: 1rem 0;
    border: 0;
    border-radius: 10px;
}

/*Newsletter*/

@media (min-width: 1px) and (max-width: 768px) {
    .newsletter {
        flex-direction: column;
    }

    .newsletter-label {
        text-align: center;
        margin: 1rem 0 1rem 0 !important;
    }

    .newsletter-input {
        width: 100% !important;
    }

    .newsletter-input-container {
        padding: 0 1rem;
    }
}

@media (min-width: 768px) {

    .newsletter {
        align-items: center;
        justify-content: center;
    }
}

.newsletter {
    display: flex;
    background: #1e7bbe;
    padding: 30px 0;
}

.newsletter span {
    color: #FFF;
    font-size: 1.2rem;
}

.newsletter-input {
    background-clip: padding-box;
    background-color: #FFF;
    border-radius: 5px;
    padding: 15px 20px;
    line-height: 1.5;
    margin-right: -60px;
    width: 500px;
    border: 0px;
    font-size: .8rem;
}

.newsletter-label {
    margin-right: 20px;
}

.newsletter-label::placeholder {
    color: #1e7bbe;
    letter-spacing: 0.05em;
}


.newsletter-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #00d8ff;
    border-width: 0;
    margin-right: -40px
}

/*Carousel*/
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    height: 600px;
    overflow: hidden;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousel-control {
    background: #e9eaeb;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2rem;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/*cards*/


@media (min-width: 768px) {
    .card {
        padding: 0 !important;
        flex-direction: column;
    }
}

@media (min-width: 1px) and (max-width: 768px) {
    .card {
        background-color: #FFF;
        display: flex;
        border-radius: 15px;
        margin-bottom: 3rem;
        flex-direction: column;
        border: rgba(0, 0, 0, 0.1) solid 1px;
    }
}

@media only screen and (max-width: 880px) {

    .card-container {
        flex-direction: column;
    }

    .card {
        margin: 10px !important;
    }

    .spanner {
        height: 1800px !important;
    }
}

.spanner {
    height: 350px;
}

.highlight-span {
    text-transform: uppercase;
    font-family: Monserrat-Semibold;
    font-size: 1.2rem;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 40rem;
    z-index: 10;
    padding: 0 4rem;
}

@media (min-width: 1px) and (max-width: 768px) {
    .card-container {
        top: 25rem;
        padding: 0 3rem;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 768px) {
    .card-container {
        padding: 0 8rem;
        top: 40.6rem;

    }
}

.card {
    background-color: #FFF;
    display: flex;
    border-radius: 15px;
    margin: auto 10px;
    flex-wrap: wrap;
    -webkit-box-shadow: -2px 8px 10px 1px rgba(0, 0, 0, 0.16);
    box-shadow: -2px 8px 10px 1px rgba(0, 0, 0, 0.16);
    max-width: 300px;
    min-width: 300px;
}


.title-card {
    padding: 0 1rem;
    text-align: center;
    min-height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-card p {
    font-size: 1.2rem;
}

.crates-bg {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
    background-image: url('../img/cajas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.containerImg:hover .overlay {
    width: 100%;
    left: 0;
}

.containerImg {
    position: relative;
    width: 100%;
    /*margin-top: 60px;*/
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .5s ease;
    border-radius: 15px;
}

.overlay-green {
    background-color: rgba(48, 190, 38, 0.7);

}

.overlay-red {
    background-color: rgba(178, 0, 12, 0.87);

}

.overlay-purple {
    background-color: rgba(125, 0, 190, 0.7);

}

.containerImg:hover .overlay {
    width: 100%;
    left: 0;
}

/*.overlay:hover {*/
/*background-color: rgba(30, 123, 190, .8);*/
/*}*/


/*querys*/

@media (max-width: 992px) {
    /*.overlay {
    left: 0;
    width: 100%;
  }*/
    img.image {
        height: 235px;
    }
}


.instruments-bg {
    min-height: 200px;
    max-height: 200px;
    background-image: url('../img/instrumentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.material-bg {
    min-height: 200px;
    max-height: 200px;
    background-image: url('../img/estetoscopio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-link {
    padding: 30px 0;
    text-transform: uppercase;
    font-family: Monserrat-Semibold;
    text-align: center;
    color: #000;
    text-decoration: none;
}

/*Products*/


.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image:hover .colors-container {
    display: block;
}

.product-image:hover .heart-container {
    display: block;
}

.product {
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 100%;
    padding: 2rem;
    margin: 2rem;
}

.product:hover button {
    background-color: #d9000d !important;
}

.colors-container {
    display: none;
}

.colors {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 20%;
}

.color {
    width: 1rem;
    height: 1rem;
    margin-bottom: 8px;
    margin-right: 8px;
}

.heart-container {
    display: none;
    position: absolute;
    right: -2%;
}

.heart-container i {
    font-size: 1.8rem;
    color: #1e7bbe;
    margin-right: 5rem;
}

.left-products-container {
    position: absolute;
    top: 50%;
}

.left-products-container span {
    background-color: #d9000d;
    padding: .6rem;
    font-size: 1rem;
}

.left-stock {
    color: #dc1e2a;
    font-size: .8rem;
}

.product-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .8rem;
}

.product-data p {
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}

.product-title {
    font-family: Monserrat-Semibold;
    color: #0e4165;
}

.product-brand {
    color: #1e7bbe;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: Monserrat-Semibold;
}

.product-price {
    color: #1e7bbe;
    font-size: 1.2rem;
    font-family: Monserrat-Semibold;
}

.products-container {
    padding: 0 10rem;
}

@media (min-width: 1px) and (max-width: 768px) {
    .products-container {
        padding: 0 2rem;
    }
}

.product-filter-group p {
    margin: 0 2rem 1rem 0 !important;
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width: 768px) {

    .product-filter-group {
        padding: 0 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .product-filter-group p:hover {
        color: #1e7bbe !important;
    }
}


/*brand carrousel*/


.brand-carousel {
    background: #f7f7f7;
}

.owl-dots {
    text-align: center;
    margin-top: 4%;
}


.owl-dot.active {
    background-color: #000 !important;
}

.right-nav {
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 20px;
}

.left-nav {
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 20px;

}

.next-button {
    height: 40px;
    width: 40px;
    background-color: #FFF !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*home sections*/
.light-green {
    background-color: #f3fae8;
}

.light-blue {
    background-color: #e5fbff;
}

.register-bg {
    height: 80px;
    background-image: url('../img/registradora.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dove-bg {
    height: 80px;
    background-image: url('../img/dove.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-banners {
    display: flex;
    padding: 50px 50px;
    justify-content: center;
}

.custom-banner-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (min-width: 1px) and (max-width: 768px) {
    .custom-banner-container img {
        height: 200px;
    }

    .custom-banner {
        flex-direction: column;
        margin-bottom: 2rem;
    }

}

@media (min-width: 768px) {
    .custom-banner-container img {
        height: 250px;
    }

    .custom-banner:first-of-type {
        margin-right: 20px;
    }
}


.custom-banner {
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-banner-title {
    font-size: 1.2rem;
    font-family: Monserrat-Semibold;
}

.green-btn {
    background-color: #66c35f;
}

.sm-link-button {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-size: .8rem;
    /*text-align: center;*/
}

.color-blue {
    color: #1e7bbe;
}

.color-green {
    color: #66c35f;
}

.font-bg {
    font-family: Monserrat-Semibold;
    font-size: 1.2rem;
}

.mt-1 {
    margin-top: .8rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.gray {
    background: #f7f7f7;

}

.pd-4 {
    padding: 4rem 0;
}

.ml1 {
    margin-left: 1rem;
}

.section-equipment {
    border-radius: .8rem;
    min-height: 400px;
    max-height: 400px;
    background-image: url('../img/instrumentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-invoice {
    border-radius: .8rem;
    min-height: 400px;
    max-height: 400px;
    background-image: url('../img/cajas.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

@media (min-width: 1px) and (max-width: 768px) {
    .panel-container {
        padding: 4rem !important;

    }

}


.panel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem;
    color: #FFF;
    text-align: center;
    margin-bottom: 2rem;
}

.panel-container p:first-of-type {
    font-size: 1.2rem;
    font-family: Monserrat-Semibold;
}

.white {
    background-color: white !important;
}

.sm-button {
    width: 15rem !important;
}

.div-link {
    text-decoration: none;
    color: #FFF;
}

.product-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2e5f2;
    padding: 1rem 0;
}

.product-breadcrumbs p {
    text-transform: capitalize;
}

.product-breadcrumbs p span:hover {
    color: #1e7bbe;

}

.image-showcase {
    height: 25rem;
}

.icon-showcase {
    right: 2rem;
    color: #1e7bbe;
    font-size: 2rem;
}

.showcase {
    border-radius: 1rem;
    margin-top: 1rem;
    height: 33rem;
}

.align-left {
    text-align: left !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.product-price {
    font-size: 1.2rem;
    color: #1e7bbe;
}

.flex-row {
    display: flex;
    flex-direction: row !important;
}

.column {
    display: flex;
    flex-direction: column !important;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.quantity-box {
    border: #000 1px solid;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 .8rem;
}

.quantity-control {
    border-radius: 10px;
    background-color: #e3e3e3;
    width: 1.8rem;
    height: 1.8rem;

}

.quantity-control:hover {
    background-color: #f7f7f7;
}

.thumbnail {
    border-radius: 1rem;
}

.thumbnail img {
    max-width: 7rem;
}

.link-list {
    padding: 1rem 0;
}

.link-list a {
    color: #1e7bbe;
    margin-bottom: 1rem;
}

.action-label {
    font-size: 1.2rem;
}

.action-label:first-of-type {
    margin-right: 1rem;
}

.action-label:hover {
    color: #1e7bbe !important;
}

.align-center {
    text-align: center;
}

/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.responsive img {
    max-height: 600px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2rem;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: .8rem;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e7bbe;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: .8rem;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2rem;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: #1e7bbe;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 1rem
    }
}

.entry:hover button {
    background-color: #e3e3e3;
    color: #000;
}

.entry:hover img {
    transform: scale(1.2);
}

.invoice-card:hover button {
    background-color: #d9000d !important;
    color: #FFF !important;
}

/*.slick-prev::before {*/
/*content: '<' !important;*/
/*}*/

.slick-prev::before, .slick-next::before {
    font-size: 2rem !important;
    font-family: Monserrat-Regular !important;
    color: black !important;
}



