<template>
  <div
    class="vsm-item"
    :class="[{'first-item' : firstItem }, {'mobile-item' : mobileItem}, {'open-item' : show}, {'active-item' : active}, {'parent-active-item' : childActive}]"
    @mouseenter="mouseEnter($event)"
  >
    <template v-if="isRouterLink">
      <router-link
        class="vsm-link"
        :class="item.class"
        :to="item.href"
        :disabled="item.disabled"
        :tabindex="item.disabled ? -1 : ''"
        v-bind="item.attributes"
        v-if="item.permission != '0' ? validateSubMenuPermissions(item.permission) : true"
        @click.native="clickEvent"
      >
        <template v-if="item.icon">
          <font-awesome-icon 
            :icon="item.icon" 
            class="vsm-icon" 
            v-if="typeof item.icon === 'string' || (item.icon instanceof String)"
          />
          <component
            :is="item.icon.element ? item.icon.element : 'i'"
            v-else
            class="vsm-icon"
            :class="item.icon.class"
            v-bind="item.icon.attributes"
          >
            {{ item.icon.text }}
          </component>
        </template>
        <template v-if="!isCollapsed || mobileItem">
          <component
            :is="item.badge.element ? item.badge.element : 'span'"
            v-if="item.badge"
            :style="[rtl ? (item.child ? {'margin-left' : '30px'} : '') : (item.child ? {'margin-right' : '30px'} : '')]"
            class="vsm-badge"
            :class="item.badge.class"
            v-bind="item.badge.attributes"
          >
            {{ item.badge.text }}
          </component>
          <span class="vsm-title">{{ item.title }}</span>
          <div
            v-if="item.child"
            class="vsm-arrow"
            :class="[{'open-arrow' : show}, {'slot-icon' : $slots['dropdown-icon']}]"
          >
            <slot name="dropdown-icon" />
          </div>
        </template>
      </router-link>
    </template>
    <template v-else>
      <a
        class="vsm-link"
        :class="item.class"
        :href="item.href ? item.href : '#'"
        :disabled="item.disabled"
        :tabindex="item.disabled ? -1 : ''"
        v-bind="item.attributes"
        v-if="item.permission != '0' ? validateMenuPermissions(item) : true"
        @click="clickEvent"
      >
        <template v-if="item.icon">
          <font-awesome-icon 
            :icon="item.icon" 
            class="vsm-icon" 
            v-if="typeof item.icon === 'string' || (item.icon instanceof String)"
          />
          <component
            :is="item.icon.element ? item.icon.element : 'i'"
            v-else
            class="vsm-icon"
            :class="item.icon.class"
            v-bind="item.icon.attributes"
          >
            {{ item.icon.text }}
          </component>
        </template>
        <template v-if="!isCollapsed || mobileItem">
          <component
            :is="item.badge.element ? item.badge.element : 'span'"
            v-if="item.badge"
            :style="[rtl ? (item.child ? {'margin-left' : '30px'} : '') : (item.child ? {'margin-right' : '30px'} : '')]"
            class="vsm-badge"
            :class="item.badge.class"
            v-bind="item.badge.attributes"
          >{{ item.badge.text }}</component>
          <span class="vsm-title">{{ item.title }}</span>
          <div
            v-if="item.child"
            class="vsm-arrow"
            :class="[{'open-arrow' : show}, {'slot-icon' : $slots['dropdown-icon']}]"
          >
            <slot name="dropdown-icon" />
          </div>
        </template>
      </a>
    </template>
    <template v-if="item.child">
      <template v-if="!isCollapsed">
        <transition
          name="expand"
          @enter="expandEnter"
          @afterEnter="expandAfterEnter"
          @beforeLeave="expandBeforeLeave"
        >
          <div
            v-if="show"
            class="vsm-dropdown"
          >
            <listItem
              :items="item.child"
              :show-child="showChild"
              :rtl="rtl"
            >
              <slot
                slot="dropdown-icon"
                name="dropdown-icon"
              />
            </listItem>
          </div>
        </transition>
      </template>
    </template>
  </div>
</template>

<script>
import store from "../../../../../../store";
import ListItem from './ListItem.vue'
import { itemMixin, animationMixin } from '../mixin'
import { library } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/free-solid-svg-icons'

library.add(fas)

export default {
  components: {
    ListItem
  },
  mixins: [itemMixin, animationMixin],
  props: {
    item: {
      type: Object,
      required: true
    },
    firstItem: {
      type: Boolean,
      default: false
    },
    isCollapsed: {
      type: Boolean
    },
    mobileItem: {
      type: Boolean,
      default: false
    },
    activeShow: {
      type: Number,
      default: null
    },
    showChild: {
      type: Boolean,
      default: false
    },
    showOneChild: {
      type: Boolean,
      default: false
    },
    rtl: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    mouseEnter (event) {
      if (this.isCollapsed && this.firstItem && !this.mobileItem && !this.item.disabled) {
        this.$parent.$emit('mouseEnterItem', {
          item: this.item,
          pos:
              event.currentTarget.getBoundingClientRect().top -
              this.$parent.$el.getBoundingClientRect().top,
          height: this.$el.offsetHeight
        })
      }
    },
    /**
     * Validate if user can see the submenu.
     * @auth José Vega
     * @date 2021-05-10
     * @param Object item
     * @return bollean
     */
    validateMenuPermissions(item){
      let userPermissions = this.permissions;
      let showMenu = 0;
      if(item.child){
        item.child.forEach(element => {
          if(userPermissions.includes(element.permission + '.*') || 
             userPermissions.includes(element.permission + '.create') || 
             userPermissions.includes(element.permission + '.edit') ||
             userPermissions.includes(element.permission + '.delete') || 
             userPermissions.includes(element.permission + '.view')){
               showMenu = 1;
          }
        });
      }

      if(showMenu != 0) return true;
      else return false
    },
    /**
     * Validate if user can see the option.
     * @auth José Vega
     * @date 2021-05-10
     * @param String permissions
     * @return boolean
     */
    validateSubMenuPermissions(permissions){
      let userPermissions = this.permissions;
      if(userPermissions.includes(permissions + '.*') || 
         userPermissions.includes(permissions + '.create') || 
         userPermissions.includes(permissions + '.edit') ||
         userPermissions.includes(permissions + '.delete') || 
         userPermissions.includes(permissions + '.view')){
           return true;
      }else return false;
    }
  },
  computed: {
    /**
     * Get global permissions of current user.
     * @auth José Vega
     * @date 2021-05-07
     * @param
     * @return Array
     */
    permissions() {
        return store.state.permissions;
    },
  }
}
</script>
<style lang="scss">
 @import '../../../../../../../sass/_variables.scss';

  .vsm-icon {
    height: 60% !important;
    color: $primary;
    opacity: 1 !important;
  }
</style>