<template>
  <v-card class="p-3">
    <v-card-title><b>Edición de Ubicación</b></v-card-title>
    <v-card-text>
      <v-card-actions class="mt-5 d-block">
        <Inputs ref="submit"></Inputs>
        <form-action-buttons
          @close="cancel"
          @save="submit"
        ></form-action-buttons>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
    name: "EditLocation",
    components: {
        Inputs,
    },
    data() {
        return {
            submitStatus: "",
            currentLocation: {
              Id:null,
              Descripcion: "",
              Seccion: "",
              Nivel: "",
              zAE_Rak_Id:null,
            },
        };
    },
    methods: {
        /**
         * Redirect to index locations
         * @auth Kareem Lorenzana<kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param
         * @return void
         */
        submit() {
          this.$refs.submit.submit();
        },
        /**
         * Redirect to index locations
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param
         * @return void
         */
        cancel() {
          this.$router.push({ name: "locations" });
        },
    },
};
</script>