<template>
    <v-card data-app class="p-3">
    <Show
      :dialog="dialogShow"
      v-on:dialogStatus="getDialogShowStatus"
      ref="sendLocation"
    ></Show>    
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>      
    <v-data-table
        :headers="headers"
        :items="locations"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
        >
        <template v-slot:top>
            <datatable-header
                title="Ubicaciones"
                :disable-creation="false"
                @searching="search = $event"
                @open="openCreateLocation">
            </datatable-header>
        </template>
        <template v-slot:[`item.Estatus`]="{ item }">
            <chip-status :item="item"></chip-status>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
            <action-buttons
                :item="item"
                @edit="openEditLocation(item)"
                @view="getShowLocation"
                @delete="openDeleteDialog"
                ></action-buttons>
        </template>
      </v-data-table>
       <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="this.locations.length"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import Show from "./show";

export default {
    created() {
        this.getLocations();
    },
    components: {
        Show
    },
    data() {
        return {
            search: "",
            dialog: false,
            productId: null,
            dialogDelete: false,
            dialogShow: false,
            locationsToDelete: null,
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            headers: [{
                    text: "ID",
                    value: "Id"
                },
                {
                    text: "Descripcion",
                    value: "Descripcion"
                },
                {
                    text: "Sección",
                    value: "Seccion"
                },
                {
                    text: "Nivel",
                    value: "Nivel"
                },
                {
                  text: "Estatus",
                  value: "Estatus"
                },
                {
                    text: "Acciones",
                    value: "actions"
                },
            ],
            locations: [],
        };
    },
    methods: {
        /**
         * Get products and fill date table from locations api.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param
         * @return void
         */
        getLocations() {
            this.loading = true;
            axios.get("/api/locations").then((result) => {
                this.locations = result.data.locations;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Redirect to create locations component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param
         * @return void
         */
        openCreateLocation() {
            this.$router.push({
                name: 'locations-create'
            });
        },
        /**
         * Redirect to edit locations component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param Object item
         * @return void
         */
        openEditLocation(item) {
            this.$router.push({
              name: "locations-edit",
              params: { item: item },
            });
        },
        /**
         * Open delete dialog.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
          this.dialogDelete = true;
          this.locationsToDelete = item.Id;
        },
        /**
         * Closes the delete dialog.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param
         * @return void
         */
        closeDelete() {
          this.dialogDelete = false;
          this.locationsToDelete = null;
          this.getLocations();
        },
        /**
         * Change status of a item.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param 
         * @return void
         */
        deleteItem() {
          axios
            .delete("/api/locations/" + this.locationsToDelete)
            .then((result) => {
              this.closeDelete();
              swal2.fire(
                "Estatus cambiado",
                "Se cambió el estatus correctamente",
                "success"
              );
            });
        },
        /**
         * Open Show component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param Object item
         * @return void
         */
        getShowLocation(item) {
          this.$refs.sendLocation.reciveLocation(item);
          this.dialogShow = true;
        },
        /**
         * Get dialog status from Show component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-05-27
         * @param boolean value
         * @return void
         */
        getDialogShowStatus(value) {
          this.dialogShow = value;
        },
    }
};
</script>

<style>
    .data-table-style{
        margin: 10px;
    }
    .v-chip.success, .v-btn:not(.v-btn--outlined).success, .v-progress-linear .v-progress-linear__background.primary{
      background:#018085 !important 
    }
    .v-icon.primary--text{
      color:#018085 !important;
    }
    .v-pagination .v-pagination__item.v-pagination__item--active{
      background: #018085 !important; 
    }
    .items-showed-text[data-v-2c8c52dd]{
      color: #018085 !important; 
    }
    .v-dialog.v-dialog--active {
        margin-top: 6em;
    }
</style>