<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">Información de la ubicación</span>
        </v-card-title>
        <v-card-text>
          <Inputs :locationToShow="location" :inputsStatus="true"></Inputs>
        </v-card-text>
        <v-container class="d-flex flex-column mb-6">
          <v-card-actions class="mt-5 d-block">
            <form-action-buttons
              @close="cancel"
              :hideSaveBtn="true"
              @save="false"
            ></form-action-buttons>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
  name: "Show",
  props: ["dialog"],
  components: {
    Inputs,
  },
  data: () => ({
    location: {},
  }),
  methods: {
    /**
     * Redirect to index locations
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return void
     */
    cancel() {
      this.$emit("dialogStatus", false);
    },
    /**
     * Receives a location from index component.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param Object location
     * @return void
     */
    reciveLocation(location) {
      this.location = location;
      try {
        this.location.Id = parseInt(location.Id);
        this.location.zAE_Rak_Id = parseInt(location.zAE_Rak_Id);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>