<template>
  <div>
    <div class="search-wrapper" v-bind:class="{ active: searchOpen }">
      <div class="input-holder">
        <input type="text" v-model="search" class="search-input" placeholder="Buscar" />
        <button class="search-icon" v-on:click="close">
          <span />
        </button>
      </div>
      <button class="close" v-on:click="close" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchOpen: false,
      search: ''
    };
  },

  watch: {
    search(val) {
      this.$root.$emit('searchingMenuOption', val);
    }
  },

  methods: {
    /**
     * Close and cleans the searchbox.
     * @auth Octavio Cornejo
     * @date 2021-03-10
     * @param
     * @return void
     */
    close() {
        this.search = '';
        this.searchOpen = !this.searchOpen;
        this.$root.$emit('searchingMenuOption', '');
    }
  }
};
</script>

