<template>
    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-card>
        <v-card-title>
          <span class="headline">Nuevo Concepto Costo</span>
        </v-card-title>
        <v-card-text>
            <v-text-field
                   v-model="conceptCost.Descripcion"
                   :error-messages="descriptionErrors"   
                   placeholder="Nombre"
                   outlined
                   required
                   dense
                   @input="$v.conceptCost.Descripcion.$touch()"
                   @blur="$v.conceptCost.Descripcion.$touch()"
               ></v-text-field>
        </v-card-text>
        <v-container class="d-flex flex-column mb-6">
          <v-card-actions class="mt-5 d-block">
            <form-action-buttons
              @close="close"
              @save="submit"
            ></form-action-buttons>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: "ConceptCost",
    props:["dialog"],
    mixins: [validationMixin],
    validations: {    
        conceptCost: {
            Descripcion: {required}
        }
    },
    data() {
      return {
        conceptCost: {
            Descripcion: "",
            Tipo: "M",
            Monto: 0
        },
        submitStatus:""
      };
    },
    methods:{
        /**
         * Allows calling the post method if the data is correct.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return void
         */
        submit() {
          this.$v.$touch();
          if (this.$v.$invalid) {
            this.submitStatus = "ERROR";
          } else if (!this.$v.$invalid) {
            this.post();
          } else {
            this.submitStatus = "PENDING";
            setTimeout(() => {
              this.submitStatus = "OK";
            }, 500);
          }
        },
        /**
         * Post a new global concept.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param Object data
         * @return void
         */
        post() {
          axios
            .post("/api/global-costs-configurators", this.conceptCost)
            .then(() => {
              swal2.fire(
                "Creado",
                "Se agregaron los datos correctamente",
                "success"
              );
            })
            .catch(function () {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            }).finally(() => {
              this.close();
            });
        },
        close() {
            this.$v.$reset();
            this.conceptCost.Descripcion = "";
            this.$emit("dialogStatus", false);
        }   
    },
    computed:{
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return array
         */
        descriptionErrors() {
          const errors = [];
          if (!this.$v.conceptCost.Descripcion.$dirty) return errors;
          !this.$v.conceptCost.Descripcion.required &&
            errors.push("El campo es requerido");
          return errors;
        },
  }
}
</script>
