<template>
        <v-card-text>
            <ConceptCost :dialog="dialog" v-on:dialogStatus="close"/>
             <form data-app>
                <v-row>
                    <v-col cols="6" md="6">
                        <h6>Costo</h6>
                            <v-select
                              v-model="currentSpecialCost.ConceptosCostos_Id"
                              :error-messages="costErrors"   
                              :items="globalCosts"
                              :readonly="inputsStatus"
                              item-text="Descripcion" 
                              item-value="Id_ConceptoCosto"
                              placeholder="Costo adquisición"
                              outlined
                              required
                              dense
                              @input="$v.currentSpecialCost.ConceptosCostos_Id.$touch()"
                              @blur="$v.currentSpecialCost.ConceptosCostos_Id.$touch()"
                            ></v-select>
                    </v-col>
                    <v-col v-if="showCost == null" cols="6" md="1" style="place-self: center">
                        <v-btn
                          class="mx-2"
                          fab
                          dark
                          small
                          color="success"
                          @click="dialog = true"
                        >
                          <v-icon dark>
                            mdi-plus
                          </v-icon>
                        </v-btn>
                    </v-col>    
                </v-row>
                <v-row class="mb-1">
                    <v-radio-group
                      v-model="currentSpecialCost.Tipo"
                      :error-messages="typeErrors"
                      :readonly="inputsStatus"   
                      row
                      v-on:change="checkInputs"
                      @input="$v.currentSpecialCost.Tipo.$touch()"
                      @blur="$v.currentSpecialCost.Tipo.$touch()" >
                      <v-col cols="6" md="3" style="margin-right: 40px">
                        <h6>Tipo</h6>
                            <v-radio
                              label="Porcentaje"
                              color="#018085"
                              value="P"
                            ></v-radio>
                      </v-col>
                      <v-col cols="6" md="3" style="padding-top: 40px">
                            <v-radio
                              label="Monto"
                              color="#018085"
                              value="M"
                            ></v-radio>
                      </v-col>   
                      <v-col cols="6" md="3" style="padding-top: 40px">
                            <v-radio
                              label="Calculado"
                              color="#018085"
                              value="C"
                            ></v-radio>
                      </v-col>
                    </v-radio-group>
                    <v-col  v-show="showBases" cols="6" md="3" style="padding-top: 50px">
                            <v-select
                              v-model="currentSpecialCost.BaseCostosCalculados_Id"  
                              :items="bases"
                              :readonly="inputsStatus"
                              item-text="Descripcion" 
                              item-value="Id_BaseCostoCalculado"
                              placeholder="Base de cálculo"
                              outlined
                              required
                              dense
                            ></v-select>
                      </v-col>       
                </v-row>
                <h6>Cantidad</h6>
                <v-row>
                    <v-col cols="6" md="2">
                        <v-text-field
                            v-model="currentSpecialCost.Cantidad"
                            :error-messages="amountErrors"
                            :readonly="inputsStatus"   
                            placeholder="0.00"
                            type="number"
                            min="0"
                            step="0.01"
                            outlined
                            required
                            dense
                            @input="$v.currentSpecialCost.Cantidad.$touch()"
                            @blur="$v.currentSpecialCost.Cantidad.$touch()"
                        ></v-text-field>
                    </v-col>         
                </v-row>
            </form>
        </v-card-text>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import ConceptCost from "./ConceptCost";

export default {
    name: "Inputs",
    props:["costsLength", "showCost", "editCost","groupId","inputsStatus"],
    components: {
      ConceptCost
    },
    mounted() {
        this.getGlobalCosts();
        if(this.showCost != null){
          this.currentSpecialCost = this.showCost;
          this.checkInputs();
          this.currentSpecialCost.ConceptosCostos_Id = parseInt(this.showCost.ConceptosCostos_Id);
          if(this.currentSpecialCost.Tipo == 'C') this.currentSpecialCost.BaseCostosCalculados_Id = parseInt(this.showCost.BaseCostosCalculados_Id); 
        }else if(this.editCost != null){
          this.currentSpecialCost = this.editCost;
          this.checkInputs();
          this.currentSpecialCost.ConceptosCostos_Id = parseInt(this.editCost.ConceptosCostos_Id);
          if(this.currentSpecialCost.Tipo == 'C') this.currentSpecialCost.BaseCostosCalculados_Id = parseInt(this.editCost.BaseCostosCalculados_Id); 
        }
    },
    mixins: [validationMixin],
    validations: {
        currentSpecialCost: {
          ConceptosCostos_Id: { required },
          Tipo: { required },
          Cantidad: { required }
        },
    },
    data() {
      return {
        bases: [],
        globalCosts: [],
        submitStatus: "",
        showBases: false,
        dialog: false,
        currentSpecialCost: {
            ConceptosCostos_Id: null,
            Cantidad: null,
            Tipo: "",
            BaseCostosCalculados_Id: null,
            Grupo_Id: null,
            Id: null,
        },
      };
    },
    methods:{
        /**
         * Allows to call the post method or edit if the data is correct.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param 
         * @return void
         */
        validateData() {
          this.$v.$touch();
          if (this.$v.$invalid) {
            this.submitStatus = "ERROR";
          } else if (!this.$v.$invalid) {
            this.editCost != null ? this.edit() : this.post();
          } else {
            this.submitStatus = "PENDING";
            setTimeout(() => {
              this.submitStatus = "OK";
            }, 500);
          }
        },
        /**
         * Post a new special cost.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param 
         * @return void
         */
        post() {
          this.currentSpecialCost.Grupo_Id = this.groupId;
          axios
            .post("/api/configurations/special-costs-concepts", this.currentSpecialCost)
            .then(() => {
              swal2.fire(
                "Creado",
                "Se agregaron los datos correctamente",
                "success"
              );
              this.$emit("dialogStatus", false);
            })
            .catch(function () {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            }).finally(() => {
              this.resetInputs();
            });
        },
        /**
         * Update a special cost.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-04
         * @param
         * @return void
         */
        edit() {
          axios
            .put("/api/configurations/special-costs-concepts/" + this.currentSpecialCost.Id, this.currentSpecialCost)
            .then(() => {
              swal2.fire("Editado", "Se editó correctamente", "success");
              this.$emit("dialogStatus", false);
            })
            .catch(function () {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            }).finally(() => {
              this.resetInputs();
            });
        }, 
        /**
         * Get the global costs and bases from api.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return void
         */
        getGlobalCosts() {
            axios.get("/api/global-costs-configurators").then((result) => {
                this.globalCosts = result.data.globalCosts;
                this.bases = result.data.bases;
            })
            .catch(function () {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            });
        },
        /**
         * Enables and disables inputs depending on the Tipo.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return void
         */
        checkInputs(){
          switch(this.currentSpecialCost.Tipo){
            case 'P':
              this.showBases = false;
              this.currentSpecialCost.BaseCostosCalculados_Id = null;
              break;
            case 'M':
              this.showBases = false;
              this.currentSpecialCost.BaseCostosCalculados_Id = null;
              break;
            case 'C':
              this.showBases = true;
              break;    
          }
        },
        /**
         * Close the dialog when it receives a false value.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return void
         */
        close(value){
            this.getGlobalCosts();
            this.dialog = value;
        },
        /**
         * Reset inputs.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-04
         * @param
         * @return void
         */
        resetInputs(){
          this.$v.$reset();
          this.currentSpecialCost.ConceptosCostos_Id = null;
          this.currentSpecialCost.Cantidad = null;
          this.currentSpecialCost.Tipo = "";
          this.currentSpecialCost.BaseCostosCalculados_Id = null;
          this.currentSpecialCost.Id = null;
          this.showBases = false;
        }        
    },
    computed:{
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return array
         */
        costErrors() {
          const errors = [];
          if (!this.$v.currentSpecialCost.ConceptosCostos_Id.$dirty) return errors;
          !this.$v.currentSpecialCost.ConceptosCostos_Id.required &&
            errors.push("El campo es requerido");
          return errors;
        },
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return array
         */
        typeErrors() {
          const errors = [];
          if (!this.$v.currentSpecialCost.Tipo.$dirty) return errors;
          !this.$v.currentSpecialCost.Tipo.required &&
            errors.push("El campo es requerido");
          return errors;
        },
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return array
         */
        amountErrors() {
          const errors = [];
          if (!this.$v.currentSpecialCost.Cantidad.$dirty) return errors;
          !this.$v.currentSpecialCost.Cantidad.required &&
            errors.push("El campo es requerido");
          return errors;
        }
    },
    watch: {
      /**
      * If there is a new value in showCost update the data in the inputs.
      * @auth José Vega <jose.vega@nuvem.mx>
      * @date 2021-05-03
      * @param
      * @return void
      */
      showCost: function (newVal) {
        if(newVal){
          this.currentSpecialCost = this.showCost;
          this.checkInputs();
          this.currentSpecialCost.ConceptosCostos_Id = parseInt(this.showCost.ConceptosCostos_Id);
          if(this.currentSpecialCost.Tipo == 'C') this.currentSpecialCost.BaseCostosCalculados_Id = parseInt(this.showCost.BaseCostosCalculados_Id); 
        }
      },
      /**
      * If there is a new value in editCost update the data in the inputs.
      * @auth José Vega <jose.vega@nuvem.mx>
      * @date 2021-05-03
      * @param
      * @return void
      */
      editCost: function (newVal) {
        if(newVal){
          this.currentSpecialCost = this.editCost;
          this.checkInputs();
          this.currentSpecialCost.ConceptosCostos_Id = parseInt(this.editCost.ConceptosCostos_Id);
          if(this.currentSpecialCost.Tipo == 'C') this.currentSpecialCost.BaseCostosCalculados_Id = parseInt(this.editCost.BaseCostosCalculados_Id); 
        }
      }
    },
}
</script>