<template>
    <div data-app>
        <layout-wrapper v-if="dialog" transition="scroll-y-transition">
            <v-card class="p-3">
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                    <v-alert
                        v-if="submitHasError"
                        dismissible
                        elevation="5"
                        text
                        type="error"
                        >
                        {{ errorMessage }}
                    </v-alert>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-row>
                            <v-col
                                cols="12"
                                class="py-0"
                                >
                                <n-label text="Nombre del Rol" required :error="$v.editedItem.name.$error"></n-label>
                                <v-text-field
                                    :readonly="editionBlocked"
                                    outlined
                                    dense
                                    v-model="editedItem.name"
                                    placeholder="Nombre del Rol"
                                    :error-messages="nameErrors"
                                    :counter="50"
                                    required
                                    @input="$v.editedItem.name.$touch()"
                                    @blur="$v.editedItem.name.$touch()"
                                    ></v-text-field>
                            </v-col>
                            <v-col
                                cols="12"
                                class="py-0"
                                >
                                <n-label text="Descripción del Rol" required :error="$v.editedItem.description.$error"></n-label>
                                <v-text-field
                                    :readonly="editionBlocked"
                                    outlined
                                    dense
                                    v-model="editedItem.description"
                                    placeholder="Descripción del Rol"
                                    :error-messages="descriptionErrors"
                                    :counter="100"
                                    required
                                    @input="$v.editedItem.description.$touch()"
                                    @blur="$v.editedItem.description.$touch()"
                                    ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <form-action-buttons
                        :hideSaveBtn="editionBlocked"
                        :isLoading="submitIsPending"
                        @close="close"
                        @save="save"
                    ></form-action-buttons>
                </v-card-actions>
            </v-card>
        </layout-wrapper>
        <layout-wrapper v-else transition="scroll-y-transition">
            <v-card class="p-3">

                <v-dialog v-model="dialogPermissions" max-width="65%">
                    <v-card>
                        <v-card-title class="headline">
                            Asignación de permisos: <b>{{ editedItem.name }}</b>
                        </v-card-title>
                        <v-card-text>
                            <permissions-table :role="editedItem" :dialog2="dialogPermissions" v-on:closeDialog="closePermissions" v-on:showSnackbar="showSnackbar"></permissions-table>
                        </v-card-text>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                        <v-card-title class="headline" style="justify-content: center">¿Estás seguro de eliminar este registro?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                            <v-btn outlined color="red" text @click="deleteItemConfirm">Sí, eliminalo</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-data-table
                    :headers="headers"
                    :items="roles"
                    item-key="id"
                    class="elevation-1"
                    :search="search"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    hide-default-footer
                    @page-count="pageCount = $event"
                    no-data-text="No hay ningún registro"
                    no-results-text="No se encontraron coincidencias"
                    :loading="loading"
                    loading-text="Cargando... Porfavor espere"
                    >
                    <template v-slot:top>
                        <datatable-header
                            title="Roles"
                            :disable-creation="!permissions.includes('Roles.create')"
                            @searching="search = $event"
                            @open="openDialog">
                        </datatable-header>
                    </template>
                    <template v-slot:item.status="{ item }">
                        <chip-status :item="item"></chip-status>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon v-if="permissions.includes('Roles.edit')"
                                    small
                                    class="mr-2"
                                    color="primary"
                                    @click="editItem(item)"
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    mdi-pencil
                                </v-icon>
                            </template>
                            <span>Editar</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon v-if="permissions.includes('Roles.edit')"
                                    small
                                    color="primary"
                                    @click="showPermissions(item)"
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    mdi-lock
                                </v-icon>
                            </template>
                            <span>Permisos</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon v-if="permissions.includes('Roles.view')"
                                    small
                                    color="primary"
                                    @click="viewItem(item)"
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    mdi-eye
                                </v-icon>
                            </template>
                            <span>Mostrar</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon v-if="permissions.includes('Roles.delete')"
                                    small
                                    color="primary"
                                    @click="deleteItem(item)"
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    mdi-delete
                                </v-icon>
                            </template>
                            <span>Eliminar</span>
                        </v-tooltip>
                    </template>
                </v-data-table>
                <pagination
                    :last="pageCount"
                    :current="page"
                    :itemsPerPage="itemsPerPage"
                    :total="this.roles.length"
                    v-on:input="page = $event"
                ></pagination>
            </v-card>
        </layout-wrapper>

        <v-snackbar
            v-model="snackbar"
            absolute
            right
            top
            color="success"
            >
            {{ textSnackbar }}
            <template v-slot:action="{ attrs }">
                <v-btn
                    color="red"
                    v-bind="attrs"
                    icon
                    @click="snackbar = false"
                    >
                    <v-icon>
                        mdi-close
                    </v-icon>
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
import store from "../../store";
import LayoutWrapper from "../../Layout/Components/LayoutWrapper.vue";
import PermissionsTable from "./permissions.vue";
import Pagination from "../../components/pagination2.vue";
import Label from "../../components/label.vue";
import FormActionButtons from "../../components/formActionButtons.vue";
import DatatableHeader from "../../components/datatableHeader.vue";

import {
    validationMixin
} from "vuelidate";
import {
    required,
    maxLength,
    minLength
} from "vuelidate/lib/validators";

/**
 * Validates if the item has a unique value.
 * @auth Octavio Cornejo
 * @date 2021-02-22
 * @param String value
 * @param Object item
 * @return boolean
 */
const isUnique = (value, item) => {
    return item.isUnique;
}

export default {
    components: {
        "layout-wrapper": LayoutWrapper,
        "permissions-table": PermissionsTable,
        "pagination": Pagination,
        "n-label": Label,
        "form-action-buttons": FormActionButtons,
        "datatable-header": DatatableHeader,
    },
    mixins: [validationMixin],
    validations: {
        editedItem: {
            name: {
                required,
                maxLength: maxLength(50),
                isUnique
            },
            description: {
                required,
                maxLength: maxLength(100)
            },
        }
    },
    data: () => ({
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        icon: "pe-7s-key",
        search: '',
        dialog: false,
        dialogDelete: false,
        loading: false,
        dialogPermissions: false,
        valid: true,
        editedIndex: -1,
        submitStatus: null,
        errorMessage: '',
        show1: false,
        snackbar: false,
        textSnackbar: '',
        editionBlocked: false,
        editedItem: {
            name: '',
            description: '',
            status: 1,
            isUnique: true
        },
        defaultItem: {
            name: '',
            description: '',
            status: 1,
            isUnique: true
        },
        headers: [{
                text: 'Id',
                align: 'start',
                sortable: true,
                value: 'id',
            },
            {
                text: 'Nombre',
                sortable: true,
                value: 'name',
            },
            {
                text: 'Descripción',
                value: 'description'
            },
            {
                text: 'Estatus',
                value: 'status'
            },
            {
                text: 'Acciones',
                value: 'actions',
                sortable: false
            },
        ],
        roles: [],

    }),

    mounted() {
        this.getData();
        this.editedItem.isUnique = true;
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
        'editedItem.name'() {
            if (!this.editedItem.isUnique)
                this.editedItem.isUnique = true;
        },
        dialogPermissions(val) {
            val || this.closePermissions()
        },
    },

    computed: {
         /**
         * Get global permissions of current user.
         * @auth José Vega
         * @date 2021-05-07
         * @param
         * @return Array
         */
        permissions() {
            return store.state.permissions;
        },
        /**
         * Sets the form title.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return String
         */
        formTitle() {
            if (this.editionBlocked) return 'Detalles Rol';
            return this.editedIndex === -1 ? 'Alta de Rol ' : 'Editar Rol'
        },
        /**
         * Validates if the form submit is pending.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return boolean
         */
        submitIsPending() {
            return this.submitStatus == 'PENDING';
        },
        /**
         * Validates if the form submit has error.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return boolean
         */
        submitHasError() {
            return this.submitStatus == 'ERROR';
        },
        /**
         * Validates name input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        nameErrors() {
            const errors = []

            !this.$v.editedItem.name.required

            if (!this.editedItem.isUnique)
            !this.editedItem.isUnique && errors.push('Este valor ya se encuentra registrado.')

            if (!this.$v.editedItem.name.$dirty) return errors
            !this.$v.editedItem.name.maxLength && errors.push('No puede ser mayor a la longitud estipulada.')
            !this.$v.editedItem.name.required && errors.push('Este campo es requerido')
            !this.$v.editedItem.name.isUnique && errors.push('Este valor ya se encuentra registrado.')

            return errors
        },
        /**
         * Validates input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return array errors
         */
        descriptionErrors() {
            const errors = []
            if (!this.$v.editedItem.description.$dirty) return errors
            !this.$v.editedItem.description.maxLength && errors.push('No puede ser mayor a la longitud estipulada.')
            !this.$v.editedItem.description.required && errors.push('Este campo es requerido')
            return errors
        },
    },

    methods: {
        /**
         * Gets all activated rows.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        getData() {
            this.loading = true;

            axios.get('/api/roles')
                .then(res => {
                    this.roles = res.data.data;
                }).catch(er => {
                    console.warn(er.response);
                }).then(() => this.loading = false);
        },
        /**
         * Sets te selected item as editItem to further actions.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param object item
         * @return void
         */
        editItem(item) {
            this.editedIndex = this.roles.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
            this.editionBlocked = false;
        },
        /**
         * Sets selected item as editItem to further actions.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param object item
         * @return void
         */
        deleteItem(item) {
            this.editedIndex = this.roles.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },
        /**
         * Shows permissions dialog.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param object item
         * @return void
         */
        showPermissions(item) {
            this.editedIndex = this.roles.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogPermissions = true;
        },
        /**
         * Request to delete the selected item.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        deleteItemConfirm() {
            var url = `/api/roles/${this.editedItem.id}`
            axios.delete(url)
                .then(res => {
                    swal2.fire(
                        'Eliminado',
                        'Se eliminó el registro correctamente',
                        'success'
                    );
                    this.roles.splice(this.editedIndex, 1)
                    this.closeDelete();
                })
                .catch(er => {
                    this.submitStatus = 'ERROR';
                    this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
                });

        },
        /**
         * Closes and restart the form.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        close() {
            this.$v.$reset();
            this.dialog = false
            this.submitStatus = null;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        /**
         * Closes and restart the delete dialog.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        closePermissions() {
            this.dialogPermissions = false;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },
        /**
         * Validates the form and then saves/updates the given data.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        save() {
            this.$v.$touch()

            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR';
                this.errorMessage = 'Es necesario corregir los campos con error.';
            } else {
                this.submitStatus = 'PENDING'

                if (this.editedIndex > -1) {
                    this.saveEdited();
                } else {
                    this.saveNew();
                }
            }
        },
        /**
         * Saves a new register with the given data.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        saveNew() {
            axios.post('/api/roles', this.editedItem)
                .then(res => {
                    this.submitStatus = null;
                    this.editedItem.id = res.data.data.id;
                    this.roles.push(this.editedItem)
                    this.close()
                    swal2.fire(
                        'Guardado',
                        'Se guardó el registro correctamente',
                        'success'
                    );
                }).catch(this.handleError);
        },
        /**
         * Updates a new register with the given data.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        saveEdited() {
            var url = `/api/roles/${this.editedItem.id}`
            axios.put(url, this.editedItem)
                .then(res => {
                    this.submitStatus = null;
                    Object.assign(this.roles[this.editedIndex], this.editedItem)
                    this.close()
                    swal2.fire(
                        'Actualizado',
                        'Se actualizó el registro correctamente',
                        'success'
                    );
                }).catch(this.handleError);
        },
        /**
         * Opens the formulary.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return void
         */
        openDialog() {
            this.dialog = true;
            this.editionBlocked = false;
        },
        /**
         * Gets the status name.
         * @auth Octavio Cornejo
         * @date 2021-02-19
         * @param Object item
         * @return String
         */
        getStatusName(item) {
            return item.status ? 'Activo' : 'Inactivo'
        },
        /**
         * Gets status color.
         * @auth Octavio Cornejo
         * @date 2021-02-19
         * @param Object item
         * @return String
         */
        getStatusColor(item) {
            return item.status ? 'success' : 'red';
        },
        /**
         * Handle errors from failed requests.
         * @auth Octavio Cornejo
         * @date 2021-02-25
         * @param Object er
         * @return void
         */
        handleError(er) {
            const res = er.response;
            console.error(res);

            this.submitStatus = 'ERROR';
            this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
            if (res.status >= 500)
                return;

            this.errorMessage = res.data.message;
            for (const i in res.data.errors) {
                this.editedItem.isUnique = false;
            }

        },
        /**
         * Shows the snackbar
         * @auth Octavio Cornejo
         * @date 2021-02-24
         * @param String text
         * @return void
         */
        showSnackbar(text) {
            this.snackbar = true;
            this.textSnackbar = text;
        },
        /**
         * Show details vie.
         * @auth Octavio Cornejo
         * @date 2021-03-09
         * @param Object item
         * @return void
         */
        viewItem(item) {
            this.editedIndex = this.roles.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
            this.editionBlocked = true
        },
    }
};
</script>
