<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="permissions"
            :items-per-page="10"
            class="elevation-1"
            hide-default-footer
            :loading="submitIsPending"
            loading-text="Cargando... Porfavor espere"
        >
            <template v-slot:item.all="{ item }">
                <v-checkbox
                    v-model="item.all"
                    color="success"
                    @click="checkChanged(item)"
                ></v-checkbox>
            </template>

            <template v-slot:item.create="{ item }">
                <v-checkbox
                    v-model="item.create"
                    color="success"
                    @click="checkChange(item)"
                ></v-checkbox>
            </template>

            <template v-slot:item.edit="{ item }">
                <v-checkbox
                    v-model="item.edit"
                    color="success"
                    @click="checkChange(item)"
                ></v-checkbox>
            </template>

            <template v-slot:item.view="{ item }">
                <v-checkbox
                    v-model="item.view"
                    color="success"
                    @click="checkChange(item)"
                ></v-checkbox>
            </template>

            <template v-slot:item.delete="{ item }">
                <v-checkbox
                    v-model="item.delete"
                    color="success"
                    @click="checkChange(item)"
                ></v-checkbox>
            </template>
        </v-data-table>
        <form-action-buttons
          @close="close"
          @save="save"
          :isLoading="submitIsPending"
        ></form-action-buttons>
    </div>
</template>

<script>
export default {
    props: {
        role: Object,
        dialog2: Boolean
    },
    data() {
        return {
            submitStatus: null,
            headers: [{
                    text: 'Módulo',
                    align: 'start',
                    value: 'perm_display_name',
                },
                {
                    text: 'Todos',
                    sortable: false,
                    value: 'all'
                },
                {
                    text: 'Crear',
                    sortable: false,
                    value: 'create'
                },
                {
                    text: 'Editar',
                    sortable: false,
                    value: 'edit'
                },
                {
                    text: 'Consulta',
                    sortable: false,
                    value: 'view'
                },
                {
                    text: 'Eliminar',
                    sortable: false,
                    value: 'delete'
                },
            ],
            permissions: [],
        }
    },
    mounted(){
        this.getAvailablePermissions();
    },
    watch: {
        dialog2(val) {
            if (val)
                this.getAvailablePermissions();
        }
    },
    computed: {
        /**
         * Validates if the form submit is pending.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return boolean
         */
        submitIsPending() {
            return this.submitStatus == 'PENDING';
        },
        /**
         * Validates if the form submit has error.
         * @auth Octavio Cornejo
         * @date 2021-02-17
         * @param
         * @return boolean
         */
        submitHasError() {
            return this.submitStatus == 'ERROR';
        },
    },
    methods: {
        /**
         * Saves the permissions status and relates to selected role.
         * @auth Octavio Cornejo
         * @date 2021-02-24
         * @param
         * @return void
         */
        save() {
            this.submitStatus = 'PENDING';
            const url = `/api/roles/${this.role.id}/sync-permissions`;
            axios.post(url, this.permissions)
                .then(res => {
                    this.close();
                    this.submitStatus = null;
                    this.$emit('showSnackbar', 'Los permisos fueron asignados');
                }).catch(er => this.handleError);
        },
        /**
         * Closes the opened dialog.
         * @auth Octavio Cornejo
         * @date 2021-02-24
         * @param
         * @return void
         */
        close() {
            this.$emit('closeDialog');
        },
        /**
         * Get all available permissions with the status of each permission related to the selected role.
         * @auth Octavio Cornejo
         * @date 2021-02-24
         * @param
         * @return void
         */
        getAvailablePermissions() {
            const url = `/api/roles/${this.role.id}/permissions`;
            axios.get(url)
                .then(res => {
                    this.permissions = res.data.permissions;
                }).catch(er => this.handleError);
        },
        /**
         * Changes the status of permissions depending on 'all' input value.
         * @auth Octavio Cornejo
         * @date 2021-02-23
         * @param Object item
         * @return void
         */
        checkChanged(item) {
            if (item.all) {
                item.create = true;
                item.edit = true;
                item.view = true;
                item.delete = true;
            } else {
                item.create = false;
                item.edit = false;
                item.view = false;
                item.delete = false;
            }
        },
        /**
         * Changes the status of 'all' depending on other input value.
         * @auth Oscar Castellanos
         * @date 2021-06-11
         * @param Object item
         * @return void
         */
        checkChange(item) {
            if (item.create==false || !item.edit==false || !item.view==false || !item.delete==false) {
                item.all = false;
            }
        },
        /**
         * Handles the error responses.
         * @auth Octavio Cornejo
         * @date 2021-02-24
         * @param Object er
         * @return void
         */
        handleError(er) {
            const res = er.response;
            console.error(res);

            this.submitStatus = 'ERROR';
            this.errorMessage = 'Ocurrió un error. Intente en otro momento.';
            if (res.status >= 500)
                return;

            this.errorMessage = res.data.message;

        }
    }
}
</script>
