<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card class="overflow-hidden">
        <v-card-text class="p-0">
          <v-row>
            <v-col cols="12">
              <v-icon 
              medium
              role="button"
              @click="$emit('close-capturar-productos')"
              class="float-right"
              color="primary">mdi-close
              </v-icon>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-title>
          <span class="headline">Capturar productos</span>
        </v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="addPickingFormValid" lazy-validation>
              <v-row>
                <v-col
                    cols="12"
                    sm="12"
                    md="8"
                    >
                    <n-label text="Capturar/Leer código de barras de la caja de picking" class="d-inline"
                    required :error="$v.addPickingForm.pickingBoxBarCode.$error"></n-label>
                    <v-icon
                        class="float-right"
                        large
                        color="primary">
                        mdi-barcode
                    </v-icon>
                    <v-text-field
                        outlined
                        dense
                        required
                        :error-messages="pickingBoxBarCodeErrors"
                        v-model="addPickingForm.pickingBoxBarCode"
                        placeholder="000000000000"
                        >
                    </v-text-field>
                  </v-col>
                </v-row>
              <v-row>
                <v-col
                    cols="12"
                    sm="12"
                    md="8"
                    >
                    <n-label text="Capturar/Leer código de barras del producto" class="d-inline"
                    required :error="$v.addPickingForm.productBarCode.$error"></n-label>
                    <v-icon
                        class="float-right"
                        large
                        color="primary">
                        mdi-barcode
                    </v-icon>
                    <v-text-field
                        outlined
                        dense
                        required
                        :error-messages="productBarCodeErrors"
                        v-model="addPickingForm.productBarCode"
                        placeholder="000000000000">
                    </v-text-field>
                </v-col>
                <v-col
                    cols="12"
                    sm="12"
                    md="4">
                  <v-btn
                      id="capturar_productos_button"
                      block
                      color="primary"
                      @click="addPicking">
                      Agregar
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
            <p class="text-primary">{{selectedProduct.quantity}} productos</p>
          </v-card-text>
          <v-card-text>
            <v-form ref="form" v-model="incompleteAssortmentFormValid" lazy-validation>
              <v-row>
                <v-col 
                    cols="12"
                    sm="12"
                    md="6">
                  <n-label text="Surtido completo de productos"></n-label>
                  <v-radio-group
                    v-model="completeAssortmentForm.completeAssortment"
                    class="mt-0"
                    row>
                    <v-radio
                      class="radio-component"
                      label="Si"
                      value="1"
                    ></v-radio>
                    <v-radio
                      class="radio-component"
                      label="No"
                      value="0"
                    ></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col 
                    cols="12"
                    sm="12"
                    md="6">
                    <v-select
                        v-if="completeAssortmentForm.completeAssortment == '0'"
                        outlined
                        dense
                        :error-messages="incompleteAssortmentReasonErrors"
                        :items="incompleteAssortmentReasons"
                        v-model="completeAssortmentForm.incompleteAssormentReason"
                        placeholder="Razón"
                        item-text="description"
                        item-value="id"
                        >
                    </v-select>
                </v-col>
              </v-row>
            </v-form>
            <v-container class="d-flex flex-column mb-6">
              <v-card-actions class="mt-5 d-block">
                <v-row>
                    <v-col cols="12">
                        <v-btn
                            v-if="completeAssortmentForm.completeAssortment == '0'"
                            block
                            color="primary"
                            :loading="false"
                            @click="registerIncompletedAssortmentReason">
                            Guardar
                        </v-btn>
                    </v-col>
                </v-row>
              </v-card-actions>
            </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {
    validationMixin
} from "vuelidate";
import {
    required
} from "vuelidate/lib/validators";

export default {
  props: ['dialog', 'incompleteAssortmentReasons', 'selectedProduct'],
    mixins: [validationMixin],
    validations: {
        addPickingForm: {
            pickingBoxBarCode: {
                required,
            },
            productBarCode: {
                required,
            },
        },
        completeAssortmentForm: {
          incompleteAssormentReason: { required }
        }
    },
  data: () => ({
    addPickingFormValid: true,
    incompleteAssortmentFormValid: true,
    incompleteProductsReasons: [],
    submitStatus: null,
    errorMessage: '',
    addPickingForm: {
      pickingBoxBarCode: '',
      productBarCode: '',
    },
    completeAssortmentForm: {
      completeAssortment: '',
      incompleteAssormentReason: ''
    }
  }),
  mounted() {
    this.incompleteProductsReasons = this.incompleteAssortmentReasons
  },
  computed: {
      pickingBoxBarCodeErrors() {
        const errors = []
        if (!this.$v.addPickingForm.pickingBoxBarCode.$dirty) return errors
        !this.$v.addPickingForm.pickingBoxBarCode.required && errors.push('Este campo es requerido')
        return errors
      },
      productBarCodeErrors() {
        const errors = []
        if (!this.$v.addPickingForm.productBarCode.$dirty) return errors
        !this.$v.addPickingForm.productBarCode.required && errors.push('Este campo es requerido')
        return errors
      },
      incompleteAssortmentReasonErrors() {
        const errors = []
        if (!this.$v.completeAssortmentForm.incompleteAssormentReason.$dirty) return errors
        !this.$v.completeAssortmentForm.incompleteAssormentReason.required && errors.push('Este campo es requerido')
        return errors
      }
  },
  methods: {
    /**
     * registers product's incomplete assortment reason
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     *
     */
    registerIncompletedAssortmentReason() {

      this.$v.completeAssortmentForm.incompleteAssormentReason.$touch()
      if (this.$v.completeAssortmentForm.incompleteAssormentReason.$invalid) return;

      let data = {
        Id_Prod1: this.selectedProduct.id, 
        shopping_cart_id: this.selectedProduct.shoppingCartId,
        incomplete_assortment_reason_id: this.completeAssortmentForm.incompleteAssormentReason
      }

      axios.patch('/api/picking/incomplete-assortment-reason', data)
        .then((res) => {
          console.log(res.data);
            this.selectedProduct.incompleteAssortmentReason = res.data.incompletedAssortmentReason
            swal2.fire(
                '',
                'Se ha registrado la razón de surtido incompleto correctamente.',
                'success'
            );
            this.$emit('close-capturar-productos')
        }).catch(this.handleError)
    },
    /**
     * Adds a new picking
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     *
     */
    addPicking() {
      this.$v.addPickingForm.pickingBoxBarCode.$touch()
      this.$v.addPickingForm.productBarCode.$touch()
      if (this.$v.addPickingForm.pickingBoxBarCode.$invalid || this.$v.addPickingForm.productBarCode.$invalid) return;

      let data = {
        boxBarCode: this.addPickingForm.pickingBoxBarCode, 
        productBarCode: this.addPickingForm.productBarCode,
        productId: this.selectedProduct.id,
        shoppingCartId: this.selectedProduct.shoppingCartId
      };
      axios.post('/api/picking', data)
      .then((res) => {
          this.selectedProduct.quantity = res.data.productAssortmentQuantity
          swal2.fire(
              '',
              'Producto capturado correctamente.',
              'success'
          );
          if(res.data.orderCompletedAssortment) {
            this.$emit('capturing-productos-completed', this.selectedProduct)
          }
      }).catch(this.handleError)
    }
  },
  /**
   * Shows request errors information to user
   *
   * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
   * created 30/04/2021
   * @params Object error
   * @return void
   *
   */
  handleError(error) {
      console.error(error)
      swal2.fire(
          '',
          'Algo salió mal, vuelva a intentarlo más tarde.',
          'danger'
      );
  }
}
</script>

<style scoped>
.mdi-barcode {
  font-size: 30px !important;
}
#capturar_productos_button {
  margin-top: calc(22px + 0.5rem) !important;
}
.v-select {
  margin-top: calc(22px + 0.5rem) !important;
}
.radio-component > .v-label {
  margin-bottom: 0 !important;
}
.v-select--chips {
  margin-top: 0 !important;
}
</style>
</script>
<style>
.radio-component > .v-label {
  margin-bottom: 0 !important;
}
</style>