<template>
    <div>
        <v-chip
            :color="getStatusColor(item)"
            dark
            small
            >
            {{ getStatusName(item) }}
        </v-chip>
    </div>
</template>

<script>
export default {
    props: {
        item: Object
    },
    data: () => ({
      status: {
        0: { name: 'Pendiente', class: 'warning'},
        1: { name: 'Aprobado', class: 'green'}
      }
    }),
    methods: {
        /**
         * Gets the status name.
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * @date 2021-03-03
         * @param Object item
         * @return String
         */
        getStatusName(item) {
            return this.status[item.Estatus].name;
        },
        /**
         * Gets status color.
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * @date 2021-03-03
         * @param Object item
         * @return String
         */
        getStatusColor(item) {
             return this.status[item.Estatus].class;
        },
    }
}
</script>
