<template>
    <div>
        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-icon v-if="!showDisabled"
                    medium
                    class="mr-2"
                    color="primary"
                    v-bind="attrs"
                    @click="$emit('view', item)"
                    v-on="on">
                    mdi-basket-fill
                </v-icon>
            </template>
            <span>Mostrar</span>
        </v-tooltip>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
        showDisabled: {
            type: Boolean,
            default: false,
        },
    },
}
</script>
