<template>
    <div class="mb-3">
        <v-toolbar flat>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-spacer style="text-align: -webkit-center;"></v-spacer>            
        </v-toolbar>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        },
    },
    data() {
        return {
            search: ''
        }
    },
    watch: {
        /**
         * Watch if search value has changed and emit an event to the parent component.
         * @auth Octavio Cornejo
         * @date 2021-03-08
         * @param String newVal
         * @return void
         */
      	search: function(newVal) {
            this.$emit('searching', newVal);
        }
    }
}
</script>
