<template>
    <div>
        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-icon v-if="!completedAssortment && !item.incompleteAssortmentReason"
                    medium
                    color="primary"
                    v-bind="attrs"
                    @click="$emit('captura-productos', item)"
                    v-on="on">
                    mdi-barcode
                </v-icon>
                <v-icon v-else-if="completedAssortment"
                    medium
                    class="rounded-icon">
                    mdi-check
                </v-icon>
                <v-icon v-else
                    medium
                    class="triangle-icon"
                    v-bind="attrs"
                    @click="$emit('productos-reemplazados', item)"
                    v-on="on">
                    mdi-exclamation
                </v-icon>
            </template>
            <span>Mostrar</span>
        </v-tooltip>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
    },
    computed: {
      /**
       * Determines wheter a product's assortment is completed or not
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 22/06/2021
       * @params
       * @return void
       *
       */
      completedAssortment() {
        return this.item.quantity[0] == this.item.quantity[2]
      },
    }
}
</script>

<style scoped>
.triangle-icon {
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25px solid #f28500;
  color: white !important;
}
.mdi-exclamation::before {
  padding-top: 28px;
}
.rounded-icon {
  border-radius: 12px;
  color: white !important;
  background: #3f9d2f;
}
</style>
