<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card class="overflow-hidden">
        <v-card-text class="p-0">
          <v-row>
            <v-col cols="12">
              <v-icon 
              medium
              role="button"
              @click="$emit('close-productos-reemplazados')"
              class="float-right"
              color="primary">mdi-close
              </v-icon>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-title>
          <span class="headline">Observaciones</span>
        </v-card-title>
        <v-card-text>
            <v-form ref="form" lazy-validation>
              <v-row>
                <v-col
                    cols="12"
                    sm="12"
                    md="8"
                    >
                    <n-label text="Motivo de devolución"></n-label>
                    <v-textarea
                      solo
                      name="input-7-4"
                      disabled
                      readonly
                      :value="selectedProduct.incompleteAssortmentReason.description"
                      label="Observaciones"
                    ></v-textarea>
                  </v-col>
                </v-row>
            </v-form>
          </v-card-text>
          <v-container class="d-flex flex-column mb-6">
            <v-card-actions class="mt-5 d-block">
              <v-row>
                  <v-col cols="12">
                      <v-btn
                          block
                          color="primary"
                          :loading="false"
                          @click="completeAssortment">
                          Productos reemplazados
                      </v-btn>
                  </v-col>
              </v-row>
            </v-card-actions>
          </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>

export default {
  props: ['dialog', 'selectedProduct'],
  data: () => ({
    submitStatus: null,
  }),
  methods: {
    /**
     * Marks shopping cart product assort as completed
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    completeAssortment() {
      let data = {
        idProd: this.selectedProduct.id,
        shoppingCartId: this.selectedProduct.shoppingCartId
      };
      axios.patch('/api/picking/products-replaced', data)
        .then((res) => {
          console.log(res.data);
            swal2.fire(
                '',
                'El surtido del producto se ha marcado como completo correctamente.',
                'success'
            );
            if(res.data.orderCompletedAssortment)
              this.$emit('productos-reemplazados-completed', this.selectedProduct)
        }).catch(this.handleError)
    },
    /**
     * Shows request errors information to user
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 30/04/2021
     * @params Object error
     * @return void
     *
     */
    handleError(error) {
        console.error(error)
        swal2.fire(
            '',
            'Algo salió mal, vuelva a intentarlo más tarde.',
            'danger'
        );
    }
  }
}
</script>