<template>
    <div data-app>
        <layout-wrapper transition="scroll-y-transition">
          <captura-productos-modal :dialog="showCapturaProductos" v-if="showCapturaProductos" @close-capturar-productos="closeCapturarProductosModal"
          :incompleteAssortmentReasons="incompleteAssortmentReasons" :selectedProduct="selectedProduct"
          @capturing-productos-completed="capturingProductsCompleted" @incomplete-assortment-reason="incompleteAssortmentReason">
          </captura-productos-modal>
          <productos-reemplazados-modal :dialog="showProductosReemplazados" v-if="showProductosReemplazados" 
          @close-productos-reemplazados="closeProductosReemplazadosModal" :selectedProduct="selectedProduct"
          @productos-reemplazados-completed="productsReemplazadosCompleted">
          </productos-reemplazados-modal>
            <v-card class="p-3">
                <v-card-title>
                    <span class="headline">Picking</span>
                </v-card-title>
                <v-card-text>
                  <v-row>
                      <v-col
                          cols="12"
                          sm="12"
                          md="6"
                          lg="4"
                          >
                          <n-label text="No. de pedido"></n-label>
                          <v-text-field
                              outlined
                              dense
                              :value="orderDetails.orderId"
                              :loading="loadingData"
                              placeholder="No. de pedido"
                              readonly
                              disabled
                              ></v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="12"
                          md="6"
                          lg="4"
                          >
                          <n-label text="Responsable"></n-label>
                          <v-text-field
                              outlined
                              dense
                              :value="orderDetails.responsible"
                              :loading="loadingData"
                              placeholder="Responsable"
                              readonly
                              disabled
                              ></v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="12"
                          md="6"
                          lg="4"
                          >
                          <n-label text="Fecha y hora"></n-label>
                          <v-text-field
                              outlined
                              dense
                              :value="orderDetails.orderDateTime"
                              :loading="loadingData"
                              placeholder="Fecha y hora"
                              readonly
                              disabled
                              ></v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="12"
                          md="6"
                          lg="4"
                          >
                          <n-label text="Emprendedor"></n-label>
                          <v-text-field
                              outlined
                              dense
                              :value="orderDetails.enterprising"
                              :loading="loadingData"
                              placeholder="Emprendedor"
                              readonly
                              disabled
                              ></v-text-field>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="12"
                          md="6"
                          lg="8"
                          >
                          <n-label text="Caja(s) de picking" class="d-inline"></n-label>
                          <v-icon
                              class="float-right"
                              large
                              color="primary">
                              mdi-barcode
                          </v-icon>
                          <v-combobox
                            outlined
                            dense
                            :value="orderDetails.pickingContainers"
                            chips
                            multiple
                            readonly
                            :loading="loadingData"
                            disabled
                          ></v-combobox>
                      </v-col>
                  </v-row>
                </v-card-text>
                <v-card-text>
                  <v-data-table
                      :headers="headers"
                      :items="orderDetails.products"
                      item-key="id"
                      class="elevation-1"
                      :search="search"
                      :page.sync="page"
                      :items-per-page="itemsPerPage"
                      hide-default-footer
                      @page-count="pageCount = $event"
                      no-data-text="No hay ningún registro"
                      no-results-text="No se encontraron coincidencias"
                      :loading="loadingData"
                      loading-text="Cargando... Porfavor espere">
                      <template v-slot:top>
                          <datatable-header
                              title="Productos a surtir"
                              @searching="search = $event">
                          </datatable-header>
                      </template>
                      <template v-slot:[`item.description`]="{ item }">
                          {{ getProductDescription(item.description) }}
                      </template>
                      <template v-slot:[`item.location`]="{ item }">
                          {{ getProductLocation(item.location) }}
                      </template>
                      <template v-slot:[`item.actions`]="{ item }">
                          <action-buttons
                              :item="item"
                              @captura-productos="openCapturaProductosModal"
                              @productos-reemplazados="openProductosReemplazadosModal">
                          </action-buttons>
                      </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-row class="justify-content-end">
                      <v-col cols="12" sm="12" md="4">
                          <v-btn
                              block
                              color="primary"
                              text
                              outlined
                              @click="$emit('close-show')">
                              Regresar al listado
                          </v-btn>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                          <v-btn
                              block
                              color="primary"
                              text
                              :disabled="!orderDetails.completedAssortment"
                              :loading="false"
                              @click="sendToPacking">
                              Mandar a packing
                          </v-btn>
                      </v-col>
                  </v-row>
                </v-card-actions>
            </v-card>
        </layout-wrapper>
    </div>
</template>

<script>
import LayoutWrapper from "../../../Layout/Components/LayoutWrapper.vue";
import dataTableActionButtons  from "./orderProductsDatatableActionButtons.vue";
import dataTableHeader from "./orderProductsDatatableHeader.vue";
import capturaProductosModal from './capturaProductosModal.vue';
import productosReemplazadosModal from './productosReemplazadosModal.vue';

export default {
  props: ['orderId'],
  components: {
    'layout-wrapper': LayoutWrapper,
    "action-buttons": dataTableActionButtons,
    "datatable-header": dataTableHeader,
    "captura-productos-modal": capturaProductosModal,
    "productos-reemplazados-modal": productosReemplazadosModal,
  },
  data: () => ({
    headers: [
      {
          text: 'Clave',
          value: 'id',
          align: 'start',
      },
      {
          text: 'Descripción',
          value: 'description'
      },
      {
          text: 'Ubicación',
          value: 'location'
      },
      {
          text: 'Caja Picking',
          value: 'pickingContainer'
      },
      {
          text: 'Cantidad',
          value: 'quantity'
      },
      {
          text: 'Opciones',
          value: 'actions',
          sortable: false
      },
    ],
    search: '',
    page: 1,
    itemsPerPage: 10,
    loading: false,
    pageCount: 0,
    loadingData: false,
    orderDetails: {
        orderId: '',
        responsible: '',
        orderDateTime: '',
        enterprising: '',
        completedAssortment: false,
        negoContainers: [],
        products: [],
    },
    selectedProduct: {},
    incompleteAssortmentReasons: [],
    showCapturaProductos: false,
    showProductosReemplazados: false
  }),
  created() {
    this.getDetails()
  },
  methods: {
    /**
     * An incomplete assortment reason was registered
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 23/06/2021
     * @params Objkect item
     * @return void
     *
     */
    incompleteAssortmentReason(product){
      this.orderDetails.products[this.orderDetails.products.indexOf(product)].incompleteAssortmentReason = ''
    },
    /**
     * sends order to packing
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    sendToPacking() {
        axios.patch(`/api/picking/turn-order-to-packing/${this.orderDetails.orderId}`)
        .then(() => {
          swal2.fire(
              '',
              'Se ha enviado el pedido a packing correctamente.',
              'success'
          );
          this.$emit('order-sent-to-packing');
        }).catch(this.handleError);
    },
    /**
     * product reemplazados has been completed for shopping cart product
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     *
     */
    productsReemplazadosCompleted(item) {
        this.orderDetails.products[this.orderDetails.products.indexOf(item)].actions = ''
        this.orderDetails.completedAssortment = true
        this.showCapturaProductos = false
    },
    /**
     * Capturing product has been completed for shopping cart product
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     *
     */
    capturingProductsCompleted(item) {
        this.orderDetails.products[this.orderDetails.products.indexOf(item)].actions = ''
        this.orderDetails.completedAssortment = true
        this.showCapturaProductos = false
    },
    /**
     * productos reemplazados has been completed for shopping cart product
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     *
     */
    productsReemplazadosCompleted(item) {
        this.orderDetails.products[this.orderDetails.products.indexOf(item)].actions = ''
        this.orderDetails.completedAssortment = true
        this.showProductosReemplazados = false
    },
    /**
     * closeCapturaProductosModal
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params
     * @return void
     *
     */
    closeCapturarProductosModal() {
      this.showCapturaProductos = false
    },
    /**
     * openCapturaProductosModal
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params
     * @return void
     *
     */
    openCapturaProductosModal(item) {
      this.selectedProduct = item
      this.showCapturaProductos = true
    },
    /**
     * closeProductosReemplazadosModal
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params
     * @return void
     *
     */
    closeProductosReemplazadosModal() {
      this.showProductosReemplazados = false
    },
    /**
     * openProductosReemplazadosModal
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params
     * @return void
     *
     */
    openProductosReemplazadosModal(item) {
      console.log('openProductosReemplazadosModal');
      this.selectedProduct = item
      this.showProductosReemplazados = true
    },
    /**
     * Location
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params object description
     * @return void
     *
     */
    getProductLocation(location) {
        return (location.rack ? location.rack + ', ' : '') 
        + (location.nivel ? location.nivel + ', ' : '')
        + (location.seccion || '')
    },
    /**
     * Description
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params object description
     * @return void
     *
     */
    getProductDescription(description) {
        return (description.talla ? description.talla + ', ' : '') + (description.color || '')
    },
    /**
     * Gets order's details
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 30/04/2021
     * @params
     * @return void
     *
     */
    getDetails() {
        this.loadingData = true
        axios.get(`/api/picking/${this.orderId}`)
        .then((res) => {
            this.orderDetails = res.data
            this.incompleteAssortmentReasons = res.data.incompleteAssortmentReasons
        }).catch(this.handleError)
        .finally(this.stopLoadingData);
    },
    /**
     * Data has been loaded or there was an error, so stop loading effects
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 18/06/2021
     * @params
     * @return void
     *
     */
    stopLoadingData() {
      this.loadingData = false
    },
    /**
     * Shows request errors information to user
     *
     * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
     * created 30/04/2021
     * @params Object error
     * @return void
     *
     */
    handleError(error) {
        console.error(error)
        swal2.fire(
            '',
            'Algo salió mal, vuelva a intentarlo más tarde.',
            'error'
        );
    }
  }
}
</script>

<style scoped>
.mdi-barcode {
  font-size: 30px !important;
}
</style>