<template>
  <v-card class="p-3">
    <v-card-title
      ><b>{{ title }} </b></v-card-title
    >
    <v-card-text>
      <form data-app>
        <v-row>
          <v-col cols="6" md="12">
            <h6>Descripción</h6>
            <v-text-field
              v-model="currentGlobalCost.Descripcion"
              :error-messages="descriptionErrors"
              placeholder="Descripción"
              :readonly="inputsStatus"
              outlined
              required
              dense
              @input="$v.currentGlobalCost.Descripcion.$touch()"
              @blur="$v.currentGlobalCost.Descripcion.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-radio-group
            v-model="currentGlobalCost.Tipo"
            :error-messages="typeErrors"
            :readonly="inputsStatus"
            row
            v-on:change="checkInputs"
            @input="$v.currentGlobalCost.Tipo.$touch()"
            @blur="$v.currentGlobalCost.Tipo.$touch()"
          >
            <v-col cols="6" md="3" style="margin-right: 40px">
              <h6>Tipo</h6>
              <v-radio label="Porcentaje" color="#018085" value="P"></v-radio>
            </v-col>
            <v-col cols="6" md="3" style="padding-top: 40px">
              <v-radio label="Monto" color="#018085" value="M"></v-radio>
            </v-col>
            <v-col cols="6" md="3" style="padding-top: 40px">
              <v-radio label="Calculado" color="#018085" value="C"></v-radio>
            </v-col>
          </v-radio-group>
          <v-col v-show="showBases" cols="6" md="3" style="padding-top: 50px">
            <v-select attach
              v-model="currentGlobalCost.Id_BaseCostoCalculado"
              :items="bases"
              item-text="Descripcion"
              item-value="Id_BaseCostoCalculado"
              placeholder="Base de cálculo"
              :readonly="inputsStatus"
              outlined
              required
              dense
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" md="2">
            <h6 v-show="!showPercentage">Cantidad</h6>
            <h6 v-show="showPercentage">Porcentaje</h6>
            <v-text-field
              v-model="currentGlobalCost.Monto"
              :error-messages="amountErrors"
              placeholder="0.00"
              :readonly="inputsStatus"
              type="number"
              min="0"
              step="0.01"
              outlined
              required
              dense
              @input="$v.currentGlobalCost.Monto.$touch()"
              @blur="$v.currentGlobalCost.Monto.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-card-actions class="mt-5 d-block">
          <form-action-buttons
            @close="cancel"
            :hideSaveBtn="showCost"
            @save="submit"
          ></form-action-buttons>
        </v-card-actions>
      </form>
    </v-card-text>
  </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "CreateGlobalCost",
  props: {
    title: {
      type: String,
      default: "Alta de Costo Global",
    },
    editCost: {
      type: Boolean,
      default: false,
      required: false,
    },
    showCost: {
      type: Boolean,
      default: false,
      required: false,
    },
    inputsStatus: {
      type: Boolean,
      default: false,
      required: false,
    },
    costToShow: {
      type: Object,
      default: null,
      required: false,
    },
    basesFromShow: {
      type: Array,
      default: null,
      required: false,
    },
  },
  mounted() {
    this.bases = this.$route.params.bases;
    if (this.$route.params.item != null) {
      this.currentGlobalCost.Id_ConceptoCosto = this.$route.params.item.Id_ConceptoCosto;
      this.currentGlobalCost.Descripcion = this.$route.params.item.Descripcion;
      this.currentGlobalCost.Tipo = this.$route.params.item.Tipo;
      this.currentGlobalCost.Porcentaje = this.$route.params.item.Porcentaje;
      this.currentGlobalCost.Monto = this.$route.params.item.Monto;
      this.currentGlobalCost.Id_BaseCostoCalculado = this.$route.params.item.Id_BaseCostoCalculado;
      this.checkInputs();
      if (this.currentGlobalCost.Porcentaje != null)
        this.currentGlobalCost.Monto = this.currentGlobalCost.Porcentaje;
      if (this.currentGlobalCost.Id_BaseCostoCalculado != null)
        this.currentGlobalCost.Id_BaseCostoCalculado = parseInt(
          this.$route.params.item.Id_BaseCostoCalculado
        );
    } else if (this.costToShow != null) {
      this.bases = this.basesFromShow;
      this.currentGlobalCost.Descripcion = this.costToShow.Descripcion;
      this.currentGlobalCost.Tipo = this.costToShow.Tipo;
      this.currentGlobalCost.Porcentaje = this.costToShow.Porcentaje;
      this.currentGlobalCost.Monto = this.costToShow.Monto;
      this.currentGlobalCost.Id_BaseCostoCalculado = this.costToShow.Id_BaseCostoCalculado;
      this.checkInputs();
      if (this.currentGlobalCost.Porcentaje != null)
        this.currentGlobalCost.Monto = this.currentGlobalCost.Porcentaje;
      if (this.currentGlobalCost.Id_BaseCostoCalculado != null) {
        this.currentGlobalCost.Id_BaseCostoCalculado = parseInt(
          this.costToShow.Id_BaseCostoCalculado
        );
      }
    }
  },
  mixins: [validationMixin],
  validations: {
    currentGlobalCost: {
      Descripcion: { required },
      Tipo: { required },
      Monto: { required },
    },
  },
  data() {
    return {
      submitStatus: "",
      showBases: false,
      showPercentage: false,
      bases: [],
      currentGlobalCost: {
        Id_ConceptoCosto: null,
        Descripcion: "",
        Tipo: "",
        Porcentaje: null,
        Monto: null,
        Id_BaseCostoCalculado: null,
      },
    };
  },
  methods: {
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        switch (this.currentGlobalCost.Tipo) {
          case "P":
            this.currentGlobalCost.Porcentaje = this.currentGlobalCost.Monto;
            this.currentGlobalCost.Id_BaseCostoCalculado = null;
            break;
          case "M":
            this.currentGlobalCost.Porcentaje = null;
            this.currentGlobalCost.Id_BaseCostoCalculado = null;
            break;
          case "C":
            this.currentGlobalCost.Porcentaje = null;
            break;
        }
        this.editCost != true
          ? this.post(this.currentGlobalCost)
          : this.edit(this.currentGlobalCost);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Post a new cost.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param Object data
     * @return void
     */
    post(data) {
      axios
        .post("/api/global-costs-configurators", data)
        .then((result) => {
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.$router.push({ name: "global-costs-configurators" });
        });
    },
    /**
     * Update a cost.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param Object data
     * @return void
     */
    edit(data) {
      axios
        .put("/api/global-costs-configurators/" + data.Id_ConceptoCosto, data)
        .then((result) => {
          swal2.fire("Editado", "Se editó el costo correctamente", "success");
          this.$router.push({ name: "global-costs-configurators" });
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Redirect to index rules configurator.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    cancel() {
      this.showCost
        ? this.$emit("dialogStatus", false)
        : this.$router.push({ name: "global-costs-configurators" });
    },
    /**
     * Enables and disables inputs depending on the type.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    checkInputs() {
      switch (this.currentGlobalCost.Tipo) {
        case "P":
          this.showBases = false;
          this.showPercentage = true;
          break;
        case "M":
          this.showBases = false;
          this.showPercentage = false;
          break;
        case "C":
          this.showBases = true;
          this.showPercentage = false;
          break;
      }
    },
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return array
     */
    descriptionErrors() {
      const errors = [];
      if (!this.$v.currentGlobalCost.Descripcion.$dirty) return errors;
      !this.$v.currentGlobalCost.Descripcion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return array
     */
    typeErrors() {
      const errors = [];
      if (!this.$v.currentGlobalCost.Tipo.$dirty) return errors;
      !this.$v.currentGlobalCost.Tipo.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return array
     */
    amountErrors() {
      const errors = [];
      if (!this.$v.currentGlobalCost.Monto.$dirty) return errors;
      !this.$v.currentGlobalCost.Monto.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  },
  watch: {
    /**
     * Asign a new value to priceSelected.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-02-18
     * @param any val
     * @return void
     */
    costToShow: function (val) {
      this.currentGlobalCost = val;
      this.checkInputs();
      if (this.currentGlobalCost.Porcentaje != null)
        this.currentGlobalCost.Monto = this.currentGlobalCost.Porcentaje;
      if (this.currentGlobalCost.Id_BaseCostoCalculado != null)
        this.currentGlobalCost.Id_BaseCostoCalculado = parseInt(
          this.currentGlobalCost.Id_BaseCostoCalculado
        );
    },
  },
};
</script>