<template>
    <v-card class="p-3">
        <v-card-title><b>Utilidad Global</b></v-card-title>
        <v-card-text>
             <form data-app>
                <v-row>
                    <v-col cols="6" md="4">
                        <h6>Porcentaje de Utilidad</h6>
                        <v-text-field
                            v-model="currentGlobalUtility.Porcentaje"
                            :error-messages="percentageErrors"
                            placeholder="0.00%"
                            type="number"
                            min="0"
                            outlined
                            required
                            dense
                            @input="$v.currentGlobalUtility.Porcentaje.$touch()"
                            @blur="$v.currentGlobalUtility.Porcentaje.$touch()"
                        ></v-text-field>
                    </v-col>    
                </v-row>
                <v-card-actions class="mt-5 d-block">
                  <form-action-buttons
                    @close="cancel"
                    @save="submit"
                  ></form-action-buttons>
                </v-card-actions>
            </form>
        </v-card-text>
    </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: "globalUtility",
    mounted() {
      this.getGlobalUtility();
    },
    mixins: [validationMixin],
    validations: {
        currentGlobalUtility: {
          Porcentaje: { required }
        },
    },
    data() {
      return {
        submitStatus: "",
        currentGlobalUtility: {
            AplicaDeManeraGlobal:null,
            Descripcion:null,
            EsVisibleEnCostoEspecial:null,
            Estatus:null,
            Id_BaseCostoCalculado:null,
            Id_new:null,
            Monto:null,
            Prioridad:null,
            Tipo:null,
          Porcentaje: "",
          Id_ConceptoCosto: null
        },
      };
    },
    methods:{
        /**
         * Get global utility from api.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        getGlobalUtility() {
            this.loading = true;
            axios.get("/api/global-utilities").then((result) => {
                this.currentGlobalUtility = result.data.globalUtility;
            });
        },
        /**
         * Allow call edit method if data is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        submit() {
          this.$v.$touch();
          if (this.$v.$invalid) {
            this.submitStatus = "ERROR";
          } else if (!this.$v.$invalid) {
            this.edit(this.currentGlobalUtility);
          } else {
            this.submitStatus = "PENDING";
            setTimeout(() => {
              this.submitStatus = "OK";
            }, 500);
          }
        },
        /**
         * Edit the percentage of global utility.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        edit(data) {
          axios
            .put("/api/global-utilities/" + this.currentGlobalUtility.Id_ConceptoCosto, data)
            .then((result) => {
              swal2.fire(
                "Editado",
                "Se editaron los datos correctamente",
                "success"
              );
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.$router.push({ name: 'global-costs-configurators' });
            });
        },
        /**
         * Redirect to index rules configurator.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        cancel() {
          this.$router.push({ name: 'global-costs-configurators' });
        },
    },
    computed:{
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return array
         */
        percentageErrors() {
          const errors = [];
          if (!this.$v.currentGlobalUtility.Porcentaje.$dirty) return errors;
          !this.$v.currentGlobalUtility.Porcentaje.required &&
            errors.push("El campo es requerido");
          return errors;
        }
  }
}
</script>