<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card class="p-3">
        <v-card-title><b>Utilidad Global</b></v-card-title>
        <v-card-text>
             <form data-app>
                <v-row>
                    <v-col cols="12" md="12">
                        <h6>{{labelPercent}}</h6>
                        <v-text-field
                            v-model="currentGlobalUtility.Porcentaje"
                            :error-messages="percentageErrors"
                            placeholder="0.00%"
                            type="number"
                            min="0"
                            outlined
                            required
                            dense
                            @input="$v.currentGlobalUtility.Porcentaje.$touch()"
                            @blur="$v.currentGlobalUtility.Porcentaje.$touch()"
                        ></v-text-field>
                    </v-col>    
                </v-row>
                <v-card-actions class="mt-4 d-flex">
                  <form-action-buttons
                    columnsLg = "12"
                    :isLoading = loading
                    @close="cancel"
                    @save="submit"
                  ></form-action-buttons>
                </v-card-actions>
            </form>
        </v-card-text>
    </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: "modalGlobalUtility",
    props: ["dialog"],
    mixins: [validationMixin],
    validations: {
        currentGlobalUtility: {
            Porcentaje: { required }
        },
    },
    data() {
      return {
        submitStatus: "",
        labelPercent: "Porcentaje de utilidad",
        loading: false,
        currentGlobalUtility: {
            AplicaDeManeraGlobal:null,
            Descripcion:null,
            EsVisibleEnCostoEspecial:null,
            Estatus:null,
            Id_BaseCostoCalculado:null,
            Id_new:null,
            Monto:null,
            Prioridad:null,
            Tipo:null,
            Porcentaje: "",
            Id_ConceptoCosto: null
        },
      };
    },
    watch: {
        /**
         * Detect when the modal is open for clear the field and get the current global utility.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-04-28
         * @param boolean visible
         * @return void
         */
        dialog(visible) {
            if (visible) {
                this.currentGlobalUtility.Porcentaje = null;
                this.getGlobalUtility();
            }
        }
    },
    methods:{
        /**
         * Get global utility from api.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @updated 28/04/2021 Iván Morales | ivan.morales@nuvm.mx
         * @param
         * @return void
         */
        getGlobalUtility() {
            this.labelPercent = "Obteniendo datos...";
            axios.get("/api/global-utilities").then((result) => {
                this.currentGlobalUtility = result.data.globalUtility;
                this.labelPercent = "Porcentaje de utilidad";
            }).catch((error) => {
                this.labelPercent = "Porcentaje de utilidad";
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Error al obtener el porcentaje actual, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
         * Allow call edit method if data is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        submit() {
            this.$v.$touch();
            if (this.$v.$invalid) {
                this.submitStatus = "ERROR";
            } else if (!this.$v.$invalid) {
                this.edit(this.currentGlobalUtility);
            } else {
                this.submitStatus = "PENDING";
                setTimeout(() => {
                this.submitStatus = "OK";
                }, 500);
            }
        },
        /**
         * Edit the percentage of global utility.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        edit(data) {
            this.loading = true;
            axios
                .put("/api/global-utilities/" + this.currentGlobalUtility.Id_ConceptoCosto, data)
                .then((result) => {
                    this.$emit("dialogUtilityStatus", false);
                    this.$emit("refreshGlobalCosts");
                    this.loading = false;
                    swal2.fire(
                        "Editado",
                        "Se editaron los datos correctamente",
                        "success"
                    );
                })
                .catch(function (error) {
                    this.loading = false;
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                });
        },
        /**
         * Emit a event for close the modal.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-04-28
         * @param boolean visible
         * @return void
         */
        cancel() {
            this.$emit("dialogUtilityStatus", false);
        },
    },
    computed:{
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return array
         */
        percentageErrors() {
            const errors = [];
            if (!this.$v.currentGlobalUtility.Porcentaje.$dirty) return errors;
            !this.$v.currentGlobalUtility.Porcentaje.required &&
                errors.push("El campo es requerido");
            return errors;
        }
  }
}
</script>