<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <CreateGlobalCost
        title="Información de costo global"
        :inputsStatus="true"
        :showCost="true"
        v-on:dialogStatus="getDialogShowStatus"
        :costToShow="globalCost"
        :basesFromShow="bases"
      ></CreateGlobalCost>
    </v-dialog>
  </div>
</template>
<script>
import CreateGlobalCost from "./create";

export default {
  name: "Show",
  props: ["dialog", "currentGlobalCost"],
  components: {
    CreateGlobalCost,
  },
  data: () => ({
    globalCost: {},
    bases: []
  }),
  methods: {
    /**
     * Get dialog status from Inputs component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param boolean value
     * @return void
     */
    getDialogShowStatus(value) {
      this.$emit("dialogStatus", value);
    },
    /**
     * Receives a global cost from index component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-06
     * @param Object globalCost
     * @param Array bases
     * @return void
     */
    reciveGlobalCost(globalCost, bases) {
      this.globalCost = globalCost;
      this.bases = bases;
    },
  },
};
</script>