<template>
  <v-card class="mb-12" color="grey lighten-1">
    <v-row class="mt-5" v-if="loading" style="height: 100px">
      <v-progress-circular
        style="margin: auto"
        indeterminate
        class="progress-circular-color"
      ></v-progress-circular>
    </v-row>
    <div v-else>
      <v-container class="mode-container">
        <h6 class="mt-2">Archivo del Certificado del Sello Fiscal .cer</h6>
        <v-file-input
          ref="cerFile"
          :error-messages="fileCerErrors"
          :placeholder="placeholderStatus"
          :filled="editBillingData"
          :disabled="inputsStatus"
          accept=".cer"
          small-chips
          outlined
          dense
          prepend-icon=""
          @change="setCerFile"
          @input="$v.currentBillingData.cerFile.$touch()"
          @blur="$v.currentBillingData.cerFile.$touch()"
        ></v-file-input>
        <h6 class="mt-2">Archivo del Certificado del Sello Fiscal .key</h6>
        <v-file-input
          ref="keyFile"
          :error-messages="fileKeyErrors"
          :placeholder="placeholderStatus"
          :filled="editBillingData"
          :disabled="inputsStatus"
          accept=".key"
          small-chips
          outlined
          dense
          prepend-icon=""
          @change="setKeyFile"
          @input="$v.currentBillingData.keyFile.$touch()"
          @blur="$v.currentBillingData.keyFile.$touch()"
        ></v-file-input>

        <v-row justify="space-between">
          <v-col cols="12" sm="6">
            <h6 class="mt-2">Contraseña del Certificado del Sello Fiscal .key</h6>
            <v-text-field
              v-model="currentBillingData.keyPassword"
              :error-messages="keyPasswordErrors"
              placeholder="Ingrese contraseña de su FIEL"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.keyPassword.$touch()"
              @blur="$v.currentBillingData.keyPassword.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <h6 class="mt-2">Uso CFDI</h6>
            <v-text-field
              v-model="currentBillingData.cfdi"
              :error-messages="cfdiErrors"
              placeholder="Adquisición de mercancía"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.cfdi.$touch()"
              @blur="$v.currentBillingData.cfdi.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="space-between">
          <v-col>
            <h6 class="mt-2">RFC</h6>
            <v-text-field
              v-model="currentBillingData.rfc"
              :error-messages="rfcErrors"
              placeholder="Ingrese RFC de la empresa"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.rfc.$touch()"
              @blur="$v.currentBillingData.rfc.$touch()"
            ></v-text-field>
          </v-col>
          <v-col>
            <h6 class="mt-2">Razón social</h6>
            <v-text-field
              v-model="currentBillingData.socialReason"
              :error-messages="socialReasonErrors"
              placeholder="Ingrese razón social de su empresa"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.socialReason.$touch()"
              @blur="$v.currentBillingData.socialReason.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="space-between">
          <v-col cols="12" sm="6">
            <h6 class="mt-2">Calle y número</h6>
            <v-text-field
              v-model="currentBillingData.streetAndNumber"
              :error-messages="streetAndNumberErrors"
              placeholder="Ingrese la calle y el número"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.streetAndNumber.$touch()"
              @blur="$v.currentBillingData.streetAndNumber.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <h6 class="mt-2">Colonia</h6>
            <v-text-field
              v-model="currentBillingData.suburb"
              :error-messages="suburbErrors"
              placeholder="Ingrese la colonia"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.suburb.$touch()"
              @blur="$v.currentBillingData.suburb.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="space-between">
          <v-col cols="12" sm="6">
            <h6 class="mt-2">C.P.</h6>
            <v-text-field
              v-model="currentBillingData.cp"
              :error-messages="cpErrors"
              placeholder="Ingrese el código postal"
              :readonly="inputsStatus"
              type="number"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.cp.$touch()"
              @blur="$v.currentBillingData.cp.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <h6 class="mt-2">Ciudad</h6>
            <v-text-field
              v-model="currentBillingData.town"
              :error-messages="townErrors"
              placeholder="Ingrese la ciudad"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.town.$touch()"
              @blur="$v.currentBillingData.town.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="space-between">
          <v-col cols="12" sm="6">
            <h6 class="mt-2">Estado</h6>
            <v-text-field
              v-model="currentBillingData.state"
              :error-messages="stateErrors"
              placeholder="Ingrese el estado"
              :readonly="inputsStatus"
              outlined
              dense
              @keydown="changeDetected"
              @input="$v.currentBillingData.state.$touch()"
              @blur="$v.currentBillingData.state.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>

      <form-action-buttons
          :hideSaveBtn="!permissions.includes('Configurations.edit')"
          @close="cancel"
          @save="submit"
      ></form-action-buttons>
    </div>
  </v-card>
</template>
<script>
import store from "../../../../store";
import { validationMixin } from "vuelidate";
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  name: "FormBilling",
  mixins: [validationMixin],
  validations: {
    currentBillingData: {
      cerFile: { required },
      keyFile: { required },
      keyPassword: { required },
      cfdi: { required },
      rfc: { required, minLength: minLength(12), maxLength: maxLength(13) },
      socialReason: { required },
      streetAndNumber: { required },
      suburb: { required },
      cp: { required },
      town: { required },
      state: { required },
    },
  },
  data() {
    return {
      currentBillingData: {
        cerFile: null,
        keyFile: null,
        keyPassword: "",
        cfdi: "",
        rfc: "",
        socialReason: "",
        streetAndNumber: "",
        suburb: "",
        cp: "",
        town: "",
        state: "",
        id: null,
      },
      editBillingData: false,
      editedCerFile: null,
      editedKeyFile: null,
      loading: false,
      changed: false,
      placeholderFileInput: "",
    };
  },
  mounted() {
    this.getConfiguration();
  },
  methods: {
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        let data = new FormData();
        data.append("keyPassword", this.currentBillingData.keyPassword);
        data.append("cfdi", this.currentBillingData.cfdi);
        data.append("rfc", this.currentBillingData.rfc);
        data.append("socialReason", this.currentBillingData.socialReason);
        data.append("streetAndNumber", this.currentBillingData.streetAndNumber);
        data.append("suburb", this.currentBillingData.suburb);
        data.append("cp", this.currentBillingData.cp);
        data.append("town", this.currentBillingData.town);
        data.append("state", this.currentBillingData.state);
        data.append("dataType", 'billing');
        data.append("_method", "put");

        if (this.editBillingData) {
          if (this.editedKeyFile != this.currentBillingData.keyFile) {
            data.append("keyFile", this.currentBillingData.keyFile);
          } else data.append("keyFile", "");
          if (this.editedCerFile != this.currentBillingData.cerFile) {
            data.append("cerFile", this.currentBillingData.cerFile);
          } else data.append("cerFile", "");
          this.update(data);
        } else {
          data.append("cerFile", this.currentBillingData.cerFile);
          data.append("keyFile", this.currentBillingData.keyFile);
          this.update(data);
        }
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Update the configuration billing data from the api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param data FormData
     * @return void
     */
    update(data) {
      axios
        .post("/api/configurations/" + this.currentBillingData.id, data, {
          headers: { "Content-type": "multipart/form-data" },
        })
        .then((result) => {
          swal2.fire(
            "Actualizado",
            "Se agregaron los datos correctamente",
            "success"
          );
          this.resetInputs();
          this.getConfiguration();
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get the configuration data from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    getConfiguration() {
      this.loading = true;
      axios
        .get("/api/configurations")
        .then((result) => {
          if (result.data != null) {
            this.currentBillingData.id = result.data.Id;
            this.currentBillingData.cerFile = result.data.ArchivoCertificadoSelloFiscalCer;
            this.currentBillingData.keyFile = result.data.ArchivoCertificadoSelloFiscalKey;
            this.currentBillingData.keyPassword = result.data.PassCertificadoSelloFiscalKey;
            this.currentBillingData.cfdi = result.data.UsoCFDI;
            this.currentBillingData.rfc = result.data.RFC;
            this.currentBillingData.socialReason = result.data.RazonSocial;
            this.currentBillingData.streetAndNumber = result.data.CalleNum;
            this.currentBillingData.suburb = result.data.Colonia;
            this.currentBillingData.cp = result.data.CP;
            this.currentBillingData.town = result.data.Ciudad;
            this.currentBillingData.state = result.data.Estado;

            this.editedCerFile = result.data.ArchivoCertificadoSelloFiscalCer;
            this.editedKeyFile = result.data.ArchivoCertificadoSelloFiscalKey;
            
            this.editedCerFile != null && this.editedKeyFile != null ?
            this.editBillingData = true :
            this.editBillingData = false;
            
            this.changed = false;
            this.$emit("changed", [this.changed, "billing"]);
          } else {
            this.editBillingData = false;
            this.changed = false;
            this.$emit("changed", [this.changed, "billing"]);
          }
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Reset inputs.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    resetInputs() {
      this.$v.$reset();
      this.$refs.cerFile.reset();
      this.$refs.keyFile.reset();
      this.currentBillingData = {
        cerFile: null,
        keyFile: null,
        keyPassword: "",
        cfdi: "",
        rfc: "",
        socialReason: "",
        streetAndNumber: "",
        suburb: "",
        cp: "",
        town: "",
        state: "",
      };
    },
    /**
     * Set a file to currentBillingData.cerFile property.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    setCerFile(file) {
      if (!file) return;
      this.currentBillingData.cerFile = file;
      this.changeDetected();
    },
    /**
     * Set a file to currentBillingData.keyFile property.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    setKeyFile(file) {
      if (!file) return;
      this.currentBillingData.keyFile = file;
      this.changeDetected();
    },
    /**
     * Detect if inputs has been changed and emit value to component paren (index) to warn.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    changeDetected() {
      this.changed = true;
      this.$emit("changed", [this.changed, "billing"]);
    },
    /**
     * Evaluate whether the fields should be edited or not from the component parent (index).
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param boolean option
     * @return void
     */
    verify(option) {
      option ? this.submit() : this.getConfiguration();
    },
    /**
     * Redirect to root index.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param 
     * @return void
     */
    cancel: function() {
        this.$router.push('/');
    },
  },
  computed: {
    /**
     * Return the permissions for the current user.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    permissions() {
        return store.state.permissions;
    },
    /**
     * Enables or disables the inputs depending on whether the user has permission to edit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return boolean
     */
    inputsStatus(){
      return !this.permissions.includes('Configurations.edit');
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    fileCerErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.cerFile.$dirty) return errors;
      !this.$v.currentBillingData.cerFile.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    fileKeyErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.keyFile.$dirty) return errors;
      !this.$v.currentBillingData.keyFile.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    keyPasswordErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.keyPassword.$dirty) return errors;
      !this.$v.currentBillingData.keyPassword.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    cfdiErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.cfdi.$dirty) return errors;
      !this.$v.currentBillingData.cfdi.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    rfcErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.rfc.$dirty) return errors;
      !this.$v.currentBillingData.rfc.required &&
        errors.push("El campo es requerido");
      !this.$v.currentBillingData.rfc.minLength &&
        errors.push("El rfc debe de contener mínimo 12 caracteres");
      !this.$v.currentBillingData.rfc.maxLength &&
        errors.push("El rfc debe de contener máximo 13 caracteres");    
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    socialReasonErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.socialReason.$dirty) return errors;
      !this.$v.currentBillingData.socialReason.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    streetAndNumberErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.streetAndNumber.$dirty) return errors;
      !this.$v.currentBillingData.streetAndNumber.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    suburbErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.suburb.$dirty) return errors;
      !this.$v.currentBillingData.suburb.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    cpErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.cp.$dirty) return errors;
      !this.$v.currentBillingData.cp.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    townErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.town.$dirty) return errors;
      !this.$v.currentBillingData.town.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    stateErrors() {
      const errors = [];
      if (!this.$v.currentBillingData.state.$dirty) return errors;
      !this.$v.currentBillingData.state.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Change placeholder in input file if editBillingData is true or false.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return string
     */
    placeholderStatus() {
      if (this.editBillingData) {
        return (this.placeholderFileInput = "Cambiar archivo cargado");
      } else {
        return (this.placeholderFileInput = "Seleccionar archivo");
      }
    },
  },
};
</script>
<style lang="scss">
@import '../../../../../sass/_variables.scss';

.progress-circular-color {
   color: $primary;
}

.mode-container {
  padding: 0px;
}

.buttons-container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}
.add-button {
  background: #2d2974 !important;
  color: #f1f3f5 !important;
}

.cancel-button {
  background: #f6f7fb !important;
  border: 1px solid #2d2974 !important;
}
</style>