<template>
  <v-card class="mb-12" color="grey lighten-1">
    <v-row class="mt-5" v-if="loading" style="height: 100px">
      <v-progress-circular
        style="margin: auto"
        indeterminate
        class="progress-circular-color"
      ></v-progress-circular>
    </v-row>
    <div v-else>
      <v-container class="mode-container">
        <h6 class="mt-2">Código de seguimiento Pixel</h6>
        <v-textarea
          v-model="currentAdsData.pixelCode"
          :readonly="inputsStatus"
          outlined
          dense
          placeholder="Ingrese su código de Facebook"
          @keydown="changeDetected"
        ></v-textarea>
        <h6 class="mt-2">Código de seguimiento Google ADS</h6>
        <v-textarea
          v-model="currentAdsData.googleAdsCode"
          :readonly="inputsStatus"
          outlined
          dense
          placeholder="Ingrese su código de Google ADS"
          @keydown="changeDetected"
        ></v-textarea>
        <h6 class="mt-2">Código de seguimiento Google Analythics</h6>
        <v-textarea
          v-model="currentAdsData.googleAnalythicsCode"
          :readonly="inputsStatus"
          outlined
          dense
          placeholder="Ingrese su código de Google"
          @keydown="changeDetected"
        ></v-textarea>
        <h6 class="mt-2">Código de chat de Facebook</h6>
        <v-textarea
          v-model="currentAdsData.chatFacebookCode"
          :readonly="inputsStatus"
          outlined
          dense
          placeholder="Ingrese su código de Chat"
          @keydown="changeDetected"
        ></v-textarea>
      </v-container>

      <form-action-buttons
          :hideSaveBtn="!permissions.includes('Configurations.edit')"
          @close="cancel"
          @save="update"
      ></form-action-buttons>
    </div>
  </v-card>
</template>
<script>
import store from "../../../../store";

export default {
  name: "FormAds",
  data() {
    return {
      currentAdsData: {
        pixelCode: "",
        googleAdsCode: "",
        googleAnalythicsCode: "",
        chatFacebookCode: "",
        id: null,
        dataType: "ads"
      },
      loading: false,
      changed: false,
    };
  },
  mounted() {
    this.getConfiguration();
  },
  methods: {
    /**
     * Update the ads configuration data from the api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    update() {
      this.currentAdsData.dataType = 'ads';
      axios
        .put("/api/configurations/" + this.currentAdsData.id, this.currentAdsData)
        .then((result) => {
          swal2.fire(
            "Actualizado",
            "Se agregaron los datos correctamente",
            "success"
          );
          this.resetInputs();
          this.getConfiguration();
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get the configuration data from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    getConfiguration() {
      this.loading = true;
      axios
        .get("/api/configurations")
        .then((result) => {
          if (result.data != null) {
            this.currentAdsData.id = result.data.Id;
            this.currentAdsData.pixelCode = result.data.CodigoSeguimientoPixel;
            this.currentAdsData.googleAdsCode = result.data.CodigoSeguimientoGoogleADS;
            this.currentAdsData.googleAnalythicsCode = result.data.CodigoSeguimientoGoogleAnalytics;
            this.currentAdsData.chatFacebookCode = result.data.CodigoChatFacebook;
            
            this.changed = false;
            this.$emit("changed", [this.changed, "ads"]);
          } else {
            this.changed = false;
            this.$emit("changed", [this.changed, "ads"]);
          }
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Reset inputs.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    resetInputs() {
      this.currentAdsData = {
        pixelCode: "",
        googleAdsCode: "",
        googleAnalythicsCode: "",
        chatFacebookCode: "",
        id: null,
      };
    },
    /**
     * Detect if inputs has been changed and emit value to component paren (index) to warn.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    changeDetected() {
      this.changed = true;
      this.$emit("changed", [this.changed, "ads"]);
    },
    /**
     * Evaluate whether the fields should be edited or not from the component parent (index).
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param boolean option
     * @return void
     */
    verify(option) {
      option ? this.update() : this.getConfiguration();
    },
    /**
     * Redirect to root index.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param 
     * @return void
     */
    cancel: function() {
        this.$router.push('/');
    },
  },
  computed:{
    /**
     * Return the permissions for the current user.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    permissions() {
        return store.state.permissions;
    },
    /**
     * Enables or disables the inputs depending on whether the user has permission to edit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return boolean
     */
    inputsStatus(){
      return !this.permissions.includes('Configurations.edit');
    },
  }
};
</script>
<style lang="scss">
@import '../../../../../sass/_variables.scss';

.progress-circular-color {
   color: $primary;
}

.mode-container {
  padding: 0px;
}

.buttons-container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}
.add-button {
  background: #2d2974 !important;
  color: #f1f3f5 !important;
}

.cancel-button {
  background: #f6f7fb !important;
  border: 1px solid #2d2974 !important;
}
</style>