<template>
  <v-card class="mb-12" color="grey lighten-1">
    <v-row class="mt-5" v-if="loading" style="height: 100px">
      <v-progress-circular
        style="margin: auto"
        indeterminate
        class="progress-circular-color"
      ></v-progress-circular>
    </v-row>
    <div v-else>
      <v-row class="mt-3">
        <p class="title"><b class="border-title">Conekta</b></p>
      </v-row>
      <v-row style="justify-content: center; text-align: right;">
        <v-col cols="6" md="3" style="align-self: center">
          <h6>Ambiente activo</h6>
        </v-col>
        <v-col class="mt-3" cols="6" md="3">
          <v-select
            style="text-align-last: center;"
            v-model="currentPlatformData.activeEnvironment"
            :error-messages="environmentErrors"
            :items="environments"
            placeholder="-- Selecciona una opción --"
            :readonly="inputsStatus"
            outlined
            dense
            @change="changeDetected"
            @input="$v.currentPlatformData.activeEnvironment.$touch()"
            @blur="$v.currentPlatformData.activeEnvironment.$touch()"
          ></v-select>
        </v-col>
      </v-row>
      <v-container class="mode-container">
        <p class="title"><b>Datos para producción</b></p>
        <h6 class="mt-2">Llave pública</h6>
        <v-text-field
          v-model="currentPlatformData.productivePublicKey"
          :error-messages="productivePublicKeyErrors"
          placeholder="Ingrese api key de su provedor"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentPlatformData.productivePublicKey.$touch()"
          @blur="$v.currentPlatformData.productivePublicKey.$touch()"
        ></v-text-field>
        <h6 class="mt-2">Llave privada</h6>
        <v-text-field
          v-model="currentPlatformData.productivePrivateKey"
          :error-messages="productivePrivateKeyErrors"
          placeholder="Ingrese api key de su provedor"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentPlatformData.productivePrivateKey.$touch()"
          @blur="$v.currentPlatformData.productivePrivateKey.$touch()"
        ></v-text-field>
      </v-container>

      <v-container class="mode-container">
        <p class="title"><b>Datos para pruebas</b></p>
        <h6 class="mt-2">Llave pública</h6>
        <v-text-field
          v-model="currentPlatformData.testPublicKey"
          :error-messages="testPublicKeyErrors"
          placeholder="Ingrese api key de su provedor"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentPlatformData.testPublicKey.$touch()"
          @blur="$v.currentPlatformData.testPublicKey.$touch()"
        ></v-text-field>
        <h6 class="mt-2">Llave privada</h6>
        <v-text-field
          v-model="currentPlatformData.testPrivateKey"
          :error-messages="testPrivateKeyErrors"
          placeholder="Ingrese api key de su provedor"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentPlatformData.testPrivateKey.$touch()"
          @blur="$v.currentPlatformData.testPrivateKey.$touch()"
        ></v-text-field>
      </v-container>

      <v-container class="mode-container">
        <p class="title"><b class="border-title">Skydropx</b></p>
        <h6 class="mt-2">Api key</h6>
        <v-text-field
          v-model="currentPlatformData.apiKey"
          :error-messages="apiKeyErrors"
          placeholder="Ingrese api key de su provedor"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentPlatformData.apiKey.$touch()"
          @blur="$v.currentPlatformData.apiKey.$touch()"
        ></v-text-field>

        <h6 class="mt-2">Paqueterías aprobadas</h6>
        <v-card flat class="mb-5">
          <v-card-text>
            <v-container fluid>
              <v-row v-if="packageDeliveries.length > 0">
                <v-col class="mb-n3" v-for="(provider, index) in packageDeliveries" :key="index" lg="3" sm="12">
                  <v-checkbox
                    v-model="currentPlatformData.approvedPackageDeliveries"
                    :value="provider.Id"
                    :id="provider.Nombre"
                    hide-details>
                    <template v-slot:label>
                      <span class="checkboxLabel" v-text="provider.Nombre"></span>
                    </template>
                  </v-checkbox>
                </v-col>
              </v-row>
              <v-row v-else>
                <v-col class="mb-n3" cols="12">
                  <h6>No hay paqueterías disponibles</h6>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>

      </v-container>

      <form-action-buttons
          :hideSaveBtn="!permissions.includes('Configurations.edit')"
          @close="cancel"
          @save="submit"
      ></form-action-buttons>
    </div>
  </v-card>
</template>
<script>
import store from "../../../../store";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "FormConekta",
  mixins: [validationMixin],
  validations: {
    currentPlatformData: {
      productivePublicKey: { required },
      productivePrivateKey: { required },
      testPublicKey: { required },
      testPrivateKey: { required },
      activeEnvironment: { required },
      apiKey: { required }
    },
  },
  data() {
    return {
      currentPlatformData: {
        testPublicKey: "",
        testPrivateKey: "",
        productivePublicKey: "",
        productivePrivateKey: "",
        activeEnvironment: null,
        apiKey: "",
        id: null,
        dataType: "platform",
        approvedPackageDeliveries: []
      },
      packageDeliveries: [],
      loading: false,
      changed: false,
      environments: ["Productivo", "Pruebas"],
    };
  },
  mounted() {
    this.getConfiguration();
  },
  methods: {
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.currentPlatformData.dataType = 'platform';
        this.update();
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Update the configuration platform data from the api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param 
     * @return void
     */
    update() {
      axios
        .put("/api/configurations/" + this.currentPlatformData.id, this.currentPlatformData)
        .then((result) => {
          swal2.fire(
            "Actualizado",
            "Se agregaron los datos correctamente",
            "success"
          );
          this.resetInputs();
          this.getConfiguration();
        })
        .catch(function (error) {
          console.log('error', error);
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get the configuration data from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param 
     * @return void
     */
    getConfiguration() {
      this.loading = true;
      axios
        .get("/api/configurations")
        .then((result) => {
          if (result.data != null) {
            this.currentPlatformData.id = result.data.Id;
            this.currentPlatformData.testPublicKey = result.data.LlavePublicaPruebas;
            this.currentPlatformData.testPrivateKey = result.data.LlavePrivadaPruebas;
            this.currentPlatformData.productivePublicKey = result.data.LlavePublicaProduccion;
            this.currentPlatformData.productivePrivateKey = result.data.LlavePrivadaProduccion;
            this.currentPlatformData.activeEnvironment = result.data.AmbienteActivo;
            this.currentPlatformData.apiKey = result.data.ClaveApi;
            
            // Start Packages Deliveries

            this.packageDeliveries = result.data.packageDeliveries;

            let approvedPackageDeliveries = result.data.approvedPackageDeliveries;
            approvedPackageDeliveries.forEach(apd => {
              this.currentPlatformData.approvedPackageDeliveries.push(apd.Id);
            });

            // End Packages Deliveries

            this.changed = false;
            this.$emit('changed', [this.changed, 'platform']);
          } else {
            this.changed = false;
            this.$emit('changed', [this.changed, 'platform']);
          }
        })
        .catch(function (error) {
          console.log('error', error);
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Reset inputs.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return void
     */
    resetInputs() {
      this.$v.$reset();
      this.currentPlatformData = {
        testPublicKey: "",
        testPrivateKey: "",
        productivePublicKey: "",
        productivePrivateKey: "",
        activeEnvironment: null,
        apiKey: "",
        id: null,
        approvedPackageDeliveries: []
      };
    },
    /**
     * Detect if inputs has been changed and emit value to component paren (index) to warn.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return void
     */
    changeDetected(){
      this.changed = true;
      this.$emit('changed', [this.changed, 'platform']);
    },
    /**
     * Evaluate whether the fields should be edited or not from the component parent (index).
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param boolean option
     * @return void
     */
    verify(option){
      option ? this.submit() : this.getConfiguration();
    },
    /**
     * Redirect to root index.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param 
     * @return void
     */
    cancel: function() {
        this.$router.push('/');
    }
  },
  computed: {
    /**
     * Return the permissions for the current user.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    permissions() {
        return store.state.permissions;
    },
    /**
     * Enables or disables the inputs depending on whether the user has permission to edit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return boolean
     */
    inputsStatus(){
      return !this.permissions.includes('Configurations.edit');
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    environmentErrors() {
      const errors = [];
      if (!this.$v.currentPlatformData.activeEnvironment.$dirty)
        return errors;
      !this.$v.currentPlatformData.activeEnvironment.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    testPublicKeyErrors() {
      const errors = [];
      if (!this.$v.currentPlatformData.testPublicKey.$dirty) return errors;
      !this.$v.currentPlatformData.testPublicKey.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    testPrivateKeyErrors() {
      const errors = [];
      if (!this.$v.currentPlatformData.testPrivateKey.$dirty)
        return errors;
      !this.$v.currentPlatformData.testPrivateKey.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    productivePublicKeyErrors() {
      const errors = [];
      if (!this.$v.currentPlatformData.productivePublicKey.$dirty)
        return errors;
      !this.$v.currentPlatformData.productivePublicKey.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    productivePrivateKeyErrors() {
      const errors = [];
      if (!this.$v.currentPlatformData.productivePrivateKey.$dirty)
        return errors;
      !this.$v.currentPlatformData.productivePrivateKey.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    apiKeyErrors() {
      const errors = [];
      if (!this.$v.currentPlatformData.apiKey.$dirty)
        return errors;
      !this.$v.currentPlatformData.apiKey.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  },
};
</script>
<style lang="scss">
@import '../../../../../sass/_variables.scss';

.checkboxLabel {
  margin-left: 0.5em !important;
  margin-top: 0.2em !important;
}

.progress-circular-color {
   color: $primary;
}

.mode-container {
  padding: 0px;
  max-width: 100%;
}

.buttons-container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}
.add-button {
  background: #2d2974 !important;
  color: #f1f3f5 !important;
}

.cancel-button {
  background: #f6f7fb !important;
  border: 1px solid #2d2974 !important;
}

.title {
  text-align: center;
  font-size: 16px;
  width: 100%;
}
.border-title {
  border-bottom: 4px solid;
  border-bottom-color: $primary;
  padding: 0 100px;
  padding-bottom: 12px;
}
</style>