<template>
  <v-card class="mb-12" color="grey lighten-1">
    <v-row class="mt-5" v-if="loading" style="height: 100px">
      <v-progress-circular
        style="margin: auto"
        indeterminate
        class="progress-circular-color"
      ></v-progress-circular>
    </v-row>
    <div v-else>
      <v-container class="mode-container">
        <h6 class="mt-2">Logotipo</h6>
        <v-file-input
          ref="logo"
          :error-messages="logoErrors"
          :placeholder="placeholderStatus"
          :filled="editGeneralData"
          :disabled="inputsStatus"
          accept="image/*"
          small-chips
          outlined
          dense
          prepend-icon=""
          @change="setLogoFile"
          @input="$v.currentGeneralData.logo.$touch()"
          @blur="$v.currentGeneralData.logo.$touch()"
        ></v-file-input>
        <h6 class="mt-2">Correo de Facturación a Emprendedores</h6>
        <v-text-field
          v-model="currentGeneralData.billingEmail"
          :error-messages="billingEmailErrors"
          placeholder="Ingrese el correo con el que se enviarán las facturas"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentGeneralData.billingEmail.$touch()"
          @blur="$v.currentGeneralData.billingEmail.$touch()"
        ></v-text-field>
        <h6 class="mt-2">Correo de la Plataforma</h6>
        <v-text-field
          v-model="currentGeneralData.platformEmail"
          :error-messages="platformEmailErrors"
          placeholder="Ingrese el correo con el que se enviarán las notificaciones de la plataforma"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentGeneralData.platformEmail.$touch()"
          @blur="$v.currentGeneralData.platformEmail.$touch()"
        ></v-text-field>

        <h6 class="mt-2">Correo de Atención a Emprendedores</h6>
        <v-text-field
          v-model="currentGeneralData.entrepreneurServiceEmail"
          :error-messages="entrepreneurServiceEmailErrors"
          placeholder="Ingrese el correo para brindar soporte"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentGeneralData.entrepreneurServiceEmail.$touch()"
          @blur="$v.currentGeneralData.entrepreneurServiceEmail.$touch()"
        ></v-text-field>

        <h6 class="mt-2">Correo de Notificaciones</h6>
        <v-text-field
          v-model="currentGeneralData.notificationsEmail"
          :error-messages="notificationsEmailErrors"
          placeholder="Ingrese el correo para enviar las notificaciones"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentGeneralData.notificationsEmail.$touch()"
          @blur="$v.currentGeneralData.notificationsEmail.$touch()"
        ></v-text-field>

        <h6 class="mt-2">Número de Atención a Emprendedores</h6>
        <v-text-field
          v-model="currentGeneralData.entrepreneurServiceTel"
          :error-messages="entrepreneurServiceTelErrors"
          v-mask="'##########'"
          placeholder="Ingrese el número de teléfono"
          :readonly="inputsStatus"
          outlined
          dense
          @keydown="changeDetected"
          @input="$v.currentGeneralData.entrepreneurServiceTel.$touch()"
          @blur="$v.currentGeneralData.entrepreneurServiceTel.$touch()"
        ></v-text-field>
      </v-container>

      <form-action-buttons
          :hideSaveBtn="!permissions.includes('Configurations.edit')"
          @close="cancel"
          @save="submit"
      ></form-action-buttons>
    </div>
  </v-card>
</template>
<script>
import Vue from "vue";
import store from "../../../../store";
import { validationMixin } from "vuelidate";
import { required, email, minLength } from "vuelidate/lib/validators";
import VueMask from "v-mask";

Vue.use(VueMask);

export default {
  name: "FormGeneral",
  mixins: [validationMixin],
  validations: {
    currentGeneralData: {
      logo: { required },
      billingEmail: { required, email },
      platformEmail: { required, email },
      entrepreneurServiceEmail: { required, email },
      notificationsEmail: { required, email },
      entrepreneurServiceTel: { required, minLength: minLength(10) },
    },
  },
  data() {
    return {
      currentGeneralData: {
        logo: null,
        billingEmail: "",
        platformEmail: "",
        entrepreneurServiceEmail: "",
        notificationsEmail: "",
        entrepreneurServiceTel: "",
        id: null,
      },
      editGeneralData: false,
      editedLogoFile: null,
      loading: false,
      changed: false,
      placeholderFileInput: "",
    };
  },
  mounted() {
    this.getConfiguration();
  },
  methods: {
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        let data = new FormData();
        data.append("billingEmail", this.currentGeneralData.billingEmail);
        data.append("platformEmail", this.currentGeneralData.platformEmail);
        data.append("entrepreneurServiceEmail", this.currentGeneralData.entrepreneurServiceEmail);
        data.append("notificationsEmail", this.currentGeneralData.notificationsEmail);
        data.append("entrepreneurServiceTel", this.currentGeneralData.entrepreneurServiceTel);
        data.append("dataType", 'general');
        data.append("_method", "put");

        if (this.editGeneralData) {
          if (this.editedLogoFile != this.currentGeneralData.logo) {
            data.append("logo", this.currentGeneralData.logo);
          } else data.append("logo", "");
          this.update(data);
        } else {
          data.append("logo", this.currentGeneralData.logo);
          this.update(data);
        }
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Update the configuration general data from the api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param data FormData
     * @return void
     */
    update(data) {
      axios
        .post("/api/configurations/" + this.currentGeneralData.id, data, {
          headers: { "Content-type": "multipart/form-data" },
        })
        .then((result) => {
          swal2.fire(
            "Actualizado",
            "Se agregaron los datos correctamente",
            "success"
          );
          this.resetInputs();
          this.getConfiguration();
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get the configuration data from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    getConfiguration() {
      this.loading = true;
      axios
        .get("/api/configurations")
        .then((result) => {
          if (result.data != null) {
            this.currentGeneralData.id = result.data.Id;
            this.currentGeneralData.logo = result.data.Logotipo;
            this.currentGeneralData.billingEmail = result.data.CorreoFacturacionEmprendedores;
            this.currentGeneralData.platformEmail = result.data.CorreoPlataforma;
            this.currentGeneralData.entrepreneurServiceEmail = result.data.CorreoAtencionEmprendedores;
            this.currentGeneralData.notificationsEmail = result.data.CorreoNotificaciones;
            this.currentGeneralData.entrepreneurServiceTel = result.data.NumeroAtencionEmprendedores;
            this.editedLogoFile = result.data.Logotipo;

            this.editedLogoFile != null ?
            this.editGeneralData = true :
            this.editGeneralData = false;

            this.changed = false;
            this.$emit("changed", [this.changed, "general"]);
          } else {
            this.editGeneralData = false;
            this.changed = false;
            this.$emit("changed", [this.changed, "general"]);
          }
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Reset inputs.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    resetInputs() {
      this.$v.$reset();
      this.$refs.logo.reset();
      this.currentGeneralData = {
        logo: null,
        billingEmail: "",
        platformEmail: "",
        entrepreneurServiceEmail: "",
        notificationsEmail: "",
        entrepreneurServiceTel: "",
      };
    },
    /**
     * Set a image to currentGeneralData.logo property.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    setLogoFile(file) {
      if (!file) return;
      this.currentGeneralData.logo = file;
      this.changeDetected();
    },
    /**
     * Detect if inputs has been changed and emit value to component paren (index) to warn.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return void
     */
    changeDetected() {
      this.changed = true;
      this.$emit("changed", [this.changed, "general"]);
    },
    /**
     * Evaluate whether the fields should be edited or not from the component parent (index).
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param boolean option
     * @return void
     */
    verify(option) {
      option ? this.submit() : this.getConfiguration();
    },
    /**
     * Redirect to root index.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param 
     * @return void
     */
    cancel: function() {
        this.$router.push('/');
    },
  },
  computed: {
    /**
     * Return the permissions for the current user.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    permissions() {
        return store.state.permissions;
    },
    /**
     * Enables or disables the inputs depending on whether the user has permission to edit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return boolean
     */
    inputsStatus(){
      return !this.permissions.includes('Configurations.edit');
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    logoErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.logo.$dirty) return errors;
      !this.$v.currentGeneralData.logo.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    billingEmailErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.billingEmail.$dirty) return errors;
      !this.$v.currentGeneralData.billingEmail.email &&
        errors.push("Debe ser un correo electrónico válido");
      !this.$v.currentGeneralData.billingEmail.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    platformEmailErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.platformEmail.$dirty) return errors;
      !this.$v.currentGeneralData.platformEmail.email &&
        errors.push("Debe ser un correo electrónico válido");
      !this.$v.currentGeneralData.platformEmail.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    entrepreneurServiceEmailErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.entrepreneurServiceEmail.$dirty)
        return errors;
      !this.$v.currentGeneralData.entrepreneurServiceEmail.email &&
        errors.push("Debe ser un correo electrónico válido");
      !this.$v.currentGeneralData.entrepreneurServiceEmail.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    notificationsEmailErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.notificationsEmail.$dirty)
        return errors;
      !this.$v.currentGeneralData.notificationsEmail.email &&
        errors.push("Debe ser un correo electrónico válido");
      !this.$v.currentGeneralData.notificationsEmail.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return array
     */
    entrepreneurServiceTelErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.entrepreneurServiceTel.$dirty)
        return errors;
      !this.$v.currentGeneralData.entrepreneurServiceTel.minLength &&
        errors.push("El campo debe tener por lo menos 10 dígitos");
      !this.$v.currentGeneralData.entrepreneurServiceTel.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Change placeholder in input file if editBillingData is true or false.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-29
     * @param
     * @return string
     */
    placeholderStatus() {
      if (this.editGeneralData) {
        return (this.placeholderFileInput = "Cambiar archivo cargado");
      } else {
        return (this.placeholderFileInput = "Seleccionar archivo");
      }
    },
  },
};
</script>
<style lang="scss">
 @import '../../../../../sass/_variables.scss';

 .progress-circular-color {
    color: $primary;
  }

.mode-container {
  padding: 0px;
}

.buttons-container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}
.add-button {
  background: #2d2974 !important;
  color: #f1f3f5 !important;
}

.cancel-button {
  background: #f6f7fb !important;
  border: 1px solid #2d2974 !important;
}
</style>