<template>
    <div>
        <v-chip
            :color="getStatusColor(item)"
            dark
            small
            >
            {{ getStatusName(item) }}
        </v-chip>
    </div>
</template>

<script>
export default {
    props: {
        item: Object
    },

    methods: {
        /**
         * Gets the status name.
         * @auth Octavio Cornejo
         * @date 2021-03-03
         * @param Object item
         * @return String
         */
        getStatusName(item) {
            return item.status  ? 'Activo' : item.Estatus == 1  ? 'Activo' : item.Activo == 1 ? 'Activo' : item.eCommerce == 1 ? 'Activo' : 'Inactivo';
        },
        /**
         * Gets status color.
         * @auth Octavio Cornejo
         * @date 2021-03-03
         * @param Object item
         * @return String
         */
        getStatusColor(item) {
            return item.status  ? 'success' : item.Estatus == 1  ? 'success' : item.Activo == 1 ? 'success' : item.eCommerce == 1 ? 'success' : 'red';
        },
    }
}
</script>
