<template>
    <div>
        <v-tooltip top attach>
            <template v-slot:activator="{ on, attrs }">
                <v-icon v-if="!editDisabled"
                    small
                    class="mr-2"
                    color="primary"
                    @click="$emit('edit', item)"
                    v-bind="attrs"
                    :disabled="editDisabled"
                    v-on="on"
                    >
                    mdi-pencil
                </v-icon>
            </template>
            <span>Editar</span>
        </v-tooltip>
        <v-tooltip top attach>
            <template v-slot:activator="{ on, attrs }">
                <v-icon v-if="!showDisabled"
                    small
                    class="mr-2"
                    color="primary"
                    @click="$emit('view', item)"
                    v-bind="attrs"
                    :disabled="showDisabled"
                    v-on="on"
                    >
                    mdi-eye
                </v-icon>
            </template>
            <span>Mostrar</span>
        </v-tooltip>
        <v-tooltip top attach>
            <template v-slot:activator="{ on, attrs }">
                <v-icon v-if="!deleteDisabled"
                    small
                    color="primary"
                    @click="$emit('delete', item)"
                    v-bind="attrs"
                    :disabled="deleteDisabled"
                    v-on="on"
                    >
                    {{iconChangeStatus}}
                </v-icon>
            </template>
            <span>{{spanChangeStatus}}</span>
        </v-tooltip>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
        editDisabled: {
            type: Boolean,
            default: false,
        },
        deleteDisabled: {
            type: Boolean,
            default: false,
        },
        showDisabled: {
            type: Boolean,
            default: false,
        },
        iconChangeStatus: {
            type: String,
            default: 'mdi-delete'
        },
        spanChangeStatus: {
            type: String,
            default: 'Eliminar'
        }
    },
}
</script>
