<template>
    <div class="mb-3">
        <v-toolbar flat>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-btn
                v-if="!hideCreationButton"
                class="mx-2"
                fab
                dark
                small
                color="success"
                @click="$emit('open', true)"
                :disabled="disableCreation"
                >
                <v-icon dark>
                    mdi-plus
                </v-icon>
            </v-btn>
                <div>
                    <slot></slot>
                </div>
            <v-spacer style="text-align: -webkit-center;">
                <div v-if="!hideCenterButton" style="width:100px;">
                <v-btn
                    block
                    color="primary"
                    text
                    @click="$emit('openUtility', true)"
                    >
                    Utilidad Global
                </v-btn>
            </div>
            </v-spacer>
            
            <div>
                <v-text-field
                    v-if="!hideSearchBar"
                    v-model="search"
                    outlined
                    dense
                    append-icon="mdi-magnify"
                    placeholder="Buscar"
                    hide-details
                    ></v-text-field>
            </div>
            
        </v-toolbar>
        <p v-if="subtitle" style="margin-left: 17px;"><small>{{subtitle}}</small></p>
        <v-row style="margin-left: 5px;" v-if="!hideItemsToShow">
            <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
            <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
                <div>
                    <v-select
                        v-model="itemsPerPage"
                        :items="amounts"
                        item-text="name" 
                        item-value="id"
                        placeholder="Elige una opción"
                        outlined
                        dense
                        attach
                        auto
                        @change="$emit('itemsToShow', itemsPerPage)"
                    ></v-select>
                </div>
            </v-col>
            <v-col cols="6" md="1" style="align-self: center; padding-left: 0px; max-width: 80px;"><p>Registros</p></v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
            required: false
        },
        disableCreation: {
            type: Boolean,
            required: false,
            default: true
        },
        hideCreationButton: {
            type: Boolean,
            default: false,
            required: false
        },
        hideSearchBar: {
            type: Boolean,
            default: false,
            required: false
        },
        hideCenterButton: {
            type: Boolean,
            default: true,
            required: false
        },
        hideItemsToShow: {
            type: Boolean,
            default: true,
            required: false
        },
        amounts: {
            type: Array,
            default: function() {
                return [
                    {id:10, name:'10'},
                    {id:50, name:'50'},
                    {id:100, name:'100'},
                ]
            }
        },
        itemsPerPageProp : {
            type: Number,
            default: 10
        },
    },
    mounted () {
        this.itemsPerPage = this.itemsPerPageProp;
    },
    data() {
        return {
            search: '',
            itemsPerPage : 10,
        }
    },
    watch: {
        /**
         * Watch if search value has changed and emit an event to the parent component.
         * @auth Octavio Cornejo
         * @date 2021-03-08
         * @param String newVal
         * @return void
         */
      	search: function(newVal) {
            this.$emit('searching', newVal);
        }
    }
}
</script>
