<template>
    <div>
        <v-dialog v-model="status" max-width="500px" transition="scroll-x-reverse-transition" persistent>
            <v-card>
                <v-card-title class="headline" style="justify-content: center">{{textDialog}}</v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="$emit('cancel')">Cancelar</v-btn>
                    <v-btn outlined color="red" text @click="$emit('confirm')" :loading="loading" :disabled="loading">{{txtOkBtn}}</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: {
        status: Boolean,
        textDialog: {
            type: String,
            default: '¿Estás seguro de eliminar este registro?'
        },
        txtOkBtn: {
            type: String,
            default: 'Sí, eliminalo'
        },
        loading: {
            type: Boolean,
            default: false,
        },
    }
}
</script>

<style lang="scss" scoped>
    .v-card__title {
        font-size: 18px !important;
        .headline {
            justify-content: center!important;
        }
    }
    .v-card__actions {
        font-size: 14px !important;
    }
</style>
