<template>
    <div>
    <v-alert
      text
      prominent
      type="error"
      icon="mdi-cloud-alert"
    >
      <h4>No cuentas con los permisos necesarios para acceder a este módulo. Comunicate con el administrador de la página.</h4>
    </v-alert>
    </div>
</template>

<style>
    h4 {
        padding-left: 20px !important;
    }
</style>
