<template>
    <v-row>
        <v-col cols="12" :lg=columnsLg v-if="!hideSaveBtn">
            <v-btn
                v-if="edit"
                block
                color="primary"
                text
                :disabled="isLoading"
                :loading="isLoading"
                @click="$emit('edit')"
                >
                Editar
            </v-btn>
            <v-btn
                v-else
                block
                color="primary"
                text
                :disabled="isLoading"
                :loading="isLoading"
                @click="$emit('save')"
                >
                Guardar
            </v-btn>
        </v-col>
        <v-col cols="12" :lg=columnsLg>
            <v-btn
                block
                color="primary"
                text
                outlined
                @click="$emit('close')"
                >
                Cancelar
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: {
        isLoading: {
            type: Boolean,
            default: false
        },
        hideSaveBtn: {
            type: Boolean,
            default: false
        },
        edit: {
            type: Boolean,
            default: false
        },
        columnsLg: {
            type: String,
            default: "2"
        }
    }
}
</script>

<style scoped>
    .row {
        justify-content: center;
    }
</style>
