<template>
    <div>
        <label :class="{error: error}">
            {{ text }}
            <span v-if="required">*</span>
        </label>
    </div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            required: true
        },
        required: {
            type: Boolean,
            default: false
        },
        error: Boolean
    }
}
</script>

<style scoped>
    label {
        font-size: 14px;
    }

    label.error {
        color: #dc3545;
    }

    span {
        color: #dc3545;
    }
</style>
