<template>
    <div class="container">
        <v-card>
            <div v-if="loading">
                <v-card-title style="justify-content: center">
                    <h4>Cerrando sesión</h4>
                </v-card-title>
                <div class="loader-wrapper d-flex justify-content-center align-items-center">
                    <pulse-loader class="pulse-loader-color"></pulse-loader>
                </div>
            </div>
            <div v-else>
                <v-card-title style="justify-content: center">
                    <h4>Se cerrará la sesión actual</h4>
                </v-card-title>
                <v-card-actions>
                    <v-row  style="justify-content: center">
                        <v-col cols="12" lg="2">
                            <v-btn
                                block
                                color="primary"
                                text
                                @click="logout"
                                >
                                Salir
                            </v-btn>
                        </v-col>
                        <v-col cols="12" lg="2">
                            <v-btn
                                block
                                color="primary"
                                text
                                outlined
                                @click="cancel"
                                >
                                Cancelar
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </div>
        </v-card>

    </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
    components: {
        PulseLoader
    },

    data() {
        return {
            loading: false
        }
    },

    mounted() {
        this.loading = false;
    },

    methods: {
        /**
         * Cancel the action.
         * @auth Octavio Cornejo
         * @date 2021-03-16
         * @param param
         * @return void
         */
        cancel() {
            this.$router.push('/');
        },
        /**
         * Logout the actual user.
         * @auth Octavio Cornejo
         * @date 2021-03-16
         * @param
         * @return void
         */
        logout() {
            this.loading = true;
            axios.post('/logout')
                .then(res => console.log(res))
                .catch(er => console.error({er}))
                .finally(() => {
                    window.location.reload();
                });
        }
    }
}
</script>

<style lang="scss">
@import '../../sass/_variables.scss';

    .pulse-loader-color {
       color: $primary;
    }

    .subtle {
        text-align: center;
    }

    .loader-wrapper {
        color: $primary;
        width: 100%;
    }

    .v-card {
        min-height: 12rem;
        padding: 2rem;
    }
    .v-card__actions {
        font-size: 14px !important;
    }

</style>
