<template>
    <v-row>
        <v-col cols="12" v-if="!hideSaveBtn">
            <v-btn
                block
                color="primary"
                text
                :disabled="isLoading"
                :loading="isLoading"
                @click="$emit('confirm')"
                >
                {{ confirmationText }}
            </v-btn>
        </v-col>
        <v-col cols="12">
            <v-btn
                block
                color="primary"
                text
                outlined
                @click="$emit('cancel')"
                >
                Cancelar
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: {
        isLoading: {
            type: Boolean,
            default: false
        },
        hideSaveBtn: {
            type: Boolean,
            default: false
        },
        confirmationText: {
            type: String,
            default: 'Guardar'
        }
    }
}
</script>

<style scoped>
    .row {
        justify-content: center;
    }

    .col.col-12 {
        padding-top: 0%;
    }
</style>
