<template>
    <v-row>
        <v-col>
            <div class="items-showed-text">
                {{ itemsShowedText }}
            </div>
        </v-col>
        <v-col>
            <v-pagination
                v-model="currentPage"
                :length="lastPage"
                circle
                prev-icon="mdi-arrow-left"
                next-icon="mdi-arrow-right"
                @input="$emit('input', $event)"
                >
            </v-pagination>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: {
        current: 0,
        last: 0,
        total: 0,
        itemsPerPage: 0
    },

    computed: {
        /**
         * Handles the pagination.
         * @auth Octavio Cornejo
         * @date 2021-03-03
         * @var Object
         */
        currentPage: {
            get() {
                return this.current;
            },
            set(val) {
                return val;
            }
        },
        /**
         * Set lastPage value from given prop.
         * @auth Octavio Cornejo
         * @date 2021-03-03
         * @param
         * @return Integer
         */
        lastPage() {
            return this.last;
        },
        /**
         * Shows how many items are shown on the datatable.
         * @auth Octavio Cornejo
         * @date 2021-03-04
         * @param
         * @return String
         */
        itemsShowedText() {
            let end = this.current * this.itemsPerPage;
            let start = (end - this.itemsPerPage) + 1;
            if (end > this.total) end = this.total;
            if (start > end) end = start;
            if (this.total == 0) start = end = 0;

            return `Mostrando ${start} a ${end} de ${this.total} entradas`;
        }
    }
}
</script>

<style lang="scss">
@import '../../sass/_variables.scss';

    .items-showed-text {
        color: $primary;
        font-size: 14px;
        position: relative;
        top: 1rem;
    }
</style>
