<template>
  <v-card class="p-3">
    <v-card-title class="text-center">
      <b>Agregar Productos</b>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        @keyup="searchSpecificProducts"
        :readonly="disableInputs"
        outlined
        dense
        append-icon="mdi-magnify"
        placeholder="Buscar"
        hide-details
        style="max-width: 300px"
      ></v-text-field>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
        <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
          <div>
            <v-select
              v-model="itemsPerPage"
              :items="amounts"
              item-text="name"
              item-value="id"
              placeholder="Elige una opción"
              outlined
              dense
              attach
              auto
            ></v-select>
          </div>
        </v-col>
        <v-col cols="6" md="1" style="align-self: center; padding-left: 0px;"><p>Registros</p></v-col>
      </v-row>
      <v-row>
        <v-col cols="6" md="2">
          <h6>Marca</h6>
          <v-select
            v-model="filters.brand"
            placeholder="Marca"
            :readonly="disableInputs"
            :items="brands"
            item-text="Marca"
            item-value="Id_Marca"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Familia</h6>
          <v-select
            v-model="filters.family"
            placeholder="Familia"
            :readonly="disableInputs"
            :items="families"
            item-text="Familia"
            item-value="Id_Familia"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Especialidad</h6>
          <v-select
            v-model="filters.especiality"
            placeholder="Especialidad"
            :readonly="disableInputs"
            :items="specialties"
            item-text="Especialidad"
            item-value="Id_EspMed"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Categoría</h6>
          <v-select
            v-model="filters.category"
            placeholder="Categoría"
            :readonly="disableInputs"
            :items="categories"
            item-text="Categoria"
            item-value="Id_Categoria"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Peso</h6>
          <v-select
            v-model="filters.weight"
            placeholder="Peso"
            :readonly="disableInputs"
            :items="weight"
            item-text="Peso"
            item-value="Id_Peso"
            outlined
            dense
          ></v-select>
          <v-text-field
            v-model="filters.weight_t"
            placeholder="Peso_t"
            :readonly="disableInputs"
            item-text="Peso"
            item-value="Id_Peso_t"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Volumen</h6>
          <v-select
            v-model="filters.volumen"
            placeholder="Volumen"
            :readonly="disableInputs"
            :items="volumen"
            item-text="Volumen"
            item-value="Id_Volumen"
            outlined
            dense
          ></v-select>
          <v-text-field
            v-model="filters.volumen_t"
            placeholder="Volumen_t"
            :readonly="disableInputs"
            item-text="Volumen"
            item-value="Id_volumen_t"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2" style="align-self: center">
          <v-btn block color="primary" text @click="filterProducts" :disabled="disableInputs">
            Buscar
          </v-btn>
        </v-col>
        <v-col cols="6" md="2" style="align-self: center">
          <v-btn block color="primary" text @click="cleanFilters" :disabled="disableInputs">
            Limpiar
          </v-btn>
        </v-col>
      </v-row>

      <v-data-table
        v-model="productsSelected"
        :headers="headers"
        :items="products"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        item-key="Id_Prod1"
        hide-default-footer
        :show-select="!disableInputs"
        @toggle-select-all="selectAllProducts"
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
      >
      </v-data-table>

      <template v-slot:[`item.Estatus`]="{ item }">
        <chip-status :item="item"></chip-status>
      </template>
      <pagination
        :last="pageCount"
        :current="page"
        :itemsPerPage="itemsPerPage"
        :total="this.products.length"
        v-on:input="page = $event"
      ></pagination>

      <v-row style="justify-content: flex-end">
        <v-col cols="6" md="2">
          <v-btn block color="primary" text @click="previousTab">
            <v-icon left> mdi-arrow-left </v-icon>
            Anterior
          </v-btn>
        </v-col>
        <v-col cols="6" md="2">
          <v-btn block color="primary" text @click="submit"> {{disableInputs ? 'Salir' : 'Guardar'}} </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "AddProducts",
  props: ["editProducts", "groupId", "disableInputs"],
  mounted() {
    this.getSettings();
    if (this.editProducts) {
      this.getProductsToEdit(this.groupId);
    }
  },
  data() {
    return {
      brands: [],
      families: [],
      specialties: [],
      categories: [],
      weight: ['<','>','='],
      volumen: ['<','>','='],
      products: [],
      productsSelected: [],
      amounts:[
          {id:10, name:'10'},
          {id:50, name:'50'},
          {id:100, name:'100'},
      ],
      aux: [],
      fields: ['selected', 'Id_Prod1', 'Descrip1'],
      filters: {
        brand: 0,
        family: 0,
        especiality: 0,
        category: 0,
        weight:'',
        weight_t:'',
        volumen:'',
        volumen_t:'',
      },
      search: "",
      page: 1,
      pageCount: 0,
      totalItems: 0,
      itemsPerPage: 10,
      loading: false,
      data: {},
      headers: [
        {
          text: "",
          value: "checkBox",
        },
        {
          text: "ID PRODUCTO",
          value: "Id_Prod1",
        },
        {
          text: "DESCRIPCION",
          value: "Descrip1",
        },
      ],
    };
  },
  methods: {
    /**
     * Emmit the previous number tab to move.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    previousTab() {
      this.$emit("previous", 1);
    },
    /**
     * Get settings to fill selects in add products from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-01
     * @param
     * @return void
     */
    getSettings() {
      axios
        .get("/api/special-costs-settings")
        .then((result) => {
          this.brands = result.data.brands;
          this.families = result.data.families;
          this.specialties = result.data.especialities;
          this.categories = result.data.categories;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Allows you to filter products from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-01
     * @param
     * @return void
     */
    filterProducts() {
      this.loading = true;
      this.search = "";
      axios
        .get("/api/special-costs-products", {
          params: {
            filters: this.filters,
          },
        })
        .then((result) => {
          this.products = result.data.products;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
          this.selectAll = false;
        });
    },
    /**
     * Allows you to search for specific products.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-01
     * @param
     * @return void
     */
    searchSpecificProducts() {
      if (this.search != "") {
        this.loading = true;
        axios
          .get("/api/special-specific-products", {
            params: {
              search: this.search,
            },
          })
          .then((result) => {
            this.products = result.data.products;
          })
          .catch(function() {
            swal2.fire({
              icon: "error",
              title: "Oops...",
              text: "Algo salió mal, vuelve a intentarlo!",
            });
          })
          .finally(() => {
            this.loading = false;
            this.selectAll = false;
          });
      } else {
        this.products = [];
      }
    },
    /**
     * Post a group of products with a specific cost group.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param Object data
     * @return void
     */
    post(productsToSend) {
      if (productsToSend != 0) {
        this.data.products = productsToSend;
        this.data.groupId = this.groupId;
        axios
          .post("/api/configurations/special-costs-groups-articles", this.data)
          .then(() => {
            swal2.fire(
              "Creado",
              "Se agregaron los datos correctamente",
              "success"
            );
            this.$router.push({ name: "special-costs-configurators" });
          })
          .catch(function () {
            swal2.fire({
              icon: "error",
              title: "Oops...",
              text: "Algo salió mal, vuelve a intentarlo!",
            });
            this.$router.push({ name: "special-costs-configurators" });
          });
      } else {
        swal2
          .fire({
            title: "¿Desea continuar?",
            text: "No se han añadido nuevos productos",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si",
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$router.push({ name: "special-costs-configurators" });
            }
          });
      }
    },
    /**
     * Get a list of products related to the special cost to edit from the api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-13
     * @param
     * @return void
     */
    getProductsToEdit(groupId) {
      this.loading = true;
      axios
        .get("/api/configurations/special-costs-groups-edit/" + groupId)
        .then((result) => {
          this.productsToEdit = result.data;
          this.products = result.data;
          this.productsSelected = result.data;
          result.data.length > 0 ? this.selectAll = true : this.selectAll = false;
        })
        .catch(function () {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Allows detach products of a group from api.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-05
     * @param array productsToDelete
     * @return void
     */
    deleteProducts(productsToDelete) {
      axios
        .delete(
          "/api/configurations/special-costs-groups-removes-articles/" +
            this.groupId,
          {
            params: {
              products: { products: productsToDelete },
            },
          }
        )
        .then(() => {});
    },
    /**
     * If it is going to be edited then: if there are products to be removed, call the method to remove them then add the new ones. otherwise just add the new ones.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-05
     * @param
     * @return void
     */
    submit() {
      if(this.disableInputs){
        this.$router.push({ name: "special-costs-configurators" });
      }else{
        if (this.editProducts) {
          let newProductsToAdd = this.productsSelected.filter(
            (val) => !this.productsToEdit.includes(val)
          );
          let productsDeleted = this.productsToEdit.filter(
            (val) => !this.productsSelected.includes(val)
          );
          if (productsDeleted.length > 0) {
            this.deleteProducts(productsDeleted);
          }
          this.post(newProductsToAdd);
        } else {
          this.post(this.productsSelected);
        }
      }
    },
    /**
     * Clean the filters.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    cleanFilters() {
      this.filters.brand = 0;
      this.filters.family = 0;
      this.filters.especiality = 0;
      this.filters.category = 0;
      this.filters.weight = 0;
      this.filters.weight_t = "";
      this.filters.volumen = 0;
      this.filters.volumen_t = "";
      this.selectAll = false;
    },
    /**
     * Allows you to add all current products from the table.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    selectAllProducts(props) {
      if(!props.value){
        this.productsSelected = [];
      }else{
        if(this.editProducts){
          this.productsSelected = this.productsSelected.concat(this.products);
        }else{
            this.productsSelected = this.products;
        }
      }
    },
  },
  watch: {
    /**
     * Update the products if there is a new list from prop editProducts.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-13
     * @param Array newVal
     * @return void
     */
    editProducts(newVal) {
      this.products = newVal;
    },
    /**
     * Watch if search value has changed and emit an event to the parent component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-13
     * @param String newVal
     * @return void
     */
    search: function (newVal) {
      return newVal;
    },
  },
};
</script>
