<template>
    <v-card class="p-3">
        <v-card-title class="text-center"><b>{{title}}</b></v-card-title>
        <v-row class="mt-2" v-if="loading" style="height: 100px">
          <v-progress-circular
            style="margin: auto"
            indeterminate
            class="progress-circular-color"
          ></v-progress-circular>
        </v-row>
        <v-card-text v-else>
            <v-row>
                <v-col cols="6" md="12">
                  <h6 class="mt-2">Nombre del Grupo</h6>
                  <v-text-field
                    v-model="currentGroup.Nombre"
                    :error-messages="nameErrors"
                    :readonly="disableInputs"
                    placeholder="Nombre del grupo"
                    outlined
                    dense
                    @input="$v.currentGroup.Nombre.$touch()"
                    @blur="$v.currentGroup.Nombre.$touch()"
                  ></v-text-field>
                </v-col>
            </v-row>
            <h6>Vigencia</h6>
            <v-row>
              <v-col cols="6" md="2">
                    <h6>Fecha Inicio</h6>
                    <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :disabled="disableInputs"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="currentGroup.Fecha_inicio"
                          placeholder="dd/mm/aaaa"
                          outlined
                          dense
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="currentGroup.Fecha_inicio"
                        @input="menu1 = false"
                        @change="validateStartDate"
                        :readonly="disableInputs"
                        color="#018085"
                        header-color="#018085"
                      ></v-date-picker>
                    </v-menu> 
              </v-col>
              <v-col cols="6" md="2">
                <h6>Fecha Fin</h6>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :disabled="disableInputs"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="currentGroup.Fecha_fin"
                      placeholder="dd/mm/aaaa"
                      outlined
                      dense
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="currentGroup.Fecha_fin"
                    @input="menu2 = false"
                    @change="validateEndDate"
                    :readonly="disableInputs"
                    color="#018085"
                    header-color="#018085"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <h6>Prioridad</h6>
            <v-row>
                <v-col cols="6" style="max-width: 130px">
                  <v-text-field
                            v-model="currentGroup.Prioridad"
                            :error-messages="priorityErrors"
                            :readonly="disableInputs"
                            placeholder="0"
                            type="number"
                            min="0"
                            outlined
                            required
                            dense
                            @input="$v.currentGroup.Prioridad.$touch()"
                            @blur="$v.currentGroup.Prioridad.$touch()"
                        ></v-text-field>
                </v-col>
            </v-row>
            
            <v-row style="justify-content: flex-end" class="mt-3">
                <v-col cols="6" md="2">
                    <v-btn
                        block
                        color="primary"
                        text
                        @click="submit"
                        >
                        Siguiente 
                        <v-icon left>
                          mdi-arrow-right
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    name: "Registration",
    props: ["title", "disableInputs"],
    components: {
    },
    mixins: [validationMixin],
    validations: {
        currentGroup: {
          Nombre: { required },
          Prioridad: { required },
        },
    },
    mounted() {
        if (this.$route.params.item != null){
            this.getGroup(this.$route.params.item.Id);
        }
    },
    data() {
      return {
        menu1: false,
        menu2: false,
        loading: false,
        currentGroup:{
            Id: null,
            Nombre: "",
            Fecha_inicio: null,
            Fecha_fin: null,
            Prioridad: null
        }
      };
    },
    methods:{
        /**
         * If disableInputs is true it indicates that the form is only for consultation and goes to the next wizard otherwise it validates if the form is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return void
         */
        submit() {
          if(this.disableInputs){
            this.nextTab(this.currentGroup.Id);
          }else{
            this.$v.$touch();
            if (this.$v.$invalid) {
              this.submitStatus = "ERROR";
            } else if (!this.$v.$invalid) {
              this.currentGroup.Id != null ? this.edit() : this.post();
            } else {
              this.submitStatus = "PENDING";
              setTimeout(() => {
                this.submitStatus = "OK";
              }, 500);
            }
          }
        },
        /**
         * Post a new group.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param Object data
         * @return void
         */
        post() {
          axios
            .post("/api/configurations/special-costs-groups", this.currentGroup)
            .then((result) => {
              swal2.fire(
                "Se ha creado el grupo",
                "Se agregaron los datos correctamente",
                "success"
              );
              this.nextTab(result.data.Id);
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
              this.$router.push({ name: "special-costs-configurators" });
            });
        },
        /**
         * Update a group data.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-05
         * @param
         * @return void
         */
        edit() {
          axios
            .put("/api/configurations/special-costs-groups/" + this.currentGroup.Id, this.currentGroup)
            .then(() => {
              swal2.fire("Editado", "Se editó correctamente", "success");
              this.nextTab(this.currentGroup.Id);
            })
            .catch(function () {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
              this.$router.push({ name: "special-costs-configurators" });
            });
        },
        /**
         * Get a special cost from api.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-13
         * @param
         * @return void
         */
        getGroup(id) {
            this.loading = true;
            axios.get("/api/configurations/special-costs-groups/" + id).then((result) => {
                this.currentGroup.Id = result.data.Id;
                this.currentGroup.Nombre = result.data.Nombre;
                this.currentGroup.Prioridad = result.data.Prioridad;
                this.currentGroup.Fecha_inicio = result.data.Fecha_inicio;
                this.currentGroup.Fecha_fin = result.data.Fecha_fin;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            }).finally(() => {
              this.loading = false;
            });
        },
        /**
         * Emmit the next tab number and the id of the group that was just created.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return void
         */
        nextTab(id){
            this.$emit("changed", [1, id]);
        },
        /**
         * Validates that the start date is not greater than the end date.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-04
         * @param
         * @return void
         */
        validateStartDate() {
          if(this.currentGroup.Fecha_inicio > this.currentGroup.Fecha_fin && this.currentGroup.Fecha_fin != null){
            this.currentGroup.Fecha_inicio = null;
            this.currentGroup.Fecha_fin = null;
            swal2.fire({
                icon: "warning",
                title: "Atención",
                text: "La fecha de inicio debe ser menor a la fecha de fin",
              });
          }
        },
        /**
         * Validates that the end date is not less than the start date.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-04
         * @param
         * @return void
         */
        validateEndDate() {
          if(this.currentGroup.Fecha_fin < this.currentGroup.Fecha_inicio){
            this.currentGroup.Fecha_fin = null;
            swal2.fire({
                icon: "warning",
                title: "Atención",
                text: "La fecha de fin debe ser mayor a la fecha de inicio",
              });
          }
        }
    },
    computed:{
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return array
         */
        nameErrors() {
          const errors = [];
          if (!this.$v.currentGroup.Nombre.$dirty) return errors;
          !this.$v.currentGroup.Nombre.required &&
            errors.push("El campo es requerido");
          return errors;
        },
        /**
         * Evaluate if an input is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-03
         * @param
         * @return array
         */
        priorityErrors() {
          const errors = [];
          if (!this.$v.currentGroup.Prioridad.$dirty) return errors;
          !this.$v.currentGroup.Prioridad.required &&
            errors.push("El campo \n es requerido");
          return errors;
        },
  },
}
</script>
<style lang="scss">
@import '../../../../../sass/_variables.scss';

.progress-circular-color {
   color: $primary;
}
</style>