<template>
    <div>
        <v-dialog v-model="status" max-width="600px" transition="scroll-x-reverse-transition" persistent>
            <v-card class="overflow-hidden">
                <v-card-text class="p-0">
                  <v-row>
                    <v-col cols="12">
                      <v-icon 
                      medium
                      role="button"
                      @click="$emit('close-add-location-modal')"
                      class="float-right"
                      color="primary">mdi-close
                      </v-icon>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-title class="headline mb-3">Alta de ubicación del producto</v-card-title>
                <v-card-text>
                  <v-row>
                      <v-col
                          cols="12"
                          sm="12"
                          md="4"
                          class="py-0"
                          >
                          <n-label text="Elige el rack" required :error="$v.editedItem.rack.$error"></n-label>
                          <v-select
                              return-object
                              outlined
                              dense
                              v-model="editedItem.rack"
                              placeholder="Rack"
                              :items="racks"
                              item-text="Nombre"
                              item-value="Id"
                              required
                              :error-messages="rackErrors"
                              @change="$v.editedItem.rack.$touch()"
                              >
                          </v-select>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="12"
                          md="4"
                          class="py-0"
                          >
                          <n-label text="Elige el nivel" required :error="$v.editedItem.nivel.$error"></n-label>
                          <v-select
                              return-object
                              outlined
                              dense
                              v-model="editedItem.nivel"
                              placeholder="Nivel"
                              :items="niveles"
                              item-text="Nombre"
                              item-value="ID"
                              :loading="loadingNivelSelect"
                              :disabled="loadingNivelSelect"
                              required
                              :error-messages="nivelErrors"
                              @change="$v.editedItem.nivel.$touch()">
                          </v-select>
                      </v-col>
                      <v-col
                          cols="12"
                          sm="12"
                          md="4"
                          class="py-0"
                          >
                          <n-label text="Elige la sección" required :error="$v.editedItem.seccion.$error"></n-label>
                          <v-select
                              return-object
                              outlined
                              dense
                              v-model="editedItem.seccion"
                              placeholder="Sección"
                              :items="secciones"
                              item-text="Nombre"
                              item-value="Id"
                              :loading="loadingSeccionSelect"
                              :disabled="loadingSeccionSelect"
                              required
                              :error-messages="seccionErrors"
                              @change="$v.editedItem.seccion.$touch()"
                              >
                          </v-select>
                      </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" class="mr-2" text @click="$emit('add-location', editedItem, false)">Agregar otra ubicación</v-btn>
                    <v-btn color="primary-blue" text @click="$emit('add-location', editedItem, true)">Guardar</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import {
    validationMixin
} from "vuelidate";
import {
    required,
} from "vuelidate/lib/validators";

export default {
    props: {
        status: Boolean,
    },
    mixins: [validationMixin],
    validations: {
        editedItem: {
            rack: { required },
            nivel: { required },
            seccion: { required },
        }
    },
    created() {
      Object.assign(this.editedItem, {rack: null, nivel: null, seccion: null})
      this.racks = this.niveles = this.secciones = []
      this.getRackSelectsOptions()
    },
    data: () => ({
      editedItem: {
        rack: null,
        nivel: null,
        seccion: null,
      },
      racks: [],
      niveles: [],
      secciones: [],
      loadingNivelSelect: false,
      loadingSeccionSelect: false,
    }),
    computed: {
      rackErrors() {},
      nivelErrors() {},
      seccionErrors() {},
    },
    watch: {
      'editedItem.rack': function() {
        this.loadingNivelSelect = true
        axios.get(`/api/products/add-location/rack/${this.editedItem.rack.Id}/get-nivel-select-options`)
        .then((res) => {
          this.niveles = res.data
          this.loadingNivelSelect = false
        }).finally(() => {
          this.loadingNivelSelect = false
        })
      },
      'editedItem.nivel': function() {
        this.loadingSeccionSelect = true
        axios.get(`/api/products/add-location/nivel/${this.editedItem.nivel.Id}/get-seccion-select-options`)
        .then((res) => {
          this.secciones = res.data
          this.loadingSeccionSelect = false
        }).finally(() => {
          this.loadingSeccionSelect = false
        })
      }
    },
    methods: {
      /**
       * gets form's selects options
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 14/06/2021
       * @params
       * @return void
       *
       */
      getRackSelectsOptions() {
        axios.get('/api/products/add-location/get-rack-select-options')
        .then((res) => {
          this.racks = res.data
        })
      }
    }
}
</script>