<template>
  <v-card class="p-3">
    <v-card-text>
      <v-row>
        <v-col cols="6" md="4">
          <h6>Categoría</h6>
          <v-autocomplete
            v-model="currentClassificationData.category"
            :readonly="inputsStatus"
            :error-messages="categoryErrors"
            :items="categories"
            item-text="Categoria"
            item-value="Id_Categoria"
            placeholder="Selecciona una opción"
            outlined
            dense
            @input="$v.currentClassificationData.category.$touch()"
            @blur="$v.currentClassificationData.category.$touch()"
          ></v-autocomplete>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Familia</h6>
          <v-autocomplete
            v-model="currentClassificationData.family"
            :readonly="inputsStatus"
            :error-messages="familyErrors"
            :items="families"
            item-text="Familia"
            item-value="Id_Familia"
            placeholder="Selecciona una opción"
            outlined
            dense
            @input="$v.currentClassificationData.family.$touch()"
            @blur="$v.currentClassificationData.family.$touch()"
          ></v-autocomplete>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Marca</h6>
          <v-autocomplete
            v-model="currentClassificationData.mark"
            :readonly="inputsStatus"
            :error-messages="markErrors"
            :items="marks"
            item-text="Marca"
            item-value="Id_Marca"
            placeholder="Selecciona una opción"
            outlined
            dense
            @input="$v.currentClassificationData.mark.$touch()"
            @blur="$v.currentClassificationData.mark.$touch()"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6" md="4">
          <h6>Especialidad</h6>
          <v-autocomplete
            v-model="currentClassificationData.specialty"
            :readonly="inputsStatus"
            :error-messages="specialtyErrors"
            :items="specialties"
            item-text="Especialidad"
            item-value="Id_EspMed"
            placeholder="Selecciona una opción"
            outlined
            dense
            @input="$v.currentClassificationData.specialty.$touch()"
            @blur="$v.currentClassificationData.specialty.$touch()"
          ></v-autocomplete>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Estatus</h6>
          <v-autocomplete
            v-model="currentClassificationData.status"
            :readonly="inputsStatus"
            :error-messages="statusErrors"
            :items="status"
            item-text="Descripcion"
            item-value="Id_Estatus"
            placeholder="Selecciona una opción"
            outlined
            dense
            @input="$v.currentClassificationData.status.$touch()"
            @blur="$v.currentClassificationData.status.$touch()"
          ></v-autocomplete>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Origen</h6>
          <v-autocomplete
            v-model="currentClassificationData.origin"
            :readonly="inputsStatus"
            :error-messages="originErrors"
            :items="origins"
            item-text="Pais"
            item-value="Id_Pais"
            placeholder="Selecciona una opción"
            outlined
            dense
            @input="$v.currentClassificationData.origin.$touch()"
            @blur="$v.currentClassificationData.origin.$touch()"
          ></v-autocomplete>
        </v-col>
      </v-row>
      <form-action-buttons v-if="type != 'show'" @save="submit" @close="cancel"></form-action-buttons>
    </v-card-text>
  </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "ClassificationForm",
  mixins: [validationMixin],
  props: ["product", "inputsStatus", "type"],
  validations: {
    currentClassificationData: {
      category: { required },
      family: { required },
      mark: { required },
      specialty: { required },
      status: { required },
      origin: { required },
    },
  },
  data() {
    return {
      submitStatus: "",
      currentClassificationData: {
        category: null,
        family: null,
        mark: null,
        specialty: null,
        status: null,
        origin: null,
      },
      categories: [],
      families: [],
      marks: [],
      specialties: [],
      status: [],
      origins: [],
    };
  },
  mounted() {
    this.getCategories();
    this.getFamilies();
    this.getMarks();
    this.getSpecialties();
    this.getStatus();
    this.getCountries();
    if(this.product != null) this.fillProduct(this.product);
  },
  methods: {
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$emit("changed", [2, this.currentClassificationData]);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Get categories.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    getCategories() {
      axios
        .get("/api/product/categories")
        .then((result) => {
          this.categories = result.data.categories;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get families.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    getFamilies() {
      axios
        .get("/api/product/families")
        .then((result) => {
          this.families = result.data.families;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get marks.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    getMarks() {
      axios
        .get("/api/product/marks")
        .then((result) => {
          this.marks = result.data.marks;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get specialties.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    getSpecialties() {
      axios
        .get("/api/product/specialties")
        .then((result) => {
          this.specialties = result.data.specialties;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get status.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    getStatus() {
      axios
        .get("/api/product/status")
        .then((result) => {
          this.status = result.data.status;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get countries.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    getCountries() {
      axios
        .get("/api/product/countries")
        .then((result) => {
          this.origins = result.data.countries;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Redirect to index products.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    cancel() {
      this.$router.push({ name: "products" });
    },
    /**
     * Fill in the currentClassificationData if a particular product is to be edited or displayed.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillProduct(product){
      this.currentClassificationData.category = product.Id_Categoria;
      this.currentClassificationData.family = product.Id_Familia;
      this.currentClassificationData.mark = product.Id_Marca;
      this.currentClassificationData.specialty = product.Id_EspMed;
      this.currentClassificationData.status = product.Id_estatus;
      this.currentClassificationData.origin = product.Origen;
    }
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return array
     */
    categoryErrors() {
      const errors = [];
      if (!this.$v.currentClassificationData.category.$dirty) return errors;
      !this.$v.currentClassificationData.category.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return array
     */
    familyErrors() {
      const errors = [];
      if (!this.$v.currentClassificationData.family.$dirty) return errors;
      !this.$v.currentClassificationData.family.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return array
     */
    markErrors() {
      const errors = [];
      if (!this.$v.currentClassificationData.mark.$dirty) return errors;
      !this.$v.currentClassificationData.mark.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return array
     */
    specialtyErrors() {
      const errors = [];
      if (!this.$v.currentClassificationData.specialty.$dirty) return errors;
      !this.$v.currentClassificationData.specialty.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return array
     */
    statusErrors() {
      const errors = [];
      if (!this.$v.currentClassificationData.status.$dirty) return errors;
      !this.$v.currentClassificationData.status.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return array
     */
    originErrors() {
      const errors = [];
      if (!this.$v.currentClassificationData.origin.$dirty) return errors;
      !this.$v.currentClassificationData.origin.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  },
};
</script>
<style>
</style>