<template>
    <v-card class="p-3">
        <add-location-modal :status="showAddLocationModal" @close-add-location-modal="closeAddLocationModal"
        @add-location="addLocation"></add-location-modal>
        <v-card-text>
            <v-row>
                <v-col cols="6" md="2">
                    <h6>Peso</h6>
                    <v-text-field
                      v-model="currentDataSheetData.weight"
                      :readonly="inputsStatus" 
                      placeholder="Peso"
                      type="number"
                      step="0.01"
                      outlined
                      dense
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm="2">
                    <h6>Ancho</h6>
                    <v-text-field
                      v-model="currentDataSheetData.width"
                      :readonly="inputsStatus"
                      placeholder="Ancho"
                      type="number"
                      step="0.01"
                      outlined
                      dense
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm="2">
                    <h6>Alto</h6>
                    <v-text-field
                      v-model="currentDataSheetData.high"
                      :readonly="inputsStatus"
                      placeholder="Alto"
                      type="number"
                      step="0.01"
                      outlined
                      dense
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm="2">
                    <h6>Largo</h6>
                    <v-text-field
                      v-model="currentDataSheetData.length"
                      :readonly="inputsStatus"
                      placeholder="Largo"
                      type="number"
                      step="0.01"
                      outlined
                      dense
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-data-table
                    :headers="locationsTableHeaders"
                    :items="locations"
                    class="elevation-1"
                    :search="search"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    :loading="loading"
                    hide-default-footer
                    @page-count="pageCount = $event"
                    no-data-text="No hay ningún registro"
                    no-results-text="No se encontraron coincidencias"
                    loading-text="Cargando... Porfavor espere">
                    <template v-slot:top>
                        <datatable-header
                            title="Ubicaciones"
                            :disable-creation="false"
                            @searching="search = $event"
                            @open="openAddLocationModal">
                        </datatable-header>
                    </template>
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon
                                    small
                                    color="primary"
                                    @click="removeLocation(item)"
                                    v-bind="attrs"
                                    v-on="on">
                                    mdi-delete
                                </v-icon>
                            </template>
                            <span>Eliminar</span>
                        </v-tooltip>
                    </template>
                  </v-data-table>
                  <pagination
                        :last="pageCount"
                        :current="page"
                        :itemsPerPage="itemsPerPage"
                        :total="locations.length"
                        v-on:input="page = $event">
                    </pagination>
              </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                    <h6>Fotos</h6>
                    <Upload ref="getImages" v-on:images="fillImages" :imagesToEdit="imagesToEdit"></Upload>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                    <h6>Especificación Técnica</h6>
                    <v-textarea
                      v-model="currentDataSheetData.technicalSpecification"
                      :readonly="inputsStatus"
                      :error-messages="technicalSpecificationErrors"
                      placeholder="Ingrese las especificaciones del producto"
                      :counter="300"
                      outlined
                      dense
                      @input="$v.currentDataSheetData.technicalSpecification.$touch()"
                      @blur="$v.currentDataSheetData.technicalSpecification.$touch()"
                    ></v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                    <h6>Indicaciones y Usos</h6>
                    <v-textarea
                      v-model="currentDataSheetData.indications"
                      :readonly="inputsStatus"
                      :error-messages="indicationsErrors"
                      placeholder="Ingrese los usos del producto"
                      :counter="300"
                      outlined
                      dense
                      @input="$v.currentDataSheetData.indications.$touch()"
                      @blur="$v.currentDataSheetData.indications.$touch()"
                    ></v-textarea>
                </v-col>
            </v-row>
            <form-action-buttons :hideSaveBtn="type != 'show' ? false : true" @save="submit" @close="cancel"></form-action-buttons>    
        </v-card-text>
    </v-card>
</template>
<script>
import Upload from "./Uploade";
import { validationMixin } from "vuelidate";
import { maxLength } from "vuelidate/lib/validators";
import addLocationModal from './addLocationModal.vue';

export default {
    name: "DataSheetForm",
    props: ["product", "inputsStatus", "type"],
    components: {
      Upload,
      "add-location-modal": addLocationModal
    },
    mixins: [validationMixin],
    validations: {
      currentDataSheetData: {
        technicalSpecification: { maxLength: maxLength(300) },
        indications: { maxLength: maxLength(300) },
      },
    },
    mounted(){
      if(this.product != null) this.fillProduct(this.product);
      this.currentDataSheetData.locations = this.locations = this.product.locations.map((item) => {
          return {
              rack: { Id: item.seccion.nivel.rack.Id, Nombre: item.seccion.nivel.rack.Nombre},
              nivel: { ID: item.seccion.nivel.ID, Nombre: item.seccion.nivel.Nombre},
              seccion: { Id: item.seccion.Id, Nombre: item.seccion.Nombre}
          }; 
      });
    },
    data() {
      return {
          submitStatus: "",
          uploadDialog:false,
          imagesToEdit: [],
          currentDataSheetData: {
              weight: null,
              width: null,
              high: null,
              length: null,
              locations: [],
              technicalSpecification: null,
              indications: null,
              images:[]
          },
          search: '',
          page: 1,
          itemsPerPage: 5,
          loading: false,
          locations: [],
          locationsTableHeaders: [
            {
              text: "Rack",
              value: "rack.Nombre",
              align: 'start',
            },
            {
              text: "Nivel",
              value: "nivel.Nombre",
            },
            {
              text: "Rack",
              value: "seccion.Nombre",
            },
            {
                text: "Acciones",
                value: "actions",
                orderable: false
            },
          ],
          pageCount: 0,
          showAddLocationModal: false
      };
    },
    methods:{
      /**
       * Removes a location from this.locations
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 15/06/2021
       * @params Object item
       * @return void
       *
       */
      removeLocation(item) {
        this.locations.splice(this.locations.indexOf(item), 1)
      },
      /**
       * Adds a new location
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 15/06/2021
       * @params boolean closeModal
       * @return void
       *
       */
      addLocation(item, closeModal) {
        let location = Object.assign({}, item)
        
        if(this.locations.length < 1) {
          this.locations.push(location)
          this.currentDataSheetData.locations.push(location)
          return;
        }
        
        const found = this.locations.find(obj => (obj.rack.Id == location.rack.Id 
                                                  && obj.nivel.ID == location.nivel.ID 
                                                  && obj.seccion.Id == location.seccion.Id));
        if(!found) { 
          this.locations.push(location) 
        }

        if(closeModal)
          this.showAddLocationModal = false
        
      },
      /**
       * Close add location modal
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 14/06/2021
       * @params
       * @return void
       *
       */
      closeAddLocationModal() {
        this.showAddLocationModal = false
      },
      /**
       * Open delete dialog
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 14/06/2021
       * @params
       * @return void
       *
       */
      openDeleteDialog() {

      },
      /**
       * Add a new location
       *
       * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
       * created 14/06/2021
       * @params
       * @return void
       *
       */
      openAddLocationModal() {
        this.showAddLocationModal = true
      },
      /**
       * Allows do submit if data is valid.
       * @auth José Vega <jose.vega@nuvem.mx>
       * @date 2021-03-29
       * @param
       * @return void
       */
      submit() {
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.submitStatus = "ERROR";
        } else if (!this.$v.$invalid) {
          this.$refs.getImages.returnImages();
          this.$emit("changed", [0, this.currentDataSheetData]);
        } else {
          this.submitStatus = "PENDING";
          setTimeout(() => {
            this.submitStatus = "OK";
          }, 500);
        }
      },
      /**
       * Redirect to index products.
       * @auth José Vega <jose.vega@nuvem.mx>
       * @date 2021-03-29
       * @param
       * @return void
       */
      cancel() {
        this.$router.push({ name: 'products' });
      },
      /**
       * Fill in the currentDataSheetData.images attay.
       * @auth José Vega <jose.vega@nuvem.mx>
       * @date 2021-04-16
       * @param
       * @return void
       */
      fillImages(images){
        this.currentDataSheetData.images = images;
      },
      /**
       * Fill in the currentDataSheetData if a particular product is to be edited or displayed.
       * @auth José Vega <jose.vega@nuvem.mx>
       * @date 2021-04-16
       * @param
       * @return void
       */
      fillProduct(product){
        this.currentDataSheetData.weight = product.Peso;
        this.currentDataSheetData.width = product.Ancho;
        this.currentDataSheetData.high = product.Alto;
        this.currentDataSheetData.length = product.Largo;
        this.currentDataSheetData.technicalSpecification = product.Especificacion;
        this.currentDataSheetData.indications = product.Indicacion;
        if(product.images.length > 0){
          product.images.forEach(image => {
            this.imagesToEdit.push(image);
          });
        } else this.imagesToEdit = [];
      }
    },
    computed:{
      /**
       * Evaluate if an input is valid.
       * @auth José Vega <jose.vega@nuvem.mx>
       * @date 2021-03-29
       * @param
       * @return array
       */
      technicalSpecificationErrors() {
        const errors = [];
        if (!this.$v.currentDataSheetData.technicalSpecification.$dirty) return errors;
        !this.$v.currentDataSheetData.technicalSpecification.maxLength &&
          errors.push("El campo debería contener máximo 300 caracteres");
        return errors;
      },
      /**
       * Evaluate if an input is valid.
       * @auth José Vega <jose.vega@nuvem.mx>
       * @date 2021-03-29
       * @param
       * @return array
       */
      indicationsErrors() {
        const errors = [];
        if (!this.$v.currentDataSheetData.indications.$dirty) return errors;
        !this.$v.currentDataSheetData.indications.maxLength &&
          errors.push("El campo debería contener máximo 300 caracteres");
        return errors;
      },
  }
}
</script>
<style>
    
</style>