<template>
    <v-card class="p-3">
        <v-card-title class="text-center"><b>{{title}}</b></v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="6" md="3">
                  <h6 class="mt-2">Clave Nemotécnica</h6>
                  <v-text-field
                    :disabled="(this.$router.currentRoute.name == 'create-products' ? false : true)"
                    v-model="currentGeneralData.Id_Prod1"
                    :error-messages="nemotecnicaKeyErrors"
                    :readonly="inputsStatus"
                    placeholder="Ingrese la clave nemotécnica"
                    outlined
                    dense
                    @input="$v.currentGeneralData.Id_Prod1.$touch()"
                    @blur="$v.currentGeneralData.Id_Prod1.$touch()"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="3">
                  <h6 class="mt-2">Clave Licitación</h6>
                  <v-text-field
                    v-model="currentGeneralData.bidKey"
                    :error-messages="bidKeyErrors"
                    :readonly="inputsStatus"
                    placeholder="Ingrese la clave de licitación"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="3">
                  <h6 class="mt-2">Código de barras</h6>
                  <v-text-field
                    v-model="currentGeneralData.barCode"
                    :readonly="inputsStatus"
                    placeholder="Ingrese el código de barras"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="3">
                  <h6 class="mt-2">Código SAT</h6>
                  <v-text-field
                    v-model="currentGeneralData.satCode"
                    :readonly="inputsStatus"
                    placeholder="Ingrese el código del SAT"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                  <h6>Descripción Corta</h6>
                  <v-text-field
                    v-model="currentGeneralData.shortDescription"
                    :readonly="inputsStatus"
                    placeholder="Ingrese la descripción"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                  <h6>Descripción Larga</h6>
                  <v-textarea
                    v-model="currentGeneralData.longDescription"
                    :readonly="inputsStatus"
                    placeholder="Ingrese la descripción"
                    outlined
                    dense
                  ></v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="6">
                  <h6>Proveedor 1</h6>
                  <v-autocomplete
                    v-model="currentGeneralData.supplier1"
                    :readonly="inputsStatus"
                    :items="suppliers"
                    item-text="Id_Prov"
                    item-value="Id_Prov"
                    placeholder="Selecciona una opción"
                    outlined
                    dense
                  ></v-autocomplete>
                </v-col>
                <v-col cols="6" sm="6">
                  <h6>Proveedor 2</h6>
                  <v-autocomplete
                    v-model="currentGeneralData.supplier2"
                    :readonly="inputsStatus"
                    :items="suppliers"
                    item-text="Id_Prov"
                    item-value="Id_Prov"
                    placeholder="Selecciona una opción"
                    outlined
                    dense
                  ></v-autocomplete>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                  <v-checkbox
                    false-value="0"
                    true-value="1"
                    v-model="currentGeneralData.inventoryable"
                    :readonly="inputsStatus"
                    label="Inventariable"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox
                    false-value="0"
                    true-value="1"
                    v-model="currentGeneralData.inPriceList"
                    :readonly="inputsStatus"
                    label="En lista de Precios"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox
                    false-value="0"
                    true-value="1"
                    v-model="currentGeneralData.applyExpiration"
                    :readonly="inputsStatus"
                    label="Aplica Lote y Caducidad"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox
                    false-value="0"
                    true-value="1"
                    v-model="currentGeneralData.active"
                    :readonly="inputsStatus"
                    label="Activo"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox
                    false-value="0"
                    true-value="1"
                    v-model="currentGeneralData.eCommerce"
                    :readonly="inputsStatus"
                    label="E-commerce"
                    color="primary"
                    hide-details
                  ></v-checkbox>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                  <h6>Observaciones</h6>
                  <v-textarea
                    v-model="currentGeneralData.observations"
                    :readonly="inputsStatus"
                    placeholder="Observaciones"
                    outlined
                    dense
                  ></v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="12">
                  <h6>Registro Salubridad</h6>
                  <v-text-field
                    v-model="currentGeneralData.healthRegistration"
                    :readonly="inputsStatus"
                    placeholder="Registro salubridad"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="3">
                  <h6>IVA</h6>
                  <v-text-field
                    v-model="currentGeneralData.iva"
                    :readonly="inputsStatus"
                    placeholder="%"
                    type="number"
                    outlined dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="3">
                  <h6>Utilidad Mínima Licitación</h6>
                  <v-text-field
                    v-model="currentGeneralData.minimumBid"
                    :readonly="inputsStatus"
                    placeholder="%"
                    type="number"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="3">
                  <h6>Flete</h6>
                  <v-text-field
                    v-model="currentGeneralData.freight"
                    :readonly="inputsStatus"
                    placeholder="$"
                    type="number"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="3">
                  <h6>T Surtido</h6>
                  <v-text-field
                    v-model="currentGeneralData.timeAssortment"
                    :readonly="inputsStatus"
                    placeholder="Días"
                    type="number"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
            </v-row>
            <form-action-buttons v-if="type != 'show'" @save="submit" @close="cancel"></form-action-buttons>
        </v-card-text>
    </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "GeneralForm",
  mixins: [validationMixin],
  validations: {
    currentGeneralData: {
      Id_Prod1: { required },
      bidKey: { required }
    },
  },
  props:["product", "inputsStatus", "title", "type"],
  data() {
    return {
      submitStatus: "",
      currentGeneralData: {
        Id_Prod1: "",
        bidKey: "",
        barCode: null,
        satCode: null,
        shortDescription: null,
        longDescription: null,
        supplier1: null,
        supplier2: null,
        inventoryable: false,
        inPriceList: false,
        applyExpiration: false,
        active: false,
        eCommerce: false,
        observations: null,
        healthRegistration: null,
        iva: null,
        minimumBid: null,
        freight: null,
        timeAssortment: null
      },
      suppliers:[]
    };
  },
  mounted() {
    this.getSuppliers();
    if(this.product != null) this.fillProduct(this.product);
  },
  methods:{
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$emit("changed", [1, this.currentGeneralData, true]);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Get ther user's general data.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    getSuppliers() {
      axios
        .get("/api/product/suppliers")
        .then((result) => {
          this.suppliers = result.data.suppliers;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Redirect to index products.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    cancel() {
      this.$router.push({ name: 'products' });
    },
    /**
     * Fill in the currentGeneralData if a particular product is to be edited or displayed.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillProduct(product){
      this.currentGeneralData.Id_Prod1 = product.Id_Prod1;
      this.currentGeneralData.bidKey = product.Id_Prod3;
      this.currentGeneralData.barCode = product.CBarrasN1;
      this.currentGeneralData.satCode = product.Id_CodSat;
      this.currentGeneralData.shortDescription = product.Descrip1;
      this.currentGeneralData.longDescription = product.Descrip2;
      product.Id_Prov1 != null ?
      this.currentGeneralData.supplier1 = product.Id_Prov1.replace(/\s+/g, '') :
      this.currentGeneralData.supplier1 = null;
      product.Id_Prov2 != null ? this.currentGeneralData.supplier2 = product.Id_Prov2.replace(/\s+/g, '') :
      this.currentGeneralData.supplier2 = null;
      this.currentGeneralData.inventoryable = product.Inventaria;
      this.currentGeneralData.inPriceList = product.LPrecios;
      this.currentGeneralData.applyExpiration = product.Man_LoteCad;
      this.currentGeneralData.active = product.Activo;
      this.currentGeneralData.eCommerce = product.eCommerce;
      this.currentGeneralData.observations = product.Observa;
      this.currentGeneralData.healthRegistration = product.Registro;
      this.currentGeneralData.iva = product.IVA;
      this.currentGeneralData.minimumBid = product.Utmin_Lici;
      this.currentGeneralData.freight = product.Flete;
      this.currentGeneralData.timeAssortment = product.Tiempo_Sur;
    }
  },
  computed:{
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return array
     */
    nemotecnicaKeyErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.Id_Prod1.$dirty) return errors;
      !this.$v.currentGeneralData.Id_Prod1.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return array
     */
    bidKeyErrors() {
      const errors = [];
      if (!this.$v.currentGeneralData.bidKey.$dirty) return errors;
      !this.$v.currentGeneralData.bidKey.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  }
};
</script>
<style>
</style>
