<template>
  <v-card class="p-3">
    <v-card-text>
      <v-row>
        <v-col cols="6" md="4">
          <h6>Último Costo</h6>
          <v-text-field
            v-model="currentStatisticsData.lastCost"
            :readonly="inputsStatus" 
            placeholder="$0.00"
            type="number"
            step="0.01"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Costo Promedio</h6>
          <v-text-field
            v-model="currentStatisticsData.averageCost"
            :readonly="inputsStatus" 
            placeholder="$0.00"
            type="number"
            step="0.01"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Costo de Mercado más Bajo</h6>
          <v-text-field
            v-model="currentStatisticsData.lowerMarketCost"
            :readonly="inputsStatus" 
            placeholder="$0.00"
            type="number"
            step="0.01"
            outlined
            dense
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6" md="4">
          <h6>Último Costo Mero</h6>
          <v-menu
            v-model="menu1"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="currentStatisticsData.lastMereCost"
                placeholder="00/00/00"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="currentStatisticsData.lastMereCost"
              :readonly="inputsStatus"
              @input="menu1 = false"
              color="#018085"
              header-color="#018085"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Último Costo Lici</h6>
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="currentStatisticsData.lastLiciCost"
                placeholder="00/00/00"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="currentStatisticsData.lastLiciCost"
              :readonly="inputsStatus"
              @input="menu2 = false"
              color="#018085"
              header-color="#018085"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Último Cambio Precios</h6>
          <v-menu
            v-model="menu3"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="currentStatisticsData.lastChangePrices"
                placeholder="00/00/00"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="currentStatisticsData.lastChangePrices"
              :readonly="inputsStatus"
              @input="menu3 = false"
              color="#018085"
              header-color="#018085"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6" md="4">
          <h6>Última Compra</h6>
          <v-menu
            v-model="menu4"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="currentStatisticsData.lastPurchase"
                placeholder="00/00/00"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="currentStatisticsData.lastPurchase"
              :readonly="inputsStatus"
              @input="menu4 = false"
              color="#018085"
              header-color="#018085"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="6" sm="4">
          <h6>Última Venta</h6>
          <v-menu
            v-model="menu5"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="currentStatisticsData.lastSale"
                placeholder="00/00/00"
                outlined
                dense
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="currentStatisticsData.lastSale"
              :readonly="inputsStatus"
              @input="menu5 = false"
              color="#018085"
              header-color="#018085"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <form-action-buttons v-if="type != 'show'" @save="submit" @close="cancel"></form-action-buttons>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "StatisticsForm",
  props: ["product", "inputsStatus", "type"],
  mounted(){
    if(this.product != null) this.fillProduct(this.product);
  },
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      menu5: false,
      submitStatus: "",
      currentStatisticsData: {
        lastCost: null,
        averageCost: null,
        lowerMarketCost: null,
        lastMereCost: null,
        lastLiciCost: null,
        lastChangePrices: null,
        lastPurchase: null,
        lastSale: null,
      },
    };
  },
  methods:{
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    submit() {
      this.$emit("changed", [4, this.currentStatisticsData]);
    },
    /**
     * Redirect to index products.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    cancel() {
      this.$router.push({ name: 'products' });
    },
    /**
     * Fill in the currentStatisticsData if a particular product is to be edited or displayed.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillProduct(product){
      this.currentStatisticsData.lastCost = product.Ult_Costo;
      this.currentStatisticsData.averageCost = product.Costo_Prom;
      this.currentStatisticsData.lowerMarketCost = product.CM_MasBajo;
      this.currentStatisticsData.lastMereCost = product.UCambio_CM;
      this.currentStatisticsData.lastLiciCost = product.UCambio_CL;
      this.currentStatisticsData.lastChangePrices = product.UCambio_Pre;
      this.currentStatisticsData.lastPurchase = product.Ult_Compra;
      this.currentStatisticsData.lastSale = product.Ult_Venta;
    }
  }
};
</script>
<style>
</style>