<template>
    <v-card class="p-3 justify-center">
        <v-card-text>
            <v-row>
                <v-col cols="6" md="1">
                    <h6>Nivel</h6>
                    <v-select
                        v-model="currentStorageData.level"
                        :readonly="inputsStatus"
                        :items="levels"
                        item-text="name" 
                        item-value="id" 
                        placeholder="0"
                        outlined
                        dense
                    ></v-select>
                </v-col>
                <v-col cols="6" sm="2">
                    <h6>Empaque</h6>
                    <v-autocomplete
                        v-model="currentStorageData.packing1"
                        :readonly="inputsStatus"
                        :items="packaging"
                        item-text="Empaque" 
                        item-value="Id_Empaque"
                        placeholder="Selecciona una opción"
                        outlined
                        dense
                    ></v-autocomplete>
                </v-col>
                <v-col cols="6" sm="2">
                    <h6>Unidades</h6>
                    <v-text-field
                        v-model="currentStorageData.units1"
                        :readonly="inputsStatus" 
                        placeholder="Unidad" 
                        outlined 
                        dense 
                        type="number"
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm="1" class="pb-0">
                    <h6 style="width: 100px">Nivel Compra</h6>
                    <v-select
                        v-model="currentStorageData.purchaseLevel"
                        :readonly="inputsStatus"
                        :items="levels"
                        item-text="name" 
                        item-value="id"  
                        placeholder="0"
                        outlined
                        dense
                    ></v-select>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="1">
                </v-col>
                <v-col cols="6" sm="2" class="pt-4">
                    <v-autocomplete
                        v-model="currentStorageData.packing2"
                        :readonly="inputsStatus"
                        :items="packaging"
                        item-text="Empaque" 
                        item-value="Id_Empaque"
                        placeholder="Selecciona una opción"
                        outlined
                        dense
                    ></v-autocomplete>
                </v-col>
                <v-col cols="6" sm="2" class="pt-4">
                    <v-text-field
                        v-model="currentStorageData.units2"
                        :readonly="inputsStatus" 
                        placeholder="Unidad" 
                        outlined 
                        dense
                        type="number"
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm="1" class="py-0">
                    <h6 style="width: 100px">Nivel Venta</h6>
                    <v-select
                        v-model="currentStorageData.saleLevel"
                        :readonly="inputsStatus"
                        :items="levels"
                        item-text="name" 
                        item-value="id"  
                        placeholder="0"
                        outlined
                        dense
                    ></v-select>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" md="1">
                </v-col>
                <v-col cols="6" sm="2" class="pt-4">
                    <v-autocomplete
                        v-model="currentStorageData.packing3"
                        :readonly="inputsStatus"
                        :items="packaging"
                        item-text="Empaque" 
                        item-value="Id_Empaque"
                        placeholder="Selecciona una opción"
                        outlined
                        dense
                    ></v-autocomplete>
                </v-col>
                <v-col cols="6" sm="2" class="pt-4">
                    <v-text-field
                        v-model="currentStorageData.units3"
                        :readonly="inputsStatus" 
                        placeholder="Unidad" 
                        outlined 
                        dense
                        type="number"
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm="1" class="pt-0">
                    <h6 style="width: 150px">Nivel Venta Most</h6>
                    <v-select
                        v-model="currentStorageData.saleLevelMost"
                        :readonly="inputsStatus"
                        :items="levels"
                        item-text="name" 
                        item-value="id"  
                        placeholder="0"
                        outlined
                        dense
                    ></v-select>
                </v-col>
            </v-row>
            <form-action-buttons v-if="type != 'show'" @save="submit" @close="cancel"></form-action-buttons>    
        </v-card-text>
    </v-card>
</template>
<script>
export default {
    name: "StorageForm",
    props: ["product", "inputsStatus", "type"],
    data() {
        return {
            submitStatus: "",
            levels: [
                {id: 1, name: '1'},
                {id: 2, name: '2'},
                {id: 3, name: '3'}
            ],
            currentStorageData: {
                level: null,
                packing1: null,
                packing2: null,
                packing3: null,
                units1: null,
                units2: null,
                units3: null,
                purchaseLevel: null,
                saleLevel: null,
                saleLevelMost: null,
            },
            packaging: [],
        };
    },
    mounted() {
        this.getPackaging();
        if(this.product != null) this.fillProduct(this.product);
    },
    methods:{
        /**
         * Get packaging.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-29
         * @param
         * @return void
         */
        getPackaging() {
          axios
            .get("/api/product/packaging")
            .then((result) => {
              this.packaging = result.data.packaging;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            });
        },
        /**
         * Allows do submit if data is valid.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-29
         * @param
         * @return void
         */
        submit() {
          this.$emit("changed", [3, this.currentStorageData]);
        },
        /**
         * Redirect to index products.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-29
         * @param
         * @return void
         */
        cancel() {
          this.$router.push({ name: 'products' });
        },
        /**
         * Fill in the current currentStorageData if a particular product is to be edited or displayed.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-16
         * @param
         * @return void
         */
        fillProduct(product){
            this.currentStorageData.level = parseInt(product.Niveles);
            this.currentStorageData.packing1 = product.id_Empaque1;
            this.currentStorageData.packing2 = product.id_Empaque2;
            this.currentStorageData.packing3 = product.id_Empaque3;
            this.currentStorageData.units1 = product.Unidad_N2;
            this.currentStorageData.units2 = product.Unidad_N3;
            this.currentStorageData.purchaseLevel = parseInt(product.Nivel_Comp);
            this.currentStorageData.saleLevel =  parseInt(product.Nivel_Vta);
            this.currentStorageData.saleLevelMost = parseInt(product.Nivel_Vta2);
        }
    }
}
</script>
<style>
    
</style>