<template>
  <div class="flex w-full h-screen items-center justify-center text-center">
  <div v-if="fileList.length == 0" class="p-12 dropAndDrag" @dragover="dragover" @dragleave="dragleave" @drop="drop">
    <input type="file" multiple name="fields[assetsFieldHandle][]" id="assetsFieldHandle" 
      class="dropAndDragInput" @change="onChange" ref="file" accept=".pdf,.jpg,.jpeg,.png" />
  
    <label for="assetsFieldHandle" class="block cursor-pointer dropAndDragLabel">
      <div>
        Arrastra aquí las imágenes
        o <span class="underline">Buscar imagen</span>
      </div>
    </label>
  </div>
  <ul class="mt-4" v-if="this.fileList.length" v-cloak>
    <li class="text-sm p-1" v-for="(file, key) in fileList" :key="key">
      <v-btn
        class="mx-2"
        fab
        dark
        x-small
        @click="remove(fileList.indexOf(file))"
        color="#dc3545"
        style="margin-bottom: 5px"
      >
        <v-icon dark>
          mdi-close
        </v-icon>
      </v-btn>
      <v-img :src="file.url"  class="showImage"></v-img>
    </li>
  </ul>
</div>
</template>


<script>
export default {
  name: "Upload",
  props: ["imagesToEdit"],
  delimiters: ['${', '}'], // Avoid Twig conflicts
  mounted(){
    if(this.imagesToEdit){
      this.imagesToEdit.forEach(image => {
        image.url = '../storage/products/'+ image.Foto;
        this.fileList.push(image);
      });
    }
  },
  data() {
      return {
          fileList: [],
          changeOfImages: false
      }
  },
  methods: {
    /**
     * Adds images to fileList array and generate url to show preview.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-15
     * @param event
     * @return array
     */
    onChange() {
      if(this.$refs.file.files.length > 3){
        swal2.fire({
          icon: "error",
          title: "Oops...",
          text: "Solo se puede subir un máximo de 3 imágenes por producto!",
        });
      }else{
        this.fileList = [...this.$refs.file.files];
        this.fileList.forEach(file => {
          file.url = URL.createObjectURL(file);
        });
        this.changeOfImages = true;
      }
    },
    /**
     * Remove the image from fileList.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-15
     * @param Number i
     * @return array
     */
    remove(i) {
      this.fileList.splice(i, 1);
      this.fileList.length > 0 ? this.changeOfImages = true : this.changeOfImages = false;
    },
    /**
     * Return images if new ones were added.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-15
     * @param Number i
     * @return array
     */
    returnImages(){
      this.changeOfImages ? this.$emit("images", this.fileList) : this.$emit("images", null);
    },
    /**
     * Action when drag over the image.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-15
     * @param event
     * @return array
     */
    dragover(event) {
      event.preventDefault();
      // Add some visual fluff to show the user can drop its files
      if (!event.currentTarget.classList.contains('bg-green-300')) {
        event.currentTarget.classList.remove('bg-gray-100');
        event.currentTarget.classList.add('bg-green-300');
      }
    },
    /**
     * Action when drag leave the image.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-15
     * @param event
     * @return array
     */
    dragleave(event) {
      // Clean up
      event.currentTarget.classList.add('bg-gray-100');
      event.currentTarget.classList.remove('bg-green-300');
    },
    /**
     * Action when drop the image.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-15
     * @param event
     * @return array
     */
    drop(event) {
      event.preventDefault();
      this.$refs.file.files = event.dataTransfer.files;
      this.onChange(); // Trigger the onChange event manually
      // Clean up
      event.currentTarget.classList.add('bg-gray-100');
      event.currentTarget.classList.remove('bg-green-300');
    }
  },
  watch: {
    /**
     * Asign a new value to imagesToEdit if there is a new value.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param any images
     * @return void
     */
    imagesToEdit: function (images) {
      if(images){
        images.forEach(image => {
          image.url = image.Foto;
          this.fileList.push(image);
        });
      }
    },
  },
}
</script>

<style>
    [v-cloak] {
        display: none;
    }
    .dropAndDragInput{
        opacity: 0;
        position: absolute;
        overflow: hidden;
    }

    .dropAndDrag{
        border-radius: 5px;
        border: 1px solid #9e9e9e !important;
        height: 150px;
    }
    .dropAndDragLabel{
      margin-top: 60px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        place-content: space-around;
    }
    li{
      max-width: 200px;
    }
    .showImage{
        width: 100%;
        margin: auto;
    }
</style>