<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-card-text class="pb-0 pt-4">
          <v-row class="flex-column">
            <v-col cols="6" md="6">
              <h6 class="mt-2">Utilidad actual</h6>
              <v-text-field
                class="show-v-text-field"
                v-model="currentProductProfit"
                readonly
                disabled
                placeholder="%"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="6">
              <h6 class="mt-2">Utilidad mínima</h6>
              <v-text-field
                class="show-v-text-field"
                v-model="currentMinimalProfit"
                readonly
                disabled
                placeholder="%"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="6">
              <h6 class="mt-2">Nueva utilidad</h6>
              <v-text-field
                v-model="newProductProfit"
                :error-messages="profitErrors"
                placeholder="%"
                type="number"
                min="0"
                step="0.01"
                outlined
                dense
                @input="$v.newProductProfit.$touch()"
                @blur="$v.newProductProfit.$touch()"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-container class="d-flex flex-column mb-6">
          <v-card-actions class="mt-5 d-block">
            <form-action-buttons
              @close="cancel"
              @save="submit"
            ></form-action-buttons>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "Utility",
  props: ["dialog"],
  mixins: [validationMixin],
  validations: {
    newProductProfit: { required }
  },
  components: {
  },
  mounted(){
    this.getMinimalProfit();
  },
  data: () => ({
    currentMinimalProfit: null,
    currentProductProfit: null,
    newProductProfit: null,
    currentProductId: null
  }),
  methods: {
    /**
     * Allows do submit if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.currentProductProfit != null ?
        this.edit({newProductProfit: this.newProductProfit}, this.currentProductId):
        this.post({newProductProfit: this.newProductProfit}, this.currentProductId);
      }
    },
    /**
     * Emit a boolean value to close the current dialog.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-14
     * @param
     * @return void
     */
    cancel() {
      this.newProductProfit = null;
      this.$v.$reset();
      this.$emit("dialogStatus", [false, false]);
    },
    /**
     * Get the product id from index component and calls the getCurrentProfit function.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return void
     */
    reciveProductId(productId, profit){
      this.currentProductProfit = profit;
      this.currentProductId = productId;
    },
    /**
     * Get the minimal profit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return void
     */
    getMinimalProfit(){
      axios.get("/api/global-utilities").then((result) => {
          this.currentMinimalProfit = result.data.globalUtility.Porcentaje;
      });
    },
    /**
     * Post a new profit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param Object data
     * @return void
     */
    post(data, productId) {
      axios
        .post("/api/product/profit/" + productId, data)
        .then((result) => {
          this.newProductProfit = null;
          this.$v.$reset();
          this.$emit("dialogStatus", [false, true]);
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Edit the current profit.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return void
     */
    edit(data, productId) {
      axios
        .put("/api/product/profit/" + productId, data)
        .then((result) => {
          this.newProductProfit = null;
          this.$v.$reset();
          this.$emit("dialogStatus", [false, true]);
          swal2.fire(
            "Editado",
            "Se editaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
  },
  computed:{
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return array
     */
    profitErrors() {
      const errors = [];
      if (!this.$v.newProductProfit.$dirty) return errors;
      !this.$v.newProductProfit.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  }
};
</script>
