<template>
  <v-card class="p-3">
    <v-card-title><b>Edición Configuracion de Costos de Envío</b></v-card-title>
    <v-card-text>
      <v-card-actions class="mt-5 d-block">
        <Inputs ref="submit"></Inputs>
        <form-action-buttons
          @close="cancel"
          @save="submit"
        ></form-action-buttons>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
    name: "EditShipmentCostConfigurator",
    components: {
        Inputs,
    },
    data() {
        return {
            submitStatus: "",
            currentShipmentCost: {
              Id_CostoEnvioTipo:null,
              Descripcion: "",
              TiempoEstimadoMinimo: 1,
              TiempoEstimadoMaximo: 1,
              Tarifa:null,
              AplicaEnvioGratuito:false,
              MontoMinimoEnvioGratuito: null
            },
        };
    },
    methods: {
        /**
         * Redirect to index shipment cost configurations.
         * @auth Kareem Lorenzana<kareem.lorenzana@nuvem.mx>
         * @date 2021-04-28
         * @param
         * @return void
         */
        submit() {
          this.$refs.submit.submit();
        },
        /**
         * Redirect to index shipment cost
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-28
         * @param
         * @return void
         */
        cancel() {
          this.$router.push({ name: "shipment-cost-configurations" });
        },
    },
};
</script>