<template>
    <v-card data-app class="p-3">
    <Show
      :dialog="dialogShow"
      v-on:dialogStatus="getDialogShowStatus"
      ref="sendShipmentCostConfiguration"
    ></Show>    
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>      
    <v-data-table
        :headers="headers"
        :items="shipmentCosts"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
        >
        <template v-slot:top>
            <datatable-header
                title="Configurador de Envios"
                :disable-creation="false"
                @searching="search = $event"
                @open="openCreateShipmentCost">
            </datatable-header>
        </template>
        <template v-slot:[`item.Estatus`]="{ item }">
            <chip-status :item="item"></chip-status>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
            <action-buttons
                :item="item"
                @edit="openEditShipmentCost(item)"
                @view="getShowSipmentCost"
                @delete="openDeleteDialog"
                ></action-buttons>
        </template>
      </v-data-table>
       <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="this.shipmentCosts.length"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import Show from "./show";

export default {
    created() {
        this.getShipmentCosts();
    },
    components: {
        Show
    },
    data() {
        return {
            search: "",
            dialog: false,
            productId: null,
            dialogDelete: false,
            dialogShow: false,
            shipmentCostConfigurationToDelete: null,
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            headers: [{
                    text: "Id",
                    value: "Id_CostoEnvio"
                },
                {
                    text: "Nombre",
                    value: "Descripcion"
                },
                {
                    text: "Tiempo Estimado",
                    value: "estimated_time"
                },
                {
                    text: "Tarifa",
                    value: "rate_format"
                },
                {
                  text: "Estatus",
                  value: "Estatus"
                },
                {
                    text: "Acciones",
                    value: "actions"
                },
            ],
            shipmentCosts: [],
        };
    },
    methods: {
        /**
         * Get products and fill date table from shipmentCosts configurators api.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param
         * @return void
         */
        getShipmentCosts() {
            this.loading = true;
            axios.get("/api/shipment-cost-configurations").then((result) => {
                this.shipmentCosts = result.data.shipmentCosts;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Redirect to create shipment configurator component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param
         * @return void
         */
        openCreateShipmentCost() {
            this.$router.push({
                name: 'shipment-cost-configurations-create'
            });
        },
        /**
         * Redirect to edit shipment cost component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param Object item
         * @return void
         */
        openEditShipmentCost(item) {
            this.$router.push({
              name: "shipment-cost-configurations-edit",
              params: { item: item },
            });
        },
        /**
         * Open delete dialog.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
          this.dialogDelete = true;
          this.shipmentCostConfigurationToDelete = item.Id_CostoEnvio;
        },
        /**
         * Closes the delete dialog.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param
         * @return void
         */
        closeDelete() {
          this.dialogDelete = false;
          this.shipmentCostConfigurationToDelete = null;
          this.getShipmentCosts();
        },
        /**
         * Change status of a item.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param 
         * @return void
         */
        deleteItem() {
          axios
            .delete("/api/shipment-cost-configurations/" + this.shipmentCostConfigurationToDelete)
            .then((result) => {
              this.closeDelete();
              swal2.fire(
                "Estatus cambiado",
                "Se cambió el estatus correctamente",
                "success"
              );
            });
        },
        /**
         * Open Show component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param Object item
         * @return void
         */
        getShowSipmentCost(item) {
          this.$refs.sendShipmentCostConfiguration.reciveShipmentCostConfiguration(item);
          this.dialogShow = true;
        },
        /**
         * Get dialog status from Show component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-27
         * @param boolean value
         * @return void
         */
        getDialogShowStatus(value) {
          this.dialogShow = value;
        },
    }
};
</script>

<style>
    .data-table-style{
        margin: 10px;
    }
    .v-chip.success, .v-btn:not(.v-btn--outlined).success, .v-progress-linear .v-progress-linear__background.primary{
      background:#018085 !important 
    }
    .v-icon.primary--text{
      color:rgba(28, 77, 117,1) !important;
    }
    .v-pagination .v-pagination__item.v-pagination__item--active{
      background: rgba(28, 77, 117,1) !important; 
    }
    .items-showed-text[data-v-2c8c52dd]{
      color: rgba(28, 77, 117,1) !important; 
    }
    .v-dialog.v-dialog--active {
        margin-top: 6em;
    }
</style>