<template>
  <v-card class="p-3">
    <v-card-title><b>Edición de regla</b></v-card-title>
    <v-card-text>
      <v-card-actions class="mt-5 d-block">
        <Inputs ref="submit"></Inputs>
        <form-action-buttons
          @close="cancel"
          @save="submit"
        ></form-action-buttons>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
    name: "EditRuleConfigurator",
    components: {
        Inputs,
    },
    data() {
        return {
            submitStatus: "",
            currentRule: {
              Descripcion: "",
              Prioridad: null,
            },
        };
    },
    methods: {
        /**
         * Redirect to index rules configurator.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        submit() {
          this.$refs.submit.verifyPriority();
        },
        /**
         * Redirect to index rules configurator.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        cancel() {
          this.$router.push({ name: "rules-configurators" });
        },
    },
};
</script>