<template>
    <div data-app>
    <Show
      :dialog="dialogShow"
      v-on:dialogStatus="getDialogShowStatus"
      ref="sendRuleConfigurator"
    ></Show>
    <v-card class="p-3">
        <dialog-delete
        :status="dialogDelete"
        v-on:cancel="dialogDelete = false"
        v-on:confirm="deleteItem"
        ></dialog-delete>
        <v-data-table
            :headers="headers"
            :items="rules"
            class="elevation-1"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            :loading="loading"
            hide-default-footer
            @page-count="pageCount = $event"
            no-data-text="No hay ningún registro"
            no-results-text="No se encontraron coincidencias"
            loading-text="Cargando... Porfavor espere"
            >
            <template v-slot:top>
                <datatable-header
                    title="Configurador de Reglas"
                    :disable-creation="false"
                    @searching="search = $event"
                    @open="openCreateRule">
                </datatable-header>
            </template>

            <template v-slot:[`item.Estatus`]="{ item }">
                <chip-status :item="item"></chip-status>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
                <action-buttons
                    :item="item"
                    @edit="openEditRuleConfigurator(item)"
                    @view="goToShowRuleConfigurator"
                    @delete="openDeleteDialog">
                </action-buttons>
            </template>
        </v-data-table>
        <pagination
                :last="pageCount"
                :current="page"
                :itemsPerPage="itemsPerPage"
                :total="this.rules.length"
                v-on:input="page = $event"
            ></pagination>
        </v-card>
    </div>
</template>
<script>
import ActionButtons from "../../../components/datatableActionButtons";
import ChipStatus from "../../../components/chipStatus";
import Show from "./show";


export default {
    created() {
        this.getRules();
    },
    components: {
        Show,
        'chip-status': ChipStatus,
        'action-buttons': ActionButtons,
    },
    data() {
        return {
            search: "",
            dialog: false,
            productId: null,
            dialogDelete: false,
            dialogShow: false,
            ruleConfiguratorToDelete: null,
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            headers: [{
                    text: "Id",
                    value: "Id_ReglaCostoEspecial"
                },
                {
                    text: "Descripción",
                    value: "Descripcion"
                },
                {
                    text: "Prioridad",
                    value: "Prioridad"
                },
                {
                    text: "Estatus",
                    value: "Estatus"
                },
                {
                    text: "Acciones",
                    value: "actions"
                },
            ],
            rules: [],
        };
    },
    methods: {
        /**
         * Get products and fill date table from rules configurators api.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        getRules() {
            this.loading = true;
            axios.get("/api/rules-configurators").then((result) => {
                this.rules = result.data.rules;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Redirect to create rule configurator component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param
         * @return void
         */
        openCreateRule() {
            this.$router.push({
                name: 'rules-configurators-create'
            });
        },
        /**
         * Redirect to edit rule component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-31
         * @param Object item
         * @return void
         */
        openEditRuleConfigurator(item) {
            this.$router.push({
              name: "rules-configurators-edit",
              params: { item: item },
            });
        },
        /**
         * Open delete dialog.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
          this.dialogDelete = true;
          this.ruleConfiguratorToDelete = item.Id_ReglaCostoEspecial;
        },
        /**
         * Closes the delete dialog.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-06
         * @param
         * @return void
         */
        closeDelete() {
          this.dialogDelete = false;
          this.ruleConfiguratorToDelete = null;
          this.getRules();
        },
        /**
         * Change status of a item.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param
         * @return void
         */
        deleteItem() {
          axios
            .delete("/api/rules-configurators/" + this.ruleConfiguratorToDelete)
            .then((result) => {
              this.closeDelete();
              swal2.fire(
                "Estatus cambiado",
                "Se cambió el estatus correctamente",
                "success"
              );
            });
        },
        /**
         * Open Show component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param Object item
         * @return void
         */
        goToShowRuleConfigurator(item) {
          this.$refs.sendRuleConfigurator.reciveRuleConfigurator(item);
          this.dialogShow = true;
        },
        /**
         * Get dialog status from Show component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param boolean value
         * @return void
         */
        getDialogShowStatus(value) {
          this.dialogShow = value;
        },
    }
};
</script>

<style>
    .data-table-style{
        margin: 10px;
    }
</style>
