<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">Información de la regla</span>
        </v-card-title>
        <v-card-text>
          <Inputs :ruleToShow="ruleConfigurator" :inputsStatus="true"></Inputs>
        </v-card-text>
        <v-container class="d-flex flex-column mb-6">
          <v-card-actions class="mt-5 d-block">
            <form-action-buttons
              @close="cancel"
              :hideSaveBtn="true"
              @save="false"
            ></form-action-buttons>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
  name: "Show",
  props: ["dialog"],
  components: {
    Inputs,
  },
  data: () => ({
    ruleConfigurator: {},
  }),
  methods: {
    /**
     * Redirect to index rules configurator.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-07
     * @param
     * @return void
     */
    cancel() {
      this.$emit("dialogStatus", false);
    },
    /**
     * Receives a rule from index component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-07
     * @param Object ruleConfigurator
     * @return void
     */
    reciveRuleConfigurator(ruleConfigurator) {
      this.ruleConfigurator = ruleConfigurator;
    },
  },
};
</script>