<template>
  <div>
      <form method="POST" novalidate class="needs-validation" @submit.prevent="onSubmit">
        <div class="h-100 bg-plum-plate bg-animation">
        <div class="d-flex h-100 justify-content-center align-items-center">
            <b-col md="8" class="mx-auto app-login-box">
            <div class="app-logo-inverse mx-auto mb-3" />

            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Ingrese una cuenta de correo</div>
                    </div>
                <div class="modal-body mt-3">
                    <b-alert v-model="showDismissibleAlert" :variant="alertType" dismissible>
                        {{ alertMessage }}
                    </b-alert>
                    <v-row>
                        <v-col
                            cols="12"
                            style="padding: 0 15px"
                            >
                            <v-text-field
                                v-model="email"
                                placeholder="Correo electrónico"
                                :error-messages="emailErrors"
                                required
                                outlined
                                dense
                                @input="$v.email.$touch()"
                                @blur="$v.email.$touch()"
                                ></v-text-field>
                        </v-col>
                        <v-col>
                            <v-btn color="primary"
                                    block
                                    elevation="2"
                                    x-large
                                    :loading="submitIsPending" :disabled="submitIsPending" @click="onSubmit"
                                    >
                                    Enviar solicitud
                                </v-btn>
                        </v-col>
                    </v-row>
                </div>
                <div class="modal-footer clearfix">
                    <a href="/login" class="btn-lg btn btn-link login-link-style" > Ya tengo cuenta </a>
                </div>
                </div>
            </div>
            </b-col>
        </div>
        </div>
      </form>

  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
    mounted(){
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        this.name = urlParams.get('name');
        this.user = urlParams.get('user');
        this.access = urlParams.get('access');
    },
    data() {
        return {
            email: '',
            submitStatus: null,
            alertMessage: '',
            alertType: 'success',
            showDismissibleAlert: false,
            name: null,
            user: null,
            access: null
        }
    },
    mixins: [validationMixin],
    validations: {
        email: {
            required,
            email
        }
    },
    computed: {
        /**
         * Validates if submit status is pending.
         * @auth Octavio Cornejo
         * @date 2021-02-15
         * @param
         * @return boolean
         */
        submitIsPending(){
            return this.submitStatus == 'PENDING';
        },
        /**
         * Validates email input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-26
         * @param
         * @return array errors
         */
        emailErrors() {
            const errors = []

            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('Debe ser un correo electrónico válido')
            !this.$v.email.required && errors.push('Este campo es requerido')
            return errors
        }
    },
    methods: {
        /**
         * On submit executes this function.
         * @auth Octavio Cornejo
         * @date 2021-02-15
         * @param
         * @return void
         */
        onSubmit(){
            this.showDismissibleAlert = false;
            this.$v.$touch()

            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR'
            } else {
                this.submitStatus = 'PENDING'

                const data = {
                    name: this.name,
                    email: this.email,
                    id_user_nego: this.user,
                    password: this.access
                }
                axios.post('/api/users', data)
                    .then(res => {
                        swal2.fire(
                            'Guardado',
                            'Se guardó el registro correctamente',
                            'success'
                        );
                        window.location.href = '/login';
                    })
                    .catch(this.handleError)
                    .finally(() => {
                    });
            }
        },
    }
}
</script>

<style scoped lang="scss">
@import '../../../sass/_variables.scss';

    .modal-header {
        background: $primary;
        justify-content: center;

        .modal-title {
            font-size: 1.4rem;
            padding: .2rem;
            color: white;
        }
    }

    .login-link-style {
        margin-right: 33%; 
        font-size: 1rem; 
        color: $primary
    }
</style>
