<template>
  <div>
      <form method="POST" :action="action" novalidate class="needs-validation" @submit.prevent="onSubmit">
        <input type="hidden" name="_token" :value="csrf">
        <div class="h-100 bg-plum-plate bg-animation">
        <div class="d-flex h-100 justify-content-center align-items-center">
            <b-col md="8" class="mx-auto my-auto app-login-box">
            <div class="app-logo-inverse mx-auto mb-3" />

            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Inicio de Sesión</div>
                    </div>
                <div class="modal-body mt-3">
                    <b-alert v-model="showDismissibleAlert" :variant="alertType" dismissible>
                        {{ alertMessage }}
                    </b-alert>
                    <v-row>
                        <v-col
                            cols="12"
                            style="padding: 0 15px"
                            >
                            <v-text-field
                                v-model="email"
                                placeholder="Ingresa tu email ó usuario nego"
                                :error-messages="emailErrors"
                                required
                                outlined
                                dense
                                @input="$v.email.$touch()"
                                @blur="$v.email.$touch()"
                                ></v-text-field>
                        </v-col>
                        <v-col
                            cols="12"
                            style="padding: 0 15px"
                            >
                            <v-text-field
                                v-model="password"
                                placeholder="Contraseña"
                                type="password"
                                :error-messages="passwordErrors"
                                required
                                outlined
                                dense
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                                ></v-text-field>

                        </v-col>

                        <v-col
                            cols="12"
                            style="padding: 0 15px">
                             <v-checkbox
                                v-model="remember"
                                placeholder="Recuerdame"
                                :label="`Recuerdame`"
                                outlined
                                dense
                                ></v-checkbox>
                        </v-col>
                        <v-col>
                            <v-btn color="primary"
                                    block
                                    elevation="2"
                                    x-large
                                    :loading="submitIsPending" :disabled="submitIsPending" @click="onSubmit"
                                    >
                                    Iniciar sesión
                                </v-btn>
                        </v-col>
                    </v-row>
                </div>
                <div class="modal-footer clearfix">
                    <a href="/password/reset" class="btn-lg btn btn-link forgot-link-password-style" > ¿Olvidaste tu contraseña? </a>
                </div>
                </div>
            </div>
            </b-col>
        </div>
        </div>
      </form>

  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
    props: {
        action: String,
        passwordRequest: String,
        csrf: String
    },
    data() {
        return {
            email: '',
            password: '',
            remember: false,
            submitStatus: null,
            alertMessage: '',
            alertType: 'success',
            showDismissibleAlert: false
        }
    },
    mixins: [validationMixin],
    validations: {
        email: {
            required
        },
        password: {
            required
        }
    },

    mounted() {
        this.getMessage();
    },

    computed: {
        /**
         * Validates if submit status is pending.
         * @auth Octavio Cornejo
         * @date 2021-02-15
         * @param
         * @return boolean
         */
        submitIsPending(){
            return this.submitStatus == 'PENDING';
        },
        /**
         * Validates email input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-26
         * @param
         * @return array errors
         */
        emailErrors() {
            const errors = []

            if (!this.$v.email.$dirty) return errors
            !this.$v.email.required && errors.push('Este campo es requerido')
            return errors
        },
        /**
         * Validates password input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-26
         * @param
         * @return array errors
         */
        passwordErrors() {
            const errors = []

            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Este campo es requerido')
            return errors
        },
    },
    methods: {
        /**
         * On submit executes this function.
         * @auth Octavio Cornejo
         * @date 2021-02-15
         * @update 2021-03-02
         * @param
         * @return void
         */
        onSubmit(){
            this.showDismissibleAlert = false;
            this.$v.$touch()
            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR'
            } else {
                this.submitStatus = 'PENDING'

                var regex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
                if (!regex.test(this.email)) {
                    const data = {
                        Id_Usuario: this.email,
                        Password: this.password,
                    }
                    axios.get('/sanctum/csrf-cookie').then(response => {
                        axios.post('/api/user-nego-exists', data).then(res => {
                            let userData = res.data.userData;
                            if(userData != null){
                                if(userData.localDb){
                                    const data = {
                                        email: this.email,
                                    }
                                    axios.post('/api/user-nego-validates', data).then(response => {
                                        this.login();
                                    });
                                }else{
                                    window.location.href = `/password/reset/nego?name=${userData.Nombre}&user=${userData.Id_Usuario}&access=${userData.Password}`;
                                }
                            }else{
                                this.submitStatus = 'ERROR';
                                this.alertType = 'danger';
                                this.alertMessage = 'Las credenciales no concuerdan con algún registro.'
                                this.showDismissibleAlert = true;
                            }
                        }).catch(er => {
                            this.submitStatus = 'ERROR';
                            this.alertType = 'danger';
                            this.alertMessage = 'Las credenciales no concuerdan con algún registro.'
                            this.showDismissibleAlert = true;
                        });
                    });
                } else {
                    const data = {
                        email: this.email,
                    }
                    axios.post('/api/user-nego-validates', data).then(response => {
                        this.login();
                    });
                }
            }
        },
        /**
         * Allow do login.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-05-20
         * @param
         * @return void
         */
        login() {
            const data = {
                email: this.email,
                password: this.password,
                remember: this.remember,
            }
            axios.get('/sanctum/csrf-cookie').then(response => {
                axios.post('/login', data).then(res => {
                    axios.get('/api/user')
                        .then(res => {
                            let user = JSON.stringify(res.data);
                            localStorage.setItem('auth', user);
                            window.location.href = './';
                        }).catch(er => console.warn(er));
                }).catch(er => {
                    this.submitStatus = 'ERROR';
                    this.alertType = 'danger';
                    this.alertMessage = 'Las credenciales no concuerdan con algún registro.'
                    this.showDismissibleAlert = true;
                });
            });
        },
        /**
         * Show a message when a request is sended.
         * @auth Octavio Cornejo
         * @date 2021-03-19
         * @param
         * @return void
         */
        getMessage() {
            let message = JSON.parse(localStorage.getItem('message'));
            if (message) {
                this.alertType = 'success';
                this.showDismissibleAlert = true;
                this.alertMessage = message.text;
                localStorage.removeItem('message');
            }
        }
    }
}
</script>


<style scoped lang="scss">
@import '../../../sass/_variables.scss';
    .modal-header {
        background: $primary;
        justify-content: center;

        .modal-title {
            font-size: 1.4rem;
            padding: .2rem;
            color: white;
        }
    }

    .forgot-link-password-style {
        margin-right: 27%;
        font-size: 1rem;
        color: $primary
    }
</style>
