<template>
  <div>
      <form method="POST" novalidate class="needs-validation" @submit.prevent="onSubmit">
        <div class="h-100 bg-plum-plate bg-animation">
        <div class="d-flex h-100 justify-content-center align-items-center">
            <b-col md="8" class="mx-auto app-login-box">
            <div class="app-logo-inverse mx-auto mb-3" />

            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Actualizar Contraseña</div>
                    </div>
                <div class="modal-body mt-3">
                    <b-alert v-model="showDismissibleAlert" :variant="alertType" dismissible>
                        {{ alertMessage }}
                    </b-alert>
                    <v-row>
                        <v-col
                            cols="12"
                            style="padding: 0 15px"
                            >
                            <v-text-field
                                v-model="password"
                                placeholder="Contraseña"
                                type="password"
                                :error-messages="passwordErrors"
                                required
                                outlined
                                dense
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                                ></v-text-field>
                        </v-col>
                        <v-col
                            cols="12"
                            style="padding: 0 15px"
                            >
                            <v-text-field
                                v-model="password_confirmation"
                                placeholder="Confirmación de Contraseña"
                                type="password"
                                :error-messages="passwordConfirmationErrors"
                                required
                                outlined
                                dense
                                @input="$v.password_confirmation.$touch()"
                                @blur="$v.password_confirmation.$touch()"
                                ></v-text-field>
                        </v-col>
                        <v-col>
                            <v-btn color="primary"
                                    block
                                    elevation="2"
                                    x-large
                                    :loading="submitIsPending" :disabled="submitIsPending" @click="onSubmit"
                                    >
                                    Enviar solicitud
                                </v-btn>
                        </v-col>
                    </v-row>
                </div>
                <div class="modal-footer clearfix">
                    <a href="/login" class="btn-lg btn btn-link login-link-style" > Ya tengo cuenta </a>
                </div>
                </div>
            </div>
            </b-col>
        </div>
        </div>
      </form>

  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, sameAs, minLength } from "vuelidate/lib/validators";

export default {
    props: {
        email: String,
        token: String
    },
    data() {
        return {
            password: '',
            password_confirmation: '',
            submitStatus: null,
            alertMessage: '',
            alertType: 'success',
            showDismissibleAlert: false
        }
    },
    mixins: [validationMixin],
    validations: {
        password: {
            required,
            minLength: minLength(8)
        },
        password_confirmation: {
            required,
            sameAsPassword: sameAs('password'),
            minLength: minLength(8)
        }
    },
    computed: {
        /**
         * Validates if submit status is pending.
         * @auth Octavio Cornejo
         * @date 2021-02-15
         * @param
         * @return boolean
         */
        submitIsPending(){
            return this.submitStatus == 'PENDING';
        },
        /**
         * Validates password input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-26
         * @param
         * @return array errors
         */
        passwordErrors() {
            const errors = []

            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Este campo es requerido')
            !this.$v.password.minLength && errors.push('La contraseña mínimo debe contener 8 caracteres')
            return errors
        },
        /**
         * Validates password_confirmation input requirements.
         * @auth Octavio Cornejo
         * @date 2021-02-26
         * @param
         * @return array errors
         */
        passwordConfirmationErrors() {
            const errors = []

            if (!this.$v.password_confirmation.$dirty) return errors
            !this.$v.password_confirmation.required && errors.push('Este campo es requerido')
            !this.$v.password_confirmation.sameAsPassword && errors.push('La confirmación debe ser igual a la contraseña')
            !this.$v.password_confirmation.minLength && errors.push('La contraseña mínimo debe contener 8 caracteres')
            return errors
        }
    },
    methods: {
        /**
         * On submit executes this function.
         * @auth Octavio Cornejo
         * @date 2021-02-15
         * @param
         * @return void
         */
        onSubmit(){
            this.showDismissibleAlert = false;
            this.$v.$touch()

            if (this.$v.$invalid) {
                this.submitStatus = 'ERROR'
            } else {
                this.submitStatus = 'PENDING'

                const data = {
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                    token: this.token
                }

                axios.post('/password/reset', data)
                    .then(res => {
                        window.location.href = './';
                    }).catch(this.handleError);
            }
        },
        /**
         * Handle request errors.
         * @auth Octavio Cornejo
         * @date 2021-02-26
         * @param param
         * @return void
         */
        handleError(er) {
            this.submitStatus = 'ERROR';
            this.alertType = 'danger';
            this.alertMessage = 'Ocurrió un error, intente mas tarde';
            const errors = er.response.data.errors;
            if ('password' in errors)
                this.alertMessage = errors.password[0];
            if ('email' in errors)
                this.alertMessage = errors.email[0];
            this.showDismissibleAlert = true;
        }
    }
}
</script>

<style scoped lang="scss">
@import '../../../sass/_variables.scss';

    .modal-header {
        background: $primary;
        justify-content: center;

        .modal-title {
            font-size: 1.4rem;
            padding: .2rem;
            color: white;
        }
    }

    .login-link-style {
        margin-right: 33%; 
        font-size: 1rem; 
        color: $primary
    }
</style>
