<template>
    <v-card data-app class="p-3">
    <v-card-title>
      Vista de costo base emprendedore
      <v-spacer></v-spacer>
      <div>
        <sub>Registros por vista</sub>
        <v-select
          v-model="itemsPerPage"
          :items="amounts"
          item-text="name"
          item-value="id"
          placeholder="Elige una opción"
          outlined
          dense
          attach
          auto
          @change="resetSearch"
        ></v-select>
      </div>
      <v-spacer></v-spacer>
      <v-btn
         color="primary"
         v-on:click="exportCosts"
       >
         Exportar a excel
       </v-btn>
      <v-spacer></v-spacer>
      <v-text-field
       v-model="search"
       outlined
       dense
       append-icon="mdi-magnify"
       placeholder="Buscar"
       hide-details
       ></v-text-field>

    </v-card-title>
           <v-row>
        <v-col cols="6" md="2">
          <h6>Marca</h6>
          <v-select
            v-model="filters.brand"
            placeholder="Marca"
            :items="brands"
            attach
            item-text="Marca"
            item-value="Id_Marca"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Familia</h6>
          <v-select
            v-model="filters.family"
            placeholder="Familia"
            :items="families"
            attach
            item-text="Familia"
            item-value="Id_Familia"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Especialidad</h6>
          <v-select
            v-model="filters.especiality"
            placeholder="Especialidad"
            :items="specialties"
            attach
            item-text="Especialidad"
            item-value="Id_EspMed"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Categoría</h6>
          <v-select
            v-model="filters.category"
            placeholder="Categoría"
            :items="categories"
            attach
            item-text="Categoria"
            item-value="Id_Categoria"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Peso</h6>
          <v-select
            v-model="filters.weight"
            placeholder="Peso"
            :items="weight"
            attach
            item-text="Peso"
            item-value="Id_Peso"
            outlined
            dense
          ></v-select>
          <v-text-field
            v-model="filters.weight_t"
            placeholder="Peso_t"
            item-text="Peso"
            item-value="Id_Peso_t"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Volumen</h6>
          <v-select
            v-model="filters.volumen"
            placeholder="Volumen"
            :items="volumen"
            attach
            item-text="Volumen"
            item-value="Id_Volumen"
            outlined
            dense
          ></v-select>
          <v-text-field
            v-model="filters.volumen_t"
            placeholder="Volumen_t"
            item-text="Volumen"
            item-value="Id_volumen_t"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2" style="align-self: center">
          <v-btn block color="primary" text @click="filterProducts">
            Buscar
          </v-btn>
        </v-col>
        <v-col cols="6" md="2" style="align-self: center">
          <v-btn block color="primary" text @click="cleanFilters">
            Limpiar
          </v-btn>
        </v-col>
      </v-row>
    <v-data-table
        :headers="headers"
        :items="costs"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        fixed-header
        height="100vh"
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
        >
      </v-data-table>
       <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="this.costs.length"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import ChipStatus from "../../../components/chipStatus";

export default {
    created() {
        this.getCosts();
    },
    mounted(){
        this.getSettings();
    },
    components: {
        ChipStatus
    },
    data() {
        return {
             brands: [],
            families: [],
            specialties: [],
            categories: [],
            weight: ['<','>','='],
            volumen: ['<','>','='],
            filters: {
                brand: 0,
                family: 0,
                especiality: 0,
                category: 0,
                weight:'',
                weight_t:'',
                volumen:'',
                volume_t:'',
            },
            search: "",
            dialog: false,
            productId: null,
            dialogDelete: false,
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 50,
            loading: false,
            headers: [
            ],
            costs: [],
            amounts:[
                {id:20, name:'20'},
                {id:50, name:'50'},
                {id:100, name:'100'},
            ]
        };
    },
    methods: {
        /**
         * Get costs and fill date table from api view-cost-entrepreneurs.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        getCosts() {
            this.loading = true;
            axios.get("/api/view-cost-entrepreneurs").then((result) => {
                for (var key in result.data.costs[0]) {
                    key == 'Código_de_Barras_Universal' || key == 'Descripción_Corta' || key == 'Clave_Unificada' ?
                    this.headers.push({text: key, value: key, filterable: true}) :
                    this.headers.push({text: key, value: key, filterable: false});
                }
                this.costs = result.data.costs;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
         /**
         * Fill selects.
         * @auth Oscar Castellanos
         * @date 2021-06-25
         * @param Object params
         * @return void
         */
        getSettings() {
      axios
        .get("/api/special-costs-settings")
        .then((result) => {
          this.brands = result.data.brands;
          this.families = result.data.families;
          this.specialties = result.data.especialities;
          this.categories = result.data.categories;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },

    /**
     * Allows you to filter products from api.
     * @auth Oscar Castellanos
     * @date 2021-06-25
     * @param
     * @return void
     */
    filterProducts() {
      this.loading = true;
      this.search = "";
      axios
        .get("/api/products-special-filters", {
          params: {
            filters: this.filters,
          },
        })
        .then((result) => {
          this.costs = result.data.products;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
          this.selectAll = false;
        });
    },

        /**
     * Clean the filters.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    cleanFilters() {
      this.filters.brand = 0;
      this.filters.family = 0;
      this.filters.especiality = 0;
      this.filters.category = 0;
      this.filters.weight = 0;
      this.filters.weight_t = "";
      this.filters.volumen = 0;
      this.filters.volumen_t = "";
      this.selectAll = false;
    },
        /**
         * Open a window to export a file in excel from laravel with the costs available.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-14
         * @param
         * @return void
         */
        exportCosts() {
            axios.get("/api/export-costs", {responseType: 'arraybuffer'}).then((result) => {
                let blob = new Blob([result.data], { type: 'application/xlsx' });
                let link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'costs.xlsx';
                link.click();
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            });
        },
        resetSearch(){
          this.search = "";
        }
    },
};
</script>

<style>
    .data-table-style{
        margin: 10px;
    }

    .v-btn__content {
      color: white !important;
    }
</style>
