<template>
    <form data-app>
        <v-row>
            <v-col cols="6" md="12">
                <h6>Descripción de la regla</h6>
                <v-text-field
                    v-model="currentRule.Descripcion"
                    :error-messages="descriptionErrors"
                    placeholder="Descripción"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentRule.Descripcion.$touch()"
                    @blur="$v.currentRule.Descripcion.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
            <v-col cols="6" md="2">
                <h6>Prioridad</h6>
                <v-text-field
                    v-model="currentRule.Prioridad"
                    :error-messages="priorityErrors"
                    placeholder="0"
                    :readonly="inputsStatus"
                    type="number"
                    min="1"
                    outlined
                    required
                    dense
                    @input="$v.currentRule.Prioridad.$touch()"
                    @blur="$v.currentRule.Prioridad.$touch()"
                ></v-text-field>
            </v-col>           
        </v-row> 
    </form>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "Inputs",
  props:{
    ruleToShow: {
      type: Object,
      default: null,
    },
    inputsStatus: {
      type: Boolean,
      default: false,
    }
  },
  mixins: [validationMixin],
  validations: {
    currentRule: {
      Descripcion: { required },
      Prioridad: { required },
    },
  },
  mounted() {
      if (this.$route.params.item != null){
          this.currentRule = this.$route.params.item;
          this.previousRulePriority =  this.$route.params.item.Prioridad;
      }else if(this.ruleToShow != null){
          this.currentRule = this.ruleToShow;
      }
  },
  data() {
    return {
      submitStatus: "",
      previousRulePriority	: null,
      currentRule: {
        Descripcion: "",
        Prioridad: null,
      },
    };
  },
  methods: {
    /**
     * Allows call post or edit method if data is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$route.params.item != null ? this.edit(this.currentRule) : this.post(this.currentRule);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Post a new rule.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return void
     */
    post(data) {
      axios
        .post("/api/rules-configurators", data)
        .then((result) => {
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.$router.push({ name: "rules-configurators" });
        });
    },
    /**
     * Update a rule.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-07
     * @param
     * @return void
     */
    edit(data) {
      axios
        .put("/api/rules-configurators/" + data.Id_ReglaCostoEspecial, data)
        .then((result) => {
          swal2.fire("Editado", "Se editó la regla correctamente", "success");
          this.$router.push({ name: "rules-configurators" });
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Check if current priority already exists in bd and allows or does not allow call submit method.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-07
     * @param
     * @return void
     */
    verifyPriority() {
      var priority = { priority: this.currentRule.Prioridad };
      if(this.$route.params.item != null && this.previousRulePriority === this.currentRule.Prioridad){
        this.submit();
      }else{
        axios
        .get("/api/rules-configurators-priority", {
          params: {
            priority: priority,
          },
        })
        .then((result) => {
          if (result.data.priority != true) {
            this.submit();
          } else {
            swal2.fire({
              icon: "error",
              title: "Oops...",
              text:
                "La prioridad seleccionada ya fue dada de alta anteriormente, intente con otra.",
            });
          }
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
      }
    },
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return array
     */
    descriptionErrors() {
      const errors = [];
      if (!this.$v.currentRule.Descripcion.$dirty) return errors;
      !this.$v.currentRule.Descripcion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-31
     * @param
     * @return array
     */
    priorityErrors() {
      const errors = [];
      if (!this.$v.currentRule.Prioridad.$dirty) return errors;
      !this.$v.currentRule.Prioridad.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  },
  watch: {
    /**
     * Asign a new value to currentRule.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-08
     * @param Object newVal
     * @return void
     */
    ruleToShow: function (newVal) {
      this.currentRule = newVal;
    },
  },
};
</script>