<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="900px">
      <v-card class="p-3">
        <v-row>
          <v-toolbar-title class="mt-3 ml-3"
            >Productos incluidos en la caja</v-toolbar-title
          >
          <v-spacer></v-spacer>
          <v-btn icon color="black" @click="close">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <v-row>
          <v-col cols="6" md="4" class="pb-0">
            <h6 class="p-3">Tipo de caja</h6>
          </v-col>

          <v-col cols="6" md="4" class="pb-0">
            <h6 class="p-3">Capturar/leer código de barras del producto</h6>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" md="4" class="pt-0 pb-0">
            <v-select
              :items="boxes"
              item-text="Descripcion"
              item-value="Id"
              style="text-align-last: center"
              placeholder="-- Selecciona una opción --"
              outlined
              dense
            ></v-select>
          </v-col>

          <v-col cols="6" md="4" class="pt-0 pb-0">
            <v-text-field
              placeholder="000000000000000000"
              outlined
              required
              dense
            ></v-text-field>
          </v-col>
          <v-col cols="6" md="2" class="pt-0 pb-0">
            <v-btn block color="primary" text @click="false"> Agregar </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" md="4" offset-md="4" class="pt-0">
            <h6 class="pt-0 ml-3">0 / 4 productos 0.0 kg</h6>
          </v-col>
        </v-row>

        <v-data-table
          :headers="headers"
          :items="faqs"
          class="elevation-1 mt-3"
          :search="search"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          :loading="loading"
          hide-default-footer
          @page-count="pageCount = $event"
          no-data-text="No hay ningún registro"
          no-results-text="No se encontraron coincidencias"
          loading-text="Cargando... Porfavor espere"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <action-buttons
              :item="item"
              :showVisible="false"
              @edit="editItem"
              @delete="false"
            ></action-buttons>
          </template>
        </v-data-table>
        <pagination
          :last="pageCount"
          :current="page"
          :itemsPerPage="itemsPerPage"
          :total="this.faqs.length"
          v-on:input="page = $event"
        ></pagination>

        <v-row class="pt-3">
          <v-col cols="6" md="6" class="pt-0">
            <v-btn block class="next-button" text @click="false">
              Siguiente caja
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pt-0">
            <v-btn block class="finish-button" text @click="false">
              Finalizar armado de caja(s)
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["dialog"],
  mounted() {
    this.getBoxes();
  },
  data: () => ({
    search: "",
    page: 1,
    pageCount: 0,
    totalItems: 0,
    itemsPerPage: 10,
    loading: false,
    faqs: [],
    boxes: [],
    headers: [
      {
        text: "Clave",
        value: "id",
      },
      {
        text: "Descripción",
        value: "desc",
      },
      {
        text: "Cantidad",
        value: "amount",
      },
      {
        text: "Instrucciones de embalaje",
        value: "box",
      },
      {
        text: "Acciones",
        value: "actions",
      },
    ],
  }),
  methods: {
    /**
     * Get active boxes.
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @param
     * @return void
     */
    getBoxes() {
      axios
        .get("/api/boxes")
        .then((result) => {
          this.boxes = result.data.boxes;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "No se pudieron obtener las cajas!",
          });
        });
    },
    /**
     * Close add products component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    close() {
      this.$emit("close-add-products");
    },
  },
};
</script>
<style lang="scss">
@import "../../../../../sass/_variables.scss";
.finish-button {
  background: $green !important;
  color: $white !important;
}
.next-button {
  background: $orange !important;
  color: $white !important;
}
</style>