<template>
  <div data-app>
    <layout-wrapper transition="scroll-y-transition">
      <add-products-box :dialog="dialog" @close-add-products="closeAddProducts">
      </add-products-box>
      <dialog-delete
        :status="dialogDelete"
        v-on:cancel="closeDelete"
        v-on:confirm="deleteItemConfirm"
      ></dialog-delete>
      <v-data-table
        :headers="headers"
        :items="faqs"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
      >
        <template v-slot:top>
          <datatable-header
            title="Armado de caja(s)"
            :disable-creation="false"
            :hideSearchBar="true"
            @searching="search = $event"
            @open="dialog = true"
            @itemsToShow="itemsPerPage = $event"
          >
          </datatable-header>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            v-if="!item.actions"
            medium
            class="bar-code-icon"
            @click="openValidateProducts(item)"
          >
            mdi-barcode
          </v-icon>
          <v-icon
            v-else
            medium
            class="checkbox-marked-circle"
            @click="editItem(item)"
          >
            mdi-checkbox-marked-circle
          </v-icon>
        </template>
      </v-data-table>
      <pagination
        :last="pageCount"
        :current="page"
        :itemsPerPage="itemsPerPage"
        :total="this.faqs.length"
        v-on:input="page = $event"
      ></pagination>

      <v-row style="justify-content: flex-end">
        <v-col cols="6" md="2">
          <v-btn block color="primary" outlined text @click="close">
            Regresar a listado
          </v-btn>
        </v-col>
        <v-col cols="6" md="2">
          <v-btn block color="primary" text @click="false">
            Generar guía(s)
          </v-btn>
        </v-col>
      </v-row>
    </layout-wrapper>
  </div>
</template>
<script>
import LayoutWrapper from "../../../../Layout/Components/LayoutWrapper.vue";
import AddProductsBox from "./AddProductsBox.vue";

export default {
  mounted() {},
  components: {
    "layout-wrapper": LayoutWrapper,
    "add-products-box": AddProductsBox,
  },
  data() {
    return {
      editedItem: {
        id: "",
        question: "",
        answer: "",
      },
      search: "",
      dialog: false,
      boxesDialog: false,
      dialogDelete: false,
      page: 1,
      pageCount: 0,
      totalItems: 0,
      itemsPerPage: 10,
      loading: false,
      editionBlocked: false,
      showForm: false,
      showProductsTable: false,
      editedIndex: -1,
      title: "titulo",
      correctOrder: true,
      faqs: [],
      items: [{ id: 1 }, { id: 2 }, { id: 3 }],
      headers: [
        {
          text: "Id paquete",
          value: "id",
        },
        {
          text: "Tipo de caja",
          value: "desc",
        },
        {
          text: "Cantidad de productos",
          value: "amount",
        },
        {
          text: "Peso del paquete",
          value: "box",
        },
        {
          text: "Acciones",
          value: "actions",
        },
      ],
    };
  },
  methods: {
    /**
     * Close BoxAssembly component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    close() {
      this.$emit("close-box-assembly");
    },
    /**
     * Open validate products dialog
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    openValidateProducts() {
      this.dialog = true;
    },
    /**
     * Close AddProductsBox component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    closeAddProducts() {
      this.dialog = false;
    },
  },
  computed: {},
};
</script>

<style>
.data-table-style {
  margin: 10px;
}
</style>