<template>
  <div data-app>
    <layout-wrapper transition="scroll-y-transition">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card class="p-3">
          <v-row>
            <v-toolbar-title class="mt-3 ml-3">
              Validar productos</v-toolbar-title
            >
            <v-spacer></v-spacer>
            <v-btn icon color="black" @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-row>
          <v-row>
            <h6 class="p-3">Capturar/leer código de barras del producto</h6>
            <v-col cols="6" md="8" class="pb-0">
              <v-text-field
                placeholder="000000000000000000"
                outlined
                required
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="6" md="2" offset-md="1" class="pb-0">
              <v-btn block color="primary" text @click="false"> Agregar </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" md="4">
              <h6 class="pt-0">0 / 4 productos</h6>
            </v-col>
          </v-row>
          <v-row>
            <h6 class="p-3">¿El pedido está correcto?</h6>
            <v-col cols="6" md="12" class="pt-0">
              <v-radio-group v-model="correctOrder" row>
                <v-radio label="Si" :value="true"></v-radio>
                <v-radio label="No" :value="false"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-row v-if="!correctOrder">
            <v-col cols="6" md="12" class="pt-0">
              <v-textarea
                outlined
                dense
                placeholder="Motivo por el cual es devuelto"
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" md="12" class="pt-0">
              <v-btn block color="primary" text @click="false"> Guardar </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>
      <dialog-delete
        :status="dialogDelete"
        v-on:cancel="closeDelete"
        v-on:confirm="deleteItemConfirm"
      ></dialog-delete>
      <v-data-table
        :headers="headers"
        :items="faqs"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
      >
        <template v-slot:top>
          <datatable-header
            title="Productos surtidos"
            :disable-creation="true"
            :hideSearchBar="true"
            @searching="search = $event"
            @open="dialog = true"
            @itemsToShow="itemsPerPage = $event"
          >
          </datatable-header>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            v-if="!item.actions"
            medium
            class="bar-code-icon"
            @click="openValidateProducts(item)"
          >
            mdi-barcode
          </v-icon>
          <v-icon
            v-else
            medium
            class="checkbox-marked-circle"
            @click="editItem(item)"
          >
            mdi-checkbox-marked-circle
          </v-icon>
        </template>
      </v-data-table>
      <pagination
        :last="pageCount"
        :current="page"
        :itemsPerPage="itemsPerPage"
        :total="this.faqs.length"
        v-on:input="page = $event"
      ></pagination>

      <v-row style="justify-content: flex-end">
        <v-col cols="6" md="2">
          <v-btn block color="primary" outlined text @click="close">
            Regresar a listado
          </v-btn>
        </v-col>
        <v-col cols="6" md="2">
          <v-btn block color="#ab0800" style="color: white" @click="false">
            Rechazar pedido
          </v-btn>
        </v-col>
        <v-col cols="6" md="2">
          <v-btn block color="primary" text @click="openBoxAssembly">
            Armar cajas
          </v-btn>
        </v-col>
      </v-row>
    </layout-wrapper>
  </div>
</template>
<script>
import LayoutWrapper from "../../../../Layout/Components/LayoutWrapper.vue";

export default {
  mounted() {},
  components: {
    "layout-wrapper": LayoutWrapper,
  },
  data() {
    return {
      editedItem: {
        id: "",
        question: "",
        answer: "",
      },
      search: "",
      dialog: false,
      boxesDialog: false,
      dialogDelete: false,
      page: 1,
      pageCount: 0,
      totalItems: 0,
      itemsPerPage: 10,
      loading: false,
      editionBlocked: false,
      showForm: false,
      showProductsTable: false,
      editedIndex: -1,
      title: "titulo",
      correctOrder: true,
      faqs: [
        {
          id: "3M-ESTCIII",
          desc: "Estetoscopio Littman classic, rojo",
          amount: "0/4",
          box: "#1234657891",
          actions: false,
        },
        {
          id: "3M-ESTCIIL",
          desc: "Estetoscopio Littman classic, rojo",
          amount: "0/4",
          box: "#1234657892",
          actions: true,
        },
      ],
      items: [{ id: 1 }, { id: 2 }, { id: 3 }],
      headers: [
        {
          text: "Clave",
          value: "id",
        },
        {
          text: "Descripción",
          value: "desc",
        },
        {
          text: "Cantidad",
          value: "amount",
        },
        {
          text: "Caja picking",
          value: "box",
        },
        {
          text: "Validar productos",
          value: "actions",
        },
      ],
    };
  },
  methods: {
    /**
     * Close PackingProducts component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     */
    close() {
      this.$emit("close-packing-products");
    },
    /**
     * Open validate products dialog
     * @author José Vega <jose.vega@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     */
    openValidateProducts() {
      this.dialog = true;
    },
    /**
     * Open BoxAssembly component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 22/06/2021
     * @params
     * @return void
     */
    openBoxAssembly() {
      this.$emit("open-box-assembly");
    },
  },
  computed: {},
};
</script>

<style lang="scss">
@import "../../../../../sass/_variables.scss";

.bar-code-icon {
  background: $primary;
  border-radius: 5px;
  color: white !important;
}

.checkbox-marked-circle {
  color: $green !important;
}

.data-table-style {
  margin: 10px;
}
</style>