<template>
  <div data-app>
    <layout-wrapper transition="scroll-y-transition">
      <v-card class="p-3">
        <v-row
          ><v-col><v-toolbar-title>Packing</v-toolbar-title></v-col></v-row
        >
        <v-row>
          <v-col cols="6" md="1">
            <p>No. de pedido</p>
            <v-text-field outlined required dense></v-text-field>
          </v-col>
          <v-col cols="6" md="2">
            <p>Responsable</p>
            <v-text-field outlined required dense></v-text-field>
          </v-col>
          <v-col cols="6" md="3">
            <p>Fecha y hora</p>
            <v-text-field outlined required dense></v-text-field>
          </v-col>
          <v-col cols="6" md="3">
            <p>Emprendedor</p>
            <v-text-field outlined required dense></v-text-field>
          </v-col>
          <v-col cols="6" md="3">
            <p>Caja(s) de picking</p>
            <v-text-field outlined required dense></v-text-field>
          </v-col>
        </v-row>
        <layout-wrapper
          v-if="showPackingProducts"
          transition="scroll-y-transition"
        >
          <packing-products
            @close-packing-products="returnToIndex"
            @open-box-assembly="openBoxAssembly"
          ></packing-products>
        </layout-wrapper>
        <layout-wrapper v-else transition="scroll-y-transition">
          <box-assembly 
            @close-box-assembly="returnToIndex"
          ></box-assembly>
        </layout-wrapper>
      </v-card>
    </layout-wrapper>
  </div>
</template>
<script>
import LayoutWrapper from "../../../../Layout/Components/LayoutWrapper.vue";
import PackingProducts from "./PackingProducts.vue";
import BoxAssembly from "./BoxAssembly.vue";

export default {
  props: ["displayShowProducts"],
  mounted() {
    this.showPackingProducts = this.displayShowProducts;
  },
  components: {
    "layout-wrapper": LayoutWrapper,
    "packing-products": PackingProducts,
    "box-assembly": BoxAssembly,
  },
  data() {
    return {
      showPackingProducts: true,
    };
  },
  methods: {
    /**
     * Returns to index module
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    returnToIndex() {
      this.$emit("close-wrapper-tables");
    },
    /**
     * Allows open box assembly component
     * @author José Vega <jose.vega@nuvem.mx>
     * created 23/06/2021
     * @params
     * @return void
     *
     */
    openBoxAssembly() {
      this.showPackingProducts = false;
    },
  },
  computed: {},
};
</script>