<template>
  <div data-app>
    <v-card>
      <v-card-text style="padding: 0px" class="mb-2">
        <v-tabs
          fixed-tabs
          background-color="#e3e6e8"
          slider-color="#018085"
          color="#fff"
          slider-size="2"
          v-model="tab"
        >
          <v-tab @click="save"> General </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Clasificación </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Almacenamiento </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Estadística </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Ficha Técnica </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item class="mt-2">
            <v-card flat>
              <GeneralForm
                v-on:changed="fillNewProductGeneralData"
                title="Alta del Producto"
                ref="submit"
              ></GeneralForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <ClassificationForm
                v-on:changed="fillNewProductClassificationData"
                ref="submit"
              ></ClassificationForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2 justify-center">
            <v-card flat>
              <StorageForm
                v-on:changed="fillNewProductStorageData"
                ref="submit"
              ></StorageForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <StatisticsForm
                v-on:changed="fillNewProductStatisticsData"
                ref="submit"
              ></StatisticsForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <DataSheetForm
                v-on:changed="fillNewProductDataSheetData"
              ></DataSheetForm>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import GeneralForm from "./partials/GeneralForm";
import StorageForm from "./partials/StorageForm";
import DataSheetForm from "./partials/DataSheetForm";
import StatisticsForm from "./partials/StatisticsForm";
import ClassificationForm from "./partials/ClassificationForm";

export default {
  components: {
    GeneralForm,
    StorageForm,
    DataSheetForm,
    StatisticsForm,
    ClassificationForm,
  },
  data() {
    return {
      e1: 1,
      steps: 4,
      titles: [
        "General",
        "Clasificación",
        "Almacenamiento",
        "Estadística",
        "Ficha Técnica",
      ],
      tab: null,
      tabSelected: "",
      change: false,
      tabsDisabled: false,
      canPost: false,
      newProduct: {
        Id_Prod1: null,
        Id_Prod3: null,
        CBarrasN1: "",
        Id_CodSat: "",
        Descrip1: "",
        Descrip2: "",
        Id_Prov1: null,
        Id_Prov2: null,
        Inventaria: false,
        Lprecios: false,
        Man_LoteCad: false,
        Activo: true,
        eCommerce: false,
        Observa: "",
        Registro: "",
        IVA: null,
        Utmin_Lici: null,
        Flete: null,
        Tiempo_Sur: null,
        Id_Categoria: null,
        Id_Familia: null,
        Id_Marca: null,
        Id_EspMed: null,
        Id_estatus: "",
        Origen: "",
        Niveles: null,
        id_Empaque1: "",
        id_Empaque2: "",
        id_Empaque3: "",
        Unidad_N2: null,
        Unidad_N3: null,
        Nivel_Comp: null,
        Nivel_Vta: null,
        Nivel_Vta2: null,
        Ult_Costo: null,
        Costo_Prom: null,
        CM_MasBajo: null,
        UCambio_CM: null,
        UCambio_CL: null,
        UCambio_Pre: null,
        Ult_Compra: null,
        Ult_Venta: null,
        Peso: null,
        Ancho: null,
        Alto: null,
        Largo: null,
        Especificacion: "",
        Indicacion: "",
        locations: []
      },
      data: new FormData()
    };
  },
  methods: {
    /**
     * Filling a new product with the data of the general component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    fillNewProductGeneralData(value) {
      this.tab = value[0];
      this.canPost = value[2];
      this.tabsDisabled = false;
      this.newProduct.Id_Prod1 = value[1].Id_Prod1;
      this.newProduct.Id_Prod3 = value[1].bidKey;
      this.newProduct.CBarrasN1 = value[1].barCode;
      this.newProduct.Id_CodSat = value[1].satCode;
      this.newProduct.Descrip1 = value[1].shortDescription;
      this.newProduct.Descrip2 = value[1].longDescription;
      this.newProduct.Id_Prov1 = value[1].supplier1;
      this.newProduct.Id_Prov2 = value[1].supplier2;
      this.newProduct.Inventaria = value[1].inventoryable;
      this.newProduct.Lprecios = value[1].inPriceList;
      this.newProduct.Man_LoteCad = value[1].applyExpiration;
      this.newProduct.Activo = value[1].active;
      this.newProduct.eCommerce = value[1].eCommerce;
      this.newProduct.Observa = value[1].observations;
      this.newProduct.Registro = value[1].healthRegistration;
      this.newProduct.IVA = value[1].iva;
      this.newProduct.Utmin_Lici = value[1].minimumBid;
      this.newProduct.Flete = value[1].freight;
      this.newProduct.Tiempo_Sur = value[1].timeAssortment;
    },
    /**
     * Filling a new product with the data of the classification component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    fillNewProductClassificationData(value) {
      this.tab = value[0];
      this.tabsDisabled = false;
      this.newProduct.Id_Categoria = value[1].category;
      this.newProduct.Id_Familia = value[1].family;
      this.newProduct.Id_Marca = value[1].mark;
      this.newProduct.Id_EspMed = value[1].specialty;
      this.newProduct.Id_estatus = value[1].status;
      this.newProduct.Origen = value[1].origin;
    },
    /**
     * Filling a new product with the data of the storage component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    fillNewProductStorageData(value) {
      this.tab = value[0];
      this.tabsDisabled = false;
      this.newProduct.Niveles = value[1].level;
      this.newProduct.id_Empaque1 = value[1].packing1;
      this.newProduct.id_Empaque2 = value[1].packing2;
      this.newProduct.id_Empaque3 = value[1].packing3;
      this.newProduct.Unidad_N2 = value[1].units1;
      this.newProduct.Unidad_N3 = value[1].units2;
      this.newProduct.Nivel_Comp = value[1].purchaseLevel;
      this.newProduct.Nivel_Vta = value[1].saleLevel;
      this.newProduct.Nivel_Vta2 = value[1].saleLevelMost;
    },
    /**
     * Filling a new product with the data of the classification component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    fillNewProductStatisticsData(value) {
      this.tab = value[0];
      this.tabsDisabled = false;
      this.newProduct.Ult_Costo = value[1].lastCost;
      this.newProduct.Costo_Prom = value[1].averageCost;
      this.newProduct.CM_MasBajo = value[1].lowerMarketCost;
      this.newProduct.UCambio_CM = value[1].lastMereCost;
      this.newProduct.UCambio_CL = value[1].lastLiciCost;
      this.newProduct.UCambio_Pre = value[1].lastChangePrices;
      this.newProduct.Ult_Compra = value[1].lastPurchase;
      this.newProduct.Ult_Venta = value[1].lastSale;
    },
    /**
     * Filling a new product with the data of the classification component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-29
     * @param
     * @return void
     */
    fillNewProductDataSheetData(value) {
      this.tabsDisabled = false;
      this.newProduct.Peso = value[1].weight;
      this.newProduct.Ancho = value[1].width;
      this.newProduct.Alto = value[1].high;
      this.newProduct.Largo = value[1].length;
      this.newProduct.Especificacion = value[1].technicalSpecification;
      this.newProduct.Indicacion = value[1].indications;
      this.newProduct.images = value[1].images;
      this.newProduct.locations = value[1].locations
      this.data.append('newProduct', JSON.stringify(this.newProduct));
      if(value[1].images != null){
        for( var i = 0; i < value[1].images.length; i++ ){
          let image = value[1].images[i];
          this.data.append('images[' + i + ']', image);
        }
      }
      if(this.canPost){
        this.post(this.data);
      }else{
        this.tab = 0;
        swal2.fire({
          icon: "error",
          title: "Oops...",
          text: "Los campos: clave nemotécnica y clave licitación son requeridos para el alta del producto",
        });
      }
    },
    /**
     * Post a new product.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    post(data) {
      axios.post("/api/products", data, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((result) => {
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        this.$router.push({ name: 'products' });
        })
        .catch(function (error) {
          let message = error.response.data.message ?? "Algo salió mal, vuelve a intentarlo!";
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: message,
          });
        })
    },
    /**
     * Call submit method on all data components to fill in a new product.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-18
     * @param
     * @return void
     */
    save(){
      this.$refs.submit.submit();
    }
  },
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },
};
</script>
<style>
.v-tab--active {
  background-color: #018085 !important;
}
</style>
