<template>
  <div data-app>
    <v-card>
      <v-card-text style="padding: 0px" class="mb-2">
        <v-tabs
          fixed-tabs
          background-color="#e3e6e8"
          slider-color="#018085"
          color="#fff"
          slider-size="2"
          v-model="tab"
        >
          <v-tab @click="save"> General </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Clasificación </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Almacenamiento </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Estadística </v-tab>
          <v-tab :disabled="tabsDisabled" @click="save"> Ficha Técnica </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item class="mt-2">
            <v-card flat>
              <GeneralForm
                v-on:changed="fillNewProductGeneralData"
                :product="currentProduct"
                title="Información del Producto"
                ref="submit"
              ></GeneralForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <ClassificationForm
                v-on:changed="fillNewProductClassificationData"
                :product="currentProduct"
                ref="submit"
              ></ClassificationForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2 justify-center">
            <v-card flat>
              <StorageForm
                v-on:changed="fillNewProductStorageData"
                :product="currentProduct"
                ref="submit"
              ></StorageForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <StatisticsForm
                v-on:changed="fillNewProductStatisticsData"
                :product="currentProduct"
                ref="submit"
              ></StatisticsForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <DataSheetForm
                v-on:changed="fillNewProductDataSheetData"
                :product="currentProduct"
              ></DataSheetForm>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import GeneralForm from "./partials/GeneralForm";
import StorageForm from "./partials/StorageForm";
import DataSheetForm from "./partials/DataSheetForm";
import StatisticsForm from "./partials/StatisticsForm";
import ClassificationForm from "./partials/ClassificationForm";

export default {
  components: {
    GeneralForm,
    StorageForm,
    DataSheetForm,
    StatisticsForm,
    ClassificationForm,
  },
  mounted(){
    if(this.$route.params.item != null){
      this.currentProduct = this.$route.params.item;
    }
  },
  data() {
    return {
      e1: 1,
      steps: 4,
      titles: [
        "General",
        "Clasificación",
        "Almacenamiento",
        "Estadística",
        "Ficha Técnica",
      ],
      currentProduct: null,
      tab: null,
      tabSelected: "",
      change: false,
      tabsDisabled: false,
      data: new FormData(),
      canPost: false
    };
  },
  methods: {
    /**
     * Filling a new product with the data of the general component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillNewProductGeneralData(value) {
      this.tab = value[0];
      this.canPost = value[2];
      this.tabsDisabled = false;
      this.currentProduct.Id_Prod1 = value[1].Id_Prod1;
      this.currentProduct.Id_Prod3 = value[1].bidKey;
      this.currentProduct.CBarrasN1 = value[1].barCode;
      this.currentProduct.Id_CodSat = value[1].satCode;
      this.currentProduct.Descrip1 = value[1].shortDescription;
      this.currentProduct.Descrip2 = value[1].longDescription;
      this.currentProduct.Id_Prov1 = value[1].supplier1;
      this.currentProduct.Id_Prov2 = value[1].supplier2;
      this.currentProduct.Inventaria = value[1].inventoryable;
      this.currentProduct.Lprecios = value[1].inPriceList;
      this.currentProduct.Man_LoteCad = value[1].applyExpiration;
      this.currentProduct.Activo = value[1].active;
      this.currentProduct.eCommerce = value[1].eCommerce;
      this.currentProduct.Observa = value[1].observations;
      this.currentProduct.Registro = value[1].healthRegistration;
      this.currentProduct.IVA = value[1].iva;
      this.currentProduct.Utmin_Lici = value[1].minimumBid;
      this.currentProduct.Flete = value[1].freight;
      this.currentProduct.Tiempo_Sur = value[1].timeAssortment;
    },
    /**
     * Filling a new product with the data of the classification component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillNewProductClassificationData(value) {
      this.tab = value[0];
      this.tabsDisabled = false;
      this.currentProduct.Id_Categoria = value[1].category;
      this.currentProduct.Id_Familia = value[1].family;
      this.currentProduct.Id_Marca = value[1].mark;
      this.currentProduct.Id_EspMed = value[1].specialty;
      this.currentProduct.Id_estatus = value[1].status;
      this.currentProduct.Origen = value[1].origin;
    },
    /**
     * Filling a new product with the data of the storage component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillNewProductStorageData(value) {
      this.tab = value[0];
      this.tabsDisabled = false;
      this.currentProduct.Niveles = value[1].level;
      this.currentProduct.id_Empaque1 = value[1].packing1;
      this.currentProduct.id_Empaque2 = value[1].packing2;
      this.currentProduct.id_Empaque3 = value[1].packing3;
      this.currentProduct.Unidad_N2 = value[1].units1;
      this.currentProduct.Unidad_N3 = value[1].units2;
      this.currentProduct.Nivel_Comp = value[1].purchaseLevel;
      this.currentProduct.Nivel_Vta = value[1].saleLevel;
      this.currentProduct.Nivel_Vta2 = value[1].saleLevelMost;
    },
    /**
     * Filling a new product with the data of the classification component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillNewProductStatisticsData(value) {
      this.tab = value[0];
      this.tabsDisabled = false;
      this.currentProduct.Ult_Costo = value[1].lastCost;
      this.currentProduct.Costo_Prom = value[1].averageCost;
      this.currentProduct.CM_MasBajo = value[1].lowerMarketCost;
      this.currentProduct.UCambio_CM = value[1].lastMereCost;
      this.currentProduct.UCambio_CL = value[1].lastLiciCost;
      this.currentProduct.UCambio_Pre = value[1].lastChangePrices;
      this.currentProduct.Ult_Compra = value[1].lastPurchase;
      this.currentProduct.Ult_Venta = value[1].lastSale;
    },
    /**
     * Filling a new product with the data of the classification component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param
     * @return void
     */
    fillNewProductDataSheetData(value) {
      this.tabsDisabled = false;
      this.currentProduct.Peso = value[1].weight;
      this.currentProduct.Ancho = value[1].width;
      this.currentProduct.Alto = value[1].high;
      this.currentProduct.Largo = value[1].length;
      this.currentProduct.Especificacion = value[1].technicalSpecification;
      this.currentProduct.Indicacion = value[1].indications;
      this.currentProduct.images = value[1].images;
      this.currentProduct.locations = value[1].locations
      this.data.append('newProduct', JSON.stringify(this.currentProduct));
      if(value[1].images != null && value[1].images.length > 0){
        for( var i = 0; i < value[1].images.length; i++ ){
          let image = value[1].images[i];
          this.data.append('images[' + i + ']', image);
        }
      }
      if(this.canPost){
        this.edit(this.data);
      }else{
        this.tab = 0;
        swal2.fire({
          icon: "error",
          title: "Oops...",
          text: "Los campos: clave nemotécnica y clave licitación son requeridos para el producto",
        });
      }
    },
    /**
     * Update a product.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param Object data
     * @return void
     */
    edit(data) {
      data.append("_method", "put");
      axios
        .post(
          "/api/products/" + this.currentProduct.Id_Prod1,
          data,
          { headers: { "Content-type": "multipart/form-data" } }
        )
        .then((result) => {
          this.$router.push({ name: "products" });
          swal2.fire(
            "Editado",
            "Se editaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    save(){
      this.$refs.submit.submit();
    }
  },
  watch: {
    /**
     * Show the current tab.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-16
     * @param Object data
     * @return void
     */
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },
};
</script>
<style>
.v-tab--active {
  background-color: #018085 !important;
}
</style>
