<template>
    <v-card data-app class="p-3">
    <Utility
        :dialog="dialogUtility"
        v-on:dialogStatus="getDialogUtilityStatus"
        ref="sendProductId"
    ></Utility>
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>

    <v-data-table
        :headers="headers"
        :items="products"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
        >
        <template v-slot:top>
            <datatable-header
                title="Listado de productos"
                :disable-creation="false"
                @searching="searchProducts($event)"
                @open="createProduct">
                <v-select
                                class="ml-5"
                                v-model="filter"
                                :items="types"
                                placeholder="Filtrar por"
                                outlined
                                dense
                                attach
                                hide-details
                                clearable
                                :loading="loading"
                                item-text="type"
                                item-value="type"
                                @input="filterData()"
                                ></v-select>
            </datatable-header>
        <v-row>
        <v-col cols="6" md="2">
          <h6>Marca</h6>
          <v-select
            v-model="filters.brand"
            placeholder="Marca"
            :items="brands"
            attach
            item-text="Marca"
            item-value="Id_Marca"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Familia</h6>
          <v-select
            v-model="filters.family"
            placeholder="Familia"
            :items="families"
            attach
            item-text="Familia"
            item-value="Id_Familia"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Especialidad</h6>
          <v-select
            v-model="filters.especiality"
            placeholder="Especialidad"
            :items="specialties"
            attach
            item-text="Especialidad"
            item-value="Id_EspMed"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Categoría</h6>
          <v-select
            v-model="filters.category"
            placeholder="Categoría"
            :items="categories"
            attach
            item-text="Categoria"
            item-value="Id_Categoria"
            outlined
            dense
          ></v-select>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Peso</h6>
          <v-select
            v-model="filters.weight"
            placeholder="Peso"
            :items="weight"
            attach
            item-text="Peso"
            item-value="Id_Peso"
            outlined
            dense
          ></v-select>
          <v-text-field
            v-model="filters.weight_t"
            placeholder="Peso_t"
            item-text="Peso"
            item-value="Id_Peso_t"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2">
          <h6>Volumen</h6>
          <v-select
            v-model="filters.volumen"
            placeholder="Volumen"
            :items="volumen"
            attach
            item-text="Volumen"
            item-value="Id_Volumen"
            outlined
            dense
          ></v-select>
          <v-text-field
            v-model="filters.volumen_t"
            placeholder="Volumen_t"
            item-text="Volumen"
            item-value="Id_volumen_t"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="2" style="align-self: center">
          <v-btn block color="primary" text @click="filterProducts">
            Buscar
          </v-btn>
        </v-col>
        <v-col cols="6" md="2" style="align-self: center">
          <v-btn block color="primary" text @click="cleanFilters">
            Limpiar
          </v-btn>
        </v-col>
      </v-row>
        </template>


        <template v-slot:[`item.Activo`]="{ item }">
            <chip-status :item="item"></chip-status>
        </template>

        <template v-slot:item.actions="{ item }">
            <v-tooltip top attach>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        small
                        class="mr-2"
                        color="primary"
                        @click="editProduct(item)"
                        v-bind="attrs"
                        v-on="on"
                        >
                        mdi-pencil
                    </v-icon>
                </template>
                <span>Editar</span>
            </v-tooltip>
            <v-tooltip top attach>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        small
                        class="mr-2"
                        color="primary"
                        @click="showProduct(item)"
                        v-bind="attrs"
                        v-on="on"
                        >
                        mdi-eye
                    </v-icon>
                </template>
                <span>Mostrar</span>
            </v-tooltip>
            <v-tooltip top attach>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        small
                        color="primary"
                        @click="openDeleteDialog(item)"
                        v-bind="attrs"
                        v-on="on"
                        >
                        mdi-delete
                    </v-icon>
                </template>
                <span>Eliminar</span>
            </v-tooltip>
            <v-tooltip top attach>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        small
                        class="mr-2"
                        color="primary"
                        @click="openUtility(item)"
                        v-bind="attrs"
                        v-on="on"
                        >
                        mdi-currency-usd
                    </v-icon>
                </template>
                <span>Utilidad</span>
            </v-tooltip>
        </template>
      </v-data-table>
       <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="totalItems"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import ChipStatus from "../../../components/chipStatus";
import Utility from "./partials/Utility";

export default {
    created() {
        this.getProducts();
    },
    mounted(){
        this.getSettings();
    },
    components: {
        ChipStatus,
        Utility
    },
    data() {
        return {
            brands: [],
            families: [],
            specialties: [],
            categories: [],
            weight: ['<','>','='],
            volumen: ['<','>','='],
            filters: {
                brand: 0,
                family: 0,
                especiality: 0,
                category: 0,
                weight:'',
                weight_t:'',
                volumen:'',
                volumen_t:'',
            },
            filter: null,
            search: "",
            dialog: false,
            productId: null,
            dialogUtility: false,
            dialogDelete: false,
            editedIndex: -1,
            editedItem: {},
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            productToDelete: null,
            headers: [{
                    text: "Id Producto",
                    value: "Id_Prod1",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
                {
                    text: "Descripción",
                    value: "Descrip1",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
                {
                    text: "Nivel",
                    value: "Niveles",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
                {
                    text: "Empaque",
                    value: "id_Empaque1",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
                {
                    text: "Unidad",
                    value: "Unidad_N2",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
                {
                    text: "Estatus",
                    value: "Activo",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
                {
                    text: "Acciones",
                    value: "actions",
                    align: 'start',
                    class: 'absolute-sort-arrow'
                },
            ],
            products: [],
            types:['E-commerce','Sin codigo de barras','Todos'],
            resetProducts: false
        };
    },
    watch: {
        page(val) {
            if(val % 5 === 0){
                this.getProducts(this.page + 1);
            }
        },
    },
    methods: {
                /**
         * Filters table.
         * @auth Oscar Castellanos
         * @date 2021-06-11
         * @param Object params
         * @return void
         */
        filterData() {
            this.loading = true;
            let params = {};
            if (this.filter)
                params.filter = this.filter;

            axios.get('/api/products-filter', { params })
                .then(res => {
                    this.totalItems = res.data.products.total;
                    this.products = res.data.products.data;
                }).catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!" + error,
              });
            }).then(() => this.loading = false);
        },
        /**
         * Fill selects.
         * @auth Oscar Castellanos
         * @date 2021-06-25
         * @param Object params
         * @return void
         */
        getSettings() {
      axios
        .get("/api/special-costs-settings")
        .then((result) => {
          this.brands = result.data.brands;
          this.families = result.data.families;
          this.specialties = result.data.especialities;
          this.categories = result.data.categories;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },

    /**
     * Allows you to filter products from api.
     * @auth Oscar Castellanos
     * @date 2021-06-25
     * @param
     * @return void
     */
    filterProducts() {
      this.loading = true;
      this.search = "";
      axios
        .get("/api/products-special-filters", {
          params: {
            filters: this.filters,
          },
        })
        .then((result) => {
          this.products = result.data.products;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
          this.selectAll = false;
        });
    },

        /**
     * Clean the filters.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    cleanFilters() {
      this.filters.brand = 0;
      this.filters.family = 0;
      this.filters.especiality = 0;
      this.filters.category = 0;
      this.filters.weight = 0;
      this.filters.weight_t = "";
      this.filters.volumen = 0;
      this.filters.volumen_t = "";
      this.selectAll = false;
    },
        /**
         * Redirect to create product component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        createProduct() {
            this.$router.push({
                name: 'create-products'
            });
        },
        /**
         * Redirect to create product component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        showProduct(item) {
            this.$router.push({
                name: 'show-products',
                params: { item: item },
            });
        },
        /**
         * Redirect to create product component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        editProduct(item) {
            this.$router.push({
                name: 'edit-products',
                params: { item: item },
            });
        },
        /**
         * Open Show component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param Object item
         * @return void
         */
        openUtility(item) {
            this.dialogUtility = true;
            this.$refs.sendProductId.reciveProductId(item.Id_Prod1, item.profit != null ? item.profit.Utilidad : null);
        },
        /**
         * Get dialog status from Show component.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param boolean value
         * @return void
         */
        getDialogUtilityStatus(value) {
            this.dialogUtility = value[0];
            if(value[1]){
                this.resetProducts = true;
                this.getProducts();
            }
        },
        /**
         * Get products and fill date table from api products.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        getProducts(page=1) {
            this.loading = true;
            if(this.resetProducts){
                this.products = [];
            }
            axios.get("/api/products?page=" + page).then((result) => {
                this.totalItems = result.data.products.total;
                result.data.products.data.forEach(product => {
                    this.products.push(product);
                });
                this.resetProducts = false;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!"+ error,
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Get products and fill date table from api products.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-03-25
         * @param
         * @return void
         */
        searchProducts(data) {
            this.loading = true;
            axios.get("/api/product/search-product", {
              params: {
                search: data
              }
            }).then((result) => {
                this.products = [];
                this.totalItems = Object.keys(result.data.products).length;
                result.data.products.forEach(product => {
                    this.products.push(product);
                });
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!" + error,
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Open delete dialog.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
          this.dialogDelete = true;
          this.productToDelete = item.Id_Prod1;
        },
        /**
         * Closes the delete dialog.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-06
         * @param
         * @return void
         */
        closeDelete() {
          this.dialogDelete = false;
          this.productToDelete = null;
          this.resetProducts = true;
          this.getProducts();
          swal2.fire(
            "Estatus cambiado",
            "Se cambió el estatus correctamente",
            "success"
          );
        },
        /**
         * Change status of a item.
         * @auth José Vega <jose.vega@nuvem.mx>
         * @date 2021-04-07
         * @param
         * @return void
         */
        deleteItem() {
          axios
            .delete("/api/products/" + this.productToDelete)
            .then((result) => {
              this.closeDelete();
            });
        },
    }
};
</script>

<style>
    .data-table-style{
        margin: 10px;
    }
    .v-data-table-header > tr > .absolute-sort-arrow > i {
      position: absolute;
    }
</style>
