<template>
  <div data-app>
    <v-card>
      <v-card-text style="padding: 0px" class="mb-2">
        <v-tabs
          fixed-tabs
          background-color="#e3e6e8"
          slider-color="#018085"
          color="#fff"
          slider-size="2"
          v-model="tab"
        >
          <v-tab> General </v-tab>
          <v-tab :disabled="tabsDisabled"> Clasificación </v-tab>
          <v-tab :disabled="tabsDisabled"> Almacenamiento </v-tab>
          <v-tab :disabled="tabsDisabled"> Estadística </v-tab>
          <v-tab :disabled="tabsDisabled"> Ficha Técnica </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item class="mt-2">
            <v-card flat>
              <GeneralForm
                :product="currentProduct"
                :inputsStatus="true"
                type='show'
                title="Información del Producto"
              ></GeneralForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <ClassificationForm
                :product="currentProduct"
                :inputsStatus="true"
                type='show'
              ></ClassificationForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2 justify-center">
            <v-card flat>
              <StorageForm
                :product="currentProduct"
                :inputsStatus="true"
                type='show'
              ></StorageForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <StatisticsForm
                :product="currentProduct"
                :inputsStatus="true"
                type='show'
              ></StatisticsForm>
            </v-card>
          </v-tab-item>
          <v-tab-item class="mt-2">
            <v-card flat>
              <DataSheetForm
                :product="currentProduct"
                :inputsStatus="true"
                type='show'
              ></DataSheetForm>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import GeneralForm from "./partials/GeneralForm";
import StorageForm from "./partials/StorageForm";
import DataSheetForm from "./partials/DataSheetForm";
import StatisticsForm from "./partials/StatisticsForm";
import ClassificationForm from "./partials/ClassificationForm";

export default {
  components: {
    GeneralForm,
    StorageForm,
    DataSheetForm,
    StatisticsForm,
    ClassificationForm,
  },
  mounted(){
    if(this.$route.params.item != null){
      this.currentProduct = this.$route.params.item;
    }
  },
  data() {
    return {
      e1: 1,
      steps: 4,
      titles: [
        "General",
        "Clasificación",
        "Almacenamiento",
        "Estadística",
        "Ficha Técnica",
      ],
      currentProduct: null,
      tab: null,
      tabSelected: "",
      change: false,
      tabsDisabled: false,
    };
  },
  methods: {
    
  },
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val;
      }
    },
  },
};
</script>
<style>
.v-tab--active {
  background-color: #018085 !important;
}
</style>