<template>
    <v-card class="p-3">
        <v-row v-if="(isEdit || isOnlyShow) && loading">
            <v-progress-circular
                style="margin: 0px auto"
                indeterminate
                class="progress-circular-color"
            ></v-progress-circular>
        </v-row>
        <div v-else>
            <dialog-delete
                :status="dialogDelete"
                :loading="isDeleting"
                textDialog = "El nivel y secciones relacionados serán dados de baja, ¿Desea continuar?"
                v-on:cancel="dialogDelete = false"
                v-on:confirm="deleteLevel"
            ></dialog-delete>
            <v-card-title>
                <b>{{ title }} </b>
            </v-card-title>
            <v-card-text>
                <form data-app>
                    <v-row>
                        <v-col cols="12" lg="12" class="py-0">
                            <n-label text="Rack"></n-label>
                            <v-text-field
                                outlined
                                dense
                                placeholder="Ingrese nombre del rack"
                                maxlength="50"
                                :disabled="isOnlyShow"
                                v-model="rackName"
                                :error-messages="rackNameErrors"
                                @input="$v.rackName.$touch()"
                                @blur="$v.rackName.$touch()"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row v-if="!isOnlyShow">
                        <v-col cols="9" lg="8" class="py-0">
                            <n-label text="Agregar los niveles del rack"></n-label>
                            <v-text-field
                                outlined
                                dense
                                placeholder="Ingrese nombre o número de nivel"
                                maxlength="45"
                                v-model="levelName"
                                :error-messages="levelNameErrors"
                                @input="$v.levelName.$touch()"
                                @blur="$v.levelName.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="3" lg="4" class="py-0">
                            <n-label text="Agregar nivel"></n-label>
                            <v-btn
                                class="mx-2"
                                fab
                                dark
                                small
                                color="success"
                                :loading="isSubmitLevel"
                                @click="addLevel()"
                            >
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row v-if="levels.length > 0">
                        <v-col cols="9" lg="8" class="py-0">
                            <b>Niveles</b>
                        </v-col>
                        <v-col cols="3" lg="4" class="py-0" v-if="!isOnlyShow">
                            <b>Eliminar</b>
                        </v-col>
                    </v-row>
                    <v-row :key="index" v-for="(level, index) in levels">
                        <v-col cols="9" lg="8" class="py-0">
                            {{level.Nombre}}
                        </v-col>
                        <v-col cols="3" lg="4" class="py-0">
                            <v-icon v-if="!isOnlyShow"
                                color="success"
                                @click="removeLevel(index, level.Id)"
                            >
                                mdi-delete
                            </v-icon>
                        </v-col>
                    </v-row>
                    <v-card-actions class="mt-5 d-block">
                        <v-row>
                            <v-col cols="12" lg="8" style="margin: 0px auto;">
                                <v-row>
                                    <v-col cols="12" lg="6">
                                        <v-btn
                                            block
                                            color="primary"
                                            @click="saveRack"
                                            :loading="isSubmit"
                                        >
                                            {{txtBtnDistribution}}
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" lg="6">
                                        <v-btn
                                            block
                                            color="primary"
                                            outlined
                                            @click="cancel"
                                        >
                                            Cancelar
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-col>      
                        </v-row>
                    </v-card-actions>
                </form>
            </v-card-text>
        </div>
    </v-card>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
    mixins: [validationMixin],
    validations: {
        rackName: { required },
        levelName: { required },
    },
    data() {
        return {
            loading: true,
            isEdit: false,
            title: 'Alta de ubicaciones',
            isOnlyShow: false,
            isSubmit: false,
            isSubmitLevel: false,
            rackId: null,
            dialogDelete: false,
            isDeleting: false,
            rackName: null,
            levelName: null,
            levels: [],
            levelIdDelete: null,
            indexDelete: null,
            txtBtnDistribution: 'Diseñar distribución del rack'
        };
    },
    mounted(){
        let nameRoute = this.$route.name;
        //Determine the type of view
        switch (nameRoute) {
            case 'locations-edit':
                this.title = 'Editar ubicaciones';
                this.isEdit = true;
                this.rackId = this.$route.params.id;
                this.getDataRack();
                break;
            case 'locations-show':
                this.title = 'Detalles ubicaciones';
                this.isOnlyShow = true;
                this.rackId = this.$route.params.id;
                this.txtBtnDistribution = 'Ver distribución del rack';
                this.getDataRack();
                break;
            default:
                break;
        }
    },
    methods: {
        /**
         * Execute a axios request for get the data
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        getDataRack(){
            axios.get(`/api/locations-new/${this.rackId}`)
            .then((result) => {
                this.loading = false;
                this.rackName = result.data.rack ? result.data.rack.Nombre : null;
                this.levels = result.data.rack ? result.data.rack.levels_active : [];
            })
            .catch((error) => {
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
         * Return of a previous route
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        cancel(){
            this.$router.go(-1);
        },
        /**
         * Execute a axios request for store or update the rack and levels
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        saveRack(){
            //If only is show, redirect to locations distributions for show
            if(this.isOnlyShow){
                this.$router.push({name: 'location-distributions-show', params: { id: this.rackId }});
                return true;
            }
            //Validations
            this.$v.rackName.$touch();
            if (this.$v.rackName.$invalid){
                return false;
            }
            if(this.levels.length == 0){
                swal2.fire(
                    "Niveles",
                    "Debe agregar al menos un nivel",
                    "warning"
                );
                return false;
            }
            //Execute a axios request for store or update
            this.isSubmit = true;
            let data = {
                name: this.rackName,
                levels: this.levels,
            };
            this.isEdit ? data._method = "put" : '';
            let route = this.isEdit ? `/api/locations-new/${this.rackId}` : `/api/locations-new`;

            axios.post( route, data)
            .then((result) => {
                this.isSubmit = false;
                let rackResponse = result.data.rack;
                let message = this.isEdit ? 'Nombre actualizado' : 'Datos agregados';
                swal2.fire(
                    "Éxito",
                    message,
                    "success"
                );
                this.$router.push({name: 'location-distributions', params: { id: rackResponse.Id }})
            })
            .catch((error) => {
                this.isSubmit = false;
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
         * Add a level to array or execute a axios request for store a new level
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        addLevel(){
            this.$v.levelName.$touch();
            if (this.$v.levelName.$invalid){
                return false;
            }

            if(this.isEdit){
                this.storeNewLevel();
            } else{
                this.levels.push({id: null, Nombre: this.levelName});
                this.levelName = null;
            }
            this.$v.levelName.$reset();
        },
        /**
         * Execute a axios request for store a new level
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        storeNewLevel(){
            this.isSubmitLevel = true;
            axios.post('/api/locations-new/store-new-level', {Nombre: this.levelName, zAE_Rak_Id: this.rackId})
            .then((result) => {
                this.levelName = null;
                this.isSubmitLevel = false;
                this.levels.push(result.data.newLevel);
                swal2.fire(
                    "Éxito",
                    "Se agregaron los datos correctamente",
                    "success"
                );
            })
            .catch((error) => {
                this.isSubmitLevel = false;
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
         * Remove a level from array or show a confirm for delete a level
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param int index, int idLevel
         * @return void
         */
        removeLevel(index, idLevel=null){
            this.idLevelDelete = null;
            this.indexDelete = index;
            if(this.isEdit){
                if(this.levels.length == 1){
                    swal2.fire(
                        "Niveles",
                        "Debe existir al menos un nivel registrado",
                        "warning"
                    );
                    return false;
                }
                this.dialogDelete = true;
                this.idLevelDelete = idLevel;
            } else {
                this.levels.splice(index, 1);
            }
        },
        /**
         * Execute a axios request for delete a level
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        deleteLevel(){
            this.isDeleting = true;
            axios.delete(`/api/locations-new/delete-level/${this.idLevelDelete}`)
            .then((result) => {
                this.isDeleting = false;
                this.levels.splice(this.indexDelete, 1);
                this.dialogDelete = false;
                swal2.fire(
                    "Éxito",
                    "Se eliminó el registro correctamente",
                    "success"
                );
            })
            .catch((error) => {
                this.isDeleting = false;
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
    },     
    
    computed: {
        /**
        * get the message errors for fields.
        * @auth Iván Morales <ivan.morales@nuvem.mx>
        * @date 2021-06-24
        * @param
        * @return Array
        */
        //BEGIN ERRORS FIELDS
        rackNameErrors() {
            const errors = [];
            if (!this.$v.rackName.$dirty) return errors;
            !this.$v.rackName.required && errors.push("Este campo es requerido");
            return errors;
        },
        levelNameErrors() {
            const errors = [];
            if (!this.$v.levelName.$dirty) return errors;
            !this.$v.levelName.required && errors.push("Este campo es requerido");
            return errors;
        },
        //END ERRORS FIELDS
    }
}
</script>