<template>
    <v-card data-app class="px-3">
        <dialog-delete
            :status="dialogDelete"
            :loading="isDeleting"
            textDialog = "El rack, niveles y secciones relacionados serán dados de baja, ¿Desea continuar?"
            v-on:cancel="dialogDelete = false"
            v-on:confirm="deleteItem"
        ></dialog-delete>
        <v-data-table
            :headers="headers"
            :items="racks"
            class="elevation-1"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            :loading="loading"
            hide-default-footer
            @page-count="pageCount = $event"
            no-data-text="No hay ningún registro"
            no-results-text="No se encontraron coincidencias"
            loading-text="Cargando... Porfavor espere">
            <template v-slot:top>
                <datatable-header
                    title="Ubicaciones"
                    @searching="search = $event"
                    :disable-creation="!permissionsUser.includes('Location.create')"
                    @open="openCreateRack()"
                >
                </datatable-header>
                <v-row style="margin-left: 17px;">
                    <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
                    <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
                    <div>
                        <v-select
                            v-model="itemsPerPage"
                            :items="amounts"
                            item-text="name" 
                            item-value="id"
                            placeholder="Elige una opción"
                            outlined
                            dense
                            attach
                            auto
                        ></v-select>
                    </div>
                    </v-col>
                    <v-col cols="6" md="1" style="align-self: center; padding-left: 0px;"><p>Registros</p></v-col>
                </v-row>
            </template>
            <template v-slot:[`item.Estatus`]="{ item }">
                <chip-status :item="item"></chip-status>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <action-buttons
                    :item="item"
                    @edit="editLocation(item)"
                    @view="showLocation(item)"
                    @delete="openDeleteDialog"
                    :editDisabled="!permissionsUser.includes('Location.edit')"
                    :showDisabled="!permissionsUser.includes('Location.view')"
                    :deleteDisabled="!permissionsUser.includes('Location.delete')"
                ></action-buttons>
            </template>
        </v-data-table>
        <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="racks.length"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
</template>
<script>
import LayoutWrapper from "../../../Layout/Components/LayoutWrapper";
import ChipStatus from "../../../components/chipStatus";
import store from "../../../store";

export default {
    mounted() {
        this.getRacks();
        this.permissionsUser = store.state.permissions;
    },
    components: {
        "layout-wrapper": LayoutWrapper,
        ChipStatus,
    },
    data() {
        return {
            search: "",
            dialog: false,
            dialogDelete: false,
            dialogShow: false,
            permissionsUser: [],
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            racks: [],
            itemDelete: {},
            headers: [
                {
                    text: "Id",
                    value: "Id",
                },
                {
                    text: "Rack",
                    value: "Nombre",
                },
                {
                    text: "Estatus",
                    value: "Estatus",
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false,
                },
            ],
            amounts:[
                {id:10, name:'10'},
                {id:50, name:'50'},
                {id:100, name:'100'},
            ],
            isDeleting: false,
        };
    },
    methods: {
        /**
         * Get racks from api.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-17
         * @param
         * @return void
         */
        getRacks() {
            this.loading = true;
            axios
                .get("/api/locations-new")
                .then((result) => {
                    this.racks = result.data.racks;
                })
                .catch(function (error) {
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                    console.log({ error });
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /**
         * Open the delete dialog confirm
         * @author Iván Morales <ivan.morales@nuvem.mx>
         * @created 2021/06/17
         * @param Object item
         * @return \Illuminate\Http\JsonResponse
         */
        openDeleteDialog(item) {
            this.itemDelete = item;
            this.dialogDelete = true;
        },
        /**
         * Send a request to api for change the status.
         * @auth Iván Morales | ivan.morales@nuvem.mx
         * @date 2021/06/17
         * @param
         * @return void
         */
        deleteItem(){
            this.isDeleting = true;
            var url = `/api/locations-new/${this.itemDelete.Id}`
            axios.delete(url)
                .then(res => {
                    this.isDeleting = false;
                    this.dialogDelete = false;
                    swal2.fire(
                        'Eliminado',
                        'Estatus cambiado correctamente',
                        'success'
                    );
                    this.getRacks();
                })
                .catch(err => {
                    this.isDeleting = false;
                    swal2.fire(
                        'Error',
                        'Ocurrió un error, intente mas tarde',
                        'error'
                    );
                    console.log(err);
                });
        },
        /**
         * Open the route for store a rack
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param
         * @return void
         */
        openCreateRack(){
            this.$router.push({ name: "locations-create" });
        },
        /**
         * Open the route to edit racks
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-18
         * @param Object item
         * @return void
         */
        editLocation(item){
            this.$router.push({
                name: 'locations-edit',
                params: { id: item.Id },
            });
        },
        /**
         * Open the route to show the racks
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-25
         * @param Object item
         * @return void
         */
        showLocation(item){
            this.$router.push({
                name: 'locations-show',
                params: { id: item.Id },
            });
        }
    },
};
</script>