<template>
    <v-card data-app class="px-3">
        <v-row v-if="loading">
            <v-progress-circular
                style="margin: 0px auto"
                indeterminate
                class="progress-circular-color"
            ></v-progress-circular>
        </v-row>
        <div v-else>
            <dialog-delete
                :status="dialogDelete"
                :loading="isDeleting"
                v-on:cancel="dialogDelete = false"
                v-on:confirm="deleteItem"
            ></dialog-delete>
            <v-dialog v-model="modalDistribution" max-width="500px" persistent>
                <ModalCreateDistribution 
                    :itemsLevel="levelsForSelect"
                    @closeModal="modalDistribution = false"
                    @sectionsSaved="sectionsSaved"
                ></ModalCreateDistribution>
            </v-dialog>
            <v-row>
                <v-col cols="12" lg="12" class="py-0">
                    <n-label text="Rack"></n-label>
                    <v-text-field
                        outlined
                        dense
                        :disabled="true"
                        maxlength="50"
                        v-model="rackName"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-data-table
                :headers="headers"
                :items="sections"
                class="elevation-1"
                :search="search"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                :loading="loading"
                hide-default-footer
                @page-count="pageCount = $event"
                no-data-text="No hay ningún registro"
                no-results-text="No se encontraron coincidencias"
                loading-text="Cargando... Porfavor espere">
                <template v-slot:top>
                    <datatable-header
                        title="Distribución del rack"
                        @searching="search = $event"
                        :disable-creation="!isEditable"
                        @open="modalDistribution = true"
                    >
                    </datatable-header>
                    <v-row style="margin-left: 17px;">
                        <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
                        <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
                        <div>
                            <v-select
                                v-model="itemsPerPage"
                                :items="amounts"
                                item-text="name" 
                                item-value="id"
                                placeholder="Elige una opción"
                                outlined
                                dense
                                attach
                                auto
                            ></v-select>
                        </div>
                        </v-col>
                        <v-col cols="6" md="1" style="align-self: center; padding-left: 0px;"><p>Registros</p></v-col>
                    </v-row>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                    <action-buttons
                        :item="item"
                        @delete="openDeleteDialog"
                        :editDisabled="true"
                        :showDisabled="true"
                        :deleteDisabled="!isEditable"
                    ></action-buttons>
                </template>
            </v-data-table>
            <pagination
                :last="pageCount"
                :current="page"
                :itemsPerPage="itemsPerPage"
                :total="sections.length"
                v-on:input="page = $event"
            ></pagination>
            <v-card-actions class="d-block">
                <v-row>
                    <v-col cols="12" lg="4" style="margin: 0px auto;">
                        <v-btn
                            block
                            color="primary"
                            @click="endDistribution"
                        >
                            Terminar distribución del rack
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </div>
    </v-card>
</template>
<script>
import store from "../../../store";
import ModalCreateDistribution from "./partials/modalCreateDistribution";

export default {
    components: {
        ModalCreateDistribution
    },
    mounted() {
        this.idRack = this.$route.params.id;
        this.getSections();
        this.permissionsUser = store.state.permissions;
        let nameRoute = this.$route.name;
        this.isOnlyShow = nameRoute == 'location-distributions-show';
        if(!this.isOnlyShow && (this.permissionsUser.includes('Location.create') || this.permissionsUser.includes('Location.edit')))
            this.isEditable = true;
    },
    data() {
        return {
            search: "",
            dialog: false,
            dialogDelete: false,
            dialogShow: false,
            permissionsUser: [],
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            sections: [],
            itemDelete: {},
            headers: [
                {
                    text: "Nivel",
                    value: "level_name",
                },
                {
                    text: "Sección",
                    value: "Nombre",
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false,
                },
            ],
            amounts:[
                {id:10, name:'10'},
                {id:50, name:'50'},
                {id:100, name:'100'},
            ],
            rackName: null,
            idRack: null,
            isDeleting: false,
            levelsForSelect: [],
            modalDistribution: false,
            isOnlyShow: false,
            isEditable: false,
        };
    },
    methods: {
        /**
         * Get sections from api.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-06-23
         * @param
         * @return void
         */
        getSections() {
            this.loading = true;
            axios
                .get("/api/locations-new/sections/"+this.idRack)
                .then((result) => {
                    this.loading = false;
                    this.sections = result.data.sections;
                    this.rackName = result.data.rack ? result.data.rack.Nombre : null;
                    this.levelsForSelect = result.data.levels;
                })
                .catch(function (error) {
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                    console.log({ error });
                });
        },
        /**
         * Open the delete dialog confirm
         * @author Iván Morales <ivan.morales@nuvem.mx>
         * @created 2021/06/23
         * @param Object item
         * @return \Illuminate\Http\JsonResponse
         */
        openDeleteDialog(item) {
            this.itemDelete = item;
            this.dialogDelete = true;
        },
        /**
         * Send a request to api for change the status.
         * @auth Iván Morales | ivan.morales@nuvem.mx
         * @date 2021/06/23
         * @param
         * @return void
         */
        deleteItem(){
            this.isDeleting = true;
            var url = `/api/locations-new/sections/${this.itemDelete.Id}`
            axios.delete(url)
                .then(res => {
                    this.isDeleting = false;
                    this.dialogDelete = false;
                    swal2.fire(
                        'Eliminado',
                        'Estatus cambiado correctamente',
                        'success'
                    );
                    this.getSections();
                })
                .catch(err => {
                    this.isDeleting = false;
                    swal2.fire(
                        'Error',
                        'Ocurrió un error, intente mas tarde',
                        'error'
                    );
                    console.log(err);
                });
        },
        /**
         * Method when sectionsSaved from child is emited, refresh the data
         * @auth Iván Morales | ivan.morales@nuvem.mx
         * @date 2021/06/25
         * @param
         * @return void
         */
        sectionsSaved(){
            swal2.fire(
                'Éxito',
                'Secciones almacenadas correctamente',
                'success'
            );
            this.getSections();
        },
        /**
         * Redirects to 2 previous routes
         * @auth Iván Morales | ivan.morales@nuvem.mx
         * @date 2021/06/24
         * @param
         * @return void
         */
        endDistribution(){
            this.$router.go(-2);
        },
        
    },
};
</script>