<template>
    <form data-app>
      <v-row>
        <v-col cols="12" md="12">
          <h6><b>Descripción*</b></h6>
          <v-text-field
            v-model="currentContainer.Descripcion"
            :error-messages="descriptionErrors"
            placeholder="Ingrese la descripcion"
            :readonly="inputsStatus"
            outlined
            maxlength="200"
            required
            dense
            @input="$v.currentContainer.Descripcion.$touch()"
            @blur="$v.currentContainer.Descripcion.$touch()"
        ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="12">
          <h6><b>Codigo de barras*</b></h6>
          <v-text-field
            v-model="currentContainer.Codigo_barras"
            :error-messages="codeErrors"
            placeholder="Ingrese el codigo de barras"
            :readonly="inputsStatus"
            outlined
            maxlength="200"
            required
            dense
            @input="$v.currentContainer.Codigo_barras.$touch()"
            @blur="$v.currentContainer.Codigo_barras.$touch()"
        ></v-text-field>
        </v-col>
      </v-row>
    </form>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "Inputs",
  props:{
    containerToShow: {
      type: Object,
      default: null,
    },
    inputsStatus: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  validations: {
    currentContainer: {
      Descripcion: { required },
      Codigo_barras: { required },
    },
  },
  mounted() {
      if (this.$route.params.item != null){
          this.currentContainer = this.$route.params.item;
      }else if(this.containerToShow != null){
          this.currentContainer = this.containerToShow;
      }
  },
  data() {
    return {
      submitStatus: "",
      currentContainer: {
        Id:null,
        Descripcion: "",
        Codigo_barras: "",
      },
    };
  },
  methods: {
    /**
     * Allows call post or edit method if data is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$route.params.item != null ? this.edit(this.currentContainer) : this.post(this.currentContainer);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Post a new location.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @updated Oscar Castellanos <oscar.castellanos@nuvem.mx>
     * @date 2021-06-25
     * @param
     * @return void
     */
    post(data) {
        if(data["Codigo_barras"]<0){
            swal2.fire({
            icon: "error",
            title: "Datos invalidos",
            text: "El codigo de barras no puede ser negativo",
          });
        }
        else{
            axios
                .post("/api/containers", data)
                .then((result) => {
                    swal2.fire(
                        "Creado",
                        "Se agregaron los datos correctamente",
                        "success"
                    );
                })
                .catch(function (error) {
                    console.log(error);
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                })
                .finally(() => {
                    this.$router.push({ name: "containers" });
                });
                }

    },
    /**
     * Update a location
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @updated Oscar Castellanos <oscar.castellanos@nuvem.mx>
     * @date 2021-06-25
     * @param
     * @return void
     */
    edit(data) {
        if(data["Codigo_barras"]<0){
            swal2.fire({
            icon: "error",
            title: "Datos invalidos",
            text: "El codigo de barras no puede ser negativo",
          });
        }
        else{
            axios
        .put("/api/containers/" + data.Id, data)
        .then((result) => {
          swal2.fire("Editado", "Se editó la Caja de picking correctamente", "success");
          this.$router.push({ name: "containers" });
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: error.message,
          });
        });
        }

    },
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @param
     * @return array
     */
    descriptionErrors() {
      const errors = [];
      if (!this.$v.currentContainer.Descripcion.$dirty) return errors;
      !this.$v.currentContainer.Descripcion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Oscar Castellanos <oscar.castellanos@nuvem.mx>
     * @date 2021-06-17
     * @param
     * @return array
     */
    codeErrors() {
      const errors = [];
      if (!this.$v.currentContainer.Codigo_barras.$dirty) return errors;
      !this.$v.currentContainer.Codigo_barras.required &&
        errors.push("El campo es requerido");
      return errors;
    },
  },
  watch: {
    /**
     * Asign a new value to currentContainer.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-28
     * @param Object newVal
     * @return void
     */
    containerToShow: function (newVal) {
      this.currentContainer = newVal;
    }
  },
};
</script>
<style>
.nowrap-overflow {
    flex-wrap: nowrap;
    overflow-x: auto;
    vertical-align: middle;
}
.nowrap-overflow h6 {
  padding: 23px 0;
}

</style>
