<template>
    <form data-app>
        <v-row>
            <v-col cols="6" md="12">
                <h6>Descripción</h6>
                <v-text-field
                    v-model="currentBox.Descripcion"
                    :error-messages="descriptionErrors"
                    placeholder="Descripción"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentBox.Descripcion.$touch()"
                    @blur="$v.currentBox.Descripcion.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
            <v-col cols="6" md="12">
                <h6>Alto</h6>
                <v-text-field
                    v-model="currentBox.Alto"
                    :error-messages="highErrors"
                    placeholder="Alto en CM"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentBox.Alto.$touch()"
                    @blur="$v.currentBox.Alto.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
            <v-col cols="6" md="12">
                <h6>Ancho</h6>
                <v-text-field
                    v-model="currentBox.Ancho"
                    :error-messages="widthErrors"
                    placeholder="Ancho en CM"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentBox.Ancho.$touch()"
                    @blur="$v.currentBox.Ancho.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
            <v-col cols="6" md="12">
                <h6>Largo</h6>
                <v-text-field
                    v-model="currentBox.Largo"
                    :error-messages="largeErrors"
                    placeholder="Largo en CM"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentBox.Largo.$touch()"
                    @blur="$v.currentBox.Largo.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
            <v-col cols="6" md="12">
                <h6>Peso Máximo</h6>
                <v-text-field
                    v-model="currentBox.Peso"
                    :error-messages="weightErrors"
                    placeholder="Peso Máximo"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentBox.Peso.$touch()"
                    @blur="$v.currentBox.Peso.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
    </form>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, numeric, decimal, maxLength } from "vuelidate/lib/validators";

export default {
  name: "Inputs",
  props:{
    boxToShow: {
      type: Object,
      default: null,
    },
    inputsStatus: {
      type: Boolean,
      default: false,
    }
  },
  mixins: [validationMixin],
  validations: {
    currentBox: {
      Descripcion: {required},
      Ancho: {
          required,
          decimal,
          maxLength: maxLength(10)
        },
      Alto: {
          required,
          decimal,
          maxLength: maxLength(10)
        },
      Largo: {
          required,
          decimal,
          maxLength: maxLength(10)
        },
      Peso: {
          required,
          decimal,
          maxLength: maxLength(10)
        }
    },
  },
  mounted() {
      if (this.$route.params.item != null){
          this.currentBox = this.$route.params.item;
          console.log(this.$route.params.item);
          this.previousRulePriority =  this.$route.params.item.Prioridad;
      }else if(this.boxToShow != null){
          this.currentBox = this.boxToShow;
      }
  },
  data() {
    return {
      submitStatus: "",
      previousRulePriority	: null,
      currentBox: {
        Descripcion: "",
        Alto: "",
        Ancho: "",
        Largo: "",
        Peso: "",
        Estatus: true
      },
    };
  },
  methods: {
    /**
     * Allows call post or edit method if data is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$route.params.item != null ? this.edit(this.currentBox) : this.post(this.currentBox);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Post a new Box.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return void
     */
    post(data) {
      axios
        .post("/api/boxes", data)
        .then((result) => {
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.$router.push({ name: "boxes" });
        });
    },
    /**
     * Update a box.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-19
     * @param
     * @return void
     */
    edit(data) {
      axios
        .put("/api/boxes/" + data.Id, data)
        .then((result) => {
          swal2.fire("Editado", "Se editó la caja correctamente", "success");
          this.$router.push({ name: "boxes" });
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-26
     * @param
     * @return array
     */
    descriptionErrors() {
      const errors = [];
      if (!this.$v.currentBox.Descripcion.$dirty) return errors;
      !this.$v.currentBox.Descripcion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-26
     * @param
     * @return array
     */
    highErrors() {
      const errors = [];
      if (!this.$v.currentBox.Alto.$dirty) return errors;
      !this.$v.currentBox.Alto.required &&
        errors.push("El campo es requerido");
      !this.$v.currentBox.Alto.decimal &&
        errors.push("El campo debe ser numérico");
      !this.$v.currentBox.Alto.maxLength &&
        errors.push("El campo no debe pasar los 10 dígitos");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-26
     * @param
     * @return array
     */
    widthErrors() {
      const errors = [];
      if (!this.$v.currentBox.Ancho.$dirty) return errors;
      !this.$v.currentBox.Ancho.required &&
        errors.push("El campo es requerido");
      !this.$v.currentBox.Ancho.decimal &&
        errors.push("El campo debe ser numérico");
      !this.$v.currentBox.Ancho.maxLength &&
        errors.push("El campo no debe pasar los 10 dígitos");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-26
     * @param
     * @return array
     */
    largeErrors() {
      const errors = [];
      if (!this.$v.currentBox.Largo.$dirty) return errors;
      !this.$v.currentBox.Largo.required &&
        errors.push("El campo es requerido");
      !this.$v.currentBox.Largo.decimal &&
        errors.push("El campo debe ser numérico");
      !this.$v.currentBox.Largo.maxLength &&
        errors.push("El campo no debe pasar los 10 dígitos");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-26
     * @updated 2021-06-10 | Benito Huerta <benito.huerta@nuvem.mx>   
     * @param
     * @return array
     */
    weightErrors() {
      const errors = [];
      if (!this.$v.currentBox.Peso.$dirty) return errors;
      !this.$v.currentBox.Peso.required &&
        errors.push("El campo es requerido");
      !this.$v.currentBox.Peso.decimal &&
        errors.push("El campo es numérico");
      !this.$v.currentBox.Peso.maxLength &&
        errors.push("El campo no debe pasar los 10 dígitos");
      return errors;
    },
  },
  watch: {
    /**
     * Asign a new value to currentBox.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-26
     * @param Object newVal
     * @return void
     */
    boxToShow: function (newVal) {
      this.currentBox = newVal;
    },
  },
};
</script>