<template>
  <v-card class="p-3">
    <v-card-title><b>Edición de caja</b></v-card-title>
    <v-card-text>
      <v-card-actions class="mt-5 d-block">
        <Inputs ref="submit"></Inputs>
        <form-action-buttons
          @close="cancel"
          @save="submit"
        ></form-action-buttons>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
    name: "EditBox",
    components: {
        Inputs,
    },
    data() {
        return {
            submitStatus: "",
            currentRule: {
              description: "",
              high: "",
              width: "",
              long: "",
              weight: ""
            },
        };
    },
    methods: {
        /**
         * Redirect to index boxes.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-26
         * @param
         * @return void
         */
        submit() {
          this.$refs.submit.submit();
        },
        /**
         * Redirect to index boxes.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-26
         * @param
         * @return void
         */
        cancel() {
          this.$router.push({ name: "boxes" });
        },
    },
};
</script>