<template>
  <div data-app>
    <v-card data-app class="p-3">
    <Show
      :dialog="dialogShow"
      v-on:dialogStatus="getDialogShowStatus"
      ref="sendBox"
    ></Show>    
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>      
    <v-data-table
        :headers="headers"
        :items="boxes"
        class="elevation-1"
        :search="search"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        :loading="loading"
        hide-default-footer
        @page-count="pageCount = $event"
        no-data-text="No hay ningún registro"
        no-results-text="No se encontraron coincidencias"
        loading-text="Cargando... Porfavor espere"
        >
        <template v-slot:top>
            <datatable-header
                title="Cajas"
                :disable-creation="false"
                @searching="search = $event"
                @open="openCreateBox">
                  <v-container fluid>
                    <v-select
                      class="ml-5"
                      v-model="estatusFilter"
                      :items="boxesStatus"
                      placeholder="Filtrar por estatus"
                      outlined
                      dense
                      hide-details
                      clearable
                      :loading="loading"
                      item-text="text"
                      item-value="value"
                      @input="getBoxes()"
                      ></v-select>
                  </v-container>
            </datatable-header>
        </template>

        <template v-slot:[`item.Estatus`]="{ item }">
            <chip-status :item="item"></chip-status>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
            <action-buttons
                :item="item"
                @edit="openEditBox(item)"
                @view="goToShowBox"
                @delete="openDeleteDialog"
                ></action-buttons>
        </template>
      </v-data-table>
       <pagination
            :last="pageCount"
            :current="page"
            :itemsPerPage="itemsPerPage"
            :total="this.boxes.length"
            v-on:input="page = $event"
        ></pagination>
    </v-card>
  </div>
</template>
<script>
import ChipStatus from "../../../components/chipStatus";
import Show from "./show";

export default {
    created() {
        this.getBoxes();
    },
    components: {
        ChipStatus,
        Show
    },
    data() {
        return {
            boxesStatus: [
              {
                text: "Activo",
                value: 1
              },
              {
                text: "Inactivo",
                value: 0
              },
              {
                text: "Todos",
                value: 2
              }
            ],
            estatusFilter: 1,
            search: "",
            dialog: false,
            productId: null,
            dialogDelete: false,
            dialogShow: false,
            boxToDelete: null,
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            headers: [{
                    text: "Id",
                    value: "Id"
                },
                {
                    text: "Descripción",
                    value: "Descripcion"
                },
                {
                    text: "Alto",
                    value: "Alto"
                },
                {
                    text: "Ancho",
                    value: "Ancho"
                },
                {
                    text: "Largo",
                    value: "Largo"
                },
                {
                    text: "Estatus",
                    value: "Estatus"
                },
                {
                    text: "Acciones",
                    value: "actions"
                },
            ],
            boxes: [],
        };
    },
    methods: {
        /**
         * Get products and fill date table from boxes api.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param
         * @return void
         */
        getBoxes() {

            this.loading = true;

            let params = {};
            if (this.estatusFilter != null && (this.estatusFilter == 1 || this.estatusFilter == 0 || this.estatusFilter == 2))
                params.estatusFilter = this.estatusFilter;

            axios.get("/api/boxes", { params }).then((result) => {
                this.boxes = result.data.boxes;
            })
            .catch(function (error) {
              swal2.fire({
                icon: "error",
                title: "Oops...",
                text: "Algo salió mal, vuelve a intentarlo!",
              });
            })
            .finally(() => {
              this.loading = false;
            });
        },
        /**
         * Redirect to create box component.
         * @auth Kareem Lorenzana  <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param
         * @return void
         */
        openCreateBox() {
            this.$router.push({
                name: 'boxes-create'
            });
        },
        /**
         * Redirect to edit box component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param Object item
         * @return void
         */
        openEditBox(item) {
            this.$router.push({
              name: "boxes-edit",
              params: { item: item },
            });
        },
        /**
         * Open delete dialog.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @update 2021-04-26
         * @param Object item
         * @return void
         */
        openDeleteDialog(item) {
          this.dialogDelete = true;
          this.boxToDelete = item.Id;
        },
        /**
         * Closes the delete dialog.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param
         * @return void
         */
        closeDelete() {
          this.dialogDelete = false;
          this.boxToDelete = null;
          this.getBoxes();
        },
        /**
         * Change status of a item.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param 
         * @return void
         */
        deleteItem() {
          axios
            .delete("/api/boxes/" + this.boxToDelete)
            .then((result) => {
              this.closeDelete();
              swal2.fire(
                "Caja Eliminada",
                "Se Eliminó la Caja correctamente",
                "success"
              );
            });
        },
        /**
         * Open Show component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param Object item
         * @return void
         */
        goToShowBox(item) {
          
          this.$refs.sendBox.reciveBox(item);
          this.dialogShow = true;
        },
        /**
         * Get dialog status from Show component.
         * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
         * @date 2021-04-19
         * @param boolean value
         * @return void
         */
        getDialogShowStatus(value) {
          this.dialogShow = value;
        },
    }
};
</script>
<style>
  .v-chip.success, .v-btn:not(.v-btn--outlined).success, .v-progress-linear .v-progress-linear__background.primary{
  background:#018085 !important 
  }
</style>