<template>
    <div data-app>
        <v-btn
            color="primary"
            text
            @click="returnBack()"
        >
            Regresar
        </v-btn>
        <v-card>
            <v-card-text style="padding: 0px" class="mb-2">
                <v-tabs
                    fixed-tabs
                    background-color="transparent"
                    slider-color="#018085"
                    class="tabs-style" 
                    color="basil"
                    slider-size="2"
                    v-model="tab"
                >
                    <v-tab style="border-bottom: solid 1px;"> General </v-tab>
                    <v-tab :disabled="tabsDisabled" style="border-bottom: solid 1px;"> Contactos </v-tab>
                    <v-tab :disabled="tabsDisabled" style="border-bottom: solid 1px;"> Sucursales </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                    <v-tab-item class="mt-2">
                        <v-card flat>
                        <GeneralTab
                            
                        ></GeneralTab>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item class="mt-2">
                        <v-card flat>
                        <ContactTab
                        ></ContactTab>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item class="mt-2 justify-center">
                        <v-card flat>
                        <BranchTab
                        
                        ></BranchTab>
                        </v-card>
                    </v-tab-item>
                </v-tabs-items>
            </v-card-text>
        </v-card>
    </div>
</template>
<script>
import GeneralTab from "./partials/generalTab";
import ContactTab from "./partials/contact/contactTab";
import BranchTab from "./partials/branch/branchTab";

export default {
    components: {
        GeneralTab,
        ContactTab,
        BranchTab
    },
    data() {
        return {
            e1: 1,
            steps: 2,
            tab: null,
            tabSelected: "",
            change: false,
            tabsDisabled: false,
        }
    },
    methods: {
        /**
         * Return to the previous route
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-06
         * @param
         * @return void
         */
        returnBack(){
            this.$router.go(-1);
        }
    },
    watch: {
        steps(val) {
            if (this.e1 > val) {
                this.e1 = val;
            }
        },
    },
};
</script>
<style>
    
</style>
