<template>
    <v-card data-app class="px-3">
        <layout-wrapper v-if="showProductSelection" transition="scroll-y-transition">
            <product-selection @close-selection-view="closeSelectionView" :enterprising="selectedItem"></product-selection>
        </layout-wrapper>
        <layout-wrapper v-else transition="scroll-y-transition">
          <dialog-delete
              :status="dialogDelete"
              v-on:cancel="dialogDelete = false"
              v-on:confirm="deleteItem"
          ></dialog-delete>
          <v-data-table
              :headers="headers"
              :items="enterprisings"
              class="elevation-1"
              :search="search"
              :page.sync="page"
              :items-per-page="itemsPerPage"
              :loading="loading"
              hide-default-footer
              @page-count="pageCount = $event"
              no-data-text="No hay ningún registro"
              no-results-text="No se encontraron coincidencias"
              loading-text="Cargando... Porfavor espere">
              <template v-slot:top>
                  <datatable-header
                      title="Emprendedores"
                      :disable-creation="true"
                      @searching="search = $event"
                  >
                  </datatable-header>
                  <v-row style="margin-left: 17px;">
                      <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
                      <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
                      <div>
                          <v-select
                              v-model="itemsPerPage"
                              :items="amounts"
                              item-text="name" 
                              item-value="id"
                              placeholder="Elige una opción"
                              outlined
                              dense
                              attach
                              auto
                          ></v-select>
                      </div>
                      </v-col>
                      <v-col cols="6" md="1" style="align-self: center; padding-left: 0px;"><p>Registros</p></v-col>
                  </v-row>
              </template>
              <template v-slot:[`item.eCommerce`]="{ item }">
                  <chip-status :item="item"></chip-status>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                  <v-tooltip top attach v-if="permissionsUser.includes('EnterprisingsList.delete')">
                      <template v-slot:activator="{ on, attrs }">
                          <v-icon
                              small
                              class="mr-2"
                              color="primary"
                              v-bind="attrs"
                              v-on="on"
                              @click="openDeleteDialog(item)"
                          >
                              mdi-delete
                          </v-icon>
                      </template>
                      <span>Eliminar</span>
                  </v-tooltip>
                  <v-tooltip top attach v-if="permissionsUser.includes('EnterprisingsList.edit')">
                      <template v-slot:activator="{ on, attrs }">
                          <v-icon
                              small
                              class="mr-2"
                              color="primary"
                              v-bind="attrs"
                              v-on="on"
                              @click="editEnterprisings(item)">
                              mdi-pencil
                          </v-icon>
                      </template>
                      <span>Editar</span>
                  </v-tooltip>
                  <v-tooltip top attach >
                      <template v-slot:activator="{ on, attrs }">
                          <v-icon
                              small
                              role="button"
                              class="mr-2"
                              color="primary"
                              v-bind="attrs"
                              v-on="on"
                              @click="openProductSelection(item)">
                              mdi-order-bool-ascending-variant
                          </v-icon>
                      </template>
                      <span>Seleccionar productos</span>
                  </v-tooltip>
              </template>
          </v-data-table>
          <pagination
              :last="pageCount"
              :current="page"
              :itemsPerPage="itemsPerPage"
              :total=enterprisings.length
              v-on:input="page = $event"
          ></pagination>
        </layout-wrapper>
    </v-card>
</template>
<script>
import LayoutWrapper from "../../../Layout/Components/LayoutWrapper";
import ChipStatus from "../../../components/chipStatus";
import productSelection from "./partials/productSelection";
import store from "../../../store";

export default {
    mounted() {
        this.getEnterprisings();
        this.permissionsUser = store.state.permissions;
    },
    components: {
        "layout-wrapper": LayoutWrapper,
        ChipStatus,
        productSelection
    },
    data() {
        return {
            search: "",
            dialog: false,
            dialogDelete: false,
            dialogShow: false,
            permissionsUser: [],
            page: 1,
            pageCount: 0,
            totalItems: 0,
            itemsPerPage: 10,
            loading: false,
            enterprisings: [],
            itemDelete: {},
            headers: [
                {
                    text: "Id",
                    value: "Id_Cliente",
                },
                {
                    text: "Nombre completo",
                    value: "Razon_Soc",
                },
                {
                    text: "Correo electrónico",
                    value: "eMail",
                },
                {
                    text: "Estatus",
                    value: "eCommerce",
                },
                {
                    text: "Acciones",
                    value: "actions",
                },
            ],
            amounts:[
                {id:10, name:'10'},
                {id:50, name:'50'},
                {id:100, name:'100'},
            ],
            showProductSelection: false,
            selectedItem: {}
        };
    },
    methods: {
        /**
         * Open product selection view
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 31/05/2021
         * @params
         * @return void
         *
         */
        openProductSelection(item) {
          Object.assign(this.selectedItem, item)
          this.showProductSelection = true
        },
        /**
         * Close product selection view
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 31/05/2021
         * @params
         * @return void
         *
         */
        closeSelectionView() {
          this.showProductSelection = false
        },
        /**
         * Get enterprisings from api.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-05
         * @param
         * @return void
         */
        getEnterprisings() {
            this.loading = true;
            axios
                .get("/api/enterprisings")
                .then((result) => {
                    this.enterprisings = result.data.enterprisings;
                })
                .catch(function (error) {
                    swal2.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Algo salió mal, vuelve a intentarlo!",
                    });
                    console.log({ error });
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        openDeleteDialog(item) {
            this.itemDelete = item;
            this.dialogDelete = true;
            console.log(item);
        },
        /**
         * Send a request to api for change the status.
         * @auth Iván Morales | ivan.morales@nuvem.mx
         * @date 2021-05-07
         * @param
         * @return void
         */
        deleteItem(){
            var url = `/api/enterprisings/${this.itemDelete.Id_Cliente}`
            axios.delete(url)
                .then(res => {
                    this.dialogDelete = false;
                    swal2.fire(
                        'Eliminado',
                        'Estatus cambiado correctamente',
                        'success'
                    );
                    this.getEnterprisings();
                })
                .catch(err => {
                    swal2.fire(
                        'Error',
                        'Ocurrió un error, intente mas tarde',
                        'error'
                    );
                    console.log(err);
                });
        },
        /**
         * Open the route to edit enterprisings
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-05
         * @param Object item
         * @return void
         */
        editEnterprisings(item){
            this.$router.push({
                name: 'enterprisings-edit',
                params: { id: item.Id_Cliente },
            });
        }
    },
};
</script>