<template>
    <form data-app>
        <v-row>
            <v-col cols="4" md="4">
                <h6><b>Selecciona como se calcula el envío</b></h6>
                  <v-select
                    v-model="currentShipmentCost.Id_CostoEnvioTipo"
                    :readonly="inputsStatus"
                    :items="shipmentCostTypes"
                    :error-messages="shipmentCostTypeErrors"
                    item-text="Tipo" 
                    item-value="Id_CostoEnvioTipo"
                    placeholder="Selecciona una opción"
                    outlined
                    attach 
                    dense
                  ></v-select>
            </v-col>    
        </v-row>
        <v-row>
            <v-col cols="12" md="12">
                <h6><b>Nombre de la opción de envío</b></h6>
                  <v-text-field
                    v-model="currentShipmentCost.Descripcion"
                    :error-messages="descriptionErrors"
                    placeholder="Ej. Envío Estandar"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentShipmentCost.Descripcion.$touch()"
                    @blur="$v.currentShipmentCost.Descripcion.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
          <v-col cols="10" md="10">
            <h6><b>Tiempo estimado de envío</b></h6>
          </v-col>
          <v-col cols="10" md="10">
            <v-row class="nowrap-overflow" >
              <h6><b>
                De:
              </b></h6>
              <v-col cols="2">
                <v-text-field
                v-model="currentShipmentCost.TiempoEstimadoMinimo"
                :error-messages="minTimeError"
                type="number"
                min="1"
                step="1"
                :readonly="inputsStatus"
                outlined
                required
                dense
                @input="$v.currentShipmentCost.TiempoEstimadoMinimo.$touch()"
                @blur="$v.currentShipmentCost.TiempoEstimadoMinimo.$touch()"
                ></v-text-field> 
              </v-col>
              <h6><b>
                a
              </b></h6>
              <v-col cols="2">
                <v-text-field
                  v-model="currentShipmentCost.TiempoEstimadoMaximo"
                  :error-messages="maxTimeError"
                  type="number"
                  min="1"
                  step="1"
                  :readonly="inputsStatus"
                  outlined
                  required
                  dense
                  @input="$v.currentShipmentCost.TiempoEstimadoMaximo.$touch()"
                  @blur="$v.currentShipmentCost.TiempoEstimadoMaximo.$touch()"
                ></v-text-field>
              </v-col>
              <h6><b>
                días hábiles.
              </b></h6>
            </v-row>
          </v-col>              
        </v-row>
        <v-row>
          <v-col cols="3" md="3">
                <h6><b>Tarifa</b></h6>
                  <v-text-field
                    type="number"
                    min="0"
                    step="0.01"
                    v-model="currentShipmentCost.Tarifa"
                    :error-messages="rateError"
                    placeholder="$ 0.00"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentShipmentCost.Tarifa.$touch()"
                    @blur="$v.currentShipmentCost.Tarifa.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-checkbox
              v-model="currentShipmentCost.AplicaEnvioGratuito"
              label="Ofrece una entrega gratuita cuando un cliente compra más de una cierta cantidad"
              id="ischecked"
              value="1"
              hide-details
              :readonly="inputsStatus"
            ></v-checkbox>
          </v-col>
        </v-row>
        <v-row v-show="(currentShipmentCost.AplicaEnvioGratuito == '1')" >
          <v-col cols="3" md="3">
                  <v-text-field
                    type="number"
                    min="0"
                    step="0.01"
                    v-model="currentShipmentCost.MontoMinimoEnvioGratuito"
                    :error-messages="freeShippingError"
                    placeholder="$ 0.00"
                    :readonly="inputsStatus"
                    outlined
                    required
                    dense
                    @input="$v.currentShipmentCost.MontoMinimoEnvioGratuito.$touch()"
                    @blur="$v.currentShipmentCost.MontoMinimoEnvioGratuito.$touch()"
                ></v-text-field>
            </v-col>    
        </v-row>
    </form>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "Inputs",
  props:{
    shipmentCostToShow: {
      type: Object,
      default: null,
    },
    inputsStatus: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  validations: {
    currentShipmentCost: {
      Id_CostoEnvioTipo: { required },
      Descripcion: { required },
      TiempoEstimadoMaximo: { required},
      TiempoEstimadoMinimo: { required },
      Tarifa: { required },
      MontoMinimoEnvioGratuito: { 
        required() {
          if(this.currentShipmentCost.AplicaEnvioGratuito == '1') {
            return this.currentShipmentCost.MontoMinimoEnvioGratuito != ''
          }
          return true;
        },
       },
      Id_CostoEnvioTipo: { required}
    },
  },
  mounted() {
      this.getShipmentCostTypes();
      console.log(this.$route.params.item );
      
      if (this.$route.params.item != null){
          this.currentShipmentCost = this.$route.params.item;
          this.currentShipmentCost.Id_CostoEnvioTipo = parseInt(this.currentShipmentCost.Id_CostoEnvioTipo);
          
      }else if(this.shipmentCostToShow != null){
          this.currentShipmentCost = this.shipmentCostToShow;
      }
  },
  data() {
    return {
      submitStatus: "",
      previousRulePriority	: null,
      currentShipmentCost: {
        Id_CostoEnvioTipo:null,
        Descripcion: "",
        TiempoEstimadoMinimo: 1,
        TiempoEstimadoMaximo: 1,
        Tarifa:null,
        AplicaEnvioGratuito:false,
        MontoMinimoEnvioGratuito: null
      },
      shipmentCostTypes:[]
    };
  },
  methods: {
    /**
     * Allows call post or edit method if data is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$route.params.item != null ? this.edit(this.currentShipmentCost) : this.post(this.currentShipmentCost);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Post a new shipmentcost.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return void
     */
    post(data) {
      axios
        .post("/api/shipment-cost-configurations", data)
        .then((result) => {
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.$router.push({ name: "shipment-cost-configurations" });
        });
    },
    /**
     * Update a shipmentcost
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return void
     */
    edit(data) {
      axios
        .put("/api/shipment-cost-configurations/" + data.Id_CostoEnvio, data)
        .then((result) => {
          swal2.fire("Editado", "Se editó la regla correctamente", "success");
          this.$router.push({ name: "shipment-cost-configurations" });
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get shipment cost types
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-03-26
     * @param
     * @return void
     */
    getShipmentCostTypes() {
      axios
        .get("/api/shipment-cost-configuration/shipment-cost-types")
        .then((result) => {
          this.shipmentCostTypes = result.data.shipmentCostTypes;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-27
     * @param
     * @return array
     */
    descriptionErrors() {
      const errors = [];
      if (!this.$v.currentShipmentCost.Descripcion.$dirty) return errors;
      !this.$v.currentShipmentCost.Descripcion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    minTimeError(){
      const errors = [];
      if (!this.$v.currentShipmentCost.TiempoEstimadoMinimo.$dirty) return errors;
      !this.$v.currentShipmentCost.TiempoEstimadoMinimo.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    maxTimeError(){
      const errors = [];
      if (!this.$v.currentShipmentCost.TiempoEstimadoMaximo.$dirty) return errors;
      !this.$v.currentShipmentCost.TiempoEstimadoMaximo.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    rateError(){
      const errors = [];
      if (!this.$v.currentShipmentCost.Tarifa.$dirty) return errors;
      !this.$v.currentShipmentCost.Tarifa.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-28
     * @param
     * @return array
     */
    freeShippingError(){
      const errors = [];
      if (!this.$v.currentShipmentCost.MontoMinimoEnvioGratuito.$dirty){
        return errors;
      } 
      !this.$v.currentShipmentCost.MontoMinimoEnvioGratuito.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    shipmentCostTypeErrors(){
      const errors = [];
      if (!this.$v.currentShipmentCost.Id_CostoEnvioTipo.$dirty){
        return errors;
      } 
      !this.$v.currentShipmentCost.Id_CostoEnvioTipo.required &&
        errors.push("El campo es requerido");
      return errors;
    }
  },
  watch: {
    /**
     * Asign a new value to currentShipmentCost.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-04-08
     * @param Object newVal
     * @return void
     */
    shipmentCostToShow: function (newVal) {
      this.currentShipmentCost = newVal;
    }
  },
};
</script>
<style>
.nowrap-overflow {
    flex-wrap: nowrap;
    overflow-x: auto;
    vertical-align: middle;
}
.nowrap-overflow h6 {
  padding: 23px 0;
}
  
</style>