<template>
    <div class="mb-3">
        <v-toolbar flat>
            <v-icon color="success" class="mr-4 ml-0" role="button" @click="$emit('navigate-backwards')">
                mdi-arrow-left 
            </v-icon>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
            <v-spacer style="text-align: -webkit-center;"></v-spacer>
            <div>
                <v-text-field
                    v-if="!hideSearchBar"
                    v-model="search"
                    outlined
                    dense
                    append-icon="mdi-magnify"
                    placeholder="Buscar"
                    hide-details
                    ></v-text-field>
            </div>
        </v-toolbar>
    </div>
</template>

<script>

export default {
    props: {
        title: {
            type: String,
            required: true
        },
        hideSearchBar: {
            type: Boolean,
            default: false,
            required: false
        },
    },
    data: () => ({
      search: '',
    }),
    methods: {
      wtv() {
        alert()
      }
    },
    watch: {
        /**
         * Watch if search value has changed and emit an event to the parent component.
         * @auth Octavio Cornejo
         * @date 2021-03-08
         * @param String newVal
         * @return void
         */
      	search: function(newVal) {
            this.$emit('searching', newVal);
        }
    }
}
</script>

<style>
 .v-toolbar__content {
   padding-left: 0 !important;
 }
</style>