<template>
    <v-card class="p-3">
        <v-card-text>
            <v-row v-show="loading">
                <v-progress-circular
                    style="margin: 0px auto"
                    indeterminate
                    class="progress-circular-color"
                ></v-progress-circular>
            </v-row>
            <div v-show="!loading">
                <form data-app>
                    <v-row>
                        <v-col cols="12" lg="8" class="py-0">
                            <n-label text="Nombre o razón social"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="100"
                                v-model="currentData.name"
                                :error-messages="nameErrors"
                                @input="$v.currentData.name.$touch()"
                                @blur="$v.currentData.name.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Estatus"></n-label>
                            <v-select attach
                                outlined
                                dense
                                v-model="currentData.status"
                                :items="itemsStatus"
                                item-text="Nombre"
                                item-value="Clave"
                                placeholder="Seleccione"
                                :error-messages="statusErrors"
                                @input="$v.currentData.status.$touch()"
                                @blur="$v.currentData.status.$touch()"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="RFC"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="13"
                                v-model="currentData.rfc"
                                :error-messages="rfcErrors"
                                @input="$v.currentData.rfc.$touch()"
                                @blur="$v.currentData.rfc.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Tipo de cliente"></n-label>
                            <v-select attach
                                outlined
                                dense
                                v-model="currentData.clientType"
                                :items="itemsClientType"
                                item-text="Tipo_Cliente"
                                item-value="Tipo_Cliente"
                                placeholder="Seleccione"
                                :error-messages="clientTypeErrors"
                                @input="$v.currentData.clientType.$touch()"
                                @blur="$v.currentData.clientType.$touch()"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Tipo de emprendedor"></n-label>
                            <v-select attach
                                outlined
                                dense
                                v-model="currentData.enterprisingType"
                                :items="itemsEnterprisingType"
                                item-text="Tipo"
                                item-value="Id"
                                placeholder="Seleccione"
                                :error-messages="enterprisingTypeErrors"
                                @input="$v.currentData.enterprisingType.$touch()"
                                @blur="$v.currentData.enterprisingType.$touch()"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <h6>Domicilio Fiscal</h6>
                    <v-row>
                        <v-col cols="12" lg="5" class="py-0">
                            <n-label text="Calle y número"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="100"
                                v-model="currentData.numberStreet"
                                :error-messages="numberStreetErrors"
                                @input="$v.currentData.numberStreet.$touch()"
                                @blur="$v.currentData.numberStreet.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="5" class="py-0">
                            <n-label text="Colonia"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="100"
                                v-model="currentData.col"
                                :error-messages="colErrors"
                                @input="$v.currentData.col.$touch()"
                                @blur="$v.currentData.col.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="2" class="py-0">
                            <n-label text="Código postal"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="10"
                                v-model="currentData.cp"
                                :error-messages="cpErrors"
                                @input="$v.currentData.cp.$touch()"
                                @blur="$v.currentData.cp.$touch()"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Ciudad"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="100"
                                v-model="currentData.city"
                                :error-messages="cityErrors"
                                @input="$v.currentData.city.$touch()"
                                @blur="$v.currentData.city.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Estado"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="100"
                                v-model="currentData.state"
                                :error-messages="stateErrors"
                                @input="$v.currentData.state.$touch()"
                                @blur="$v.currentData.state.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Clasificación"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="10"
                                v-model="currentData.clasification"
                                :error-messages="clasificationErrors"
                                @input="$v.currentData.clasification.$touch()"
                                @blur="$v.currentData.clasification.$touch()"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Teléfono"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="30"
                                v-model="currentData.phone"
                                :error-messages="phoneErrors"
                                @input="$v.currentData.phone.$touch()"
                                @blur="$v.currentData.phone.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Celular"></n-label>
                            <v-text-field
                                outlined
                                dense
                                v-mask="'##########'"
                                v-model="currentData.cellphone"
                                :error-messages="cellPhoneErrors"
                                @input="$v.currentData.cellphone.$touch()"
                                @blur="$v.currentData.cellphone.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Email"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="40"
                                v-model="currentData.emailEnterprising"
                                :error-messages="emailEnterprisingErrors"
                                @input="$v.currentData.emailEnterprising.$touch()"
                                @blur="$v.currentData.emailEnterprising.$touch()"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="12" class="py-0">
                            <n-label text="Observaciones"></n-label>
                            <v-textarea
                                dense
                                outlined
                                maxlength="200"
                                v-model="currentData.observations"
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    <h6>Adjuntar archivos</h6>
                    <v-row>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="Certificado de RFC"></n-label>
                            <v-file-input
                                ref="cerFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderCerFile"
                                outlined
                                dense
                                @change="setCerFile"
                                :error-messages="cerFileErrors"
                                @input="$v.currentData.cerFile.$touch()"
                                @blur="$v.currentData.cerFile.$touch()"
                            ></v-file-input>
                        </v-col>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="Comprobante de domicilio fiscal"></n-label>
                            <v-file-input
                                ref="comDomFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderComDomFile"
                                outlined
                                dense
                                @change="setComDomFile"
                                :error-messages="comDomFileErrors"
                                @input="$v.currentData.comDomFile.$touch()"
                                @blur="$v.currentData.comDomFile.$touch()"
                            ></v-file-input>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="INE (Anverso)"></n-label>
                            <v-file-input
                                ref="ineAnFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderIneAnFile"
                                outlined
                                dense
                                @change="setIneAnFile"
                                :error-messages="ineAnFileErrors"
                                @input="$v.currentData.ineAnFile.$touch()"
                                @blur="$v.currentData.ineAnFile.$touch()"
                            ></v-file-input>
                        </v-col>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="INE (Reverso)"></n-label>
                            <v-file-input
                                ref="ineRevFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderIneRevFile"
                                outlined
                                dense
                                @change="setIneRevFile"
                                :error-messages="ineRevFileErrors"
                                @input="$v.currentData.ineRevFile.$touch()"
                                @blur="$v.currentData.ineRevFile.$touch()"
                            ></v-file-input>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="Acta constitutiva"></n-label>
                            <v-file-input
                                ref="actaFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderActaFile"
                                outlined
                                dense
                                @change="setActaFile"
                                :error-messages="actaFileErrors"
                                @input="$v.currentData.actaFile.$touch()"
                                @blur="$v.currentData.actaFile.$touch()"
                            ></v-file-input>
                        </v-col>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="Comprobante de ingresos"></n-label>
                            <v-file-input
                                ref="comIngreFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderComIngreFile"
                                outlined
                                dense
                                @change="setComIngreFile"
                                :error-messages="comIngreFileErrors"
                                @input="$v.currentData.comIngreFile.$touch()"
                                @blur="$v.currentData.comIngreFile.$touch()"
                            ></v-file-input>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="¿El representante legal cuenta con un poder independiente al acta?"></n-label>
                        </v-col>
                        <v-radio-group
                            row
                            v-model="currentData.poderIndependiente"
                        >
                            <v-radio label="Si" color="#018085" :value=1></v-radio>
                            <v-radio label="No" color="#018085" :value=0></v-radio>
                        </v-radio-group>
                    </v-row>
                    <v-row v-show="currentData.poderIndependiente == 1">
                        <v-col cols="12" lg="12" class="py-0">
                            <n-label text="Poder del representante legal"></n-label>
                            <v-file-input
                                ref="poderIndeFile"
                                accept="image/png, image/jpeg, .pdf"
                                prepend-icon=""
                                :placeholder="placeholderPoderIndeFile"
                                outlined
                                dense
                                @change="setPoderIndeFile"
                                :error-messages="poderIndeFileErrors"
                                @input="$v.currentData.poderIndeFile.$touch()"
                                @blur="$v.currentData.poderIndeFile.$touch()"
                            ></v-file-input>
                        </v-col>
                    </v-row>
                    <h6>Redes sociales</h6><br>
                    <v-row>
                        <v-col cols="12" lg="12" class="py-0">
                            <v-text-field
                                v-model="currentData.facebook"
                                prepend-icon="mdi-facebook"
                                placeholder="Ingrese la URL"
                                maxlength="191"
                                outlined
                                dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="12" class="py-0">
                            <v-text-field
                                v-model="currentData.twitter"
                                prepend-icon="mdi-twitter"
                                placeholder="Ingrese la URL"
                                maxlength="191"
                                outlined
                                dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="12" class="py-0">
                            <v-text-field
                                v-model="currentData.instagram"
                                prepend-icon="mdi-instagram"
                                placeholder="Ingrese la URL"
                                maxlength="191"
                                outlined
                                dense
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" lg="6" class="py-0">
                            <n-label text="Nombre de la tienda"></n-label>
                            <v-text-field
                                outlined
                                dense
                                maxlength="80"
                                v-model="currentData.storeName"
                                :error-messages="storeNameErrors"
                                @input="$v.currentData.storeName.$touch()"
                                @blur="$v.currentData.storeName.$touch()"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <h6>Datos del crédito</h6>
                    <v-row>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Importe"></n-label>
                            <v-text-field
                                type="number"
                                outlined
                                dense
                                v-model="currentData.importCred"
                                :error-messages="importCredErrors"
                                @input="$v.currentData.importCred.$touch()"
                                @blur="$v.currentData.importCred.$touch()"
                                @keyup="handleInput"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Días"></n-label>
                            <v-text-field
                                type="number"
                                outlined
                                v-mask="'#########'"
                                dense
                                v-model="currentData.daysCred"
                                :error-messages="daysCredErrors"
                                @input="$v.currentData.daysCred.$touch()"
                                @blur="$v.currentData.daysCred.$touch()"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="4" class="py-0">
                            <n-label text="Estatus"></n-label>
                            <v-select attach
                                outlined
                                dense
                                v-model="currentData.statusCred"
                                :items="itemsStatusCred"
                                item-text="Estatus"
                                item-value="Id"
                                placeholder="Seleccione"
                                :error-messages="statusCredErrors"
                                @input="$v.currentData.statusCred.$touch()"
                                @blur="$v.currentData.statusCred.$touch()"
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-card-actions class="mt-5 d-block">
                        <form-action-buttons
                            :isLoading="isSubmit"
                            @close="cancel"
                            @save="submit"
                        ></form-action-buttons>
                    </v-card-actions>
                </form>
            </div>
        </v-card-text>
    </v-card>
</template>
<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required, requiredIf, minLength, maxLength, email, maxValue, minValue } from "vuelidate/lib/validators";
import VueMask from "v-mask";
Vue.use(VueMask);
export default {
    mixins: [validationMixin],
    validations: {
        currentData: {
            storeName: { required },
            name: { required },
            rfc: { required, minLength: minLength(12), maxLength: maxLength(13)},
            numberStreet: { required },
            col: { required },
            cp: { required },
            city: { required },
            state: { required },
            phone: { required },
            cellphone: { required, minLength: minLength(10) },
            emailEnterprising: { required, email },
            clientType: {required},
            enterprisingType: {required},
            importCred: { required, minValue: minValue(0), maxValue: maxValue(999999999999999.99) },
            daysCred: { required, minValue: minValue(0) },
            statusCred: { required },
            status: { required },
            clasification: { required },
            cerFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.Certificado_RFC ? false : true;
                    return req;
                }) 
            },
            comDomFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.Comprobante_domicilio_fiscal ? false : true;
                    return req;
                }) 
            },
            ineAnFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.INE_anverso ? false : true;
                    return req;
                }) 
            },
            ineRevFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.INE_reverso ? false : true;
                    return req;
                }) 
            },
            actaFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.Acta_constitutiva ? false : true;
                    return req;
                }) 
            },
            comIngreFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.Comprobante_ingreso ? false : true;
                    return req;
                }) 
            },
            poderIndeFile: { 
                required: requiredIf(function () {
                    let req = true;
                    if(this.dataEnterprising.complement)
                        req = this.dataEnterprising.complement.Archivo_poder_independiente ? false : true;
                    if(this.currentData.poderIndependiente == 1 && req==true)
                        return true;
                    else return false;
                }) 
            },
        },
    },
    data(){
        return {
            currentData: {
                storeName: null,
                name: null,
                status: null,
                clientType: null,
                enterprisingType: null,
                rfc: null,
                numberStreet: null,
                col: null,
                cp: null,
                city: null,
                state: null,
                phone: null,
                cellphone: null,
                emailEnterprising: null,
                observations: null,
                clasification: null,
                cerFile: null,
                comDomFile: null,
                ineAnFile: null,
                ineRevFile: null,
                actaFile: null,
                comIngreFile: null,
                poderIndependiente: 0,
                poderIndeFile: null,
                facebook: null, 
                instagram: null,
                twitter: null,
                importCred: null,
                daysCred: null,
                statusCred: null,
            },
            loading: true,
            isSubmit: false,
            clientId: null,
            isFileTermsRequired: false,
            placeholderCerFile: "Seleccionar archivo",
            placeholderComDomFile: "Seleccionar archivo",
            placeholderIneAnFile: "Seleccionar archivo",
            placeholderIneRevFile: "Seleccionar archivo",
            placeholderActaFile: "Seleccionar archivo",
            placeholderComIngreFile: "Seleccionar archivo",
            placeholderPoderIndeFile: "Seleccionar archivo",
            dataEnterprising: {},
            itemsClientType: [],
            itemsEnterprisingType: [],
            itemsStatusCred: [],
            itemsStatus: [{Clave: "A", Nombre: "Activo"},{Clave: "S", Nombre: "Suspendido"},{Clave: "B", Nombre: "Bloqueado"}],
            previousImportCred: null,
        };
    },
    mounted () {
        this.clientId = this.$route.params.id;
        this.getEnterprisingInfo();
    },
    methods: {
        /**
         * Get the data of the current configuration
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-24
         * @param
         * @return void
         */
        getEnterprisingInfo(){
            axios
            .get("/api/enterprising-info/"+this.clientId)
            .then((result) => {
                this.loading = false;
                if(result.data.enterprising != null){
                    this.setDefaultFields(result.data.enterprising);
                }
                this.itemsClientType = result.data.client_types;
                this.itemsEnterprisingType = result.data.enterprising_types;
                this.itemsStatusCred = result.data.credit_status;
            })
            .catch((error) => {
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal al recuperar la información, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
         * Reset the validate and fields and set the data in fields.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-24
         * @param Object data
         * @return void
         */
        setDefaultFields(data){
            this.$v.$reset();
            this.$refs.cerFile.reset();
            this.$refs.comDomFile.reset();
            this.$refs.ineAnFile.reset();
            this.$refs.ineRevFile.reset();
            this.$refs.actaFile.reset();
            this.$refs.comIngreFile.reset();
            this.$refs.poderIndeFile.reset();

            this.dataEnterprising = data;
            this.currentData.name = data.Razon_Soc;
            this.currentData.status = data.Estatus;
            this.currentData.rfc = data.RFC;
            this.currentData.clientType = data.Tipo_Cliente;
            this.currentData.phone = data.Telefonos;
            this.currentData.clasification = data.Clasifica;
            this.currentData.emailEnterprising = data.eMail;
            this.currentData.observations = data.Observaciones;

            if(data.complement){
                this.placeholderCerFile = data.complement.Certificado_RFC ? "Cambiar archivo actual" : "Seleccionar archivo";
                this.placeholderComDomFile = data.complement.Comprobante_domicilio_fiscal ? "Cambiar archivo actual" : "Seleccionar archivo";
                this.placeholderIneAnFile = data.complement.INE_anverso ? "Cambiar archivo actual" : "Seleccionar archivo";
                this.placeholderIneRevFile = data.complement.INE_reverso ? "Cambiar archivo actual" : "Seleccionar archivo";
                this.placeholderActaFile = data.complement.Acta_constitutiva ? "Cambiar archivo actual" : "Seleccionar archivo";
                this.placeholderComIngreFile = data.complement.Comprobante_ingreso ? "Cambiar archivo actual" : "Seleccionar archivo";
                this.placeholderPoderIndeFile = data.complement.Archivo_poder_independiente ? "Cambiar archivo actual" : "Seleccionar archivo";

                this.currentData.storeName = data.complement.Nombre_tienda;
                this.currentData.enterprisingType = data.complement.zAE_TipoEmprendedor_Id;
                this.currentData.numberStreet = data.complement.Calle_numero;
                this.currentData.col = data.complement.Colonia;
                this.currentData.cp = data.complement.Codigo_Postal;
                this.currentData.city = data.complement.Ciudad;
                this.currentData.state = data.complement.Estado;
                this.currentData.cellphone = data.complement.Celular;
                this.currentData.facebook = data.complement.Facebook;
                this.currentData.twitter = data.complement.Twitter;
                this.currentData.instagram = data.complement.Instagram;
                this.currentData.poderIndependiente = data.complement.Poder_independiente;
                this.currentData.daysCred = data.complement.Dias_credito;
                this.currentData.importCred = data.complement.Credito_actual;
                this.previousImportCred = data.complement.Credito_actual;
                this.currentData.statusCred = data.complement.zAE_EstatusCredito_Id;
            }
        },
        /**
        * Set a file to currentData each to select a new file in field.
        * @auth Iván Morales <ivan.morales@nuvem.mx>
        * @date 2021-05-24
        * @param File file
        * @return void
        */
        //BEGIN METHODS TO SET FILES
        setCerFile(file) {
            this.currentData.cerFile = null;
            if (!file) return;
            this.currentData.cerFile = file;
        },
        setCerFile(file) {
            this.currentData.cerFile = null;
            if (!file) return;
            this.currentData.cerFile = file;
        },
        setComDomFile(file) {
            this.currentData.comDomFile = null;
            if (!file) return;
            this.currentData.comDomFile = file;
        },
        setIneAnFile(file) {
            this.currentData.ineAnFile = null;
            if (!file) return;
            this.currentData.ineAnFile = file;
        },
        setIneRevFile(file) {
            this.currentData.ineRevFile = null;
            if (!file) return;
            this.currentData.ineRevFile = file;
        },
        setActaFile(file) {
            this.currentData.actaFile = null;
            if (!file) return;
            this.currentData.actaFile = file;
        },
        setComIngreFile(file) {
            this.currentData.comIngreFile = null;
            if (!file) return;
            this.currentData.comIngreFile = file;
        },
        setPoderIndeFile(file) {
            this.currentData.poderIndeFile = null;
            if (!file) return;
            this.currentData.poderIndeFile = file;
        },
        /**
         * Return to the previous route.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-24
         * @param
         * @return void
         */
        cancel(){
            this.$router.go(-1)
        },
        /**
         * Send the data to api for store.
         * @auth Iván Morales <ivan.morales@nuvem.mx>
         * @date 2021-05-24
         * @param
         * @return void
         */
        submit(){
            this.$v.currentData.$touch();
            if (this.$v.currentData.$invalid){
                return false;
            }
            
            let data = new FormData();
            (this.currentData.cerFile) ? data.append("cerFile", this.currentData.cerFile) : '';
            (this.currentData.comDomFile) ? data.append("comDomFile", this.currentData.comDomFile) : '';
            (this.currentData.ineAnFile) ? data.append("ineAnFile", this.currentData.ineAnFile) : '';
            (this.currentData.ineRevFile) ? data.append("ineRevFile", this.currentData.ineRevFile) : '';
            (this.currentData.actaFile) ? data.append("actaFile", this.currentData.actaFile) : '';
            (this.currentData.comIngreFile) ? data.append("comIngreFile", this.currentData.comIngreFile) : '';
            (this.currentData.poderIndeFile) ? data.append("poderIndeFile", this.currentData.poderIndeFile) : '';
            (this.currentData.twitter != null) ? data.append("Twitter", this.currentData.twitter) : '';
            (this.currentData.instagram != null) ? data.append("Instagram", this.currentData.instagram) : '';
            (this.currentData.facebook != null) ? data.append("Facebook", this.currentData.facebook) : '';
            data.append("Razon_Soc", this.currentData.name);
            data.append("RFC", this.currentData.rfc);
            data.append("Nombre_tienda", this.currentData.storeName);
            data.append("Calle_numero", this.currentData.numberStreet);
            data.append("Colonia", this.currentData.col);
            data.append("Codigo_Postal", this.currentData.cp);
            data.append("Ciudad", this.currentData.city);
            data.append("Estado", this.currentData.state);
            data.append("Telefonos", this.currentData.phone);
            data.append("Celular", this.currentData.cellphone);
            data.append("eMail", this.currentData.emailEnterprising);
            data.append("Poder_independiente", this.currentData.poderIndependiente);
            data.append("Observaciones", this.currentData.observations);
            data.append("Tipo_Cliente", this.currentData.clientType);
            data.append("Credito_actual", this.currentData.importCred);
            data.append("Dias_credito", this.currentData.daysCred);
            data.append("zAE_EstatusCredito_Id", this.currentData.statusCred);
            data.append("zAE_TipoEmprendedor_Id", this.currentData.enterprisingType);
            data.append("Estatus", this.currentData.status);
            data.append("Clasifica", this.currentData.clasification);
            
            this.isSubmit = true;
            axios
            .post("/api/update-enterprising/"+this.clientId, data, {
                headers: { "Content-type": "multipart/form-data" },
            })
            .then((result) => {
                this.isSubmit = false;
                swal2.fire(
                    "Actualizado",
                    "Se agregaron los datos correctamente",
                    "success"
                );
                this.setDefaultFields(result.data.enterprising);
            })
            .catch((error) => {
                this.isSubmit = false;
                swal2.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Algo salió mal, vuelve a intentarlo!",
                });
                console.log({error});
            });
        },
        /**
        * Check two decimals for importCred.
        * @auth Iván Morales <ivan.morales@nuvem.mx>
        * @date 2021-05-25
        * @param event e
        * @return void
        */
        handleInput (e) {
            let stringValue = e.target.value.toString()
            let regex = /^\d*(\.\d{1,2})?$/
            if(!stringValue.match(regex) && this.currentData.importCred !== '') {
                this.currentData.importCred = this.previousImportCred;
            }
            this.previousImportCred = this.currentData.importCred; 
        }
    },
    computed: {
        /**
        * get the message errors for fields.
        * @auth Iván Morales <ivan.morales@nuvem.mx>
        * @date 2021-05-24
        * @param
        * @return Array
        */
        storeNameErrors() {
            const errors = [];
            if (!this.$v.currentData.storeName.$dirty) return errors;
            !this.$v.currentData.storeName.required && errors.push("Este campo es requerido");
            return errors;
        },
        nameErrors() {
            const errors = [];
            if (!this.$v.currentData.name.$dirty) return errors;
            !this.$v.currentData.name.required && errors.push("Este campo es requerido");
            return errors;
        },
        clientTypeErrors() {
            const errors = [];
            if (!this.$v.currentData.clientType.$dirty) return errors;
            !this.$v.currentData.clientType.required && errors.push("Este campo es requerido");
            return errors;
        },
        rfcErrors() {
            const errors = [];
            if (!this.$v.currentData.rfc.$dirty) return errors;
            !this.$v.currentData.rfc.required && errors.push("Este campo es requerido");
            !this.$v.currentData.rfc.minLength && errors.push("El rfc debe de contener mínimo 12 caracteres");
            !this.$v.currentData.rfc.maxLength && errors.push("El rfc debe de contener máximo 13 caracteres");
            return errors;
        },
        numberStreetErrors() {
            const errors = [];
            if (!this.$v.currentData.numberStreet.$dirty) return errors;
            !this.$v.currentData.numberStreet.required && errors.push("Este campo es requerido");
            return errors;
        },
        colErrors() {
            const errors = [];
            if (!this.$v.currentData.col.$dirty) return errors;
            !this.$v.currentData.col.required && errors.push("Este campo es requerido");
            return errors;
        },
        cpErrors() {
            const errors = [];
            if (!this.$v.currentData.cp.$dirty) return errors;
            !this.$v.currentData.cp.required && errors.push("Este campo es requerido");
            return errors;
        },
        cityErrors() {
            const errors = [];
            if (!this.$v.currentData.city.$dirty) return errors;
            !this.$v.currentData.city.required && errors.push("Este campo es requerido");
            return errors;
        },
        stateErrors() {
            const errors = [];
            if (!this.$v.currentData.state.$dirty) return errors;
            !this.$v.currentData.state.required && errors.push("Este campo es requerido");
            return errors;
        },
        phoneErrors() {
            const errors = [];
            if (!this.$v.currentData.phone.$dirty) return errors;
            !this.$v.currentData.phone.required && errors.push("Este campo es requerido");
            return errors;
        },
        cellPhoneErrors() {
            const errors = [];
            if (!this.$v.currentData.cellphone.$dirty) return errors;
            !this.$v.currentData.cellphone.required && errors.push("Este campo es requerido");
            !this.$v.currentData.cellphone.minLength && errors.push("Debe tener 10 dígitos");
            return errors;
        },
        emailEnterprisingErrors() {
            const errors = [];
            if (!this.$v.currentData.emailEnterprising.$dirty) return errors;
            !this.$v.currentData.emailEnterprising.required && errors.push("Este campo es requerido")
            !this.$v.currentData.emailEnterprising.email && errors.push('Debe ser un correo electrónico válido')
            return errors;
        },
        cerFileErrors() {
            const errors = [];
            if (!this.$v.currentData.cerFile.$dirty) return errors;
            !this.$v.currentData.cerFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        comDomFileErrors() {
            const errors = [];
            if (!this.$v.currentData.comDomFile.$dirty) return errors;
            !this.$v.currentData.comDomFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        ineAnFileErrors() {
            const errors = [];
            if (!this.$v.currentData.ineAnFile.$dirty) return errors;
            !this.$v.currentData.ineAnFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        ineRevFileErrors() {
            const errors = [];
            if (!this.$v.currentData.ineRevFile.$dirty) return errors;
            !this.$v.currentData.ineRevFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        actaFileErrors() {
            const errors = [];
            if (!this.$v.currentData.actaFile.$dirty) return errors;
            !this.$v.currentData.actaFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        comIngreFileErrors() {
            const errors = [];
            if (!this.$v.currentData.comIngreFile.$dirty) return errors;
            !this.$v.currentData.comIngreFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        poderIndeFileErrors() {
            const errors = [];
            if (!this.$v.currentData.poderIndeFile.$dirty) return errors;
            !this.$v.currentData.poderIndeFile.required && errors.push("Este campo es requerido");
            return errors;
        },
        importCredErrors() {
            const errors = [];
            if (!this.$v.currentData.importCred.$dirty) return errors;
            !this.$v.currentData.importCred.required && errors.push("Este campo es requerido");
            !this.$v.currentData.importCred.minValue && errors.push("No puede ser menor a 0");
            !this.$v.currentData.importCred.maxValue && errors.push("No puede ser mayor a 999999999999999.99");
            return errors;
        },
        daysCredErrors() {
            const errors = [];
            if (!this.$v.currentData.daysCred.$dirty) return errors;
            !this.$v.currentData.daysCred.required && errors.push("Este campo es requerido");
            !this.$v.currentData.daysCred.minValue && errors.push("No puede ser menor a 0");
            return errors;
        },
        statusCredErrors() {
            const errors = [];
            if (!this.$v.currentData.statusCred.$dirty) return errors;
            !this.$v.currentData.statusCred.required && errors.push("Este campo es requerido");
            return errors;
        },
        statusErrors() {
            const errors = [];
            if (!this.$v.currentData.status.$dirty) return errors;
            !this.$v.currentData.status.required && errors.push("Este campo es requerido");
            return errors;
        },
        enterprisingTypeErrors() {
            const errors = [];
            if (!this.$v.currentData.enterprisingType.$dirty) return errors;
            !this.$v.currentData.enterprisingType.required && errors.push("Este campo es requerido");
            return errors;
        },
        clasificationErrors() {
            const errors = [];
            if (!this.$v.currentData.clasification.$dirty) return errors;
            !this.$v.currentData.clasification.required && errors.push("Este campo es requerido");
            return errors;
        },
        //END METHODS TO GET THE MESSAGE ERRORS
    },
}
</script>