<template>
    <div data-app>
      <v-data-table
          :headers="headers"
          v-model="selectedRows"
          show-select
          @item-selected="updateExceptions"
          item-key="Id_Prod1"
          class="elevation-1"
          :items="rows"
          :search="search"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          hide-default-footer
          @page-count="pageCount = $event"
          no-data-text="No hay ningún registro"
          no-results-text="No se encontraron coincidencias"
          :loading="loading"
          loading-text="Cargando... Porfavor espere">
          <template v-slot:top>
              <datatable-header
                  title="Listado de productos"
                  @searching="search = $event"
                  @navigate-backwards="close">
              </datatable-header>
              <v-row>
                  <v-col cols="12" sm="12" md="2">
                      <n-label text="Marca"></n-label>
                      <v-select
                          v-model="filters.brand"
                          :items="filtersOptions.brands"
                          placeholder="Seleccionar..."
                          outlined
                          dense
                          item-text="Marca"
                          item-value="Id_Marca"
                          ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="2">
                      <n-label text="Familia"></n-label>
                      <v-select
                          v-model="filters.family"
                          :items="filtersOptions.families"
                          placeholder="Seleccionar..."
                          outlined
                          dense
                          item-text="Familia"
                          item-value="Id_Familia"
                          ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="2">
                      <n-label text="Especialidad"></n-label>
                      <v-select
                          v-model="filters.especiality"
                          :items="filtersOptions.especialities"
                          placeholder="Seleccionar..."
                          outlined
                          dense
                          item-text="Especialidad"
                          item-value="Id_EspMed"
                          ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="2">
                      <n-label text="Categoría"></n-label>
                      <v-select
                          v-model="filters.category"
                          :items="filtersOptions.categories"
                          placeholder="Seleccionar..."
                          outlined
                          dense
                          item-text="Categoria"
                          item-value="Id_Categoria"
                          ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4" class="align-self-center">
                      <v-btn
                          color="primary-blue"
                          text
                          class="mr-2"
                          @click="getTableData">
                          Filtrar
                      </v-btn>
                  </v-col>
              </v-row>
          </template>
          <template v-slot:[`item.Estatus`]="{ item }">
              <chip-status :item="item"></chip-status>
          </template>
      </v-data-table>
      <pagination
          :last="pageCount"
          :current="page"
          :itemsPerPage="itemsPerPage"
          :total="this.rows.length"
          v-on:input="page = $event"
      ></pagination>
    </div>
</template>
<script>

import datatableHeader from "./datatableHeader";

export default {
    props: ['products', 'enterprising'],
    components: {
        datatableHeader
    },
    data: () => ({
        editedIndex: -1,
        rows: [],
        selectedRows: [],
        search: '',
        page: 1,
        itemsPerPage: 10,
        loading: false,
        pageCount: 0,
        submitIsPending: false,
        filters: {
            brand: '',
            family: '',
            especiality: '',
            category: ''
        },
        filtersOptions: {
            brands: [],
            families: [],
            especialities: [],
            categories: []
        },
        headers: [
            {
                text: 'ID Producto',
                value: 'Id_Prod1'
            },
            {
                text: 'Marca',
                value: 'Marca'
            },
            {
                text: 'Familia',
                value: 'Familia'
            },
            {
                text: 'Especialidad',
                value: 'Especialidad'
            },
            {
                text: 'Categoría',
                value: 'Categoria'
            },
            {
                text: 'Estatus',
                value: 'Estatus'
            },
        ],
    }),
    mounted() {
        this.getFiltersOptions()
    },
    methods: {
        /**
         * updates enterprising's product exceptions
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 31/05/2021
         * @params Object event
         * @return void
         *
         */
        updateExceptions(event) {
            console.log(event.item);
            let product = this.rows[this.rows.indexOf(event.item)];
            this.loading = true
            axios.post(`/api/enterprisings/${this.enterprising.Id_Cliente}/products-assigning/update-exceptions`, {
              productId: product.Id_Prod1,
              action: !event.value ? 1 : -1 // Add or remove
            })
            .then((res) => {
                product.Estatus = event.value ? 1 : 0
                this.selectedRows = this.rows.filter(item => item.Estatus == 1);
                this.loading = false
            }).catch(this.handleError)          
        },
        /**
         * Gets filters options for selects
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return void
         *
         */
        getFiltersOptions() {
            axios.get('/api/enterprisings/products-assigning/filters-options')
            .then((res) => {
                this.filtersOptions.brands = res.data.brands
                this.filtersOptions.families = res.data.families
                this.filtersOptions.especialities = res.data.especialities
                this.filtersOptions.categories = res.data.categories
            }).catch(this.handleError);
        },
        /**
         * Clears al filters
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 14/05/2021
         * @params
         * @return void
         *
         */
        clearFilters() {
            this.filters.brand = ''
            this.filters.family = ''
            this.filters.especiality = ''
            this.filters.category = ''
        },
        /**
         * Close selection view
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 13/05/2021
         * @params
         * @return void
         *
         */
        close() {
          this.$emit('close-selection-view')
        },
        /**
         * Marks all checkboxes in data table
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 13/05/2021
         * @params Object event
         * @return void
         *
         */
        selectAll(event) {
            if(event.value)
                this.selectedRows = this.rows
            else
                this.selectedRows = []
        },
        /**
         * Gets data table entries
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params
         * @return void
         *
         */
        getTableData() {
            this.loading = true
            axios.post(`/api/enterprisings/${this.enterprising.Id_Cliente}/products-assigning`, this.filters)
            .then((res) => {
                this.rows = res.data
                this.selectedRows = this.rows.filter(item => item.Estatus == 1);
                this.loading = false
            }).catch(this.handleError)
        },
        /**
         * Shows request errors information to user
         *
         * @author Giovanny González <giovanny.gonzalez@nuvem.mx>
         * created 30/04/2021
         * @params Object error
         * @return void
         *
         */
        handleError(error) {
            console.error(error)
            console.error(error.response)
            swal2.fire(
                '',
                'Algo salió mal, vuelva a intentarlo más tarde.',
                'error'
            );
        }
    },
}
</script>

<style>
  .v-data-table-header > tr > th:first-child {
    pointer-events: none;
  }
  .v-data-table-header > tr > th:first-child > .v-simple-checkbox > div > i {
    color: lightgray;
  }
</style>