<template>
    <form data-app>
      <v-row>
        <v-col cols="12" md="12">
          <h6><b>Descripción</b></h6>
          <v-text-field
            v-model="currentLocation.Descripcion"
            :error-messages="descriptionErrors"
            placeholder="Ingrese la descripcion"
            :readonly="inputsStatus"
            outlined
            maxlength="200"
            required
            dense
            @input="$v.currentLocation.Descripcion.$touch()"
            @blur="$v.currentLocation.Descripcion.$touch()"
        ></v-text-field>
        </v-col>    
        <v-col cols="12" md="12">
            <h6><b>Sección</b></h6>
              <v-text-field
                v-model="currentLocation.Seccion"
                :error-messages="sectionErrors"
                placeholder="Ingrese la sección"
                :readonly="inputsStatus"
                outlined
                required
                maxlength="50"
                dense
                @input="$v.currentLocation.Seccion.$touch()"
                @blur="$v.currentLocation.Seccion.$touch()"
            ></v-text-field>
          </v-col>    
          <v-col cols="12" md="12">
              <h6><b>Nivel</b></h6>
                <v-text-field
                  v-model="currentLocation.Nivel"
                  :error-messages="levelErrors"
                  placeholder="Ingrese el nivel"
                  :readonly="inputsStatus"
                  outlined
                  required
                  maxlength="50"
                  dense
                  @input="$v.currentLocation.Nivel.$touch()"
                  @blur="$v.currentLocation.Nivel.$touch()"
              ></v-text-field>
          </v-col>    
          <v-col cols="4" md="4">
              <h6><b>Rak</b></h6>
                <v-select
                  v-model="currentLocation.zAE_Rak_Id"
                  :readonly="inputsStatus"
                  :items="racks"
                  :error-messages="rackErrors"
                  item-text="Nombre" 
                  item-value="Id"
                  placeholder="Selecciona una opción"
                  outlined
                  attach 
                  dense
                  @input="$v.currentLocation.zAE_Rak_Id.$touch()"
                  @blur="$v.currentLocation.zAE_Rak_Id.$touch()"
                ></v-select>
          </v-col>    
      </v-row>
    </form>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "Inputs",
  props:{
    locationToShow: {
      type: Object,
      default: null,
    },
    inputsStatus: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  validations: {
    currentLocation: {
      Descripcion: { required },
      Nivel: { required},
      Seccion: { required },
      zAE_Rak_Id: { required }
    },
  },
  mounted() {
      this.getRacks();      
      if (this.$route.params.item != null){
          this.currentLocation = this.$route.params.item;
          this.currentLocation.zAE_Rak_Id = parseInt(this.currentLocation.zAE_Rak_Id);
          
      }else if(this.locationToShow != null){
          this.currentLocation = this.locationToShow;
      }
  },
  data() {
    return {
      submitStatus: "",
      currentLocation: {
        Id:null,
        Descripcion: "",
        Seccion: "",
        Nivel: "",
        zAE_Rak_Id:null,
      },
      racks:[]
    };
  },
  methods: {
    /**
     * Allows call post or edit method if data is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return void
     */
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else if (!this.$v.$invalid) {
        this.$route.params.item != null ? this.edit(this.currentLocation) : this.post(this.currentLocation);
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    /**
     * Post a new location.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return void
     */
    post(data) {
      axios
        .post("/api/locations", data)
        .then((result) => {
          swal2.fire(
            "Creado",
            "Se agregaron los datos correctamente",
            "success"
          );
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.$router.push({ name: "locations" });
        });
    },
    /**
     * Update a location
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return void
     */
    edit(data) {
      axios
        .put("/api/locations/" + data.Id, data)
        .then((result) => {
          swal2.fire("Editado", "Se editó la ubicación correctamente", "success");
          this.$router.push({ name: "locations" });
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
    /**
     * Get all racks
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return void
     */
    getRacks() {
      axios
        .get("/api/locations/racks")
        .then((result) => {
          this.racks = result.data;
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        });
    },
  },
  computed: {
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return array
     */
    descriptionErrors() {
      const errors = [];
      if (!this.$v.currentLocation.Descripcion.$dirty) return errors;
      !this.$v.currentLocation.Descripcion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return array
     */
    rackErrors(){
      const errors = [];
      if (!this.$v.currentLocation.zAE_Rak_Id.$dirty) return errors;
      !this.$v.currentLocation.zAE_Rak_Id.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return array
     */
    sectionErrors(){
      const errors = [];
      if (!this.$v.currentLocation.Seccion.$dirty) return errors;
      !this.$v.currentLocation.Seccion.required &&
        errors.push("El campo es requerido");
      return errors;
    },
    /**
     * Evaluate if an input is valid.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param
     * @return array
     */
    levelErrors(){
      const errors = [];
      if (!this.$v.currentLocation.Nivel.$dirty) return errors;
      !this.$v.currentLocation.Nivel.required &&
        errors.push("El campo es requerido");
      return errors;
    }
  },
  watch: {
    /**
     * Asign a new value to currentLocation.
     * @auth Kareem Lorenzana <kareem.lorenzana@nuvem.mx>
     * @date 2021-05-27
     * @param Object newVal
     * @return void
     */
    locationToShow: function (newVal) {
      this.currentLocation = newVal;
    }
  },
};
</script>
<style>
.nowrap-overflow {
    flex-wrap: nowrap;
    overflow-x: auto;
    vertical-align: middle;
}
.nowrap-overflow h6 {
  padding: 23px 0;
}
  
</style>