<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">Edición de Costo Especial</span>
        </v-card-title>
        <v-card-text>
            <Inputs ref="inputsData" v-on:dialogStatus="cancel" :editCost="specialCost" />
        </v-card-text>
        <v-container class="d-flex flex-column mb-6">
          <v-card-actions class="mt-5 d-block">
            <form-action-buttons
              @close="cancel"
              @save="submit"
            ></form-action-buttons>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Inputs from "./partials/Inputs";

export default {
  name: "Edit",
  props: ["dialog"],
  components: {
    Inputs
  },
  data: () => ({
      specialCost: null
  }),
  methods: {
    /**
     * Emit the value to close the dialog.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    cancel() {
      this.$emit("dialogStatus", false);
    },
    /**
     * Receive the special cost to edit from the parent component index.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    reciveSpecialCost(specialCost){
        this.specialCost = specialCost;
    },
    /**
     * Allows you to call the validateData method of the Inputs child component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-04-14
     * @param
     * @return void
     */
    submit() {
      this.$refs.inputsData.validateData();
    },
  },
};
</script>