<template>
  <v-card data-app class="p-3">
    <dialog-delete
      :status="dialogDelete"
      v-on:cancel="dialogDelete = false"
      v-on:confirm="deleteItem"
    ></dialog-delete>
    
    <Show
      :dialog="dialogShow"
      v-on:dialogStatus="getDialogShowStatus"
      ref="sendShowSpecialCost"
    />
    <Edit
      :dialog="dialogEdit"
      v-on:dialogStatus="getDialogEditStatus"
      ref="sendEditSpecialCost"
    />
    <Create
      :dialog="dialogCreate"
      v-on:dialogStatus="getDialogCreateStatus"
      :groupId="groupId"
    />
    <v-data-table
      :headers="headers"
      :items="specialCosts"
      class="elevation-1"
      :search="search"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      :loading="loading"
      hide-default-footer
      @page-count="pageCount = $event"
      no-data-text="No hay ningún registro"
      no-results-text="No se encontraron coincidencias"
      loading-text="Cargando... Porfavor espere"
    >
      <template v-slot:top>
        <datatable-header
          title="Conceptos"
          :disable-creation="disableInputs"
          @searching="search = $event"
          @open="dialogCreate = true"
        >
        </datatable-header>
        <v-row>
        <v-col cols="6" md="1" style="align-self: center; padding-right: 0px; max-width: 80px;"><p>Mostrar</p></v-col>
        <v-col cols="6" md="2" style="padding-left: 0px; max-width: 95px;">
          <div>
            <v-select
              v-model="itemsPerPage"
              :items="amounts"
              item-text="name" 
              item-value="id"
              placeholder="Elige una opción"
              outlined
              dense
              attach
              auto
            ></v-select>
          </div>
        </v-col>
        <v-col cols="6" md="1" style="align-self: center; padding-left: 0px;"><p>Registros</p></v-col>
      </v-row>
      </template>

      <template v-slot:[`item.Estatus`]="{ item }">
        <chip-status :item="item"></chip-status>
      </template>

      <template v-slot:[`item.Cantidad`]="{ item }">
        <span>{{
          item.Tipo === "P" ? item.Cantidad + " %" : item.Cantidad
        }}</span>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <action-buttons
          :item="item"
          :editDisabled="disableInputs"
          :deleteDisabled="disableInputs"
          @edit="openEditSpecialCost"
          @view="openShowSpecialCost"
          @delete="openDeleteDialog"
        ></action-buttons>
      </template>
    </v-data-table>

    <pagination
      :last="pageCount"
      :current="page"
      :itemsPerPage="itemsPerPage"
      :total="this.specialCosts.length"
      v-on:input="page = $event"
    ></pagination>

    <v-row style="justify-content: flex-end" class="mt-3 mr-2 mb-2">
      <v-col cols="6" md="2">
        <v-btn block color="primary" text @click="nextTab">
          Siguiente
          <v-icon left> mdi-arrow-right </v-icon>
        </v-btn>
      </v-col>
    </v-row>

  </v-card>
</template>
<script>
import ChipStatus from "../../../../components/chipStatus";
import Create from "./create";
import Show from "./show";
import Edit from "./edit";

export default {
  name: "ConceptsIndex",
  props: ["groupId", "disableInputs"],
  created() {
    this.getSpecialCosts();
  },
  components: {
    ChipStatus,
    Create,
    Show,
    Edit,
  },
  data() {
    return {
      search: "",
      dialog: false,
      productId: null,
      specialCostToDelete: null,
      dialogDelete: false,
      dialogShow: false,
      dialogCreate: false,
      dialogEdit: false,
      editedIndex: -1,
      editedItem: {},
      page: 1,
      pageCount: 0,
      totalItems: 0,
      itemsPerPage: 10,
      loading: false,
      headers: [
        {
          text: "Tipo",
          value: "type_name",
        },
        {
          text: "Cantidad",
          value: "Cantidad",
        },
        {
          text: "Tipo de Costo",
          value: "global_concept_name",
        },
        {
          text: "Acciones",
          value: "actions",
        },
      ],
      amounts:[
          {id:10, name:'10'},
          {id:50, name:'50'},
          {id:100, name:'100'},
      ],
      specialCosts: [],
    };
  },
  methods: {
    /**
     * Get the special costs related to the current group.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-03
     * @param
     * @return void
     */
    getSpecialCosts() {
      this.loading = true;
      axios
        .get(
          "/api/configurations/special-costs-groups-concepts/" + this.groupId
        )
        .then((result) => {
          this.specialCosts = Object.values(result.data);
        })
        .catch(function (error) {
          swal2.fire({
            icon: "error",
            title: "Oops...",
            text: "Algo salió mal, vuelve a intentarlo!",
          });
        })
        .finally(() => {
          this.loading = false;
        });
    },
    /**
     * Open delete dialog.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-03
     * @param Object item
     * @return void
     */
    openDeleteDialog(item) {
      this.dialogDelete = true;
      this.specialCostToDelete = item.Id;
    },
    /**
     * Closes the delete dialog.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-03
     * @param
     * @return void
     */
    closeDelete() {
      this.dialogDelete = false;
      this.specialCostToDelete = null;
      this.getSpecialCosts();
    },
    /**
     * Redirect to edit rule component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param Object item
     * @return void
     */
    openEditSpecialCost(item) {
      this.$refs.sendEditSpecialCost.reciveSpecialCost(item);
      this.dialogEdit = true;
    },
    /**
     * Open Show component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param Object item
     * @return void
     */
    openShowSpecialCost(item) {
      this.$refs.sendShowSpecialCost.reciveSpecialCost(item);
      this.dialogShow = true;
    },
    /**
     * Get dialog status from Show component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param boolean value
     * @return void
     */
    getDialogShowStatus(value) {
      this.dialogShow = value;
    },
    /**
     * Get dialog status from Show component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param boolean value
     * @return void
     */
    getDialogEditStatus(value) {
      this.getSpecialCosts();
      this.dialogEdit = value;
    },
    /**
     * Get dialog status from Show component.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param boolean value
     * @return void
     */
    getDialogCreateStatus(value) {
      this.getSpecialCosts();
      this.dialogCreate = value;
    },
    /**
     * Change status of a item.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-03
     * @param
     * @return void
     */
    deleteItem() {
      axios
        .delete(
          "/api/configurations/special-costs-concepts/" +
            this.specialCostToDelete
        )
        .then(() => {
          this.closeDelete();
          swal2.fire(
            "Estatus cambiado",
            "Se cambió el estatus correctamente",
            "success"
          );
        });
    },
    /**
     * Emmit the next tab number.
     * @auth José Vega <jose.vega@nuvem.mx>
     * @date 2021-05-04
     * @param
     * @return void
     */
    nextTab() {
      this.$emit("changed", 2);
    },
  },
};
</script>

<style>
.data-table-style {
  margin: 10px;
}
</style>